Repository GameDevTecnico/cubos, changes with the owners that .github/CODEOWNERS names for each.
All owners: @RiscadoA, @fallenatlas, @DiogoMendonc-a, @roby2014

.github/CODEOWNERS:

* @RiscadoA

**/engine/physics/ @fallenatlas
**/engine/gizmos/ @DiogoMendonc-a

**/tesseratos/ @DiogoMendonc-a @roby2014

deploy: a8e1ee69e5246148f1b5299d5e184fd6a07c5aee
  docs/annotated.html
  docs/colliding__with_8hpp.html
  docs/dir_c1deef5baf41393ad8a994c3fd53e62f.html
  docs/dir_db86702e1371d7558db3699dd3786a14.html
  docs/files.html
  docs/group__collisions-plugin.html
  docs/group__core-geom.html
  docs/intersections_8hpp.html
  docs/namespacecubos_1_1engine.html
  docs/searchdata-v2.js
  docs/structcubos_1_1core_1_1geom_1_1Intersection.html
  docs/structcubos_1_1engine_1_1CollidingWith.html
Owners: @RiscadoA

Deploy preview for PR 913 🛫
  docs-preview/pr-913/annotated.html
  docs-preview/pr-913/classcubos_1_1core_1_1ecs_1_1TagBuilder.html
  docs-preview/pr-913/colliding__with_8hpp.html
  docs-preview/pr-913/dir_c1deef5baf41393ad8a994c3fd53e62f.html
  docs-preview/pr-913/dir_db86702e1371d7558db3699dd3786a14.html
  docs-preview/pr-913/files.html
  docs-preview/pr-913/group__collisions-plugin.html
  docs-preview/pr-913/group__core-geom.html
  docs-preview/pr-913/intersections_8hpp.html
  docs-preview/pr-913/namespacecubos_1_1engine.html
  docs-preview/pr-913/searchdata-v2.js
  docs-preview/pr-913/structcubos_1_1core_1_1geom_1_1Intersection.html
  docs-preview/pr-913/structcubos_1_1engine_1_1CollidingWith.html
Owners: @RiscadoA

docs(tesseratos): change debug camera toggle key
  tools/tesseratos/samples/main/assets/tesseratos.bind
Owners: @DiogoMendonc-a, @roby2014

fix(imgui): send modifier events correctly
  engine/src/imgui/imgui.cpp
Owners: @RiscadoA

fix(imgui): handle StringConversionTrait correctly on data inspector
  engine/src/imgui/data_inspector.cpp
Owners: @RiscadoA

fix(imgui): set ClipboardUserData correctly
  engine/src/imgui/imgui.cpp
Owners: @RiscadoA

docs(tesseratos): reorganize sample assets
  tools/tesseratos/samples/main/assets/main.pal
  tools/tesseratos/samples/main/assets/main.pal.meta
  tools/tesseratos/samples/main/assets/main_copy.pal
  tools/tesseratos/samples/main/assets/main_copy.pal.meta
  tools/tesseratos/samples/main/assets/scenes/main.cubos
  tools/tesseratos/samples/main/assets/scenes/main.cubos.meta
  tools/tesseratos/samples/main/assets/scenes/sub.cubos
  tools/tesseratos/samples/main/assets/scenes/sub.cubos.meta
  tools/tesseratos/samples/main/assets/subfolder/example_asset_2.txt
  tools/tesseratos/samples/main/assets/subfolder/example_asset_2.txt.meta
  tools/tesseratos/samples/main/assets/subfolder/subsubFolder/example_asset_3.txt
  tools/tesseratos/samples/main/assets/subfolder/subsubFolder/example_asset_3.txt.meta
  tools/tesseratos/samples/main/assets/voxels/car.grd
  tools/tesseratos/samples/main/assets/voxels/car.grd.meta
  tools/tesseratos/samples/main/assets/voxels/main.pal
  tools/tesseratos/samples/main/assets/voxels/main.pal.meta
Owners: @DiogoMendonc-a, @roby2014

fix(imgui): handle StringConversionTrait correctly on data inspector
  engine/src/imgui/data_inspector.cpp
Owners: @RiscadoA

docs(tesseratos): change debug camera toggle key
  tools/tesseratos/samples/main/assets/tesseratos.bind
Owners: @DiogoMendonc-a, @roby2014

docs(tesseratos): reorganize sample assets
  tools/tesseratos/samples/main/assets/main.pal
  tools/tesseratos/samples/main/assets/main.pal.meta
  tools/tesseratos/samples/main/assets/main_copy.pal
  tools/tesseratos/samples/main/assets/main_copy.pal.meta
  tools/tesseratos/samples/main/assets/scenes/main.cubos
  tools/tesseratos/samples/main/assets/scenes/main.cubos.meta
  tools/tesseratos/samples/main/assets/scenes/sub.cubos
  tools/tesseratos/samples/main/assets/scenes/sub.cubos.meta
  tools/tesseratos/samples/main/assets/subfolder/example_asset_2.txt
  tools/tesseratos/samples/main/assets/subfolder/example_asset_2.txt.meta
  tools/tesseratos/samples/main/assets/subfolder/subsubFolder/example_asset_3.txt
  tools/tesseratos/samples/main/assets/subfolder/subsubFolder/example_asset_3.txt.meta
  tools/tesseratos/samples/main/assets/voxels/car.grd
  tools/tesseratos/samples/main/assets/voxels/car.grd.meta
  tools/tesseratos/samples/main/assets/voxels/main.pal
  tools/tesseratos/samples/main/assets/voxels/main.pal.meta
Owners: @DiogoMendonc-a, @roby2014

fix(imgui): send modifier events correctly
  engine/src/imgui/imgui.cpp
Owners: @RiscadoA

fix(imgui): set ClipboardUserData correctly
  engine/src/imgui/imgui.cpp
Owners: @RiscadoA

deploy: b1fcd8df7ff6371ef1039051f61a60b1a63df677
  docs/searchdata-v2.js
Owners: @RiscadoA

feat(tesseratos): add save/close to Scene editor
  tools/tesseratos/src/tesseratos/scene_editor/plugin.cpp
Owners: @DiogoMendonc-a, @roby2014

fix(ecs): do not crash when pinning dead entities
  core/include/cubos/core/ecs/query/filter.hpp
  core/src/ecs/query/filter.cpp
Owners: @RiscadoA

fix(tesseratos): fix scene save crash
  engine/src/scene/bridge.cpp
  tools/tesseratos/src/tesseratos/scene_editor/plugin.cpp
Owners: @RiscadoA, @DiogoMendonc-a, @roby2014

feat(ecs): add EphemeralTrait
  CHANGELOG.md
  core/include/cubos/core/ecs/reflection.hpp
Owners: @RiscadoA

feat(ecs): disallow EphemeralTrait type storage in blueprints
  core/src/ecs/blueprint.cpp
Owners: @RiscadoA

feat(ecs): make Name ephemeral
  core/src/ecs/name.cpp
Owners: @RiscadoA

feat(transform): make LocalToWorld/Parent ephemeral
  engine/src/transform/local_to_parent.cpp
  engine/src/transform/local_to_world.cpp
Owners: @RiscadoA

feat(scene): do not store ephemeral types
  tools/tesseratos/src/tesseratos/scene_editor/plugin.cpp
Owners: @DiogoMendonc-a, @roby2014

feat(scene): do not store ephemeral types
  tools/tesseratos/src/tesseratos/scene_editor/plugin.cpp
Owners: @DiogoMendonc-a, @roby2014

feat(ecs): disallow EphemeralTrait type storage in blueprints
  core/src/ecs/blueprint.cpp
Owners: @RiscadoA

feat(ecs): add EphemeralTrait
  CHANGELOG.md
  core/include/cubos/core/ecs/reflection.hpp
Owners: @RiscadoA

feat(transform): make LocalToWorld/Parent ephemeral
  engine/src/transform/local_to_parent.cpp
  engine/src/transform/local_to_world.cpp
Owners: @RiscadoA

fix(ecs): do not crash when pinning dead entities
  core/include/cubos/core/ecs/query/filter.hpp
  core/src/ecs/query/filter.cpp
Owners: @RiscadoA

fix(tesseratos): fix scene save crash
  engine/src/scene/bridge.cpp
  tools/tesseratos/src/tesseratos/scene_editor/plugin.cpp
Owners: @RiscadoA, @DiogoMendonc-a, @roby2014

feat(tesseratos): add save/close to Scene editor
  tools/tesseratos/src/tesseratos/scene_editor/plugin.cpp
Owners: @DiogoMendonc-a, @roby2014

feat(ecs): make Name ephemeral
  core/src/ecs/name.cpp
Owners: @RiscadoA

deploy: 38e8fc2cee96e5d31cc28edab2f7ce597ee9320d
  docs/annotated.html
  docs/classcubos_1_1core_1_1ecs_1_1TypeBuilder.html
  docs/namespacecubos_1_1core_1_1ecs.html
  docs/searchdata-v2.js
  docs/structcubos_1_1core_1_1ecs_1_1EphemeralTrait.html
Owners: @RiscadoA

feat(tesseratos): add name to debug camera
  tools/tesseratos/src/tesseratos/debug_camera/plugin.cpp
Owners: @DiogoMendonc-a, @roby2014

feat(tesseratos): default to debug camera when there isn't another
  CHANGELOG.md
  tools/tesseratos/src/tesseratos/debug_camera/plugin.cpp
Owners: @RiscadoA, @DiogoMendonc-a, @roby2014

docs(tesseratos): remove unnecessary camera
  tools/tesseratos/samples/main/main.cpp
Owners: @DiogoMendonc-a, @roby2014

feat(tesseratos): add name to debug camera
  tools/tesseratos/src/tesseratos/debug_camera/plugin.cpp
Owners: @DiogoMendonc-a, @roby2014

docs(tesseratos): remove unnecessary camera
  tools/tesseratos/samples/main/main.cpp
Owners: @DiogoMendonc-a, @roby2014

feat(tesseratos): default to debug camera when there isn't another
  CHANGELOG.md
  tools/tesseratos/src/tesseratos/debug_camera/plugin.cpp
Owners: @RiscadoA, @DiogoMendonc-a, @roby2014

feat(tesseratos): add metrics panel to toolbox
  tools/tesseratos/include/tesseratos/metrics_panel/plugin.hpp
  tools/tesseratos/src/tesseratos/metrics_panel/plugin.cpp
Owners: @DiogoMendonc-a, @roby2014

feat(tesseratos): open voxel palette editor on selection
  tools/tesseratos/src/tesseratos/voxel_palette_editor/plugin.cpp
Owners: @DiogoMendonc-a, @roby2014

feat(tesseratos): add metrics panel to toolbox
  tools/tesseratos/include/tesseratos/metrics_panel/plugin.hpp
  tools/tesseratos/src/tesseratos/metrics_panel/plugin.cpp
Owners: @DiogoMendonc-a, @roby2014

feat(tesseratos): open voxel palette editor on selection
  tools/tesseratos/src/tesseratos/voxel_palette_editor/plugin.cpp
Owners: @DiogoMendonc-a, @roby2014
