Repository GameDevTecnico/cubos, changes with the owners that .github/CODEOWNERS names for each.
All owners: @RiscadoA, @fallenatlas, @DiogoMendonc-a, @roby2014

feat(tesseratos): rename EntitySelector input system
  tools/tesseratos/src/tesseratos/entity_selector/plugin.cpp
Owners: @DiogoMendonc-a, @roby2014

fix(rendering): prevent gizmos from clearing voxels
  engine/src/cubos/engine/gizmos/plugin.cpp
Owners: @DiogoMendonc-a

fix(tesseratos): make entitySelector ignore clicks on ImGui
  tools/tesseratos/include/tesseratos/entity_selector/plugin.hpp
  tools/tesseratos/src/tesseratos/entity_selector/plugin.cpp
Owners: @DiogoMendonc-a, @roby2014

fix(core): remove obsolete system validations
  core/include/cubos/core/ecs/system/system.hpp
  core/src/cubos/core/ecs/system/system.cpp
  core/tests/ecs/system.cpp
Owners: @RiscadoA

fix(core): remove obsolete system validations
  core/include/cubos/core/ecs/system/system.hpp
  core/src/cubos/core/ecs/system/system.cpp
  core/tests/ecs/system.cpp
Owners: @RiscadoA

feat(tesseratos): add entitySelectorPlugin
  tools/tesseratos/include/tesseratos/entity_selector/plugin.hpp
  tools/tesseratos/src/tesseratos/entity_selector/plugin.cpp
Owners: @DiogoMendonc-a, @roby2014

fix(tesseratos): make entitySelector ignore clicks on ImGui
  tools/tesseratos/include/tesseratos/entity_selector/plugin.hpp
  tools/tesseratos/src/tesseratos/entity_selector/plugin.cpp
Owners: @DiogoMendonc-a, @roby2014

fix(rendering): prevent gizmos from clearing voxels
  engine/src/cubos/engine/gizmos/plugin.cpp
Owners: @DiogoMendonc-a

feat(tesseratos): rename EntitySelector input system
  tools/tesseratos/src/tesseratos/entity_selector/plugin.cpp
Owners: @DiogoMendonc-a, @roby2014

deploy: d62277ff768c2f4e9f902b7a61d68ae376bbd3db
  docs/group__tesseratos-entity-selector-plugin.html
  docs/group__tesseratos-metrics-panel-plugin.html
  docs/group__tesseratos-scene-editor-plugin.html
  docs/group__tesseratos-settings-inspector-plugin.html
  docs/group__tesseratos-toolbox-plugin.html
  docs/group__tesseratos-voxel-palette-editor-plugin.html
  docs/group__tesseratos-world-inspector-plugin.html
  docs/searchdata-v2.js
  docs/structcubos_1_1core_1_1ecs_1_1SystemInfo.html
  docs/structtesseratos_1_1EntitySelector.html
Owners: @RiscadoA

feat(ecs): add Types::contains
  core/include/cubos/core/ecs/types.hpp
  core/src/cubos/core/ecs/types.cpp
  core/tests/ecs/types.cpp
Owners: @RiscadoA

feat(ecs): add query terms to SystemBuilder
  core/include/cubos/core/ecs/cubos.hpp
  core/src/cubos/core/ecs/cubos.cpp
  core/tests/ecs/cubos.cpp
Owners: @RiscadoA

feat(ecs): add SystemOptions
  core/CMakeLists.txt
  core/include/cubos/core/ecs/system/options.hpp
  core/src/cubos/core/ecs/system/options.cpp
Owners: @RiscadoA

feat(ecs): add QueryData::accesses
  core/CMakeLists.txt
  core/include/cubos/core/ecs/query/access.hpp
  core/include/cubos/core/ecs/query/data.hpp
  core/src/cubos/core/ecs/query/access.cpp
Owners: @RiscadoA

feat(ecs): add SystemAccess
  core/CMakeLists.txt
  core/include/cubos/core/ecs/system/access.hpp
  core/src/cubos/core/ecs/system/access.cpp
  core/tests/CMakeLists.txt
  core/tests/ecs/system/access.cpp
Owners: @RiscadoA

feat(core): add CUBOS_ASSERT_IMP
  core/include/cubos/core/log.hpp
Owners: @RiscadoA

feat(ecs): add Query::first
  core/include/cubos/core/ecs/system/arguments/query.hpp
Owners: @RiscadoA

feat(ecs): add Types::contains
  core/include/cubos/core/ecs/types.hpp
  core/src/cubos/core/ecs/types.cpp
  core/tests/ecs/types.cpp
Owners: @RiscadoA

feat(ecs): add query terms to SystemBuilder
  core/include/cubos/core/ecs/cubos.hpp
  core/src/cubos/core/ecs/cubos.cpp
  core/tests/ecs/cubos.cpp
Owners: @RiscadoA

fix: solve multiple clang-tidy warnings
  core/include/cubos/core/ecs/system/arguments/commands.hpp
  core/include/cubos/core/ecs/system/arguments/world.hpp
  core/include/cubos/core/ecs/system/dispatcher.hpp
  core/include/cubos/core/ecs/system/fetcher.hpp
  core/include/cubos/core/ecs/system/system.hpp
  core/src/cubos/core/ecs/cubos.cpp
  core/src/cubos/core/ecs/system/dispatcher.cpp
  core/src/cubos/core/ecs/world.cpp
  core/src/cubos/core/gl/ogl_render_device.cpp
  core/tests/ecs/dispatcher.cpp
  core/tests/ecs/utils/action.cpp
  engine/src/cubos/engine/assets/assets.cpp
Owners: @RiscadoA

Deploy preview for PR 926 🛫
  docs-preview/pr-926/classcubos_1_1core_1_1ecs_1_1Dispatcher.html
  docs-preview/pr-926/classcubos_1_1core_1_1ecs_1_1System.html
  docs-preview/pr-926/classcubos_1_1core_1_1ecs_1_1SystemFetcher.html
  docs-preview/pr-926/searchdata-v2.js
Owners: @RiscadoA

feat(ecs): add SystemAccess
  core/CMakeLists.txt
  core/include/cubos/core/ecs/system/access.hpp
  core/src/cubos/core/ecs/system/access.cpp
  core/tests/CMakeLists.txt
  core/tests/ecs/system/access.cpp
Owners: @RiscadoA

feat(ecs): add Types::contains
  core/include/cubos/core/ecs/types.hpp
  core/src/cubos/core/ecs/types.cpp
  core/tests/ecs/types.cpp
Owners: @RiscadoA

feat(ecs): add Query::first
  core/include/cubos/core/ecs/system/arguments/query.hpp
Owners: @RiscadoA

feat(ecs): add query terms to SystemBuilder
  core/include/cubos/core/ecs/cubos.hpp
  core/src/cubos/core/ecs/cubos.cpp
  core/tests/ecs/cubos.cpp
Owners: @RiscadoA

feat(core): add CUBOS_ASSERT_IMP
  core/include/cubos/core/log.hpp
Owners: @RiscadoA

feat(ecs): add QueryData::accesses
  core/CMakeLists.txt
  core/include/cubos/core/ecs/query/access.hpp
  core/include/cubos/core/ecs/query/data.hpp
  core/src/cubos/core/ecs/query/access.cpp
Owners: @RiscadoA

feat(ecs): add SystemOptions
  core/CMakeLists.txt
  core/include/cubos/core/ecs/system/options.hpp
  core/src/cubos/core/ecs/system/options.cpp
Owners: @RiscadoA

fix: solve multiple clang-tidy warnings
  core/include/cubos/core/ecs/system/arguments/commands.hpp
  core/include/cubos/core/ecs/system/arguments/world.hpp
  core/include/cubos/core/ecs/system/dispatcher.hpp
  core/include/cubos/core/ecs/system/fetcher.hpp
  core/include/cubos/core/ecs/system/system.hpp
  core/src/cubos/core/ecs/cubos.cpp
  core/src/cubos/core/ecs/system/dispatcher.cpp
  core/src/cubos/core/ecs/world.cpp
  core/src/cubos/core/gl/ogl_render_device.cpp
  core/tests/ecs/dispatcher.cpp
  core/tests/ecs/utils/action.cpp
  engine/src/cubos/engine/assets/assets.cpp
Owners: @RiscadoA

refactor(ecs): remove unused Entity/Component Managers
  core/CMakeLists.txt
  core/include/cubos/core/ecs/component/manager.hpp
  core/include/cubos/core/ecs/component/module.dox
  core/include/cubos/core/ecs/component/storage.hpp
  core/include/cubos/core/ecs/entity/manager.hpp
  core/include/cubos/core/ecs/world.hpp
  core/src/cubos/core/ecs/component/manager.cpp
  core/src/cubos/core/ecs/component/storage.cpp
  core/src/cubos/core/ecs/entity/manager.cpp
  engine/src/cubos/engine/collisions/broad_phase/sweep_and_prune.hpp
Owners: @RiscadoA

fix(tesseratos): add DebugCameraInfo resource before systems
  tools/tesseratos/src/tesseratos/debug_camera/plugin.cpp
Owners: @DiogoMendonc-a, @roby2014

refactor(ecs): remove unused Entity/Component Managers
  core/CMakeLists.txt
  core/include/cubos/core/ecs/component/manager.hpp
  core/include/cubos/core/ecs/component/module.dox
  core/include/cubos/core/ecs/component/storage.hpp
  core/include/cubos/core/ecs/entity/manager.hpp
  core/include/cubos/core/ecs/world.hpp
  core/src/cubos/core/ecs/component/manager.cpp
  core/src/cubos/core/ecs/component/storage.cpp
  core/src/cubos/core/ecs/entity/manager.cpp
  engine/src/cubos/engine/collisions/broad_phase/sweep_and_prune.hpp
Owners: @RiscadoA

deploy: 2e03d950a15504b784aca8324d2d41955d7f558f
  docs/annotated.html
  docs/classcubos_1_1core_1_1ecs_1_1ComponentManager.html
  docs/classcubos_1_1core_1_1ecs_1_1EntityManager.html
  docs/classcubos_1_1core_1_1ecs_1_1EntityManager_1_1Iterator.html
  docs/classcubos_1_1core_1_1ecs_1_1Storage.html
  docs/classcubos_1_1core_1_1ecs_1_1World.html
  docs/core_2include_2cubos_2core_2ecs_2component_2manager_8hpp.html
  docs/core_2include_2cubos_2core_2ecs_2entity_2manager_8hpp.html
  docs/dir_3764e76d8ec4e739fc24b5bb90adc3af.html
  docs/dir_649da4752b4164834ba68d7c258c03a8.html
  docs/dir_b6daa990b896c2c0c53126427e4d978d.html
  docs/files.html
  docs/group__core-ecs-component.html
  docs/group__core-ecs-entity.html
  docs/group__core-ecs.html
  docs/modules.html
  docs/namespacecubos_1_1core_1_1ecs.html
  docs/searchdata-v2.js
  docs/storage_8hpp.html
Owners: @RiscadoA

fix(tesseratos): add DebugCameraInfo resource before systems
  tools/tesseratos/src/tesseratos/debug_camera/plugin.cpp
Owners: @DiogoMendonc-a, @roby2014

fix(tesseractos): prevent removing entities from subscenes
  tools/tesseratos/src/tesseratos/scene_editor/plugin.cpp
Owners: @DiogoMendonc-a, @roby2014

feat(tesseratos): improve scene editor ui
  tools/tesseratos/src/tesseratos/scene_editor/plugin.cpp
Owners: @DiogoMendonc-a, @roby2014

fix(tesseratos): prevent entity subscene name change
  tools/tesseratos/src/tesseratos/scene_editor/plugin.cpp
Owners: @DiogoMendonc-a, @roby2014

fix(tesseratos): prevent entity subscene name change
  tools/tesseratos/src/tesseratos/scene_editor/plugin.cpp
Owners: @DiogoMendonc-a, @roby2014

feat(tesseratos): improve scene editor ui
  tools/tesseratos/src/tesseratos/scene_editor/plugin.cpp
Owners: @DiogoMendonc-a, @roby2014

fix(tesseractos): prevent removing entities from subscenes
  tools/tesseratos/src/tesseratos/scene_editor/plugin.cpp
Owners: @DiogoMendonc-a, @roby2014

.github/CODEOWNERS:

* @RiscadoA

**/engine/physics/ @fallenatlas
**/engine/gizmos/ @DiogoMendonc-a

**/tesseratos/ @DiogoMendonc-a @roby2014
