Repository GameDevTecnico/cubos, changes with the owners that .github/CODEOWNERS names for each.
All owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team, @tomas7770, @GameDevTecnico/cubos-graphics-team, @fallenatlas, @GameDevTecnico/cubos-physics-team, @GameDevTecnico/cubos-tools-team

fix(tools): draw transform gizmo for all active cameras
  CHANGELOG.md
  engine/src/tools/transform_gizmo/plugin.cpp
Owners: @RiscadoA, @GameDevTecnico/cubos-tools-team

feat(collisions): add layers and masks
  CHANGELOG.md
  engine/include/cubos/engine/collisions/collider.hpp
  engine/src/collisions/broad_phase/plugin.cpp
  engine/src/collisions/interface/collider.cpp
Owners: @RiscadoA, @fallenatlas, @GameDevTecnico/cubos-physics-team, @GameDevTecnico/cubos-wildcard-team

feat(collisions): add Ray::mask
  CHANGELOG.md
  engine/include/cubos/engine/collisions/raycast.hpp
  engine/src/collisions/interface/raycast.cpp
Owners: @RiscadoA, @fallenatlas, @GameDevTecnico/cubos-physics-team, @GameDevTecnico/cubos-wildcard-team

fix(rendering): use correct format and sampling for SSAO noise texture
  CHANGELOG.md
  engine/src/render/ssao/plugin.cpp
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team

fix(input): add missing updates to mouse/gamepad buttons on input axes
  CHANGELOG.md
  engine/src/input/input.cpp
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team

refactor(engine): make the fixed step accumulator public
  CHANGELOG.md
  engine/CMakeLists.txt
  engine/include/cubos/engine/fixed_step/fixed_accumulated_time.hpp
  engine/include/cubos/engine/fixed_step/plugin.hpp
  engine/src/fixed_step/fixed_accumulated_time.cpp
  engine/src/fixed_step/plugin.cpp
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team

fix(rendering): consider HiDPI screens when using the render picker
  CHANGELOG.md
  engine/src/gizmos/plugin.cpp
  engine/src/tools/selection/plugin.cpp
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team, @GameDevTecnico/cubos-tools-team

feat(rendering): make SSAO optional
  CHANGELOG.md
  engine/assets/render/deferred_shading.fs
  engine/include/cubos/engine/render/defaults/target.hpp
  engine/src/render/defaults/plugin.cpp
  engine/src/render/defaults/target.cpp
  engine/src/render/deferred_shading/plugin.cpp
Owners: @RiscadoA, @tomas7770, @GameDevTecnico/cubos-graphics-team, @GameDevTecnico/cubos-wildcard-team

deploy: 395ff0d370f58a06ff63453f63b7cb1258fb4ea8
  searchdata-v2.js
  structcubos_1_1engine_1_1RenderTargetDefaults.html
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team

fix(audio): add sound field to reflection of AudioSource
  CHANGELOG.md
  engine/src/audio/source.cpp
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team

chore: add libpulseaudio to flake.nix
  CHANGELOG.md
  flake.nix
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team

docs: add audio sample page
  docs/pages/3_examples/2_engine/main.md
  engine/samples/audio/page.md
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team

feat(tools): enable ImGui docking branch
  default.nix
  engine/CMakeLists.txt
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team

feat(tools): enable ImGui docking on Tesseratos and set a dockspace
  tools/tesseratos/src/tesseratos/main.cpp
Owners: @RiscadoA, @GameDevTecnico/cubos-tools-team

docs: update CHANGELOG.md
  CHANGELOG.md
Owners: @RiscadoA

chore: refactor to comply with code style guidelines
  tools/tesseratos/src/tesseratos/main.cpp
Owners: @RiscadoA, @GameDevTecnico/cubos-tools-team

docs: update CHANGELOG.md
  CHANGELOG.md
Owners: @RiscadoA

feat(rendering): add SSAO resolution scale
  CHANGELOG.md
  engine/assets/render/ssao_blur.fs
  engine/include/cubos/engine/render/ssao/ssao.hpp
  engine/src/render/ssao/plugin.cpp
  engine/src/render/ssao/ssao.cpp
Owners: @RiscadoA, @tomas7770, @GameDevTecnico/cubos-graphics-team, @GameDevTecnico/cubos-wildcard-team

docs: add audio sample page
  docs/pages/3_examples/2_engine/main.md
  engine/samples/audio/main.cpp
  engine/samples/audio/page.md
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team

Deploy preview for PR 1421 🛫
  preview/pr-1421/examples-engine-audio.html
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team

feat(data): Allow wrapped fields to be read as normal object with a single field
  core/src/data/des/json.cpp
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team

feat(rendering): add SSAO resolution scale
  CHANGELOG.md
  engine/assets/render/ssao_blur.fs
  engine/include/cubos/engine/render/ssao/ssao.hpp
  engine/src/render/ssao/plugin.cpp
  engine/src/render/ssao/ssao.cpp
Owners: @RiscadoA, @tomas7770, @GameDevTecnico/cubos-graphics-team, @GameDevTecnico/cubos-wildcard-team

deploy: da5f5e37c4b4b8f91b234f2c016041c668457431
  searchdata-v2.js
  structcubos_1_1engine_1_1SSAO.html
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team

feat(tools): enable ImGui docking on Tesseratos and set a dockspace
  tools/tesseratos/src/tesseratos/main.cpp
Owners: @RiscadoA, @GameDevTecnico/cubos-tools-team

chore: refactor to comply with code style guidelines
  tools/tesseratos/src/tesseratos/main.cpp
Owners: @RiscadoA, @GameDevTecnico/cubos-tools-team

feat(tools): enable ImGui docking branch
  default.nix
  engine/CMakeLists.txt
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team

docs: update CHANGELOG.md
  CHANGELOG.md
Owners: @RiscadoA

docs: update CHANGELOG.md
  CHANGELOG.md
Owners: @RiscadoA

Deploy preview for PR 1425 🛫
  preview/pr-1425/classcubos_1_1core_1_1reflection_1_1WrapperTrait.html
  preview/pr-1425/searchdata-v2.js
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team

Deploy preview for PR 1433 🛫
  preview/pr-1433/classcubos_1_1engine_1_1Shader.html
  preview/pr-1433/classcubos_1_1engine_1_1ShaderBuilder.html
  preview/pr-1433/searchdata-v2.js
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team

feat(tesseratos): move tesserato's tools status inside their respective plugins plugin
  CHANGELOG.md
  tools/tesseratos/src/tesseratos/asset_explorer/plugin.cpp
  tools/tesseratos/src/tesseratos/asset_explorer/plugin.hpp
  tools/tesseratos/src/tesseratos/debugger/plugin.cpp
  tools/tesseratos/src/tesseratos/debugger/plugin.hpp
  tools/tesseratos/src/tesseratos/importer/plugin.cpp
  tools/tesseratos/src/tesseratos/importer/plugin.hpp
  tools/tesseratos/src/tesseratos/project/plugin.cpp
  tools/tesseratos/src/tesseratos/project/plugin.hpp
  tools/tesseratos/src/tesseratos/scene_editor/plugin.cpp
  tools/tesseratos/src/tesseratos/scene_editor/plugin.hpp
  tools/tesseratos/src/tesseratos/voxel_palette_editor/plugin.cpp
  tools/tesseratos/src/tesseratos/voxel_palette_editor/plugin.hpp
Owners: @RiscadoA, @GameDevTecnico/cubos-tools-team

feat(tesseratos): add Menu Bar plugin
  CHANGELOG.md
  tools/tesseratos/CMakeLists.txt
  tools/tesseratos/src/tesseratos/main.cpp
  tools/tesseratos/src/tesseratos/menu_bar/plugin.cpp
  tools/tesseratos/src/tesseratos/menu_bar/plugin.hpp
Owners: @RiscadoA, @GameDevTecnico/cubos-tools-team

feat(tesseratos): move plugins inside Menu Bar plugin
  tools/tesseratos/src/tesseratos/main.cpp
  tools/tesseratos/src/tesseratos/menu_bar/plugin.cpp
Owners: @RiscadoA, @GameDevTecnico/cubos-tools-team

Deploy preview for PR 1433 🛫
  preview/pr-1433/classcubos_1_1engine_1_1Shader.html
  preview/pr-1433/classcubos_1_1engine_1_1ShaderBuilder.html
  preview/pr-1433/searchdata-v2.js
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team

docs(physics): fix system tag in complex physics sample
  engine/samples/complex_physics/main.cpp
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team

fix(ci): change runners to Ubuntu 22.04
  .github/workflows/build-doxygen-docs.yml
  .github/workflows/build-engine-linux.yml
  .github/workflows/build-engine-web.yml
  .github/workflows/clang-format-check.yml
  .github/workflows/clang-tidy-lint.yml
  .github/workflows/conventional-commits.yml
  .github/workflows/copy-labels.yml
  .github/workflows/create-coverage-report.yml
  .github/workflows/preview-docs.yml
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team

fix(physics): add missing initialization of variables in components
  engine/include/cubos/engine/physics/components/angular_impulse.hpp
  engine/include/cubos/engine/physics/components/angular_velocity.hpp
  engine/include/cubos/engine/physics/components/impulse.hpp
  engine/include/cubos/engine/physics/components/velocity.hpp
Owners: @RiscadoA, @fallenatlas, @GameDevTecnico/cubos-physics-team

feat(physics): add warm starting
  CHANGELOG.md
  engine/include/cubos/engine/physics/resources/solver_constants.hpp
  engine/src/physics/solver/integration/plugin.cpp
  engine/src/physics/solver/penetration_constraint/plugin.cpp
  engine/src/physics/solver/penetration_constraint/plugin.hpp
Owners: @RiscadoA, @fallenatlas, @GameDevTecnico/cubos-physics-team, @GameDevTecnico/cubos-wildcard-team

Deploy preview for PR 1433 🛫
  preview/pr-1433/classcubos_1_1engine_1_1Shader.html
  preview/pr-1433/classcubos_1_1engine_1_1ShaderBuilder.html
  preview/pr-1433/searchdata-v2.js
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team

feat(physics): add warm starting
  CHANGELOG.md
  engine/include/cubos/engine/physics/resources/solver_constants.hpp
  engine/src/physics/solver/integration/plugin.cpp
  engine/src/physics/solver/penetration_constraint/plugin.cpp
  engine/src/physics/solver/penetration_constraint/plugin.hpp
Owners: @RiscadoA, @fallenatlas, @GameDevTecnico/cubos-physics-team, @GameDevTecnico/cubos-wildcard-team

.github/CODEOWNERS:

* @RiscadoA @GameDevTecnico/cubos-wildcard-team

CHANGELOG.md @RiscadoA

**/core/gl/ @RiscadoA @tomas7770 @GameDevTecnico/cubos-graphics-team
**/engine/gizmos/ @RiscadoA @tomas7770 @GameDevTecnico/cubos-graphics-team
**/engine/render/ @RiscadoA @tomas7770 @GameDevTecnico/cubos-graphics-team
**/engine/ui/ @RiscadoA @tomas7770 @GameDevTecnico/cubos-graphics-team
**/engine/assets/render/ @RiscadoA @tomas7770 @GameDevTecnico/cubos-graphics-team
**/engine/assets/ui/ @RiscadoA @tomas7770 @GameDevTecnico/cubos-graphics-team

**/core/geom/ @RiscadoA @fallenatlas @GameDevTecnico/cubos-physics-team
**/engine/collisions/ @RiscadoA @fallenatlas @GameDevTecnico/cubos-physics-team
**/engine/physics/ @RiscadoA @fallenatlas @GameDevTecnico/cubos-physics-team

**/tools/ @RiscadoA @GameDevTecnico/cubos-tools-team
