Repository GameDevTecnico/cubos, changes with the owners that .github/CODEOWNERS names for each.
All owners: @RiscadoA, @fallenatlas, @DiogoMendonc-a, @roby2014

Deploy preview for PR 845 🛫
  docs-preview/pr-845/annotated.html
  docs-preview/pr-845/classcubos_1_1core_1_1data_1_1JSONSerializer.html
  docs-preview/pr-845/classcubos_1_1core_1_1data_1_1Serializer.html
  docs-preview/pr-845/classcubos_1_1core_1_1ecs_1_1ComponentManager.html
  docs-preview/pr-845/classcubos_1_1core_1_1ecs_1_1IStorage.html
  docs-preview/pr-845/classcubos_1_1core_1_1ecs_1_1MapStorage.html
  docs-preview/pr-845/classcubos_1_1core_1_1ecs_1_1NullStorage.html
  docs-preview/pr-845/classcubos_1_1core_1_1ecs_1_1Query.html
  docs-preview/pr-845/classcubos_1_1core_1_1ecs_1_1ReadStorage.html
  docs-preview/pr-845/classcubos_1_1core_1_1ecs_1_1Registry.html
  docs-preview/pr-845/classcubos_1_1core_1_1ecs_1_1Storage.html
  docs-preview/pr-845/classcubos_1_1core_1_1ecs_1_1VecStorage.html
  docs-preview/pr-845/classcubos_1_1core_1_1memory_1_1UnorderedBimap.html
  docs-preview/pr-845/core_2include_2cubos_2core_2data_2ser_2json_8hpp.html
  docs-preview/pr-845/core_2include_2cubos_2core_2ecs_2component_2manager_8hpp.html
  docs-preview/pr-845/dir_38aac728ad33877355e223e23ac4ab7a.html
  docs-preview/pr-845/dir_649da4752b4164834ba68d7c258c03a8.html
  docs-preview/pr-845/examples-core-data-ser-json.html
  docs-preview/pr-845/examples-core-data-ser.html
  docs-preview/pr-845/examples-engine-scene.html
  docs-preview/pr-845/files.html
  docs-preview/pr-845/group__core-data-ser.html
  docs-preview/pr-845/group__core-ecs-component.html
  docs-preview/pr-845/map__storage_8hpp.html
  docs-preview/pr-845/namespacecubos_1_1core_1_1data.html
  docs-preview/pr-845/namespacecubos_1_1core_1_1ecs.html
  docs-preview/pr-845/pages.html
  docs-preview/pr-845/registry_8hpp.html
  docs-preview/pr-845/searchdata-v2.js
  docs-preview/pr-845/storage_8hpp.html
  docs-preview/pr-845/structcubos_1_1core_1_1ecs_1_1QueryInfo.html
Owners: @RiscadoA

feat(reflection): add TypeRegistry
  core/CMakeLists.txt
  core/include/cubos/core/reflection/type_registry.hpp
  core/src/cubos/core/reflection/type.cpp
  core/src/cubos/core/reflection/type_registry.cpp
  core/tests/CMakeLists.txt
  core/tests/reflection/type.cpp
  core/tests/reflection/type_registry.cpp
Owners: @RiscadoA

feat(reflection): add TypeRegistry::Iterator
  core/include/cubos/core/reflection/type_registry.hpp
  core/src/cubos/core/reflection/type_registry.cpp
  core/tests/reflection/type_registry.cpp
Owners: @RiscadoA

feat(ecs): add untyped World::registerComponent
  core/include/cubos/core/ecs/world.hpp
  core/src/cubos/core/ecs/world.cpp
Owners: @RiscadoA

deploy: 81faddb17c87db44e0f0618096a14cb67f598b62
  docs/annotated.html
  docs/classcubos_1_1core_1_1reflection_1_1TypeRegistry.html
  docs/files.html
  docs/group__core-reflection.html
  docs/namespacecubos_1_1core_1_1reflection.html
  docs/searchdata-v2.js
  docs/type__registry_8hpp.html
Owners: @RiscadoA

deploy: bbef37950db8378b80a07aaf21c9fd6ee29c0588
  docs/classcubos_1_1core_1_1ecs_1_1World.html
  docs/searchdata-v2.js
Owners: @RiscadoA

Deploy preview for PR 853 🛫
  docs-preview/pr-853/annotated.html
  docs-preview/pr-853/classcubos_1_1core_1_1data_1_1JSONSerializer.html
  docs-preview/pr-853/classcubos_1_1core_1_1data_1_1Serializer.html
  docs-preview/pr-853/classcubos_1_1core_1_1ecs_1_1ComponentManager.html
  docs-preview/pr-853/core_2include_2cubos_2core_2data_2ser_2json_8hpp.html
  docs-preview/pr-853/dir_38aac728ad33877355e223e23ac4ab7a.html
  docs-preview/pr-853/examples-core-data-ser-json.html
  docs-preview/pr-853/examples-core-data-ser.html
  docs-preview/pr-853/examples-engine-scene.html
  docs-preview/pr-853/files.html
  docs-preview/pr-853/group__core-data-ser.html
  docs-preview/pr-853/pages.html
  docs-preview/pr-853/searchdata-v2.js
Owners: @RiscadoA

feat(ecs): add component registry to World
  core/include/cubos/core/ecs/component/manager.hpp
  core/include/cubos/core/ecs/world.hpp
  core/src/cubos/core/ecs/component/manager.cpp
  core/src/cubos/core/ecs/world.cpp
Owners: @RiscadoA

refactor(scene): stop using global component Registry
  engine/include/cubos/engine/scene/bridge.hpp
  engine/src/cubos/engine/scene/bridge.cpp
  engine/src/cubos/engine/scene/plugin.cpp
Owners: @RiscadoA

refactor(scene): stop using global component Registry
  engine/include/cubos/engine/scene/bridge.hpp
  engine/src/cubos/engine/scene/bridge.cpp
  engine/src/cubos/engine/scene/plugin.cpp
Owners: @RiscadoA

feat(ecs): add component registry to World
  core/include/cubos/core/ecs/component/manager.hpp
  core/include/cubos/core/ecs/world.hpp
  core/src/cubos/core/ecs/component/manager.cpp
  core/src/cubos/core/ecs/world.cpp
Owners: @RiscadoA

deploy: 20d551f1cd398cbd325eac68f6fbe6f1dacd1935
  docs/classcubos_1_1core_1_1ecs_1_1ComponentManager.html
  docs/classcubos_1_1core_1_1ecs_1_1World.html
  docs/classcubos_1_1engine_1_1SceneBridge.html
  docs/searchdata-v2.js
Owners: @RiscadoA

build: reenable unknown attribute warnings
  CMakeLists.txt
Owners: @RiscadoA

chore: remove quadrados-gen
  cmake/QuadradosGenerate.cmake
  core/tests/CMakeLists.txt
  engine/CMakeLists.txt
  engine/samples/CMakeLists.txt
  tools/CMakeLists.txt
  tools/quadrados-gen/CMakeLists.txt
  tools/quadrados-gen/src/main.cpp
  tools/tesseratos/samples/CMakeLists.txt
Owners: @RiscadoA, @DiogoMendonc-a, @roby2014

chore: remove quadrados-gen attributes
  core/tests/ecs/utils.hpp
  docs/pages/2_features/ecs.md
  engine/include/cubos/engine/collisions/collider.hpp
  engine/include/cubos/engine/collisions/shapes/box.hpp
  engine/include/cubos/engine/collisions/shapes/capsule.hpp
  engine/include/cubos/engine/physics/components/accumulated_correction.hpp
  engine/include/cubos/engine/physics/components/physics_mass.hpp
  engine/include/cubos/engine/physics/components/physics_velocity.hpp
  engine/include/cubos/engine/physics/components/previous_position.hpp
  engine/include/cubos/engine/renderer/camera.hpp
  engine/include/cubos/engine/renderer/directional_light.hpp
  engine/include/cubos/engine/renderer/plugin.hpp
  engine/include/cubos/engine/renderer/point_light.hpp
  engine/include/cubos/engine/renderer/spot_light.hpp
  engine/include/cubos/engine/transform/local_to_world.hpp
  engine/include/cubos/engine/transform/position.hpp
  engine/include/cubos/engine/transform/rotation.hpp
  engine/include/cubos/engine/transform/scale.hpp
  engine/samples/hello-cubos/components.hpp
  engine/samples/scene/components.hpp
Owners: @RiscadoA, @fallenatlas

refactor(ecs): remove global Registry
  core/CMakeLists.txt
  core/include/cubos/core/ecs/component/registry.hpp
  core/samples/ecs/general/main.cpp
  core/src/cubos/core/ecs/blueprint.cpp
  core/src/cubos/core/ecs/component/registry.cpp
  core/src/cubos/core/ecs/world.cpp
  core/tests/ecs/blueprint.cpp
  core/tests/ecs/registry.cpp
Owners: @RiscadoA

Deploy preview for PR 854 🛫
  docs-preview/pr-854/annotated.html
  docs-preview/pr-854/classcubos_1_1core_1_1data_1_1JSONSerializer.html
  docs-preview/pr-854/classcubos_1_1core_1_1data_1_1Serializer.html
  docs-preview/pr-854/classcubos_1_1core_1_1ecs_1_1ComponentManager.html
  docs-preview/pr-854/core_2include_2cubos_2core_2data_2ser_2json_8hpp.html
  docs-preview/pr-854/dir_38aac728ad33877355e223e23ac4ab7a.html
  docs-preview/pr-854/examples-core-data-ser-json.html
  docs-preview/pr-854/examples-core-data-ser.html
  docs-preview/pr-854/examples-engine-scene.html
  docs-preview/pr-854/files.html
  docs-preview/pr-854/group__core-data-ser.html
  docs-preview/pr-854/pages.html
  docs-preview/pr-854/searchdata-v2.js
Owners: @RiscadoA

refactor(ecs): remove global Registry
  core/CMakeLists.txt
  core/include/cubos/core/ecs/component/registry.hpp
  core/samples/ecs/general/main.cpp
  core/src/cubos/core/ecs/blueprint.cpp
  core/src/cubos/core/ecs/component/registry.cpp
  core/src/cubos/core/ecs/world.cpp
  core/tests/ecs/blueprint.cpp
  core/tests/ecs/registry.cpp
Owners: @RiscadoA

build: reenable unknown attribute warnings
  CMakeLists.txt
Owners: @RiscadoA

chore: remove quadrados-gen
  cmake/QuadradosGenerate.cmake
  core/tests/CMakeLists.txt
  engine/CMakeLists.txt
  engine/samples/CMakeLists.txt
  tools/CMakeLists.txt
  tools/quadrados-gen/CMakeLists.txt
  tools/quadrados-gen/src/main.cpp
  tools/tesseratos/samples/CMakeLists.txt
Owners: @RiscadoA, @DiogoMendonc-a, @roby2014

chore: remove quadrados-gen attributes
  core/tests/ecs/utils.hpp
  docs/pages/2_features/ecs.md
  engine/include/cubos/engine/collisions/collider.hpp
  engine/include/cubos/engine/collisions/shapes/box.hpp
  engine/include/cubos/engine/collisions/shapes/capsule.hpp
  engine/include/cubos/engine/physics/components/accumulated_correction.hpp
  engine/include/cubos/engine/physics/components/physics_mass.hpp
  engine/include/cubos/engine/physics/components/physics_velocity.hpp
  engine/include/cubos/engine/physics/components/previous_position.hpp
  engine/include/cubos/engine/renderer/camera.hpp
  engine/include/cubos/engine/renderer/directional_light.hpp
  engine/include/cubos/engine/renderer/plugin.hpp
  engine/include/cubos/engine/renderer/point_light.hpp
  engine/include/cubos/engine/renderer/spot_light.hpp
  engine/include/cubos/engine/transform/local_to_world.hpp
  engine/include/cubos/engine/transform/position.hpp
  engine/include/cubos/engine/transform/rotation.hpp
  engine/include/cubos/engine/transform/scale.hpp
  engine/samples/hello-cubos/components.hpp
  engine/samples/scene/components.hpp
Owners: @RiscadoA, @fallenatlas

deploy: 9f3a3f990ae85b7309af0d50c7f9a40010f76210
  docs/annotated.html
  docs/classcubos_1_1core_1_1ecs_1_1Registry.html
  docs/dir_649da4752b4164834ba68d7c258c03a8.html
  docs/examples-engine-hello-cubos.html
  docs/features-ecs.html
  docs/files.html
  docs/group__core-ecs-component.html
  docs/namespacecubos_1_1core_1_1ecs.html
  docs/registry_8hpp.html
  docs/searchdata-v2.js
Owners: @RiscadoA

Deploy preview for PR 783 🛫
  docs-preview/pr-783/classtesseratos_1_1Toolbox.html
  docs-preview/pr-783/searchdata-v2.js
Owners: @RiscadoA

feat(tools): handle nullable trait on data inspector
  engine/samples/imgui/main.cpp
  engine/src/cubos/engine/imgui/data_inspector.cpp
Owners: @RiscadoA

docs(imgui): add more data examples
  engine/samples/imgui/main.cpp
Owners: @RiscadoA

Deploy preview for PR 845 🛫
  docs-preview/pr-845/annotated.html
  docs-preview/pr-845/classcubos_1_1core_1_1ecs_1_1ComponentManager.html
  docs-preview/pr-845/classcubos_1_1core_1_1ecs_1_1Registry.html
  docs-preview/pr-845/classcubos_1_1core_1_1ecs_1_1World.html
  docs-preview/pr-845/classcubos_1_1core_1_1reflection_1_1TypeRegistry.html
  docs-preview/pr-845/classcubos_1_1engine_1_1SceneBridge.html
  docs-preview/pr-845/dir_649da4752b4164834ba68d7c258c03a8.html
  docs-preview/pr-845/dir_f4414684a5bb1e1b8e9ba236e8bdb594.html
  docs-preview/pr-845/examples-engine-hello-cubos.html
  docs-preview/pr-845/features-ecs.html
  docs-preview/pr-845/files.html
  docs-preview/pr-845/group__core-ecs-component.html
  docs-preview/pr-845/group__core-reflection.html
  docs-preview/pr-845/namespacecubos_1_1core_1_1ecs.html
  docs-preview/pr-845/namespacecubos_1_1core_1_1reflection.html
  docs-preview/pr-845/searchdata-v2.js
  docs-preview/pr-845/type__registry_8hpp.html
Owners: @RiscadoA

feat(tools): handle nullable trait on data inspector
  engine/samples/imgui/main.cpp
  engine/src/cubos/engine/imgui/data_inspector.cpp
Owners: @RiscadoA

docs(imgui): add more data examples
  engine/samples/imgui/main.cpp
Owners: @RiscadoA

fix(engine): add toolbox requested changes
  tools/tesseratos/include/tesseratos/asset_explorer/plugin.hpp
  tools/tesseratos/include/tesseratos/debug_camera/plugin.hpp
  tools/tesseratos/include/tesseratos/entity_inspector/plugin.hpp
  tools/tesseratos/include/tesseratos/entity_selector/plugin.hpp
  tools/tesseratos/include/tesseratos/scene_editor/plugin.hpp
  tools/tesseratos/include/tesseratos/settings_inspector/plugin.hpp
  tools/tesseratos/include/tesseratos/toolbox/plugin.hpp
  tools/tesseratos/include/tesseratos/voxel_palette_editor/plugin.hpp
  tools/tesseratos/include/tesseratos/world_inspector/plugin.hpp
  tools/tesseratos/src/tesseratos/entity_inspector/plugin.cpp
  tools/tesseratos/src/tesseratos/toolbox/plugin.cpp
Owners: @DiogoMendonc-a, @roby2014

feat(engine): add toolbox plugin
  tools/tesseratos/include/tesseratos/toolbox/plugin.hpp
  tools/tesseratos/src/tesseratos/asset_explorer/plugin.cpp
  tools/tesseratos/src/tesseratos/debug_camera/plugin.cpp
  tools/tesseratos/src/tesseratos/entity_inspector/plugin.cpp
  tools/tesseratos/src/tesseratos/scene_editor/plugin.cpp
  tools/tesseratos/src/tesseratos/settings_inspector/plugin.cpp
  tools/tesseratos/src/tesseratos/toolbox/plugin.cpp
  tools/tesseratos/src/tesseratos/voxel_palette_editor/plugin.cpp
  tools/tesseratos/src/tesseratos/world_inspector/plugin.cpp
Owners: @DiogoMendonc-a, @roby2014

fix(engine): resolve toolbox styling issues
  tools/tesseratos/include/tesseratos/toolbox/plugin.hpp
  tools/tesseratos/src/tesseratos/toolbox/plugin.cpp
Owners: @DiogoMendonc-a, @roby2014

docs(engine): modify toolbox comments
  tools/tesseratos/CMakeLists.txt
  tools/tesseratos/include/tesseratos/toolbox/plugin.hpp
  tools/tesseratos/src/tesseratos/toolbox/plugin.cpp
Owners: @DiogoMendonc-a, @roby2014

Deploy preview for PR 783 🛫
  docs-preview/pr-783/examples-engine-imgui.html
Owners: @RiscadoA

docs(engine): modify toolbox comments
  tools/tesseratos/CMakeLists.txt
  tools/tesseratos/include/tesseratos/toolbox/plugin.hpp
  tools/tesseratos/src/tesseratos/toolbox/plugin.cpp
Owners: @DiogoMendonc-a, @roby2014

feat(engine): add toolbox plugin
  tools/tesseratos/include/tesseratos/toolbox/plugin.hpp
  tools/tesseratos/src/tesseratos/asset_explorer/plugin.cpp
  tools/tesseratos/src/tesseratos/debug_camera/plugin.cpp
  tools/tesseratos/src/tesseratos/entity_inspector/plugin.cpp
  tools/tesseratos/src/tesseratos/scene_editor/plugin.cpp
  tools/tesseratos/src/tesseratos/settings_inspector/plugin.cpp
  tools/tesseratos/src/tesseratos/toolbox/plugin.cpp
  tools/tesseratos/src/tesseratos/voxel_palette_editor/plugin.cpp
  tools/tesseratos/src/tesseratos/world_inspector/plugin.cpp
Owners: @DiogoMendonc-a, @roby2014

fix(engine): add toolbox requested changes
  tools/tesseratos/include/tesseratos/asset_explorer/plugin.hpp
  tools/tesseratos/include/tesseratos/debug_camera/plugin.hpp
  tools/tesseratos/include/tesseratos/entity_inspector/plugin.hpp
  tools/tesseratos/include/tesseratos/entity_selector/plugin.hpp
  tools/tesseratos/include/tesseratos/scene_editor/plugin.hpp
  tools/tesseratos/include/tesseratos/settings_inspector/plugin.hpp
  tools/tesseratos/include/tesseratos/toolbox/plugin.hpp
  tools/tesseratos/include/tesseratos/voxel_palette_editor/plugin.hpp
  tools/tesseratos/include/tesseratos/world_inspector/plugin.hpp
  tools/tesseratos/src/tesseratos/entity_inspector/plugin.cpp
  tools/tesseratos/src/tesseratos/toolbox/plugin.cpp
Owners: @DiogoMendonc-a, @roby2014

fix(engine): resolve toolbox styling issues
  tools/tesseratos/include/tesseratos/toolbox/plugin.hpp
  tools/tesseratos/src/tesseratos/toolbox/plugin.cpp
Owners: @DiogoMendonc-a, @roby2014

deploy: 1d37379b9a379c3f50a953acdbc9134dc482c4ad
  docs/annotated.html
  docs/classtesseratos_1_1Toolbox.html
  docs/dir_2a25e2bce65ce0f842dba5b7b3a0e22d.html
  docs/dir_c26f946019c5d6937d16d4e3329f697e.html
  docs/examples-engine-imgui.html
  docs/files.html
  docs/group__tesseratos-debug-camera-plugin.html
  docs/group__tesseratos-entity-inspector-plugin.html
  docs/group__tesseratos-entity-selector-plugin.html
  docs/group__tesseratos-scene-editor-plugin.html
  docs/group__tesseratos-settings-inspector-plugin.html
  docs/group__tesseratos-toolbox-plugin.html
  docs/group__tesseratos-voxel-palette-editor-plugin.html
  docs/group__tesseratos-world-inspector-plugin.html
  docs/group__tesseratos.html
  docs/modules.html
  docs/namespacetesseratos.html
  docs/searchdata-v2.js
  docs/tools_2tesseratos_2include_2tesseratos_2toolbox_2plugin_8hpp.html
Owners: @RiscadoA

style: fix clang-tidy issues
  core/src/cubos/core/io/glfw_window.cpp
  engine/src/cubos/engine/imgui/imgui.cpp
Owners: @RiscadoA

feat(imgui): add DPI scaling
  core/include/cubos/core/io/window.hpp
  core/src/cubos/core/io/glfw_window.cpp
  core/src/cubos/core/io/glfw_window.hpp
  engine/src/cubos/engine/imgui/imgui.cpp
Owners: @RiscadoA

.github/CODEOWNERS:

* @RiscadoA

**/engine/physics/ @fallenatlas
**/engine/gizmos/ @DiogoMendonc-a

**/tesseratos/ @DiogoMendonc-a @roby2014
