Repository GameDevTecnico/cubos, changes with the owners that .github/CODEOWNERS names for each.
All owners: @RiscadoA, @fallenatlas, @DiogoMendonc-a, @roby2014

.github/CODEOWNERS:

* @RiscadoA

**/engine/physics/ @fallenatlas
**/engine/gizmos/ @DiogoMendonc-a

**/tesseratos/ @DiogoMendonc-a @roby2014

Deploy preview for PR 822 🛫
  docs-preview/pr-822/accessors_8hpp.html
  docs-preview/pr-822/annotated.html
  docs-preview/pr-822/classcubos_1_1core_1_1ecs_1_1OptRead.html
  docs-preview/pr-822/classcubos_1_1core_1_1ecs_1_1OptWrite.html
  docs-preview/pr-822/classcubos_1_1core_1_1ecs_1_1Read.html
  docs-preview/pr-822/classcubos_1_1core_1_1ecs_1_1Write.html
  docs-preview/pr-822/dir_1849b6590c20a7c40f18c0337f505edf.html
  docs-preview/pr-822/examples-engine-hello-cubos.html
  docs-preview/pr-822/files.html
  docs-preview/pr-822/group__core-ecs-system.html
  docs-preview/pr-822/group__core-ecs.html
  docs-preview/pr-822/namespacecubos_1_1core_1_1ecs.html
  docs-preview/pr-822/searchdata-v2.js
  docs-preview/pr-822/world_8hpp.html
Owners: @RiscadoA

feat(tools): add transform gizmo
  core/src/cubos/core/ecs/system/system.cpp
  engine/include/cubos/engine/gizmos/gizmos.hpp
  engine/src/cubos/engine/gizmos/gizmos.cpp
  engine/src/cubos/engine/gizmos/plugin.cpp
  tools/tesseratos/CMakeLists.txt
  tools/tesseratos/include/tesseratos/transform_gizmo/plugin.hpp
  tools/tesseratos/samples/main/assets/sub.cubos
  tools/tesseratos/samples/main/main.cpp
  tools/tesseratos/src/tesseratos/plugin.cpp
  tools/tesseratos/src/tesseratos/transform_gizmo/plugin.cpp
Owners: @RiscadoA, @DiogoMendonc-a, @roby2014

fix(gizmos): add depth buffer to world gizmos
  engine/src/cubos/engine/gizmos/plugin.cpp
  engine/src/cubos/engine/gizmos/renderer.cpp
  engine/src/cubos/engine/gizmos/renderer.hpp
  tools/tesseratos/src/tesseratos/transform_gizmo/plugin.cpp
Owners: @DiogoMendonc-a, @roby2014

feat(input): add mouse getters to input plugin
  engine/CMakeLists.txt
  engine/include/cubos/engine/input/input.hpp
  engine/src/cubos/engine/input/input.cpp
  engine/src/cubos/engine/input/plugin.cpp
  tools/tesseratos/src/tesseratos/transform_gizmo/plugin.cpp
Owners: @RiscadoA, @DiogoMendonc-a, @roby2014

Deploy preview for PR 876 🛫
  docs-preview/pr-876/classcubos_1_1engine_1_1Input.html
  docs-preview/pr-876/searchdata-v2.js
Owners: @RiscadoA

fix(tools): remove direct world access on transform gizmo
  core/src/cubos/core/ecs/system/system.cpp
  tools/tesseratos/src/tesseratos/transform_gizmo/plugin.cpp
Owners: @RiscadoA, @DiogoMendonc-a, @roby2014

fix(gizmos): store stencil states on renderer
  engine/src/cubos/engine/gizmos/plugin.cpp
  engine/src/cubos/engine/gizmos/renderer.cpp
  engine/src/cubos/engine/gizmos/renderer.hpp
  tools/tesseratos/src/tesseratos/transform_gizmo/plugin.cpp
Owners: @DiogoMendonc-a, @roby2014

fix(tools): remove direct world access on transform gizmo
  core/src/cubos/core/ecs/system/system.cpp
  tools/tesseratos/src/tesseratos/transform_gizmo/plugin.cpp
Owners: @RiscadoA, @DiogoMendonc-a, @roby2014

feat(input): add mouse getters to input plugin
  engine/CMakeLists.txt
  engine/include/cubos/engine/input/input.hpp
  engine/src/cubos/engine/input/input.cpp
  engine/src/cubos/engine/input/plugin.cpp
  tools/tesseratos/src/tesseratos/transform_gizmo/plugin.cpp
Owners: @RiscadoA, @DiogoMendonc-a, @roby2014

feat(tools): add transform gizmo
  core/src/cubos/core/ecs/system/system.cpp
  engine/include/cubos/engine/gizmos/gizmos.hpp
  engine/src/cubos/engine/gizmos/gizmos.cpp
  engine/src/cubos/engine/gizmos/plugin.cpp
  tools/tesseratos/CMakeLists.txt
  tools/tesseratos/include/tesseratos/transform_gizmo/plugin.hpp
  tools/tesseratos/samples/main/assets/sub.cubos
  tools/tesseratos/samples/main/main.cpp
  tools/tesseratos/src/tesseratos/plugin.cpp
  tools/tesseratos/src/tesseratos/transform_gizmo/plugin.cpp
Owners: @RiscadoA, @DiogoMendonc-a, @roby2014

fix(gizmos): store stencil states on renderer
  engine/src/cubos/engine/gizmos/plugin.cpp
  engine/src/cubos/engine/gizmos/renderer.cpp
  engine/src/cubos/engine/gizmos/renderer.hpp
  tools/tesseratos/src/tesseratos/transform_gizmo/plugin.cpp
Owners: @DiogoMendonc-a, @roby2014

fix(gizmos): add depth buffer to world gizmos
  engine/src/cubos/engine/gizmos/plugin.cpp
  engine/src/cubos/engine/gizmos/renderer.cpp
  engine/src/cubos/engine/gizmos/renderer.hpp
  tools/tesseratos/src/tesseratos/transform_gizmo/plugin.cpp
Owners: @DiogoMendonc-a, @roby2014

deploy: 3fbb6ebaae74405c645c1d9039c9bfd04b33efba
  docs/classcubos_1_1engine_1_1Gizmos.html
  docs/classcubos_1_1engine_1_1Input.html
  docs/dir_2a25e2bce65ce0f842dba5b7b3a0e22d.html
  docs/dir_a1cc7ffab82768b4f8702a03c85b938c.html
  docs/examples-engine-scene.html
  docs/files.html
  docs/group__tesseratos-transform-gizmo-plugin.html
  docs/modules.html
  docs/namespacetesseratos.html
  docs/searchdata-v2.js
  docs/tools_2tesseratos_2include_2tesseratos_2transform__gizmo_2plugin_8hpp.html
Owners: @RiscadoA

chore: update flake
  flake.lock
  flake.nix
Owners: @RiscadoA

Deploy preview for PR 822 🛫
  docs-preview/pr-822/classcubos_1_1engine_1_1Gizmos.html
  docs-preview/pr-822/classcubos_1_1engine_1_1Input.html
  docs-preview/pr-822/dir_2a25e2bce65ce0f842dba5b7b3a0e22d.html
  docs-preview/pr-822/dir_a1cc7ffab82768b4f8702a03c85b938c.html
  docs-preview/pr-822/examples-engine-scene.html
  docs-preview/pr-822/files.html
  docs-preview/pr-822/group__tesseratos-transform-gizmo-plugin.html
  docs-preview/pr-822/modules.html
  docs-preview/pr-822/namespacetesseratos.html
  docs-preview/pr-822/searchdata-v2.js
  docs-preview/pr-822/tools_2tesseratos_2include_2tesseratos_2transform__gizmo_2plugin_8hpp.html
Owners: @RiscadoA

fix(ci): bump libc from 3.5 to 3.6
  .github/workflows/clang-tidy-lint.yml
Owners: @RiscadoA

chore: update flake
  flake.lock
  flake.nix
Owners: @RiscadoA

fix(ci): bump libc from 3.5 to 3.6
  .github/workflows/clang-tidy-lint.yml
Owners: @RiscadoA

feat(ecs): add QueryTerm
  core/CMakeLists.txt
  core/include/cubos/core/ecs/query/term.hpp
  core/src/cubos/core/ecs/query/term.cpp
  core/tests/CMakeLists.txt
  core/tests/ecs/query/term.cpp
Owners: @RiscadoA

feat(ecs): add QueryTerm::resolve
  core/include/cubos/core/ecs/query/term.hpp
  core/src/cubos/core/ecs/query/term.cpp
  core/tests/ecs/query/term.cpp
Owners: @RiscadoA

fix(ecs): add missing pragma once to query/data.hpp
  core/include/cubos/core/ecs/query/data.hpp
Owners: @RiscadoA

feat(ecs): add QueryTerm::compare
  core/include/cubos/core/ecs/query/term.hpp
  core/src/cubos/core/ecs/query/term.cpp
  core/tests/ecs/query/term.cpp
Owners: @RiscadoA

feat(ecs): add QueryFilter
  core/CMakeLists.txt
  core/include/cubos/core/ecs/query/filter.hpp
  core/src/cubos/core/ecs/query/filter.cpp
  core/tests/CMakeLists.txt
  core/tests/ecs/query/filter.cpp
Owners: @RiscadoA

feat(ecs): output matches through QueryFilter it
  core/include/cubos/core/ecs/query/filter.hpp
  core/src/cubos/core/ecs/query/filter.cpp
  core/tests/ecs/query/filter.cpp
Owners: @RiscadoA

Deploy preview for PR 883 🛫
  docs-preview/pr-883/annotated.html
  docs-preview/pr-883/filter_8hpp.html
  docs-preview/pr-883/searchdata-v2.js
  docs-preview/pr-883/structcubos_1_1core_1_1ecs_1_1QueryFilter_1_1View_1_1Iterator_1_1Match.html
  docs-preview/pr-883/structcubos_1_1core_1_1ecs_1_1QueryTerm.html
  docs-preview/pr-883/structcubos_1_1core_1_1ecs_1_1QueryTerm_1_1Component.html
  docs-preview/pr-883/structcubos_1_1core_1_1ecs_1_1QueryTerm_1_1Entity.html
  docs-preview/pr-883/structcubos_1_1core_1_1gl_1_1VertexElement.html
  docs-preview/pr-883/term_8hpp.html
Owners: @RiscadoA

style(ecs): follow clang-tidy suggestions
  core/include/cubos/core/ecs/query/filter.hpp
  core/include/cubos/core/ecs/query/term.hpp
  core/src/cubos/core/ecs/query/filter.cpp
  core/src/cubos/core/ecs/query/term.cpp
  core/tests/ecs/query/filter.cpp
  core/tests/ecs/query/term.cpp
Owners: @RiscadoA

feat(ecs): change QueryData to use QueryFilter
  core/CMakeLists.txt
  core/include/cubos/core/ecs/query/data.hpp
  core/include/cubos/core/ecs/query/fetcher.hpp
  core/include/cubos/core/ecs/query/filter.hpp
  core/include/cubos/core/ecs/query/properties.hpp
  core/include/cubos/core/ecs/system/query.hpp
  core/include/cubos/core/ecs/system/system.hpp
  core/src/cubos/core/ecs/query/filter.cpp
  core/src/cubos/core/ecs/query/properties.cpp
  core/src/cubos/core/ecs/system/system.cpp
  core/tests/ecs/query.cpp
  core/tests/ecs/query/data.cpp
  core/tests/ecs/system.cpp
  core/tests/reflection/type_registry.cpp
Owners: @RiscadoA

Deploy preview for PR 883 🛫
  docs-preview/pr-883/annotated.html
  docs-preview/pr-883/classcubos_1_1core_1_1ecs_1_1Query.html
  docs-preview/pr-883/classcubos_1_1core_1_1ecs_1_1QueryData.html
  docs-preview/pr-883/classcubos_1_1core_1_1ecs_1_1QueryFetcher.html
  docs-preview/pr-883/classcubos_1_1core_1_1ecs_1_1QueryFilter.html
  docs-preview/pr-883/dir_26a5878ebb5e9988b6ffa6f152301254.html
  docs-preview/pr-883/files.html
  docs-preview/pr-883/group__core-ecs-query.html
  docs-preview/pr-883/namespacecubos_1_1core_1_1ecs.html
  docs-preview/pr-883/properties_8hpp.html
  docs-preview/pr-883/searchdata-v2.js
  docs-preview/pr-883/structcubos_1_1core_1_1ecs_1_1QueryFilter_1_1View_1_1Iterator_1_1Match.html
  docs-preview/pr-883/structcubos_1_1core_1_1ecs_1_1QueryProperties.html
  docs-preview/pr-883/structcubos_1_1core_1_1ecs_1_1SystemInfo.html
Owners: @RiscadoA

style: follow clang-tidy suggestions
  core/include/cubos/core/ecs/query/data.hpp
  core/include/cubos/core/ecs/query/fetcher.hpp
  core/include/cubos/core/ecs/system/query.hpp
Owners: @RiscadoA

Deploy preview for PR 883 🛫
  docs-preview/pr-883/classcubos_1_1core_1_1ecs_1_1QueryData.html
  docs-preview/pr-883/searchdata-v2.js
Owners: @RiscadoA

feat(ecs): add QueryTerm::compare
  core/include/cubos/core/ecs/query/term.hpp
  core/src/cubos/core/ecs/query/term.cpp
  core/tests/ecs/query/term.cpp
Owners: @RiscadoA

feat(ecs): add QueryFilter
  core/CMakeLists.txt
  core/include/cubos/core/ecs/query/filter.hpp
  core/src/cubos/core/ecs/query/filter.cpp
  core/tests/CMakeLists.txt
  core/tests/ecs/query/filter.cpp
Owners: @RiscadoA

feat(ecs): add QueryTerm::resolve
  core/include/cubos/core/ecs/query/term.hpp
  core/src/cubos/core/ecs/query/term.cpp
  core/tests/ecs/query/term.cpp
Owners: @RiscadoA

feat(ecs): change QueryData to use QueryFilter
  core/CMakeLists.txt
  core/include/cubos/core/ecs/query/data.hpp
  core/include/cubos/core/ecs/query/fetcher.hpp
  core/include/cubos/core/ecs/query/filter.hpp
  core/include/cubos/core/ecs/query/properties.hpp
  core/include/cubos/core/ecs/system/query.hpp
  core/include/cubos/core/ecs/system/system.hpp
  core/src/cubos/core/ecs/query/filter.cpp
  core/src/cubos/core/ecs/query/properties.cpp
  core/src/cubos/core/ecs/system/system.cpp
  core/tests/ecs/query.cpp
  core/tests/ecs/query/data.cpp
  core/tests/ecs/system.cpp
  core/tests/reflection/type_registry.cpp
Owners: @RiscadoA

fix(ecs): add missing pragma once to query/data.hpp
  core/include/cubos/core/ecs/query/data.hpp
Owners: @RiscadoA

style(ecs): follow clang-tidy suggestions
  core/include/cubos/core/ecs/query/filter.hpp
  core/include/cubos/core/ecs/query/term.hpp
  core/src/cubos/core/ecs/query/filter.cpp
  core/src/cubos/core/ecs/query/term.cpp
  core/tests/ecs/query/filter.cpp
  core/tests/ecs/query/term.cpp
Owners: @RiscadoA

feat(ecs): add QueryTerm
  core/CMakeLists.txt
  core/include/cubos/core/ecs/query/term.hpp
  core/src/cubos/core/ecs/query/term.cpp
  core/tests/CMakeLists.txt
  core/tests/ecs/query/term.cpp
Owners: @RiscadoA

style: follow clang-tidy suggestions
  core/include/cubos/core/ecs/query/data.hpp
  core/include/cubos/core/ecs/query/fetcher.hpp
  core/include/cubos/core/ecs/system/query.hpp
Owners: @RiscadoA

feat(ecs): output matches through QueryFilter it
  core/include/cubos/core/ecs/query/filter.hpp
  core/src/cubos/core/ecs/query/filter.cpp
  core/tests/ecs/query/filter.cpp
Owners: @RiscadoA

deploy: f3ee8fda9374785cf0d2d52623064b8885293799
  docs/annotated.html
  docs/classcubos_1_1core_1_1ecs_1_1QueryData.html
  docs/classcubos_1_1core_1_1ecs_1_1QueryFetcher.html
  docs/classcubos_1_1core_1_1ecs_1_1QueryFilter.html
  docs/files.html
  docs/filter_8hpp.html
  docs/group__core-ecs-query.html
  docs/namespacecubos_1_1core_1_1ecs.html
  docs/searchdata-v2.js
  docs/structcubos_1_1core_1_1ecs_1_1QueryFilter_1_1View_1_1Iterator_1_1Match.html
  docs/structcubos_1_1core_1_1ecs_1_1QueryTerm.html
  docs/structcubos_1_1core_1_1ecs_1_1QueryTerm_1_1Component.html
  docs/structcubos_1_1core_1_1ecs_1_1QueryTerm_1_1Entity.html
  docs/structcubos_1_1core_1_1ecs_1_1SystemInfo.html
  docs/structcubos_1_1core_1_1gl_1_1BlendStateDesc.html
  docs/structcubos_1_1core_1_1gl_1_1VertexElement.html
  docs/term_8hpp.html
Owners: @RiscadoA
