Repository GameDevTecnico/cubos, changes with the owners that .github/CODEOWNERS names for each.
All owners: @RiscadoA, @fallenatlas, @DiogoMendonc-a, @roby2014

.github/CODEOWNERS:

* @RiscadoA

**/engine/physics/ @fallenatlas
**/engine/gizmos/ @DiogoMendonc-a

**/tesseratos/ @DiogoMendonc-a @roby2014

feat(reflection): impl nullable trait
  core/CMakeLists.txt
  core/include/cubos/core/reflection/traits/nullable.hpp
  core/src/cubos/core/reflection/traits/nullable.cpp
Owners: @RiscadoA

deploy: 285026188acbd180d57de87db2a3fc71e0ddf9c7
  docs/annotated.html
  docs/classcubos_1_1core_1_1reflection_1_1ArrayTrait.html
  docs/classcubos_1_1core_1_1reflection_1_1DictionaryTrait.html
  docs/classcubos_1_1core_1_1reflection_1_1NullableTrait.html
  docs/examples-core-reflection-traits-nullable.html
  docs/files.html
  docs/group__core-reflection.html
  docs/namespacecubos_1_1core_1_1reflection.html
  docs/nullable_8hpp.html
  docs/pages.html
  docs/searchdata-v2.js
Owners: @RiscadoA

feat(ci): conventional commits action
  .github/workflows/conventional-commits.yml
Owners: @RiscadoA

feat(ci): conventional commits action
  .github/workflows/conventional-commits.yml
Owners: @RiscadoA

deploy: c8f5985409f6e66d49b05637ae2fb89e17ae3eb9
  docs/searchdata-v2.js
Owners: @RiscadoA

refactor(engine): replace typeid by reflection on asset bridges
  engine/include/cubos/engine/assets/assets.hpp
  engine/include/cubos/engine/assets/bridge.hpp
  engine/include/cubos/engine/assets/bridges/binary.hpp
  engine/include/cubos/engine/assets/bridges/file.hpp
  engine/include/cubos/engine/assets/bridges/json.hpp
  engine/include/cubos/engine/scene/bridge.hpp
  engine/src/cubos/engine/assets/assets.cpp
Owners: @RiscadoA

feat(scene): impl reflection for Scene
  engine/CMakeLists.txt
  engine/include/cubos/engine/scene/scene.hpp
  engine/src/cubos/engine/scene/scene.cpp
Owners: @RiscadoA

docs(tesseratos): comparing asset types
  tools/tesseratos/src/tesseratos/scene_editor/plugin.cpp
  tools/tesseratos/src/tesseratos/voxel_palette_editor/plugin.cpp
Owners: @DiogoMendonc-a, @roby2014

feat(input): impl reflection for InputBindings
  engine/include/cubos/engine/input/bindings.hpp
  engine/src/cubos/engine/input/bindings.cpp
Owners: @RiscadoA

docs(assets): use reflection system
  engine/samples/assets/bridge/main.cpp
  engine/samples/assets/json/main.cpp
  engine/samples/assets/saving/main.cpp
Owners: @RiscadoA

Deploy preview for PR 795 🛫
  docs-preview/pr-795/annotated.html
  docs-preview/pr-795/classcubos_1_1core_1_1reflection_1_1ArrayTrait.html
  docs-preview/pr-795/classcubos_1_1core_1_1reflection_1_1DictionaryTrait.html
  docs-preview/pr-795/classcubos_1_1core_1_1reflection_1_1NullableTrait.html
  docs-preview/pr-795/dir_85f1b5bc6fb8e602e74068211760bfae.html
  docs-preview/pr-795/examples-core-reflection-traits-nullable.html
  docs-preview/pr-795/files.html
  docs-preview/pr-795/group__core-reflection.html
  docs-preview/pr-795/group__imgui-plugin.html
  docs-preview/pr-795/img2.png
  docs-preview/pr-795/namespacecubos_1_1core_1_1reflection.html
  docs-preview/pr-795/namespacecubos_1_1engine.html
  docs-preview/pr-795/nullable_8hpp.html
  docs-preview/pr-795/pages.html
  docs-preview/pr-795/searchdata-v2.js
Owners: @RiscadoA

refactor(engine): replace typeid by reflection on asset bridges
  engine/include/cubos/engine/assets/assets.hpp
  engine/include/cubos/engine/assets/bridge.hpp
  engine/include/cubos/engine/assets/bridges/binary.hpp
  engine/include/cubos/engine/assets/bridges/file.hpp
  engine/include/cubos/engine/assets/bridges/json.hpp
  engine/include/cubos/engine/scene/bridge.hpp
  engine/src/cubos/engine/assets/assets.cpp
Owners: @RiscadoA

docs(assets): use reflection system
  engine/samples/assets/bridge/main.cpp
  engine/samples/assets/json/main.cpp
  engine/samples/assets/saving/main.cpp
Owners: @RiscadoA

feat(input): impl reflection for InputBindings
  engine/include/cubos/engine/input/bindings.hpp
  engine/src/cubos/engine/input/bindings.cpp
Owners: @RiscadoA

feat(scene): impl reflection for Scene
  engine/CMakeLists.txt
  engine/include/cubos/engine/scene/scene.hpp
  engine/src/cubos/engine/scene/scene.cpp
Owners: @RiscadoA

docs(tesseratos): comparing asset types
  tools/tesseratos/src/tesseratos/scene_editor/plugin.cpp
  tools/tesseratos/src/tesseratos/voxel_palette_editor/plugin.cpp
Owners: @DiogoMendonc-a, @roby2014

Deploy preview for PR 821 🛫
  docs-preview/pr-821/classcubos_1_1engine_1_1AssetBridge.html
  docs-preview/pr-821/classcubos_1_1engine_1_1Assets.html
  docs-preview/pr-821/classcubos_1_1engine_1_1FileBridge.html
  docs-preview/pr-821/examples-engine-assets-bridge.html
  docs-preview/pr-821/examples-engine-assets-json.html
  docs-preview/pr-821/examples-engine-assets-saving.html
  docs-preview/pr-821/namespacecubos_1_1engine.html
  docs-preview/pr-821/searchdata-v2.js
Owners: @RiscadoA

Deploy preview for PR 821 🛫
  docs-preview/pr-821/examples-engine-events.html
  docs-preview/pr-821/examples-engine-hello-cubos.html
  docs-preview/pr-821/searchdata-v2.js
Owners: @RiscadoA

Deploy preview for PR 805 🛫
  docs-preview/pr-805/annotated.html
  docs-preview/pr-805/classcubos_1_1core_1_1memory_1_1AnyValue.html
  docs-preview/pr-805/classcubos_1_1core_1_1reflection_1_1ArrayTrait.html
  docs-preview/pr-805/classcubos_1_1core_1_1reflection_1_1DictionaryTrait.html
  docs-preview/pr-805/classcubos_1_1core_1_1reflection_1_1NullableTrait.html
  docs-preview/pr-805/classcubos_1_1engine_1_1DataInspector.html
  docs-preview/pr-805/data__inspector_8hpp.html
  docs-preview/pr-805/dir_459dda10180a6131eb62bc74e02d0b6e.html
  docs-preview/pr-805/dir_85f1b5bc6fb8e602e74068211760bfae.html
  docs-preview/pr-805/examples-core-reflection-traits-nullable.html
  docs-preview/pr-805/examples-engine-imgui.html
  docs-preview/pr-805/examples-engine.html
  docs-preview/pr-805/files.html
  docs-preview/pr-805/group__core-reflection.html
  docs-preview/pr-805/group__imgui-plugin.html
  docs-preview/pr-805/group__input-plugin.html
  docs-preview/pr-805/group__physics-gravity-plugin.html
  docs-preview/pr-805/group__physics-plugin.html
  docs-preview/pr-805/group__renderer-plugin.html
  docs-preview/pr-805/group__settings-plugin.html
  docs-preview/pr-805/group__tesseratos-asset-explorer-plugin.html
  docs-preview/pr-805/group__tesseratos-debug-camera-plugin.html
  docs-preview/pr-805/group__tesseratos-entity-inspector-plugin.html
  docs-preview/pr-805/group__tesseratos-entity-selector-plugin.html
  docs-preview/pr-805/group__tesseratos-scene-editor-plugin.html
  docs-preview/pr-805/group__tesseratos-settings-inspector-plugin.html
  docs-preview/pr-805/group__tesseratos-world-inspector-plugin.html
  docs-preview/pr-805/group__transform-plugin.html
  docs-preview/pr-805/group__voxels-plugin.html
  docs-preview/pr-805/group__window-plugin.html
  docs-preview/pr-805/img2.png
  docs-preview/pr-805/namespacecubos_1_1core_1_1reflection.html
  docs-preview/pr-805/namespacecubos_1_1engine.html
  docs-preview/pr-805/nullable_8hpp.html
  docs-preview/pr-805/pages.html
  docs-preview/pr-805/searchdata-v2.js
Owners: @RiscadoA

refactor(ecs): use Type name as component name
  core/include/cubos/core/ecs/component/manager.hpp
  core/include/cubos/core/ecs/component/registry.hpp
  core/include/cubos/core/ecs/world.hpp
  core/samples/ecs/general/main.cpp
  core/src/cubos/core/ecs/component/manager.cpp
  core/src/cubos/core/ecs/component/registry.cpp
  core/src/cubos/core/ecs/world.cpp
  core/tests/ecs/blueprint.cpp
  core/tests/ecs/registry.cpp
  core/tests/ecs/world.cpp
  engine/samples/scene/assets/main.cubos
  engine/samples/scene/assets/sub.cubos
  tools/quadrados-gen/src/main.cpp
Owners: @RiscadoA

refactor(scene): use reflection instead of old serde
  engine/src/cubos/engine/scene/bridge.cpp
Owners: @RiscadoA

refactor(scene): inherit from FileBridge
  engine/include/cubos/engine/scene/bridge.hpp
  engine/src/cubos/engine/scene/bridge.cpp
Owners: @RiscadoA

Deploy preview for PR 775 🛫
  docs-preview/pr-775/annotated.html
  docs-preview/pr-775/classcubos_1_1core_1_1reflection_1_1ArrayTrait.html
  docs-preview/pr-775/classcubos_1_1core_1_1reflection_1_1DictionaryTrait.html
  docs-preview/pr-775/classcubos_1_1core_1_1reflection_1_1NullableTrait.html
  docs-preview/pr-775/classcubos_1_1engine_1_1AssetBridge.html
  docs-preview/pr-775/classcubos_1_1engine_1_1Assets.html
  docs-preview/pr-775/classcubos_1_1engine_1_1FileBridge.html
  docs-preview/pr-775/dir_85f1b5bc6fb8e602e74068211760bfae.html
  docs-preview/pr-775/examples-core-reflection-traits-nullable.html
  docs-preview/pr-775/examples-engine-assets-bridge.html
  docs-preview/pr-775/examples-engine-assets-json.html
  docs-preview/pr-775/examples-engine-assets-saving.html
  docs-preview/pr-775/files.html
  docs-preview/pr-775/group__core-reflection.html
  docs-preview/pr-775/group__imgui-plugin.html
  docs-preview/pr-775/namespacecubos_1_1core_1_1reflection.html
  docs-preview/pr-775/namespacecubos_1_1engine.html
  docs-preview/pr-775/nullable_8hpp.html
  docs-preview/pr-775/pages.html
  docs-preview/pr-775/searchdata-v2.js
Owners: @RiscadoA

refactor(scene): use reflection instead of old serde
  engine/src/cubos/engine/scene/bridge.cpp
Owners: @RiscadoA

refactor(ecs): use Type name as component name
  core/include/cubos/core/ecs/component/manager.hpp
  core/include/cubos/core/ecs/component/registry.hpp
  core/include/cubos/core/ecs/world.hpp
  core/samples/ecs/general/main.cpp
  core/src/cubos/core/ecs/component/manager.cpp
  core/src/cubos/core/ecs/component/registry.cpp
  core/src/cubos/core/ecs/world.cpp
  core/tests/ecs/blueprint.cpp
  core/tests/ecs/registry.cpp
  core/tests/ecs/world.cpp
  engine/samples/scene/assets/main.cubos
  engine/samples/scene/assets/sub.cubos
  tools/quadrados-gen/src/main.cpp
Owners: @RiscadoA

refactor(scene): inherit from FileBridge
  engine/include/cubos/engine/scene/bridge.hpp
  engine/src/cubos/engine/scene/bridge.cpp
Owners: @RiscadoA

deploy: 41608fb77fea62657686b99096011fde9bfdc1ba
  docs/classcubos_1_1core_1_1ecs_1_1Registry.html
  docs/classcubos_1_1engine_1_1AssetBridge.html
  docs/classcubos_1_1engine_1_1Assets.html
  docs/classcubos_1_1engine_1_1FileBridge.html
  docs/classcubos_1_1engine_1_1SceneBridge.html
  docs/core_2include_2cubos_2core_2ecs_2component_2manager_8hpp.html
  docs/examples-engine-assets-bridge.html
  docs/examples-engine-assets-json.html
  docs/examples-engine-assets-saving.html
  docs/group__core-ecs-component.html
  docs/namespacecubos_1_1core_1_1ecs.html
  docs/registry_8hpp.html
  docs/searchdata-v2.js
Owners: @RiscadoA

Deploy preview for PR 821 🛫
  docs-preview/pr-821/classcubos_1_1core_1_1ecs_1_1Registry.html
  docs-preview/pr-821/classcubos_1_1engine_1_1AssetBridge.html
  docs-preview/pr-821/classcubos_1_1engine_1_1FileBridge.html
  docs-preview/pr-821/classcubos_1_1engine_1_1SceneBridge.html
  docs-preview/pr-821/core_2include_2cubos_2core_2ecs_2component_2manager_8hpp.html
  docs-preview/pr-821/group__core-ecs-component.html
  docs-preview/pr-821/namespacecubos_1_1core_1_1ecs.html
  docs-preview/pr-821/registry_8hpp.html
  docs-preview/pr-821/searchdata-v2.js
Owners: @RiscadoA

Deploy preview for PR 805 🛫
  docs-preview/pr-805/classcubos_1_1core_1_1ecs_1_1Registry.html
  docs-preview/pr-805/classcubos_1_1engine_1_1AssetBridge.html
  docs-preview/pr-805/classcubos_1_1engine_1_1FileBridge.html
  docs-preview/pr-805/classcubos_1_1engine_1_1SceneBridge.html
  docs-preview/pr-805/core_2include_2cubos_2core_2ecs_2component_2manager_8hpp.html
  docs-preview/pr-805/group__core-ecs-component.html
  docs-preview/pr-805/namespacecubos_1_1core_1_1ecs.html
  docs-preview/pr-805/registry_8hpp.html
  docs-preview/pr-805/searchdata-v2.js
Owners: @RiscadoA

refactor(engine): use core aliases from engine namespace
  engine/samples/assets/bridge/main.cpp
  engine/samples/assets/json/main.cpp
  engine/samples/assets/saving/main.cpp
  engine/samples/collisions/main.cpp
  engine/samples/events/main.cpp
  engine/samples/events/page.md
  engine/samples/gizmos/main.cpp
  engine/samples/hello-cubos/main.cpp
  engine/samples/hello-cubos/page.md
  engine/samples/imgui/main.cpp
  engine/samples/input/main.cpp
  engine/samples/physics/main.cpp
  engine/samples/renderer/main.cpp
  engine/samples/scene/main.cpp
  engine/samples/settings/main.cpp
  engine/samples/voxels/main.cpp
  engine/src/cubos/engine/assets/bridges/file.cpp
  engine/src/cubos/engine/assets/plugin.cpp
  engine/src/cubos/engine/collisions/broad_phase/plugin.cpp
  engine/src/cubos/engine/collisions/broad_phase/sweep_and_prune.cpp
  engine/src/cubos/engine/collisions/broad_phase/sweep_and_prune.hpp
  engine/src/cubos/engine/collisions/plugin.cpp
  engine/src/cubos/engine/gizmos/plugin.cpp
  engine/src/cubos/engine/imgui/plugin.cpp
  engine/src/cubos/engine/input/plugin.cpp
  engine/src/cubos/engine/physics/gravity.cpp
  engine/src/cubos/engine/physics/plugin.cpp
  engine/src/cubos/engine/renderer/plugin.cpp
  engine/src/cubos/engine/scene/plugin.cpp
  engine/src/cubos/engine/settings/plugin.cpp
  engine/src/cubos/engine/transform/plugin.cpp
  engine/src/cubos/engine/voxels/plugin.cpp
  engine/src/cubos/engine/window/plugin.cpp
Owners: @RiscadoA, @DiogoMendonc-a, @fallenatlas

feat(engine): impl core aliases
  engine/CMakeLists.txt
  engine/include/cubos/engine/cubos.hpp
  engine/include/cubos/engine/prelude.hpp
  engine/src/cubos/engine/prelude.cpp
Owners: @RiscadoA

refactor(engine): use core aliases from engine namespace
  engine/samples/assets/bridge/main.cpp
  engine/samples/assets/json/main.cpp
  engine/samples/assets/saving/main.cpp
  engine/samples/collisions/main.cpp
  engine/samples/events/main.cpp
  engine/samples/events/page.md
  engine/samples/gizmos/main.cpp
  engine/samples/hello-cubos/main.cpp
  engine/samples/hello-cubos/page.md
  engine/samples/imgui/main.cpp
  engine/samples/input/main.cpp
  engine/samples/physics/main.cpp
  engine/samples/renderer/main.cpp
  engine/samples/scene/main.cpp
  engine/samples/settings/main.cpp
  engine/samples/voxels/main.cpp
  engine/src/cubos/engine/assets/bridges/file.cpp
  engine/src/cubos/engine/assets/plugin.cpp
  engine/src/cubos/engine/collisions/broad_phase/plugin.cpp
  engine/src/cubos/engine/collisions/broad_phase/sweep_and_prune.cpp
  engine/src/cubos/engine/collisions/broad_phase/sweep_and_prune.hpp
  engine/src/cubos/engine/collisions/plugin.cpp
  engine/src/cubos/engine/gizmos/plugin.cpp
  engine/src/cubos/engine/imgui/plugin.cpp
  engine/src/cubos/engine/input/plugin.cpp
  engine/src/cubos/engine/physics/gravity.cpp
  engine/src/cubos/engine/physics/plugin.cpp
  engine/src/cubos/engine/renderer/plugin.cpp
  engine/src/cubos/engine/scene/plugin.cpp
  engine/src/cubos/engine/settings/plugin.cpp
  engine/src/cubos/engine/transform/plugin.cpp
  engine/src/cubos/engine/voxels/plugin.cpp
  engine/src/cubos/engine/window/plugin.cpp
Owners: @RiscadoA, @DiogoMendonc-a, @fallenatlas

feat(engine): impl core aliases
  engine/CMakeLists.txt
  engine/include/cubos/engine/cubos.hpp
  engine/include/cubos/engine/prelude.hpp
  engine/src/cubos/engine/prelude.cpp
Owners: @RiscadoA

Deploy preview for PR 805 🛫
  docs-preview/pr-805/examples-engine-events.html
  docs-preview/pr-805/examples-engine-hello-cubos.html
  docs-preview/pr-805/namespacecubos_1_1engine.html
  docs-preview/pr-805/namespacetesseratos.html
  docs-preview/pr-805/searchdata-v2.js
Owners: @RiscadoA

deploy: 6167087d740da072d66108c48476887f1f60ea2b
  docs/examples-engine-events.html
  docs/examples-engine-hello-cubos.html
  docs/namespacecubos_1_1engine.html
  docs/searchdata-v2.js
Owners: @RiscadoA

feat(tools): impl popup for selecting an asset of a given type
  tools/tesseratos/CMakeLists.txt
  tools/tesseratos/include/tesseratos/asset_explorer/popup.hpp
  tools/tesseratos/src/tesseratos/asset_explorer/popup.cpp
Owners: @DiogoMendonc-a, @roby2014

Deploy preview for PR 824 🛫
  docs-preview/pr-824/classcubos_1_1core_1_1reflection_1_1Type.html
  docs-preview/pr-824/examples-engine-events.html
  docs-preview/pr-824/examples-engine-hello-cubos.html
  docs-preview/pr-824/namespacecubos_1_1engine.html
  docs-preview/pr-824/searchdata-v2.js
Owners: @RiscadoA

Deploy preview for PR 805 🛫
  docs-preview/pr-805/searchdata-v2.js
Owners: @RiscadoA

feat(tools): impl popup for selecting an asset of a given type
  tools/tesseratos/CMakeLists.txt
  tools/tesseratos/include/tesseratos/asset_explorer/popup.hpp
  tools/tesseratos/src/tesseratos/asset_explorer/popup.cpp
Owners: @DiogoMendonc-a, @roby2014

deploy: a4202bf416804661d607dd885abc7bbfb8ac76ce
  docs/files.html
  docs/namespacetesseratos.html
  docs/popup_8hpp.html
  docs/searchdata-v2.js
Owners: @RiscadoA
