Repository GameDevTecnico/cubos, changes with the owners that .github/CODEOWNERS names for each.
All owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team, @tomas7770, @GameDevTecnico/cubos-graphics-team, @fallenatlas, @GameDevTecnico/cubos-physics-team, @GameDevTecnico/cubos-tools-team

.github/CODEOWNERS:

* @RiscadoA @GameDevTecnico/cubos-wildcard-team

CHANGELOG.md @RiscadoA

**/core/gl/ @RiscadoA @tomas7770 @GameDevTecnico/cubos-graphics-team
**/engine/gizmos/ @RiscadoA @tomas7770 @GameDevTecnico/cubos-graphics-team
**/engine/render/ @RiscadoA @tomas7770 @GameDevTecnico/cubos-graphics-team
**/engine/ui/ @RiscadoA @tomas7770 @GameDevTecnico/cubos-graphics-team
**/engine/assets/render/ @RiscadoA @tomas7770 @GameDevTecnico/cubos-graphics-team
**/engine/assets/ui/ @RiscadoA @tomas7770 @GameDevTecnico/cubos-graphics-team

**/core/geom/ @RiscadoA @fallenatlas @GameDevTecnico/cubos-physics-team
**/engine/collisions/ @RiscadoA @fallenatlas @GameDevTecnico/cubos-physics-team
**/engine/physics/ @RiscadoA @fallenatlas @GameDevTecnico/cubos-physics-team

**/tools/ @RiscadoA @GameDevTecnico/cubos-tools-team

fix(rendering): add missing padding to some std140 structs
  engine/src/render/g_buffer_rasterizer/plugin.cpp
  engine/src/render/ssao/plugin.cpp
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team

build: embed assets on web releases
  CMakeLists.txt
  core/CMakeLists.txt
  engine/CMakeLists.txt
  engine/samples/CMakeLists.txt
  tools/tesseratos/CMakeLists.txt
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team, @GameDevTecnico/cubos-tools-team

fix(gl): use RGBA instead of RGB for render targets
  engine/src/render/bloom/plugin.cpp
  engine/src/render/g_buffer/plugin.cpp
  engine/src/render/hdr/plugin.cpp
  engine/src/render/ssao/plugin.cpp
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team

refactor(gl): check OpenGL functions for errors
  core/src/gl/ogl_render_device.cpp
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team

fix(rendering): use unsigned clearTargetColor for render picker
  engine/src/render/g_buffer_rasterizer/plugin.cpp
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team

fix(gl): remove shader version declarations
  core/samples/gl/compute/main.cpp
  engine/assets/render/bloom.fs
  engine/assets/render/bloom_extract.fs
  engine/assets/render/deferred_shading.fs
  engine/assets/render/g_buffer_rasterizer.fs
  engine/assets/render/g_buffer_rasterizer.vs
  engine/assets/render/screen_quad.vs
  engine/assets/render/ssao_base.fs
  engine/assets/render/ssao_blur.fs
  engine/assets/render/tone_mapping.fs
  engine/assets/ui/color_rect.fs
  engine/assets/ui/element.vs
  engine/src/gizmos/renderer.cpp
  engine/src/imgui/imgui.cpp
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team, @tomas7770, @GameDevTecnico/cubos-graphics-team

fix(gl): add missing update to quad sample
  core/samples/gl/quad/main.cpp
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team

fix(gl): disable OGLTimer support in Emscripten
  core/src/gl/ogl_render_device.cpp
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team

build: do not use cpptrace and glad when compiling for the web
  core/CMakeLists.txt
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team

fix(gl): use WebGL 2 header instead of GLES header
  core/src/gl/ogl_render_device.cpp
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team

fix(gl): remove anisotropy filter support in Emscripten
  core/src/gl/ogl_render_device.cpp
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team

refactor(gl): replace all maps by fills
  core/include/cubos/core/gl/render_device.hpp
  core/src/gl/ogl_render_device.cpp
  engine/src/gizmos/types/box.hpp
  engine/src/gizmos/types/cut_cone.hpp
  engine/src/gizmos/types/line.hpp
  engine/src/gizmos/types/ring.hpp
  engine/src/imgui/imgui.cpp
  engine/src/render/mesh/pool.cpp
Owners: @RiscadoA, @tomas7770, @GameDevTecnico/cubos-graphics-team, @GameDevTecnico/cubos-wildcard-team

fix(gl): make PixelPackBuffer and Texture2D::copyTo WebGL compatible
  core/include/cubos/core/gl/render_device.hpp
  core/src/gl/ogl_render_device.cpp
  engine/src/render/picker/picker.cpp
  engine/src/render/picker/plugin.cpp
Owners: @RiscadoA, @tomas7770, @GameDevTecnico/cubos-graphics-team, @GameDevTecnico/cubos-wildcard-team

fix(gl): add missing cstring include
  core/src/gl/ogl_render_device.cpp
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team

fix(gl): use WebGL include instead of Glad
  core/src/gl/ogl_render_device.cpp
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team

feat(gl): add framebuffer setTexture2DArrayTarget
  core/include/cubos/core/gl/render_device.hpp
  core/src/gl/ogl_render_device.cpp
  core/src/gl/render_device.cpp
Owners: @RiscadoA, @tomas7770, @GameDevTecnico/cubos-graphics-team, @GameDevTecnico/cubos-wildcard-team

fix(gl): add missing precision specifiers to WebGL2 shader header
  core/src/gl/ogl_render_device.cpp
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team

fix(io): do not use Glad on GLFWWindow on Emcripten
  core/src/io/glfw_window.cpp
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team

fix(tel): do not use cpptrace on Emscripten
  core/src/tel/logging.cpp
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team

fix(gl): remove unnecessary call to glDraw/ReadBuffer
  core/src/gl/ogl_render_device.cpp
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team

fix(rendering): add missing padding init
  engine/src/render/g_buffer_rasterizer/plugin.cpp
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team

build: disable Emscripten STRICT and enable assertions
  CMakeLists.txt
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team

fix(rendering): make engine shaders compatible with WebGL 2
  engine/assets/render/bloom.fs
  engine/assets/render/deferred_shading.fs
  engine/assets/render/g_buffer_rasterizer.vs
  engine/assets/render/shadow_atlas_rasterizer.fs
  engine/assets/render/shadow_atlas_rasterizer.vs
  engine/assets/render/ssao_base.fs
  engine/assets/ui/element.vs
Owners: @RiscadoA, @tomas7770, @GameDevTecnico/cubos-graphics-team

fix(rendering): make cascading shadows plugin compatible with WebGL 2
  engine/assets/render/cascaded_shadow_maps_rasterizer.fs
  engine/assets/render/cascaded_shadow_maps_rasterizer.gs
  engine/assets/render/cascaded_shadow_maps_rasterizer.gs.meta
  engine/assets/render/cascaded_shadow_maps_rasterizer.vs
  engine/include/cubos/engine/render/shadows/casters/directional_caster.hpp
  engine/src/render/shadows/cascaded_rasterizer/plugin.cpp
  engine/src/render/shadows/casters/directional_caster.cpp
Owners: @RiscadoA, @tomas7770, @GameDevTecnico/cubos-graphics-team, @GameDevTecnico/cubos-wildcard-team

fix(rendering): replace old Border AddressMode by Clamp on cascading shadows
  engine/src/render/deferred_shading/plugin.cpp
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team

docs: update CHANGELOG.md
  CHANGELOG.md
Owners: @RiscadoA

feat(ci): add build web action
  .github/workflows/build-engine-web.yml
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team

fix(gl): handle compute shader version headers
  core/samples/gl/compute/main.cpp
  core/src/gl/ogl_render_device.cpp
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team

build(engine): skip assets saving sample on Emscripten
  engine/samples/CMakeLists.txt
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team

docs(gl): replace sync TODO by proper explanation
  core/include/cubos/core/gl/render_device.hpp
Owners: @RiscadoA, @tomas7770, @GameDevTecnico/cubos-graphics-team

docs(gl): remove global variable from gl.quad sample
  core/samples/gl/quad/main.cpp
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team

fix(memory): typo in field names
  core/include/cubos/core/memory/guards.hpp
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team

build(engine): make imgui a system library to avoid compilations errors from its warnings
  engine/CMakeLists.txt
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team

fix(ecs): run startup systems after emscripten_set_main_loop
  core/src/ecs/cubos.cpp
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team

fix(rendering): make shaders WebGL compatible
  engine/assets/render/deferred_shading.fs
  engine/assets/render/tone_mapping.fs
  engine/assets/ui/image.fs
  engine/assets/ui/text.fs
  engine/assets/ui/text.vs
Owners: @RiscadoA, @tomas7770, @GameDevTecnico/cubos-graphics-team

build: disable cached SHARED options on Emscripten
  core/CMakeLists.txt
  engine/CMakeLists.txt
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team

build: increase Emscripten initial memory and stack size
  CMakeLists.txt
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team

refactor(rendering): avoid geometry shaders in point shadows
  engine/assets/render/shadow_atlas_rasterizer.vs
  engine/assets/render/shadow_cube_atlas_rasterizer.gs
  engine/assets/render/shadow_cube_atlas_rasterizer.gs.meta
  engine/assets/render/shadow_cube_atlas_rasterizer.vs
  engine/assets/render/shadow_cube_atlas_rasterizer.vs.meta
  engine/include/cubos/engine/render/shadows/atlas/point_atlas.hpp
  engine/include/cubos/engine/render/shadows/atlas_rasterizer/atlas_rasterizer.hpp
  engine/src/render/shadows/atlas/plugin.cpp
  engine/src/render/shadows/atlas/point_atlas.cpp
  engine/src/render/shadows/atlas_rasterizer/plugin.cpp
Owners: @RiscadoA, @tomas7770, @GameDevTecnico/cubos-graphics-team, @GameDevTecnico/cubos-wildcard-team

build: turn make_sample into a function
  core/samples/CMakeLists.txt
  engine/samples/CMakeLists.txt
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team

fix(ui): add missing padding to UI color rect and text buffers
  engine/src/ui/color_rect/plugin.cpp
  engine/src/ui/text/plugin.cpp
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team
