Repository GameDevTecnico/cubos, changes with the owners that .github/CODEOWNERS names for each.
All owners: @RiscadoA, @fallenatlas, @DiogoMendonc-a, @roby2014

.github/CODEOWNERS:

* @RiscadoA

**/engine/physics/ @fallenatlas
**/engine/gizmos/ @DiogoMendonc-a

**/tesseratos/ @DiogoMendonc-a @roby2014

chore: add ImPlot submodule
  .gitmodules
  tools/tesseratos/src/tesseratos/metrics_panel/plugin.cpp
Owners: @RiscadoA, @DiogoMendonc-a, @roby2014

Deploy preview for PR 863 🛫
  docs-preview/pr-863/annotated.html
  docs-preview/pr-863/dir_4157c777a146e020408c4ca4ac982bb6.html
  docs-preview/pr-863/free__controller_8hpp.html
  docs-preview/pr-863/group__free-camera-controller-plugin.html
  docs-preview/pr-863/group__transform-plugin.html
  docs-preview/pr-863/namespacecubos_1_1engine.html
  docs-preview/pr-863/searchdata-v2.js
  docs-preview/pr-863/structcubos_1_1engine_1_1FreeCameraController.html
Owners: @RiscadoA

build: add ImPlot dependency
  .gitmodules
  engine/CMakeLists.txt
  engine/src/cubos/engine/imgui/imgui.cpp
Owners: @RiscadoA

feat(tesseratos): add metrics plugin
  tools/tesseratos/CMakeLists.txt
  tools/tesseratos/include/tesseratos/metrics_panel/plugin.hpp
  tools/tesseratos/src/tesseratos/metrics_panel/plugin.cpp
  tools/tesseratos/src/tesseratos/plugin.cpp
Owners: @DiogoMendonc-a, @roby2014

chore: add ImPlot submodule
  .gitmodules
  tools/tesseratos/src/tesseratos/metrics_panel/plugin.cpp
Owners: @RiscadoA, @DiogoMendonc-a, @roby2014

deploy: 3055c3900e32bd70a8f2dc07c7fd93df1f6c5220
  docs/dir_2a25e2bce65ce0f842dba5b7b3a0e22d.html
  docs/dir_ae52c41efe1aaae7a392cb947b223e9f.html
  docs/files.html
  docs/group__tesseratos-metrics-panel-plugin.html
  docs/group__tesseratos-scene-editor-plugin.html
  docs/group__tesseratos-toolbox-plugin.html
  docs/group__tesseratos-voxel-palette-editor-plugin.html
  docs/group__tesseratos-world-inspector-plugin.html
  docs/group__tesseratos.html
  docs/modules.html
  docs/namespacetesseratos.html
  docs/searchdata-v2.js
  docs/tools_2tesseratos_2include_2tesseratos_2metrics__panel_2plugin_8hpp.html
Owners: @RiscadoA

Deploy preview for PR 874 🛫
  docs-preview/pr-874/dir_2a25e2bce65ce0f842dba5b7b3a0e22d.html
  docs-preview/pr-874/dir_ae52c41efe1aaae7a392cb947b223e9f.html
  docs-preview/pr-874/files.html
  docs-preview/pr-874/group__screenpicker-plugin.html
  docs-preview/pr-874/group__tesseratos-metrics-panel-plugin.html
  docs-preview/pr-874/group__tesseratos-settings-inspector-plugin.html
  docs-preview/pr-874/group__tesseratos-toolbox-plugin.html
  docs-preview/pr-874/group__tesseratos-voxel-palette-editor-plugin.html
  docs-preview/pr-874/group__tesseratos-world-inspector-plugin.html
  docs-preview/pr-874/group__tesseratos.html
  docs-preview/pr-874/modules.html
  docs-preview/pr-874/namespacetesseratos.html
  docs-preview/pr-874/searchdata-v2.js
  docs-preview/pr-874/tools_2tesseratos_2include_2tesseratos_2metrics__panel_2plugin_8hpp.html
Owners: @RiscadoA

style: change ScreenPicker variable names
  engine/include/cubos/engine/screenpicker/screenpicker.hpp
  engine/src/cubos/engine/screenpicker/screenpicker.cpp
Owners: @RiscadoA

fix(rendering): remove renderer tags from screenPickerPlugin
  engine/include/cubos/engine/screenpicker/plugin.hpp
  engine/src/cubos/engine/screenpicker/plugin.cpp
Owners: @RiscadoA

fix(rendering): resize picking texture before clearing it
  engine/src/cubos/engine/screenpicker/plugin.cpp
  engine/src/cubos/engine/screenpicker/screenpicker.cpp
Owners: @RiscadoA

fix(rendering): explicitly cast ScreenPicker mTextureSize
  engine/src/cubos/engine/screenpicker/screenpicker.cpp
Owners: @RiscadoA

feat(rendering): add screenPickerPlugin
  engine/CMakeLists.txt
  engine/include/cubos/engine/screenpicker/plugin.hpp
  engine/include/cubos/engine/screenpicker/screenpicker.hpp
  engine/src/cubos/engine/screenpicker/plugin.cpp
  engine/src/cubos/engine/screenpicker/screenpicker.cpp
Owners: @RiscadoA

docs(rendering): add screenPickerPlugin docs
  engine/include/cubos/engine/screenpicker/plugin.hpp
  engine/include/cubos/engine/screenpicker/screenpicker.hpp
  engine/src/cubos/engine/screenpicker/screenpicker.cpp
Owners: @RiscadoA

docs(rendering): add screenPickerPlugin docs
  engine/include/cubos/engine/screenpicker/plugin.hpp
  engine/include/cubos/engine/screenpicker/screenpicker.hpp
  engine/src/cubos/engine/screenpicker/screenpicker.cpp
Owners: @RiscadoA

feat(rendering): add screenPickerPlugin
  engine/CMakeLists.txt
  engine/include/cubos/engine/screenpicker/plugin.hpp
  engine/include/cubos/engine/screenpicker/screenpicker.hpp
  engine/src/cubos/engine/screenpicker/plugin.cpp
  engine/src/cubos/engine/screenpicker/screenpicker.cpp
Owners: @RiscadoA

fix(rendering): resize picking texture before clearing it
  engine/src/cubos/engine/screenpicker/plugin.cpp
  engine/src/cubos/engine/screenpicker/screenpicker.cpp
Owners: @RiscadoA

style: change ScreenPicker variable names
  engine/include/cubos/engine/screenpicker/screenpicker.hpp
  engine/src/cubos/engine/screenpicker/screenpicker.cpp
Owners: @RiscadoA

fix(rendering): remove renderer tags from screenPickerPlugin
  engine/include/cubos/engine/screenpicker/plugin.hpp
  engine/src/cubos/engine/screenpicker/plugin.cpp
Owners: @RiscadoA

fix(rendering): explicitly cast ScreenPicker mTextureSize
  engine/src/cubos/engine/screenpicker/screenpicker.cpp
Owners: @RiscadoA

deploy: d07317b5df99e09cfc55244e8f153d810b590b61
  docs/annotated.html
  docs/classcubos_1_1engine_1_1ScreenPicker.html
  docs/dir_bafb7af0e03e95b24a45ff63060ab57b.html
  docs/dir_cae59223029cd41c022c5f7665ca4fec.html
  docs/engine_2include_2cubos_2engine_2screenpicker_2plugin_8hpp.html
  docs/files.html
  docs/group__engine.html
  docs/group__screenpicker-plugin.html
  docs/group__settings-plugin.html
  docs/group__splitscreen-plugin.html
  docs/group__tesseratos-asset-explorer-plugin.html
  docs/group__tesseratos-debug-camera-plugin.html
  docs/group__tesseratos-entity-inspector-plugin.html
  docs/group__tesseratos-metrics-panel-plugin.html
  docs/group__tesseratos-scene-editor-plugin.html
  docs/group__tesseratos-settings-inspector-plugin.html
  docs/group__tesseratos-toolbox-plugin.html
  docs/group__tesseratos-voxel-palette-editor-plugin.html
  docs/group__tesseratos-world-inspector-plugin.html
  docs/group__transform-plugin.html
  docs/group__voxels-plugin.html
  docs/group__window-plugin.html
  docs/modules.html
  docs/namespacecubos_1_1engine.html
  docs/screenpicker_8hpp.html
  docs/searchdata-v2.js
Owners: @RiscadoA

feat(tesseratos): add basic logging functionality
  core/include/cubos/core/log.hpp
  core/src/cubos/core/log.cpp
  tools/tesseratos/src/tesseratos/console/plugin.cpp
Owners: @RiscadoA, @DiogoMendonc-a, @roby2014

Deploy preview for PR 863 🛫
  docs-preview/pr-863/annotated.html
  docs-preview/pr-863/classcubos_1_1engine_1_1ScreenPicker.html
  docs-preview/pr-863/controller_8hpp.html
  docs-preview/pr-863/dir_2a25e2bce65ce0f842dba5b7b3a0e22d.html
  docs-preview/pr-863/dir_4157c777a146e020408c4ca4ac982bb6.html
  docs-preview/pr-863/dir_ae52c41efe1aaae7a392cb947b223e9f.html
  docs-preview/pr-863/dir_bafb7af0e03e95b24a45ff63060ab57b.html
  docs-preview/pr-863/dir_cae59223029cd41c022c5f7665ca4fec.html
  docs-preview/pr-863/engine_2include_2cubos_2engine_2screenpicker_2plugin_8hpp.html
  docs-preview/pr-863/files.html
  docs-preview/pr-863/group__engine.html
  docs-preview/pr-863/group__free-camera-controller-plugin.html
  docs-preview/pr-863/group__screenpicker-plugin.html
  docs-preview/pr-863/group__settings-plugin.html
  docs-preview/pr-863/group__splitscreen-plugin.html
  docs-preview/pr-863/group__tesseratos-debug-camera-plugin.html
  docs-preview/pr-863/group__tesseratos-entity-inspector-plugin.html
  docs-preview/pr-863/group__tesseratos-entity-selector-plugin.html
  docs-preview/pr-863/group__tesseratos-metrics-panel-plugin.html
  docs-preview/pr-863/group__tesseratos-scene-editor-plugin.html
  docs-preview/pr-863/group__tesseratos-settings-inspector-plugin.html
  docs-preview/pr-863/group__tesseratos-toolbox-plugin.html
  docs-preview/pr-863/group__tesseratos-voxel-palette-editor-plugin.html
  docs-preview/pr-863/group__tesseratos-world-inspector-plugin.html
  docs-preview/pr-863/group__tesseratos.html
  docs-preview/pr-863/group__transform-plugin.html
  docs-preview/pr-863/group__voxels-plugin.html
  docs-preview/pr-863/group__window-plugin.html
  docs-preview/pr-863/modules.html
  docs-preview/pr-863/namespacecubos_1_1engine.html
  docs-preview/pr-863/namespacetesseratos.html
  docs-preview/pr-863/screenpicker_8hpp.html
  docs-preview/pr-863/searchdata-v2.js
  docs-preview/pr-863/structcubos_1_1engine_1_1FreeCameraController.html
  docs-preview/pr-863/tools_2tesseratos_2include_2tesseratos_2metrics__panel_2plugin_8hpp.html
Owners: @RiscadoA

feat(engine): add SimpleCameraController component
  .DS_Store
  core/src/cubos/core/gl/ogl_render_device.cpp
  engine/.DS_Store
  engine/CMakeLists.txt
  engine/include/cubos/engine/utils/free_camera_controller/free_camera_controller.hpp
  engine/include/cubos/engine/utils/free_camera_controller/plugin.hpp
  engine/samples/free-cam/assets/free-cam-binding.bind
  engine/samples/free-cam/assets/free-cam-binding.bind.meta
  engine/samples/free-cam/main.cpp
  engine/src/cubos/engine/utils/free_camera_controller/free_camera_controller.cpp
  engine/src/cubos/engine/utils/free_camera_controller/plugin.cpp
Owners: @RiscadoA

feat(engine & core): add FreeCameraController component and plugin add auxiliar functions to core related to mouse position
  .DS_Store
  core/include/cubos/core/io/window.hpp
  core/src/cubos/core/io/glfw_window.cpp
  core/src/cubos/core/io/glfw_window.hpp
  engine/CMakeLists.txt
  engine/include/cubos/engine/utils/free_camera_controller/free_controller.hpp
  engine/include/cubos/engine/utils/free_camera_controller/plugin.hpp
  engine/include/cubos/engine/utils/free_camera_controller/simple_controller.hpp
  engine/samples/free-cam/assets/free-cam-binding.bind
  engine/samples/free-cam/main.cpp
  engine/src/cubos/engine/utils/free_camera_controller/free_camera_controller.cpp
  engine/src/cubos/engine/utils/free_camera_controller/free_controller.cpp
  engine/src/cubos/engine/utils/free_camera_controller/plugin.cpp
  engine/src/cubos/engine/utils/free_camera_controller/simple_controller.cpp
Owners: @RiscadoA

chore(engine): update FreeCameraControllerPlugin for better understanding of the problem
  engine/src/cubos/engine/utils/free_camera_controller/plugin.cpp
Owners: @RiscadoA

feat(engine): FreeCameraController component logic implemented in plugin & add FreeCameraController sample
  engine/include/cubos/engine/utils/free_camera_controller/free_controller.hpp
  engine/samples/free-cam/main.cpp
  engine/src/cubos/engine/utils/free_camera_controller/free_controller.cpp
  engine/src/cubos/engine/utils/free_camera_controller/plugin.cpp
Owners: @RiscadoA

feat(engine): add bindings to plugin directly & format sample, FreeCameraController component and plugin
  engine/include/cubos/engine/utils/free_camera_controller/free_controller.hpp
  engine/include/cubos/engine/utils/free_camera_controller/plugin.hpp
  engine/samples/free-cam/assets/free-cam-binding.bind
  engine/samples/free-cam/assets/free-cam-binding.bind.meta
  engine/samples/free-cam/main.cpp
  engine/src/cubos/engine/utils/free_camera_controller/free_controller.cpp
  engine/src/cubos/engine/utils/free_camera_controller/plugin.cpp
  engine/src/cubos/engine/utils/free_camera_controller/simple_controller.cpp
Owners: @RiscadoA

chore(core & engine): format modified files in previous commits
  core/src/cubos/core/gl/ogl_render_device.cpp
  engine/include/cubos/engine/utils/free_camera_controller/simple_controller.hpp
  engine/samples/CMakeLists.txt
  engine/samples/free-cam/main.cpp
  engine/src/cubos/engine/utils/free_camera_controller/plugin.cpp
Owners: @RiscadoA

chore(engine): format FreeCameraController component file
  engine/include/cubos/engine/utils/free_camera_controller/free_controller.hpp
Owners: @RiscadoA

chore(core): fix const-qualified position argument in window header
  core/include/cubos/core/io/window.hpp
Owners: @RiscadoA

chore(engine): format FreeCameraController component file
  engine/include/cubos/engine/utils/free_camera_controller/free_controller.hpp
Owners: @RiscadoA

chore(engine): format FreeCameraController component file
  engine/include/cubos/engine/utils/free_camera_controller/free_controller.hpp
Owners: @RiscadoA

chore(engine): format FreeCameraController component file
  engine/include/cubos/engine/utils/free_camera_controller/free_controller.hpp
Owners: @RiscadoA

chore(engine): format FreeCameraController component file
  engine/include/cubos/engine/utils/free_camera_controller/free_controller.hpp
Owners: @RiscadoA

chore(engine): format FreeCameraController component file
  engine/include/cubos/engine/utils/free_camera_controller/free_controller.hpp
Owners: @RiscadoA

chore(engine): format FreeCameraController component file
  engine/include/cubos/engine/utils/free_camera_controller/free_controller.hpp
Owners: @RiscadoA

chore(engine): format SimpleCameraController component file
  engine/include/cubos/engine/utils/free_camera_controller/simple_controller.hpp
Owners: @RiscadoA

chore(engine): format SimpleCameraController component file
  engine/include/cubos/engine/utils/free_camera_controller/simple_controller.hpp
Owners: @RiscadoA

chore(engine): format SimpleCameraController component file
  engine/include/cubos/engine/utils/free_camera_controller/simple_controller.hpp
Owners: @RiscadoA

chore(engine): format SimpleCameraController component file
  engine/include/cubos/engine/utils/free_camera_controller/simple_controller.hpp
Owners: @RiscadoA
