Repository GameDevTecnico/cubos, changes with the owners that .github/CODEOWNERS names for each.
All owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team, @tomas7770, @GameDevTecnico/cubos-graphics-team, @fallenatlas, @GameDevTecnico/cubos-physics-team, @GameDevTecnico/cubos-tools-team

.github/CODEOWNERS:

* @RiscadoA @GameDevTecnico/cubos-wildcard-team

CHANGELOG.md @RiscadoA

**/core/gl/ @RiscadoA @tomas7770 @GameDevTecnico/cubos-graphics-team
**/engine/gizmos/ @RiscadoA @tomas7770 @GameDevTecnico/cubos-graphics-team
**/engine/render/ @RiscadoA @tomas7770 @GameDevTecnico/cubos-graphics-team
**/engine/ui/ @RiscadoA @tomas7770 @GameDevTecnico/cubos-graphics-team
**/engine/assets/render/ @RiscadoA @tomas7770 @GameDevTecnico/cubos-graphics-team
**/engine/assets/ui/ @RiscadoA @tomas7770 @GameDevTecnico/cubos-graphics-team

**/core/geom/ @RiscadoA @fallenatlas @GameDevTecnico/cubos-physics-team
**/engine/collisions/ @RiscadoA @fallenatlas @GameDevTecnico/cubos-physics-team
**/engine/physics/ @RiscadoA @fallenatlas @GameDevTecnico/cubos-physics-team

**/tools/ @RiscadoA @GameDevTecnico/cubos-tools-team

feat(collisions): implement contact caching for box-box collisions
  core/include/cubos/core/geom/intersections.hpp
  core/include/cubos/core/geom/polygonal_feature.hpp
  core/include/cubos/core/geom/utils.hpp
  core/src/geom/intersections.cpp
  core/src/geom/utils.cpp
  engine/include/cubos/engine/collisions/contact_manifold.hpp
  engine/samples/collisions/main.cpp
  engine/src/collisions/interface/contact_manifold.cpp
  engine/src/collisions/narrow_phase/plugin.cpp
Owners: @RiscadoA, @fallenatlas, @GameDevTecnico/cubos-physics-team, @GameDevTecnico/cubos-wildcard-team

docs: update CHANGELOG.md
  CHANGELOG.md
Owners: @RiscadoA

feat(collisions): implement contact caching for box-box collisions
  core/include/cubos/core/geom/intersections.hpp
  core/include/cubos/core/geom/polygonal_feature.hpp
  core/include/cubos/core/geom/utils.hpp
  core/src/geom/intersections.cpp
  core/src/geom/utils.cpp
  engine/include/cubos/engine/collisions/contact_manifold.hpp
  engine/samples/collisions/main.cpp
  engine/src/collisions/interface/contact_manifold.cpp
  engine/src/collisions/narrow_phase/plugin.cpp
Owners: @RiscadoA, @fallenatlas, @GameDevTecnico/cubos-physics-team, @GameDevTecnico/cubos-wildcard-team

docs: update CHANGELOG.md
  CHANGELOG.md
Owners: @RiscadoA

deploy: ddfe6459fc816248ed8619d1d880fe90ee5a8033
  annotated.html
  classcubos_1_1engine_1_1ContactFeatureId.html
  contact__manifold_8hpp.html
  dir_c1deef5baf41393ad8a994c3fd53e62f.html
  files.html
  geom_2utils_8hpp.html
  group__core-geom.html
  intersections_8hpp.html
  namespacecubos_1_1core_1_1geom.html
  namespacecubos_1_1engine.html
  polygonal__feature_8hpp.html
  searchdata-v2.js
  structcubos_1_1core_1_1geom_1_1PolygonalFeature.html
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team

feat(imgui): add ImGuiContextHolder
  engine/CMakeLists.txt
  engine/include/cubos/engine/imgui/context.hpp
  engine/include/cubos/engine/imgui/plugin.hpp
  engine/src/imgui/context.cpp
  engine/src/imgui/plugin.cpp
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team

fix(tesseratos): call ImGui::SetCurrentContext on startup
  tools/tesseratos/src/tesseratos/main.cpp
Owners: @RiscadoA, @GameDevTecnico/cubos-tools-team

docs(imgui): introduce ImGuiContextHolder in sample
  engine/samples/imgui/main.cpp
  engine/samples/imgui/page.md
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team

docs: update CHANGELOG.md
  CHANGELOG.md
Owners: @RiscadoA

feat(imgui): add ImGuiContextHolder
  engine/CMakeLists.txt
  engine/include/cubos/engine/imgui/context.hpp
  engine/include/cubos/engine/imgui/plugin.hpp
  engine/src/imgui/context.cpp
  engine/src/imgui/plugin.cpp
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team

docs(imgui): introduce ImGuiContextHolder in sample
  engine/samples/imgui/main.cpp
  engine/samples/imgui/page.md
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team

docs: update CHANGELOG.md
  CHANGELOG.md
Owners: @RiscadoA

fix(tesseratos): call ImGui::SetCurrentContext on startup
  tools/tesseratos/src/tesseratos/main.cpp
Owners: @RiscadoA, @GameDevTecnico/cubos-tools-team

deploy: c274628f05425db31da6cf165d84efe0cf6d7eb8
  annotated.html
  context_8hpp.html
  examples-engine-imgui.html
  files.html
  group__imgui-plugin.html
  namespacecubos_1_1engine.html
  searchdata-v2.js
  structcubos_1_1engine_1_1ImGuiContextHolder.html
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team

feat(tesseratos): add simple template project
  CHANGELOG.md
  tools/tesseratos/CMakeLists.txt
  tools/tesseratos/templates/simple/CMakeLists.txt
  tools/tesseratos/templates/simple/assets/scenes/main.cubos
  tools/tesseratos/templates/simple/assets/scenes/main.cubos.meta
  tools/tesseratos/templates/simple/src/main.cpp
Owners: @RiscadoA, @GameDevTecnico/cubos-tools-team

feat(tesseratos): add simple template project
  CHANGELOG.md
  tools/tesseratos/CMakeLists.txt
  tools/tesseratos/templates/simple/CMakeLists.txt
  tools/tesseratos/templates/simple/assets/scenes/main.cubos
  tools/tesseratos/templates/simple/assets/scenes/main.cubos.meta
  tools/tesseratos/templates/simple/src/main.cpp
Owners: @RiscadoA, @GameDevTecnico/cubos-tools-team

refactor(gl): remove Texture1D and CubeMapArray
  core/include/cubos/core/gl/render_device.hpp
  core/src/gl/ogl_render_device.cpp
  core/src/gl/ogl_render_device.hpp
  core/src/gl/render_device.cpp
Owners: @RiscadoA, @tomas7770, @GameDevTecnico/cubos-graphics-team, @GameDevTecnico/cubos-wildcard-team

feat(io): target WebGL 2.0 on web
  core/CMakeLists.txt
  core/src/io/glfw_window.cpp
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team

build: compile to web
  .gitignore
  CMakeLists.txt
  api/core/CMakeLists.txt
  api/engine/CMakeLists.txt
  cmake/Emscripten.cmake
  core/CMakeLists.txt
  core/src/io/glfw_window.cpp
  engine/CMakeLists.txt
  flake.nix
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team

fix(io): disable gamepad on emscripten
  core/src/io/glfw_window.cpp
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team

refactor(gl): remove Texture2DArray target type
  core/include/cubos/core/gl/render_device.hpp
  core/src/gl/ogl_render_device.cpp
  core/src/gl/render_device.cpp
Owners: @RiscadoA, @tomas7770, @GameDevTecnico/cubos-graphics-team, @GameDevTecnico/cubos-wildcard-team

fix(gl): disable error callback on web
  core/src/gl/ogl_render_device.cpp
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team

refactor(gl): remove modes unsupported by GLES 3.0
  core/include/cubos/core/gl/render_device.hpp
  core/samples/gl/quad/main.cpp
  core/src/gl/ogl_render_device.cpp
Owners: @RiscadoA, @tomas7770, @GameDevTecnico/cubos-graphics-team, @GameDevTecnico/cubos-wildcard-team

fix(gl): disable image binding on web
  core/src/gl/ogl_render_device.cpp
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team

fix(gl): disable shader storage block on web
  core/src/gl/ogl_render_device.cpp
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team

refactor(gl): remove texture formats unsupported by GLES 3.0
  core/include/cubos/core/gl/render_device.hpp
  core/src/gl/ogl_render_device.cpp
Owners: @RiscadoA, @tomas7770, @GameDevTecnico/cubos-graphics-team, @GameDevTecnico/cubos-wildcard-team

fix(gl): disable geometry shaders on web
  core/src/gl/ogl_render_device.cpp
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team

fix(gl): disable compute shaders on web
  core/src/gl/ogl_render_device.cpp
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team

refactor(gl): replace glGetTexImage with glReadPixels
  core/include/cubos/core/gl/render_device.hpp
  core/src/gl/ogl_render_device.cpp
Owners: @RiscadoA, @tomas7770, @GameDevTecnico/cubos-graphics-team, @GameDevTecnico/cubos-wildcard-team

fix(gl): use GLsizei for OGLTexture2D dimensions
  core/src/gl/ogl_render_device.cpp
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team

refactor(gl): replace glMapBuffer with glMapBufferRange
  core/src/gl/ogl_render_device.cpp
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team

feat(gl): inject version in shader assets
  core/samples/gl/quad/main.cpp
  core/src/gl/ogl_render_device.cpp
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team

fix(gl): add missing fs
  core/src/gl/ogl_render_device.cpp
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team

docs(gl): add useful documentation at the top of the file
  core/src/gl/ogl_render_device.cpp
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team

fix(imgui): stop setting raster mode
  engine/src/imgui/imgui.cpp
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team

feat(samples): port gl.quad core sample to web
  core/samples/gl/quad/main.cpp
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team

feat(ecs): add Cubos move constructor
  core/include/cubos/core/ecs/cubos.hpp
  core/include/cubos/core/ecs/system/registry.hpp
  core/src/ecs/cubos.cpp
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team

fix(telemetry): handle log levels correctly in Emscripten
  core/src/tel/logging.cpp
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team

feat(ecs): use proper main loop on Cubos::run with Emscripten
  core/src/ecs/cubos.cpp
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team

feat(gl): add unsigned RenderDevice::clearTargetColor
  core/include/cubos/core/gl/render_device.hpp
  core/src/gl/ogl_render_device.cpp
  core/src/gl/ogl_render_device.hpp
Owners: @RiscadoA, @tomas7770, @GameDevTecnico/cubos-graphics-team, @GameDevTecnico/cubos-wildcard-team
