Repository GameDevTecnico/cubos, changes with the owners that .github/CODEOWNERS names for each.
All owners: @RiscadoA, @luishfonseca, @fallenatlas, @DiogoMendonc-a, @roby2014

.github/CODEOWNERS:

* @RiscadoA

.githooks/ @luishfonseca
.github/workflows/ @luishfonseca

**/core/geom/ @luishfonseca

**/engine/collisions/ @luishfonseca
**/engine/input/ @luishfonseca
**/engine/physics/ @luishfonseca @fallenatlas
**/engine/gizmos/ @DiogoMendonc-a

**/tesseratos/ @DiogoMendonc-a @roby2014

feat(core): add copy method to FileSystem
  core/include/cubos/core/data/fs/file_system.hpp
  core/src/cubos/core/data/fs/file_system.cpp
Owners: @RiscadoA

test(fs): FileSystem::copy
  core/src/cubos/core/data/fs/file_system.cpp
  core/tests/data/fs/file_system.cpp
Owners: @RiscadoA

feat(ecs): add World::[Const]Components iterators
  core/include/cubos/core/ecs/world.hpp
  core/src/cubos/core/ecs/world.cpp
  core/tests/ecs/world.cpp
Owners: @RiscadoA

fix(engine): fix FileBridge saving behaviour
  engine/src/cubos/engine/assets/bridges/file.cpp
Owners: @RiscadoA

fix(core): fix File::unmount lock problems
  core/src/cubos/core/data/fs/file.cpp
Owners: @RiscadoA

fix(ecs): fix off by one on ComponentManager
  core/src/cubos/core/ecs/component/manager.cpp
Owners: @RiscadoA

feat(ecs): add World::[Const]Components views
  core/include/cubos/core/ecs/component/manager.hpp
  core/include/cubos/core/ecs/component/map_storage.hpp
  core/include/cubos/core/ecs/component/null_storage.hpp
  core/include/cubos/core/ecs/component/storage.hpp
  core/include/cubos/core/ecs/component/vec_storage.hpp
  core/include/cubos/core/ecs/system/query.hpp
  core/include/cubos/core/ecs/world.hpp
  core/src/cubos/core/ecs/component/manager.cpp
  core/src/cubos/core/ecs/world.cpp
  core/tests/ecs/commands.cpp
  core/tests/ecs/world.cpp
Owners: @RiscadoA

refactor(ecs): move add/remove to component views
  core/include/cubos/core/ecs/world.hpp
  core/src/cubos/core/ecs/world.cpp
  core/tests/ecs/query.cpp
  core/tests/ecs/world.cpp
Owners: @RiscadoA

test(ecs): change Blueprint test to not use pack
  core/tests/ecs/blueprint.cpp
Owners: @RiscadoA

feat(serialization): add DebugSerializer
  core/CMakeLists.txt
  core/include/cubos/core/data/ser/debug.hpp
  core/src/cubos/core/data/ser/debug.cpp
  core/tests/CMakeLists.txt
  core/tests/data/ser/debug.cpp
Owners: @RiscadoA

build(docs): set main project URL
  docs/conf.py
Owners: @RiscadoA

feat(reflection): add str conversion trait to uuid
  core/src/cubos/core/reflection/external/uuid.cpp
  core/tests/reflection/external/uuid.cpp
  core/tests/reflection/traits/string_conversion.hpp
Owners: @RiscadoA

feat(reflection): add StringConversionTrait
  core/CMakeLists.txt
  core/include/cubos/core/reflection/traits/string_conversion.hpp
  core/samples/CMakeLists.txt
  core/samples/reflection/page.md
  core/samples/reflection/traits/string_conversion/main.cpp
  core/samples/reflection/traits/string_conversion/page.md
  core/src/cubos/core/reflection/traits/string_conversion.cpp
Owners: @RiscadoA

feat(rendering): read data from Texture2D
  core/include/cubos/core/gl/render_device.hpp
  core/src/cubos/core/gl/ogl_render_device.cpp
Owners: @RiscadoA

feat(ci): deploy docs to subdirs
  .github/workflows/build-doxygen-docs.yml
  .github/workflows/preview-docs.yml
Owners: @luishfonseca

feat(reflection): implement for std::string
  core/CMakeLists.txt
  core/include/cubos/core/reflection/external/string.hpp
  core/src/cubos/core/reflection/external/string.cpp
  core/tests/CMakeLists.txt
  core/tests/reflection/external/string.cpp
Owners: @RiscadoA

fix(serialization): assign on hook
  core/src/cubos/core/data/ser/serializer.cpp
Owners: @RiscadoA

build(docs): set project brief
  docs/Doxyfile
Owners: @RiscadoA

feat(gizmos): hash id on gizmo creation
  engine/include/cubos/engine/gizmos/gizmos.hpp
  engine/src/cubos/engine/gizmos/gizmos.cpp
  engine/src/cubos/engine/gizmos/types/box.hpp
  engine/src/cubos/engine/gizmos/types/cut_cone.hpp
  engine/src/cubos/engine/gizmos/types/line.hpp
Owners: @DiogoMendonc-a

fix(ci): actually use clang-tidy 17
  .github/workflows/clang-tidy-lint.yml
Owners: @luishfonseca

fix(gizmos): make casts explicit
  core/include/cubos/core/gl/render_device.hpp
  core/src/cubos/core/gl/ogl_render_device.cpp
  engine/include/cubos/engine/gizmos/gizmos.hpp
  engine/samples/gizmos/main.cpp
  engine/src/cubos/engine/gizmos/gizmos.cpp
  engine/src/cubos/engine/gizmos/plugin.cpp
  engine/src/cubos/engine/gizmos/renderer.cpp
  engine/src/cubos/engine/gizmos/renderer.hpp
  engine/src/cubos/engine/gizmos/types/box.hpp
  engine/src/cubos/engine/gizmos/types/cut_cone.hpp
  engine/src/cubos/engine/gizmos/types/line.hpp
Owners: @RiscadoA, @DiogoMendonc-a

feat(memory): add forward
  core/include/cubos/core/memory/move.hpp
Owners: @RiscadoA

feat(memory): add Function
  .clang-tidy
  core/include/cubos/core/memory/function.hpp
  core/tests/CMakeLists.txt
  core/tests/memory/function.cpp
Owners: @RiscadoA

fix(ci): add NOLINT for misc-include-cleaner
  .github/workflows/clang-tidy-lint.yml
Owners: @luishfonseca

fix(ci): bump clang-tidy to 17
  .github/workflows/clang-tidy-lint.yml
Owners: @luishfonseca

docs(gizmos): update sample to include mouse interaction
  engine/samples/gizmos/main.cpp
  engine/samples/gizmos/page.md
Owners: @RiscadoA

feat(gizmos): add gizmo mouse interaction
  engine/include/cubos/engine/gizmos/plugin.hpp
  engine/src/cubos/engine/gizmos/plugin.cpp
  engine/src/cubos/engine/gizmos/renderer.cpp
  engine/src/cubos/engine/gizmos/renderer.hpp
Owners: @DiogoMendonc-a

fix(ci): workaround for GitHub runners issue
  .github/workflows/clang-tidy-lint.yml
Owners: @luishfonseca

fix(ci): revert to clang-tidy 14
  .github/workflows/clang-tidy-lint.yml
Owners: @luishfonseca

feat(serialization): add Deserializer
  core/CMakeLists.txt
  core/include/cubos/core/data/des/deserializer.hpp
  core/include/cubos/core/data/des/module.dox
  core/samples/CMakeLists.txt
  core/samples/data/des/custom/main.cpp
  core/samples/data/des/custom/page.md
  core/samples/data/des/page.md
  core/samples/data/page.md
  core/src/cubos/core/data/des/deserializer.cpp
Owners: @RiscadoA

docs(tesseratos): fix entity name format in scenes
  tools/tesseratos/samples/main/assets/main.cubos
  tools/tesseratos/samples/main/assets/sub.cubos
Owners: @DiogoMendonc-a, @roby2014

build(core): fix fmt and spdlog submodules
  core/CMakeLists.txt
Owners: @RiscadoA

refactor(core): include cstdint
  core/include/cubos/core/data/old/binary_deserializer.hpp
  core/include/cubos/core/data/old/deserializer.hpp
  core/include/cubos/core/reflection/traits/fields.hpp
  core/include/cubos/core/reflection/type.hpp
Owners: @RiscadoA

feat(physics): add physics plugin
  engine/CMakeLists.txt
  engine/include/cubos/engine/physics/plugin.hpp
  engine/samples/CMakeLists.txt
  engine/src/cubos/engine/physics/plugin.cpp
Owners: @RiscadoA, @luishfonseca, @fallenatlas

feat(ci): include tesseratos in clang-tidy-lint
  .github/workflows/clang-tidy-lint.yml
Owners: @luishfonseca

feat(physics): add velocity and mass components
  engine/include/cubos/engine/physics/physics_mass.hpp
  engine/include/cubos/engine/physics/physics_velocity.hpp
Owners: @luishfonseca, @fallenatlas

feat(physics): add physics sample
  engine/samples/physics/assets/car.grd
  engine/samples/physics/assets/car.grd.meta
  engine/samples/physics/assets/car.qb
  engine/samples/physics/assets/main.pal
  engine/samples/physics/assets/main.pal.meta
  engine/samples/physics/main.cpp
Owners: @RiscadoA

feat(physics): implement initial xpbd algorithm
  engine/include/cubos/engine/physics/components/accumulated_correction.hpp
  engine/include/cubos/engine/physics/components/previous_position.hpp
  engine/include/cubos/engine/physics/constraints/distance_constraint.hpp
  engine/include/cubos/engine/physics/plugin.hpp
  engine/include/cubos/engine/physics/resources/accumulator.hpp
  engine/include/cubos/engine/physics/resources/fixed_delta_time.hpp
  engine/include/cubos/engine/physics/resources/substeps.hpp
  engine/samples/physics/main.cpp
  engine/src/cubos/engine/physics/plugin.cpp
Owners: @luishfonseca, @fallenatlas, @RiscadoA

fix(physics): rename accumulator and move it to src
  engine/include/cubos/engine/physics/plugin.hpp
  engine/src/cubos/engine/physics/physics_accumulator.hpp
  engine/src/cubos/engine/physics/plugin.cpp
Owners: @luishfonseca, @fallenatlas

feat(physics): add impulses to the physics engine
  engine/include/cubos/engine/physics/components/physics_velocity.hpp
  engine/include/cubos/engine/physics/resources/damping.hpp
  engine/samples/physics/main.cpp
  engine/src/cubos/engine/physics/plugin.cpp
Owners: @luishfonseca, @fallenatlas, @RiscadoA
