Repository GameDevTecnico/cubos, changes with the owners that .github/CODEOWNERS names for each.
All owners: @RiscadoA, @fallenatlas, @DiogoMendonc-a, @roby2014

.github/CODEOWNERS:

* @RiscadoA

**/engine/physics/ @fallenatlas
**/engine/gizmos/ @DiogoMendonc-a

**/tesseratos/ @DiogoMendonc-a @roby2014

Deploy preview for PR 1081 🛫
  docs-preview/pr-1081/asset_8hpp.html
  docs-preview/pr-1081/classcubos_1_1core_1_1Logger.html
  docs-preview/pr-1081/classcubos_1_1core_1_1ecs_1_1Blueprint.html
  docs-preview/pr-1081/classcubos_1_1core_1_1ecs_1_1Commands.html
  docs-preview/pr-1081/classcubos_1_1core_1_1ecs_1_1Types.html
  docs-preview/pr-1081/classcubos_1_1core_1_1ecs_1_1World.html
  docs-preview/pr-1081/classcubos_1_1core_1_1memory_1_1TypeMap.html
  docs-preview/pr-1081/classcubos_1_1core_1_1reflection_1_1Type.html
  docs-preview/pr-1081/classcubos_1_1core_1_1reflection_1_1TypeRegistry.html
  docs-preview/pr-1081/classcubos_1_1engine_1_1AnyAsset.html
  docs-preview/pr-1081/classcubos_1_1engine_1_1Asset.html
  docs-preview/pr-1081/examples-core-logging.html
  docs-preview/pr-1081/examples-core-reflection-traits-enum.html
  docs-preview/pr-1081/examples-core-reflection-traits-mask.html
  docs-preview/pr-1081/group__assets-plugin.html
  docs-preview/pr-1081/group__core-reflection.html
  docs-preview/pr-1081/namespacecubos_1_1core_1_1reflection.html
  docs-preview/pr-1081/namespacecubos_1_1engine.html
  docs-preview/pr-1081/reflect_8hpp.html
  docs-preview/pr-1081/searchdata-v2.js
  docs-preview/pr-1081/structcubos_1_1core_1_1reflection_1_1Reflect.html
Owners: @RiscadoA

feat(rendering): add placeholder RenderTarget component
  engine/include/cubos/engine/render/target/target.hpp
Owners: @RiscadoA

feat(rendering): add GBuffer plugin
  CHANGELOG.md
  engine/CMakeLists.txt
  engine/include/cubos/engine/render/g_buffer/g_buffer.hpp
  engine/include/cubos/engine/render/g_buffer/plugin.hpp
  engine/src/render/g_buffer/g_buffer.cpp
  engine/src/render/g_buffer/plugin.cpp
Owners: @RiscadoA

feat(rendering): add GBuffer plugin
  CHANGELOG.md
  engine/CMakeLists.txt
  engine/include/cubos/engine/render/g_buffer/g_buffer.hpp
  engine/include/cubos/engine/render/g_buffer/plugin.hpp
  engine/src/render/g_buffer/g_buffer.cpp
  engine/src/render/g_buffer/plugin.cpp
Owners: @RiscadoA

feat(rendering): add placeholder RenderTarget component
  engine/include/cubos/engine/render/target/target.hpp
Owners: @RiscadoA

deploy: 0193d351b6e9a359ff7fe12aaaaec2ca5da13a96
  docs/annotated.html
  docs/classcubos_1_1engine_1_1DeferredRenderer.html
  docs/dir_13f5e2b140054f355a8f8a8c95923a6a.html
  docs/dir_4b5164e2977dbb20cc762d7848ca7aa4.html
  docs/engine_2include_2cubos_2engine_2render_2g__buffer_2plugin_8hpp.html
  docs/files.html
  docs/g__buffer_8hpp.html
  docs/group__free-camera-plugin.html
  docs/group__render-g-buffer-plugin.html
  docs/group__render-plugins.html
  docs/group__render-shader-plugin.html
  docs/group__renderer-plugin.html
  docs/group__scene-plugin.html
  docs/group__screen-picker-plugin.html
  docs/group__settings-plugin.html
  docs/group__splitscreen-plugin.html
  docs/group__tesseratos-asset-explorer-plugin.html
  docs/group__tesseratos-collider-gizmos-plugin.html
  docs/group__tesseratos-debug-camera-plugin.html
  docs/group__tesseratos-ecs-statistics-plugin.html
  docs/group__tesseratos-entity-inspector-plugin.html
  docs/group__tesseratos-entity-selector-plugin.html
  docs/group__tesseratos-play-pause-plugin.html
  docs/group__tesseratos-scene-editor-plugin.html
  docs/group__tesseratos-settings-inspector-plugin.html
  docs/group__tesseratos-toolbox-plugin.html
  docs/group__tesseratos-transform-gizmo-plugin.html
  docs/group__tesseratos-voxel-palette-editor-plugin.html
  docs/group__tesseratos-world-inspector-plugin.html
  docs/group__transform-plugin.html
  docs/group__voxels-plugin.html
  docs/group__window-plugin.html
  docs/modules.html
  docs/namespacecubos_1_1engine.html
  docs/searchdata-v2.js
  docs/structcubos_1_1engine_1_1GBuffer.html
  docs/structcubos_1_1engine_1_1RenderTarget.html
  docs/target_8hpp.html
Owners: @RiscadoA

Deploy preview for PR 1090 🛫
  docs-preview/pr-1090/features-plugins.html
Owners: @RiscadoA

Deploy preview for PR 1090 🛫
  docs-preview/pr-1090/features-plugins.html
Owners: @RiscadoA

docs: add missing #918 to CHANGELOG.md
  CHANGELOG.md
Owners: @RiscadoA

docs: add missing #918 to CHANGELOG.md
  CHANGELOG.md
Owners: @RiscadoA

feat(memory): add AnyValue::customConstruct
  core/include/cubos/core/memory/any_value.hpp
  core/src/memory/any_value.cpp
  core/tests/memory/any_value.cpp
Owners: @RiscadoA

feat(io): implement reflection for WindowEvent and Window
  core/include/cubos/core/io/window.hpp
  core/src/io/window.cpp
Owners: @RiscadoA

feat(assets): implement reflection for Assets
  engine/include/cubos/engine/assets/assets.hpp
  engine/src/assets/assets.cpp
Owners: @RiscadoA

feat(physics): implement reflection for resources
  engine/include/cubos/engine/physics/resources/damping.hpp
  engine/include/cubos/engine/physics/resources/gravity.hpp
  engine/include/cubos/engine/physics/resources/substeps.hpp
  engine/src/physics/gravity.cpp
  engine/src/physics/plugin.cpp
Owners: @fallenatlas, @RiscadoA

feat(ecs): add resources to Types
  core/include/cubos/core/ecs/types.hpp
  core/src/ecs/types.cpp
  core/tests/ecs/types.cpp
Owners: @RiscadoA

docs(ecs): add missing in-group tags to traits
  core/include/cubos/core/ecs/reflection.hpp
Owners: @RiscadoA

feat(rendering): implement reflection for resources
  engine/CMakeLists.txt
  engine/include/cubos/engine/renderer/environment.hpp
  engine/include/cubos/engine/renderer/frame.hpp
  engine/include/cubos/engine/renderer/plugin.hpp
  engine/include/cubos/engine/renderer/renderer.hpp
  engine/include/cubos/engine/screen_picker/screen_picker.hpp
  engine/src/renderer/environment.cpp
  engine/src/renderer/frame.cpp
  engine/src/renderer/plugin.cpp
  engine/src/renderer/renderer.cpp
  engine/src/screen_picker/screen_picker.cpp
Owners: @RiscadoA

feat(physics): implement reflection for FixedDeltaTime
  engine/CMakeLists.txt
  engine/include/cubos/engine/fixed_step/fixed_delta_time.hpp
  engine/src/fixed_step/fixed_delta_time.cpp
Owners: @RiscadoA

feat(input): implement reflection for Input
  engine/include/cubos/engine/input/input.hpp
  engine/src/input/input.cpp
Owners: @RiscadoA

feat(collisions): implement reflection for SweepAndPrune
  engine/src/collisions/broad_phase/sweep_and_prune.cpp
  engine/src/collisions/broad_phase/sweep_and_prune.hpp
Owners: @RiscadoA

feat(gizmos): implement reflection for resources
  engine/include/cubos/engine/gizmos/gizmos.hpp
  engine/src/gizmos/gizmos.cpp
  engine/src/gizmos/renderer.cpp
  engine/src/gizmos/renderer.hpp
Owners: @DiogoMendonc-a, @RiscadoA

feat(engine): implement reflection for Settings
  engine/include/cubos/engine/settings/settings.hpp
  engine/src/settings/settings.cpp
Owners: @RiscadoA

feat(imgui): implement reflection for DataInspector
  engine/include/cubos/engine/imgui/data_inspector.hpp
  engine/src/imgui/data_inspector.cpp
Owners: @RiscadoA

feat(ecs): untyped resources and enforce resource dependencies
  CHANGELOG.md
  core/include/cubos/core/ecs/command_buffer.hpp
  core/include/cubos/core/ecs/cubos.hpp
  core/include/cubos/core/ecs/resource/manager.hpp
  core/include/cubos/core/ecs/resource/module.dox
  core/include/cubos/core/ecs/system/arguments/commands.hpp
  core/include/cubos/core/ecs/system/arguments/event/pipe.hpp
  core/include/cubos/core/ecs/system/arguments/event/reader.hpp
  core/include/cubos/core/ecs/system/arguments/event/writer.hpp
  core/include/cubos/core/ecs/system/arguments/resources.hpp
  core/include/cubos/core/ecs/world.hpp
  core/src/ecs/command_buffer.cpp
  core/src/ecs/cubos.cpp
  core/src/ecs/query/filter.cpp
  core/src/ecs/query/node/related.cpp
  core/src/ecs/system/arguments/commands.cpp
  core/src/ecs/world.cpp
  core/tests/ecs/cubos.cpp
  core/tests/ecs/dispatcher.cpp
  core/tests/ecs/system.cpp
  core/tests/ecs/world.cpp
  docs/pages/2_features/ecs.md
  docs/pages/2_features/plugins.md
  engine/samples/hello-cubos/main.cpp
  engine/src/imgui/plugin.cpp
  engine/src/scene/plugin.cpp
  engine/src/window/plugin.cpp
  tools/tesseratos/src/tesseratos/asset_explorer/plugin.cpp
  tools/tesseratos/src/tesseratos/collider_gizmos/plugin.cpp
  tools/tesseratos/src/tesseratos/debug_camera/plugin.cpp
  tools/tesseratos/src/tesseratos/scene_editor/plugin.cpp
  tools/tesseratos/src/tesseratos/transform_gizmo/plugin.cpp
  tools/tesseratos/src/tesseratos/voxel_palette_editor/plugin.cpp
  tools/tesseratos/src/tesseratos/world_inspector/plugin.cpp
Owners: @RiscadoA, @DiogoMendonc-a, @roby2014

feat(tools): add resources tab to ECS Statistics
  tools/tesseratos/src/tesseratos/ecs_statistics/plugin.cpp
Owners: @DiogoMendonc-a, @roby2014

feat(tools): implement reflection for Toolbox
  tools/tesseratos/include/tesseratos/toolbox/plugin.hpp
  tools/tesseratos/src/tesseratos/toolbox/plugin.cpp
Owners: @DiogoMendonc-a, @roby2014

feat(imgui): show (no fields) on DataInspector for empty objects
  engine/src/imgui/data_inspector.cpp
Owners: @RiscadoA

feat(tools): implement reflection for EntitySelector
  tools/tesseratos/include/tesseratos/entity_selector/plugin.hpp
  tools/tesseratos/src/tesseratos/entity_selector/plugin.cpp
Owners: @DiogoMendonc-a, @roby2014

feat(imgui): better unsupported type handling on DataInspector
  engine/src/imgui/data_inspector.cpp
Owners: @RiscadoA

deploy: 9aecd7ea62a47a80ffffd62d7109b166ded32aed
  docs/annotated.html
  docs/classcubos_1_1core_1_1ecs_1_1Cubos.html
  docs/classcubos_1_1core_1_1ecs_1_1TagBuilder.html
  docs/cubos_8hpp.html
  docs/dir_bafb7af0e03e95b24a45ff63060ab57b.html
  docs/dir_c65eef5797bb1e2bc1793302872b5915.html
  docs/dir_db86702e1371d7558db3699dd3786a14.html
  docs/engine_2include_2cubos_2engine_2defaults_2plugin_8hpp.html
  docs/engine_2include_2cubos_2engine_2screen__picker_2plugin_8hpp.html
  docs/examples-engine-events.html
  docs/examples-engine-gizmos.html
  docs/examples-engine-hello-cubos.html
  docs/examples-engine-imgui.html
  docs/examples-engine-input.html
  docs/examples-engine-renderer.html
  docs/examples-engine-scene.html
  docs/examples-engine-settings.html
  docs/examples-engine-voxels.html
  docs/features-ecs.html
  docs/features-plugins.html
  docs/files.html
  docs/group__collisions-plugin.html
  docs/group__core-ecs.html
  docs/group__defaults-plugin.html
  docs/group__engine.html
  docs/group__tesseratos-entity-selector-plugin.html
  docs/group__tesseratos-play-pause-plugin.html
  docs/group__tesseratos-scene-editor-plugin.html
  docs/group__tesseratos-settings-inspector-plugin.html
  docs/group__tesseratos-toolbox-plugin.html
  docs/group__tesseratos-transform-gizmo-plugin.html
  docs/group__tesseratos-voxel-palette-editor-plugin.html
  docs/group__tesseratos-world-inspector-plugin.html
  docs/modules.html
  docs/namespacecubos_1_1core_1_1ecs.html
  docs/namespacecubos_1_1engine.html
  docs/searchdata-v2.js
  docs/structcubos_1_1engine_1_1Collider.html
Owners: @RiscadoA

docs(rendering): clear up SpotLight's direction
  engine/include/cubos/engine/renderer/spot_light.hpp
Owners: @RiscadoA

feat(tools): implement reflection for EntitySelector
  tools/tesseratos/include/tesseratos/entity_selector/plugin.hpp
  tools/tesseratos/src/tesseratos/entity_selector/plugin.cpp
Owners: @DiogoMendonc-a, @roby2014

feat(assets): implement reflection for Assets
  engine/include/cubos/engine/assets/assets.hpp
  engine/src/assets/assets.cpp
Owners: @RiscadoA

feat(input): implement reflection for Input
  engine/include/cubos/engine/input/input.hpp
  engine/src/input/input.cpp
Owners: @RiscadoA

feat(gizmos): implement reflection for resources
  engine/include/cubos/engine/gizmos/gizmos.hpp
  engine/src/gizmos/gizmos.cpp
  engine/src/gizmos/renderer.cpp
  engine/src/gizmos/renderer.hpp
Owners: @DiogoMendonc-a, @RiscadoA

feat(imgui): better unsupported type handling on DataInspector
  engine/src/imgui/data_inspector.cpp
Owners: @RiscadoA

feat(rendering): implement reflection for resources
  engine/CMakeLists.txt
  engine/include/cubos/engine/renderer/environment.hpp
  engine/include/cubos/engine/renderer/frame.hpp
  engine/include/cubos/engine/renderer/plugin.hpp
  engine/include/cubos/engine/renderer/renderer.hpp
  engine/include/cubos/engine/screen_picker/screen_picker.hpp
  engine/src/renderer/environment.cpp
  engine/src/renderer/frame.cpp
  engine/src/renderer/plugin.cpp
  engine/src/renderer/renderer.cpp
  engine/src/screen_picker/screen_picker.cpp
Owners: @RiscadoA

feat(physics): implement reflection for resources
  engine/include/cubos/engine/physics/resources/damping.hpp
  engine/include/cubos/engine/physics/resources/gravity.hpp
  engine/include/cubos/engine/physics/resources/substeps.hpp
  engine/src/physics/gravity.cpp
  engine/src/physics/plugin.cpp
Owners: @fallenatlas, @RiscadoA

feat(collisions): implement reflection for SweepAndPrune
  engine/src/collisions/broad_phase/sweep_and_prune.cpp
  engine/src/collisions/broad_phase/sweep_and_prune.hpp
Owners: @RiscadoA

feat(io): implement reflection for WindowEvent and Window
  core/include/cubos/core/io/window.hpp
  core/src/io/window.cpp
Owners: @RiscadoA
