Repository GameDevTecnico/cubos, changes with the owners that .github/CODEOWNERS names for each.
All owners: @RiscadoA, @fallenatlas, @DiogoMendonc-a, @roby2014

build: disable warning about missing DLL interfaces
  CMakeLists.txt
Owners: @RiscadoA

build(core): allow building as a shared library
  CHANGELOG.md
  core/CMakeLists.txt
Owners: @RiscadoA

fix(rendering): do not define two static vars in one line
  core/include/cubos/core/gl/debug.hpp
Owners: @RiscadoA

Deploy preview for PR 1054 🛫
  docs-preview/pr-1054/classcubos_1_1core_1_1data_1_1old_1_1Deserializer.html
  docs-preview/pr-1054/classcubos_1_1core_1_1data_1_1old_1_1Serializer.html
  docs-preview/pr-1054/searchdata-v2.js
  docs-preview/pr-1054/structcubos_1_1core_1_1gl_1_1FramebufferDesc.html
Owners: @RiscadoA

sync
  core/include/cubos/core/al/audio_device.hpp
  core/samples/al/main.cpp
  core/src/al/port_audio_device.cpp
  core/src/al/port_audio_device.hpp
Owners: @RiscadoA

docs: add pair query example to queries.md
  docs/pages/2_features/queries.md
Owners: @RiscadoA

docs: add pair query example to queries.md
  docs/pages/2_features/queries.md
Owners: @RiscadoA

deploy: 58fdb9195fc98f1e5476eb2e3811c7af1154ef6f
  docs/features-queries.html
Owners: @RiscadoA

Deploy preview for PR 1064 🛫
  docs-preview/pr-1064/features-queries.html
Owners: @RiscadoA

feat(tesseratos): add hierarchy to main scene in tesseratos
  tools/tesseratos/samples/main/assets/scenes/main.cubos
Owners: @DiogoMendonc-a, @roby2014

feat(core): add empty method to Query
  core/include/cubos/core/ecs/system/arguments/query.hpp
Owners: @RiscadoA

feat(tesseratos): show childOf hierarchy on world inspector
  CHANGELOG.md
  tools/tesseratos/samples/main/assets/scenes/main.cubos
  tools/tesseratos/src/tesseratos/world_inspector/plugin.cpp
Owners: @RiscadoA, @DiogoMendonc-a, @roby2014

feat(tesseratos): show childOf hierarchy on world inspector
  CHANGELOG.md
  tools/tesseratos/samples/main/assets/scenes/main.cubos
  tools/tesseratos/src/tesseratos/world_inspector/plugin.cpp
Owners: @RiscadoA, @DiogoMendonc-a, @roby2014

feat(core): add empty method to Query
  core/include/cubos/core/ecs/system/arguments/query.hpp
Owners: @RiscadoA

feat(tesseratos): add hierarchy to main scene in tesseratos
  tools/tesseratos/samples/main/assets/scenes/main.cubos
Owners: @DiogoMendonc-a, @roby2014

deploy: 074ff7fe61197e7c67476bd252647fb29b1c05fd
  docs/classcubos_1_1core_1_1ecs_1_1Query.html
  docs/searchdata-v2.js
Owners: @RiscadoA

fix(gizmos): correctly calculate perpendiculars
  engine/src/gizmos/types/cut_cone.hpp
  engine/src/gizmos/types/ring.hpp
Owners: @RiscadoA

feat(tools): add rotation gizmo
  tools/tesseratos/src/tesseratos/transform_gizmo/plugin.cpp
Owners: @DiogoMendonc-a, @roby2014

feat(gizmos): add global/local axis toggle
  CHANGELOG.md
  tools/tesseratos/include/tesseratos/transform_gizmo/plugin.hpp
  tools/tesseratos/src/tesseratos/transform_gizmo/plugin.cpp
Owners: @RiscadoA, @DiogoMendonc-a, @roby2014

Deploy preview for PR 1067 🛫
  docs-preview/pr-1067/group__tesseratos-transform-gizmo-plugin.html
  docs-preview/pr-1067/namespacetesseratos.html
  docs-preview/pr-1067/searchdata-v2.js
  docs-preview/pr-1067/tools_2tesseratos_2include_2tesseratos_2transform__gizmo_2plugin_8hpp.html
Owners: @RiscadoA

fix(gizmos): correctly calculate perpendiculars
  engine/src/gizmos/types/cut_cone.hpp
  engine/src/gizmos/types/ring.hpp
Owners: @RiscadoA

feat(tools): add rotation gizmo
  tools/tesseratos/src/tesseratos/transform_gizmo/plugin.cpp
Owners: @DiogoMendonc-a, @roby2014

feat(gizmos): add global/local axis toggle
  CHANGELOG.md
  tools/tesseratos/include/tesseratos/transform_gizmo/plugin.hpp
  tools/tesseratos/src/tesseratos/transform_gizmo/plugin.cpp
Owners: @RiscadoA, @DiogoMendonc-a, @roby2014

deploy: eb42da295533e911f2197ff08e175fa59f2fcc6f
  docs/group__tesseratos-transform-gizmo-plugin.html
  docs/group__tesseratos-voxel-palette-editor-plugin.html
  docs/group__tesseratos-world-inspector-plugin.html
Owners: @RiscadoA

build(core): disable OpenAL by default
  CMakeLists.txt
  core/CMakeLists.txt
  core/src/al/oal_audio_device.cpp
Owners: @RiscadoA

docs: add exercises page
  docs/pages/2_features/main.md
  docs/pages/4_exercises/main.md
  docs/pages/5_contribution/main.md
  docs/pages/main.md
Owners: @RiscadoA

docs: improve getting started page
  docs/pages/1_getting_started/main.md
Owners: @RiscadoA

docs: improve getting started page
  docs/pages/1_getting_started/main.md
Owners: @RiscadoA

build(core): disable OpenAL by default
  CMakeLists.txt
  core/CMakeLists.txt
  core/src/al/oal_audio_device.cpp
Owners: @RiscadoA

docs: add exercises page
  docs/pages/2_features/main.md
  docs/pages/4_exercises/main.md
  docs/pages/5_contribution/main.md
  docs/pages/main.md
Owners: @RiscadoA

feat(gizmos): add rotated boxes
  engine/include/cubos/engine/gizmos/gizmos.hpp
  engine/src/gizmos/gizmos.cpp
  engine/src/gizmos/types/box.hpp
Owners: @DiogoMendonc-a, @RiscadoA

feat(tools): enable planar drag for local axes
  CHANGELOG.md
  tools/tesseratos/src/tesseratos/transform_gizmo/plugin.cpp
Owners: @RiscadoA, @DiogoMendonc-a, @roby2014

feat(gizmos): add rotated boxes
  engine/include/cubos/engine/gizmos/gizmos.hpp
  engine/src/gizmos/gizmos.cpp
  engine/src/gizmos/types/box.hpp
Owners: @DiogoMendonc-a, @RiscadoA

feat(tools): enable planar drag for local axes
  CHANGELOG.md
  tools/tesseratos/src/tesseratos/transform_gizmo/plugin.cpp
Owners: @RiscadoA, @DiogoMendonc-a, @roby2014

deploy: ba73d0a1d37eee479aa7c373832c708fb56a78e1
  docs/classcubos_1_1engine_1_1Gizmos.html
  docs/searchdata-v2.js
Owners: @RiscadoA

feat(transform): add Rotation::lookingAt
  engine/include/cubos/engine/transform/rotation.hpp
  engine/src/transform/rotation.cpp
Owners: @RiscadoA

feat(transform): add Rotation::lookingAt
  engine/include/cubos/engine/transform/rotation.hpp
  engine/src/transform/rotation.cpp
Owners: @RiscadoA

deploy: f4f7576ae7df07fd45a78d5dc80a523fdf320156
  docs/searchdata-v2.js
  docs/structcubos_1_1engine_1_1Rotation.html
Owners: @RiscadoA

feat(ecs): add Commands::EntityBuilder::named
  core/include/cubos/core/ecs/system/arguments/commands.hpp
  core/src/ecs/system/arguments/commands.cpp
  core/tests/ecs/commands.cpp
Owners: @RiscadoA

feat(ecs): add Commands::EntityBuilder::named
  core/include/cubos/core/ecs/system/arguments/commands.hpp
  core/src/ecs/system/arguments/commands.cpp
  core/tests/ecs/commands.cpp
Owners: @RiscadoA

.github/CODEOWNERS:

* @RiscadoA

**/engine/physics/ @fallenatlas
**/engine/gizmos/ @DiogoMendonc-a

**/tesseratos/ @DiogoMendonc-a @roby2014
