Repository GameDevTecnico/cubos, changes with the owners that .github/CODEOWNERS names for each.
All owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team, @tomas7770, @GameDevTecnico/cubos-graphics-team, @fallenatlas, @GameDevTecnico/cubos-physics-team, @GameDevTecnico/cubos-tools-team

deploy: 98fea09e59216f45063b78b48f49b441d554a61b
  annotated.html
  files.html
  frustum_8hpp.html
  group__core-geom.html
  intersections_8hpp.html
  namespacecubos_1_1core_1_1geom.html
  searchdata-v2.js
  structcubos_1_1core_1_1geom_1_1Frustum.html
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team

Deploy preview for PR 1457 🛫
  preview/pr-1457/annotated.html
  preview/pr-1457/classcubos_1_1engine_1_1Raycast.html
  preview/pr-1457/dir_3504744c369d3ac8de67ffae1d44d2b4.html
  preview/pr-1457/dir_c1deef5baf41393ad8a994c3fd53e62f.html
  preview/pr-1457/examples-engine-audio.html
  preview/pr-1457/examples-engine.html
  preview/pr-1457/files.html
  preview/pr-1457/fixed__accumulated__time_8hpp.html
  preview/pr-1457/frustum_8hpp.html
  preview/pr-1457/group__core-geom.html
  preview/pr-1457/group__fixed-step-plugin.html
  preview/pr-1457/intersections_8hpp.html
  preview/pr-1457/namespacecubos_1_1core_1_1geom.html
  preview/pr-1457/namespacecubos_1_1engine.html
  preview/pr-1457/pages.html
  preview/pr-1457/searchdata-v2.js
  preview/pr-1457/structcubos_1_1core_1_1geom_1_1Frustum.html
  preview/pr-1457/structcubos_1_1engine_1_1Collider.html
  preview/pr-1457/structcubos_1_1engine_1_1CollidingWith.html
  preview/pr-1457/structcubos_1_1engine_1_1FixedAccumulatedTime.html
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team

chore: refactor to comply with code style guidelines
  tools/tesseratos/src/tesseratos/main.cpp
Owners: @RiscadoA, @GameDevTecnico/cubos-tools-team

feat(tools): enable ImGui docking on Tesseratos and set a dockspace
  tools/tesseratos/src/tesseratos/main.cpp
Owners: @RiscadoA, @GameDevTecnico/cubos-tools-team

feat(tools): enable ImGui docking branch
  default.nix
  engine/CMakeLists.txt
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team

docs: update CHANGELOG.md
  CHANGELOG.md
Owners: @RiscadoA

feat(tools): enable ImGui docking on Tesseratos and set a dockspace
  tools/tesseratos/src/tesseratos/main.cpp
Owners: @RiscadoA, @GameDevTecnico/cubos-tools-team

feat(tools): enable ImGui docking branch
  default.nix
  engine/CMakeLists.txt
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team

docs: update CHANGELOG.md
  CHANGELOG.md
Owners: @RiscadoA

chore: refactor to comply with code style guidelines
  tools/tesseratos/src/tesseratos/main.cpp
Owners: @RiscadoA, @GameDevTecnico/cubos-tools-team

build: bump CMake project version to 0.6.0
  CMakeLists.txt
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team

docs: prepare changelog for v0.6.0
  CHANGELOG.md
Owners: @RiscadoA

feat(engine): allow multiple contacts between two entities
  engine/include/cubos/engine/collisions/colliding_with.hpp
  engine/include/cubos/engine/collisions/contact_manifold.hpp
  engine/include/cubos/engine/collisions/shapes/voxel.hpp
  engine/samples/collisions/main.cpp
  engine/samples/voxel-shape-collisions/main.cpp
  engine/src/collisions/interface/colliding_with.cpp
  engine/src/collisions/interface/contact_manifold.cpp
  engine/src/collisions/interface/plugin.cpp
  engine/src/collisions/narrow_phase/plugin.cpp
  engine/src/collisions/plugin.cpp
  engine/src/physics/constraints/penetration_constraint.cpp
  engine/src/physics/constraints/penetration_constraint.hpp
  engine/src/physics/solver/penetration_constraint/plugin.cpp
Owners: @RiscadoA, @fallenatlas, @GameDevTecnico/cubos-physics-team, @GameDevTecnico/cubos-wildcard-team

fix(ci): change runners to Ubuntu 22.04
  engine/include/cubos/engine/collisions/colliding_with.hpp
  engine/src/collisions/narrow_phase/plugin.cpp
  engine/src/physics/constraints/penetration_constraint.hpp
  engine/src/physics/solver/penetration_constraint/plugin.cpp
Owners: @RiscadoA, @fallenatlas, @GameDevTecnico/cubos-physics-team, @GameDevTecnico/cubos-wildcard-team

feat(rendering): make RenderPicker optional
  engine/assets/render/g_buffer_rasterizer.fs
  engine/assets/render/g_buffer_rasterizer.vs
  engine/src/gizmos/plugin.cpp
  engine/src/render/g_buffer_rasterizer/plugin.cpp
Owners: @RiscadoA, @tomas7770, @GameDevTecnico/cubos-graphics-team, @GameDevTecnico/cubos-wildcard-team

Deploy preview for PR 1461 🛫
  preview/pr-1461/group__collisions-plugin.html
  preview/pr-1461/structcubos_1_1engine_1_1CollisionLayers.html
  preview/pr-1461/structcubos_1_1engine_1_1CollisionMask.html
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team

feat(collisions): move collision layers and mask to their own components
  engine/CMakeLists.txt
  engine/include/cubos/engine/collisions/collider.hpp
  engine/include/cubos/engine/collisions/collision_layers.hpp
  engine/include/cubos/engine/collisions/collision_mask.hpp
  engine/include/cubos/engine/collisions/plugin.hpp
  engine/include/cubos/engine/collisions/raycast.hpp
  engine/samples/collisions/main.cpp
  engine/samples/complex_physics/assets/scenes/red_cube.cubos
  engine/samples/complex_physics/assets/scenes/white_cube.cubos
  engine/samples/complex_physics/main.cpp
  engine/src/collisions/broad_phase/plugin.cpp
  engine/src/collisions/interface/collider.cpp
  engine/src/collisions/interface/collision_layers.cpp
  engine/src/collisions/interface/collision_mask.cpp
  engine/src/collisions/interface/plugin.cpp
  engine/src/collisions/interface/raycast.cpp
  engine/tests/raycast.cpp
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team, @fallenatlas, @GameDevTecnico/cubos-physics-team

feat(collisions): add CollisionGroup component
  engine/CMakeLists.txt
  engine/src/collisions/broad_phase/collision_group.cpp
  engine/src/collisions/broad_phase/collision_group.hpp
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team

docs: update CHANGELOG.md
  CHANGELOG.md
Owners: @RiscadoA

Deploy preview for PR 1458 🛫
  preview/pr-1458/classcubos_1_1engine_1_1Asset.html
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team

fix(ci): change runners to Ubuntu 22.04
  engine/include/cubos/engine/collisions/colliding_with.hpp
  engine/src/collisions/narrow_phase/plugin.cpp
  engine/src/physics/constraints/penetration_constraint.hpp
  engine/src/physics/solver/penetration_constraint/plugin.cpp
Owners: @RiscadoA, @fallenatlas, @GameDevTecnico/cubos-physics-team, @GameDevTecnico/cubos-wildcard-team

feat(engine): allow multiple contacts between two entities
  engine/include/cubos/engine/collisions/colliding_with.hpp
  engine/include/cubos/engine/collisions/contact_manifold.hpp
  engine/include/cubos/engine/collisions/shapes/voxel.hpp
  engine/samples/collisions/main.cpp
  engine/samples/voxel-shape-collisions/main.cpp
  engine/src/collisions/interface/colliding_with.cpp
  engine/src/collisions/interface/contact_manifold.cpp
  engine/src/collisions/interface/plugin.cpp
  engine/src/collisions/narrow_phase/plugin.cpp
  engine/src/collisions/plugin.cpp
  engine/src/physics/constraints/penetration_constraint.cpp
  engine/src/physics/constraints/penetration_constraint.hpp
  engine/src/physics/solver/penetration_constraint/plugin.cpp
Owners: @RiscadoA, @fallenatlas, @GameDevTecnico/cubos-physics-team, @GameDevTecnico/cubos-wildcard-team

deploy: 00c4a2a389eb289887f478cd1b6312d699f4dcb8
  classcubos_1_1engine_1_1VoxelCollisionShape.html
  contact__manifold_8hpp.html
  dir_db86702e1371d7558db3699dd3786a14.html
  files.html
  group__collisions-plugin.html
  searchdata-v2.js
  structcubos_1_1engine_1_1CollidingWith.html
  structcubos_1_1engine_1_1ContactManifold.html
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team

Deploy preview for PR 1458 🛫
  preview/pr-1458/classcubos_1_1engine_1_1Asset.html
  preview/pr-1458/classcubos_1_1engine_1_1VoxelCollisionShape.html
  preview/pr-1458/contact__manifold_8hpp.html
  preview/pr-1458/dir_db86702e1371d7558db3699dd3786a14.html
  preview/pr-1458/files.html
  preview/pr-1458/group__collisions-plugin.html
  preview/pr-1458/searchdata-v2.js
  preview/pr-1458/structcubos_1_1engine_1_1CollidingWith.html
  preview/pr-1458/structcubos_1_1engine_1_1ContactManifold.html
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team

feat(rendering): make RenderPicker optional
  CHANGELOG.md
  engine/assets/render/g_buffer_rasterizer.fs
  engine/assets/render/g_buffer_rasterizer.vs
  engine/include/cubos/engine/render/defaults/target.hpp
  engine/src/gizmos/plugin.cpp
  engine/src/render/defaults/plugin.cpp
  engine/src/render/defaults/target.cpp
  engine/src/render/g_buffer_rasterizer/plugin.cpp
Owners: @RiscadoA, @tomas7770, @GameDevTecnico/cubos-graphics-team, @GameDevTecnico/cubos-wildcard-team

Deploy preview for PR 1462 🛫
  preview/pr-1462/classcubos_1_1engine_1_1VoxelCollisionShape.html
  preview/pr-1462/contact__manifold_8hpp.html
  preview/pr-1462/dir_db86702e1371d7558db3699dd3786a14.html
  preview/pr-1462/files.html
  preview/pr-1462/group__collisions-plugin.html
  preview/pr-1462/searchdata-v2.js
  preview/pr-1462/structcubos_1_1engine_1_1CollidingWith.html
  preview/pr-1462/structcubos_1_1engine_1_1ContactManifold.html
  preview/pr-1462/structcubos_1_1engine_1_1RenderTargetDefaults.html
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team

--no-edit
  CHANGELOG.md
  core/include/cubos/core/ecs/cubos.hpp
  core/include/cubos/core/ecs/observer/observers.hpp
  core/include/cubos/core/ecs/plugin_queue.hpp
  core/src/ecs/cubos.cpp
  core/src/ecs/observer/observers.cpp
  core/src/ecs/world.cpp
  core/tests/ecs/observer/observers.cpp
  engine/include/cubos/engine/render/voxels/grid.hpp
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team, @tomas7770, @GameDevTecnico/cubos-graphics-team

feat(ecs): add entity destruction detection to observers
  CHANGELOG.md
Owners: @RiscadoA

Deploy preview for PR 1455 🛫
  preview/pr-1455/classcubos_1_1engine_1_1VoxelCollisionShape.html
  preview/pr-1455/contact__manifold_8hpp.html
  preview/pr-1455/dir_db86702e1371d7558db3699dd3786a14.html
  preview/pr-1455/files.html
  preview/pr-1455/group__collisions-plugin.html
  preview/pr-1455/searchdata-v2.js
  preview/pr-1455/structcubos_1_1engine_1_1CollidingWith.html
  preview/pr-1455/structcubos_1_1engine_1_1ContactManifold.html
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team

Deploy preview for PR 1458 🛫
  preview/pr-1458/searchdata-v2.js
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team

feat(ecs): add entity destruction detection to observers
  .github/workflows/build-engine-windows.yml
  CHANGELOG.md
  core/include/cubos/core/ecs/cubos.hpp
  core/include/cubos/core/ecs/observer/observers.hpp
  core/include/cubos/core/ecs/plugin_queue.hpp
  core/src/ecs/cubos.cpp
  core/src/ecs/observer/observers.cpp
  core/src/ecs/world.cpp
  core/tests/ecs/observer/observers.cpp
  engine/include/cubos/engine/render/voxels/grid.hpp
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team, @tomas7770, @GameDevTecnico/cubos-graphics-team

feat(ecs): add entity destruction detection to observers
  .github/workflows/build-engine-windows.yml
  CHANGELOG.md
  core/include/cubos/core/ecs/cubos.hpp
  core/include/cubos/core/ecs/observer/observers.hpp
  core/include/cubos/core/ecs/plugin_queue.hpp
  core/src/ecs/cubos.cpp
  core/src/ecs/observer/observers.cpp
  core/src/ecs/world.cpp
  core/tests/ecs/observer/observers.cpp
  engine/include/cubos/engine/render/voxels/grid.hpp
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team, @tomas7770, @GameDevTecnico/cubos-graphics-team

deploy: a55164f13487f6d74a8e95d1852595222fe764eb
  classcubos_1_1core_1_1ecs_1_1Cubos.html
  classcubos_1_1core_1_1ecs_1_1Observers.html
  searchdata-v2.js
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team

feat(tesseratos): move tesserato's tools status inside their respective plugins plugin
  CHANGELOG.md
  tools/tesseratos/src/tesseratos/asset_explorer/plugin.cpp
  tools/tesseratos/src/tesseratos/asset_explorer/plugin.hpp
  tools/tesseratos/src/tesseratos/debugger/plugin.cpp
  tools/tesseratos/src/tesseratos/debugger/plugin.hpp
  tools/tesseratos/src/tesseratos/importer/plugin.cpp
  tools/tesseratos/src/tesseratos/importer/plugin.hpp
  tools/tesseratos/src/tesseratos/project/plugin.cpp
  tools/tesseratos/src/tesseratos/project/plugin.hpp
  tools/tesseratos/src/tesseratos/scene_editor/plugin.cpp
  tools/tesseratos/src/tesseratos/scene_editor/plugin.hpp
  tools/tesseratos/src/tesseratos/voxel_palette_editor/plugin.cpp
  tools/tesseratos/src/tesseratos/voxel_palette_editor/plugin.hpp
Owners: @RiscadoA, @GameDevTecnico/cubos-tools-team

feat(tesseratos): move plugins inside Menu Bar plugin
  tools/tesseratos/src/tesseratos/main.cpp
  tools/tesseratos/src/tesseratos/menu_bar/plugin.cpp
Owners: @RiscadoA, @GameDevTecnico/cubos-tools-team

feat(tesseratos): add Menu Bar plugin
  CHANGELOG.md
  tools/tesseratos/CMakeLists.txt
  tools/tesseratos/src/tesseratos/main.cpp
  tools/tesseratos/src/tesseratos/menu_bar/plugin.cpp
  tools/tesseratos/src/tesseratos/menu_bar/plugin.hpp
Owners: @RiscadoA, @GameDevTecnico/cubos-tools-team

docs: update CHANGELOG.md
  CHANGELOG.md
Owners: @RiscadoA

docs: update CHANGELOG.md
  CHANGELOG.md
Owners: @RiscadoA

docs: update CHANGELOG.md
  CHANGELOG.md
Owners: @RiscadoA

Deploy preview for PR 1455 🛫
  preview/pr-1455/classcubos_1_1core_1_1ecs_1_1Cubos.html
  preview/pr-1455/classcubos_1_1core_1_1ecs_1_1Observers.html
  preview/pr-1455/searchdata-v2.js
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team

.github/CODEOWNERS:

* @RiscadoA @GameDevTecnico/cubos-wildcard-team

CHANGELOG.md @RiscadoA

**/core/gl/ @RiscadoA @tomas7770 @GameDevTecnico/cubos-graphics-team
**/engine/gizmos/ @RiscadoA @tomas7770 @GameDevTecnico/cubos-graphics-team
**/engine/render/ @RiscadoA @tomas7770 @GameDevTecnico/cubos-graphics-team
**/engine/ui/ @RiscadoA @tomas7770 @GameDevTecnico/cubos-graphics-team
**/engine/assets/render/ @RiscadoA @tomas7770 @GameDevTecnico/cubos-graphics-team
**/engine/assets/ui/ @RiscadoA @tomas7770 @GameDevTecnico/cubos-graphics-team

**/core/geom/ @RiscadoA @fallenatlas @GameDevTecnico/cubos-physics-team
**/engine/collisions/ @RiscadoA @fallenatlas @GameDevTecnico/cubos-physics-team
**/engine/physics/ @RiscadoA @fallenatlas @GameDevTecnico/cubos-physics-team

**/tools/ @RiscadoA @GameDevTecnico/cubos-tools-team
