Repository GameDevTecnico/cubos, changes with the owners that .github/CODEOWNERS names for each.
All owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team, @tomas7770, @GameDevTecnico/cubos-graphics-team, @fallenatlas, @GameDevTecnico/cubos-physics-team, @GameDevTecnico/cubos-tools-team

docs(rendering): remove vSync setting override in samples
  engine/samples/render/main/main.cpp
  engine/samples/render/shadows/main.cpp
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team

build: fix msdf-atlas-gen configuration
  cmake/cubos-config.cmake.in
  engine/CMakeLists.txt
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team

build: only find needed dependencies on Emscripten on cubos-config.cmake
  cmake/cubos-config.cmake.in
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team

chore: update flake with new dependencies
  default.nix
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team

build(tesseratos): add Emscripten support to template project
  tools/tesseratos/templates/simple/CMakeLists.txt
Owners: @RiscadoA, @GameDevTecnico/cubos-tools-team

fix(imgui): stop setting raster mode
  engine/src/imgui/imgui.cpp
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team

feat(ci): add build web action
  .github/workflows/build-engine-web.yml
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team

refactor(gl): remove Texture2DArray target type
  core/include/cubos/core/gl/render_device.hpp
  core/src/gl/ogl_render_device.cpp
  core/src/gl/render_device.cpp
Owners: @RiscadoA, @tomas7770, @GameDevTecnico/cubos-graphics-team, @GameDevTecnico/cubos-wildcard-team

fix(gl): remove anisotropy filter support in Emscripten
  core/src/gl/ogl_render_device.cpp
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team

feat(ecs): use proper main loop on Cubos::run with Emscripten
  core/src/ecs/cubos.cpp
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team

fix(rendering): add missing padding to some std140 structs
  engine/src/render/g_buffer_rasterizer/plugin.cpp
  engine/src/render/ssao/plugin.cpp
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team

fix(tel): do not use cpptrace on Emscripten
  core/src/tel/logging.cpp
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team

fix(ecs): run startup systems after emscripten_set_main_loop
  core/src/ecs/cubos.cpp
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team

build: increase Emscripten initial memory and stack size
  CMakeLists.txt
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team

fix(gl): disable geometry shaders on web
  core/src/gl/ogl_render_device.cpp
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team

fix(rendering): make engine shaders compatible with WebGL 2
  engine/assets/render/bloom.fs
  engine/assets/render/deferred_shading.fs
  engine/assets/render/g_buffer_rasterizer.vs
  engine/assets/render/shadow_atlas_rasterizer.fs
  engine/assets/render/shadow_atlas_rasterizer.vs
  engine/assets/render/ssao_base.fs
  engine/assets/ui/element.vs
Owners: @RiscadoA, @tomas7770, @GameDevTecnico/cubos-graphics-team

refactor(gl): replace glGetTexImage with glReadPixels
  core/include/cubos/core/gl/render_device.hpp
  core/src/gl/ogl_render_device.cpp
Owners: @RiscadoA, @tomas7770, @GameDevTecnico/cubos-graphics-team, @GameDevTecnico/cubos-wildcard-team

build: do not use cpptrace and glad when compiling for the web
  core/CMakeLists.txt
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team

fix(gl): remove unnecessary call to glDraw/ReadBuffer
  core/src/gl/ogl_render_device.cpp
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team

fix(gl): use WebGL 2 header instead of GLES header
  core/src/gl/ogl_render_device.cpp
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team

chore: update flake with new dependencies
  default.nix
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team

build: disable Emscripten STRICT and enable assertions
  CMakeLists.txt
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team

feat(gl): inject version in shader assets
  core/samples/gl/quad/main.cpp
  core/src/gl/ogl_render_device.cpp
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team

build: embed assets on web releases
  CMakeLists.txt
  core/CMakeLists.txt
  engine/CMakeLists.txt
  engine/samples/CMakeLists.txt
  tools/tesseratos/CMakeLists.txt
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team, @GameDevTecnico/cubos-tools-team

docs(gl): remove global variable from gl.quad sample
  core/samples/gl/quad/main.cpp
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team

build(engine): make imgui a system library to avoid compilations errors from its warnings
  engine/CMakeLists.txt
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team

fix(rendering): replace old Border AddressMode by Clamp on cascading shadows
  engine/src/render/deferred_shading/plugin.cpp
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team

fix(gl): add missing precision specifiers to WebGL2 shader header
  core/src/gl/ogl_render_device.cpp
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team

fix(gl): disable shader storage block on web
  core/src/gl/ogl_render_device.cpp
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team

feat(gl): add framebuffer setTexture2DArrayTarget
  core/include/cubos/core/gl/render_device.hpp
  core/src/gl/ogl_render_device.cpp
  core/src/gl/render_device.cpp
Owners: @RiscadoA, @tomas7770, @GameDevTecnico/cubos-graphics-team, @GameDevTecnico/cubos-wildcard-team

build: fix msdf-atlas-gen configuration
  cmake/cubos-config.cmake.in
  engine/CMakeLists.txt
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team

docs(rendering): remove vSync setting override in samples
  engine/samples/render/main/main.cpp
  engine/samples/render/shadows/main.cpp
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team

fix(gl): remove shader version declarations
  core/samples/gl/compute/main.cpp
  engine/assets/render/bloom.fs
  engine/assets/render/bloom_extract.fs
  engine/assets/render/deferred_shading.fs
  engine/assets/render/g_buffer_rasterizer.fs
  engine/assets/render/g_buffer_rasterizer.vs
  engine/assets/render/screen_quad.vs
  engine/assets/render/ssao_base.fs
  engine/assets/render/ssao_blur.fs
  engine/assets/render/tone_mapping.fs
  engine/assets/ui/color_rect.fs
  engine/assets/ui/element.vs
  engine/src/gizmos/renderer.cpp
  engine/src/imgui/imgui.cpp
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team, @tomas7770, @GameDevTecnico/cubos-graphics-team

refactor(gl): check OpenGL functions for errors
  core/src/gl/ogl_render_device.cpp
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team

fix(gl): disable compute shaders on web
  core/src/gl/ogl_render_device.cpp
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team

feat(gl): add unsigned RenderDevice::clearTargetColor
  core/include/cubos/core/gl/render_device.hpp
  core/src/gl/ogl_render_device.cpp
  core/src/gl/ogl_render_device.hpp
Owners: @RiscadoA, @tomas7770, @GameDevTecnico/cubos-graphics-team, @GameDevTecnico/cubos-wildcard-team

fix(rendering): use unsigned clearTargetColor for render picker
  engine/src/render/g_buffer_rasterizer/plugin.cpp
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team

fix(gl): use GLsizei for OGLTexture2D dimensions
  core/src/gl/ogl_render_device.cpp
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team

fix(telemetry): handle log levels correctly in Emscripten
  core/src/tel/logging.cpp
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team

docs(gl): replace sync TODO by proper explanation
  core/include/cubos/core/gl/render_device.hpp
Owners: @RiscadoA, @tomas7770, @GameDevTecnico/cubos-graphics-team

.github/CODEOWNERS:

* @RiscadoA @GameDevTecnico/cubos-wildcard-team

CHANGELOG.md @RiscadoA

**/core/gl/ @RiscadoA @tomas7770 @GameDevTecnico/cubos-graphics-team
**/engine/gizmos/ @RiscadoA @tomas7770 @GameDevTecnico/cubos-graphics-team
**/engine/render/ @RiscadoA @tomas7770 @GameDevTecnico/cubos-graphics-team
**/engine/ui/ @RiscadoA @tomas7770 @GameDevTecnico/cubos-graphics-team
**/engine/assets/render/ @RiscadoA @tomas7770 @GameDevTecnico/cubos-graphics-team
**/engine/assets/ui/ @RiscadoA @tomas7770 @GameDevTecnico/cubos-graphics-team

**/core/geom/ @RiscadoA @fallenatlas @GameDevTecnico/cubos-physics-team
**/engine/collisions/ @RiscadoA @fallenatlas @GameDevTecnico/cubos-physics-team
**/engine/physics/ @RiscadoA @fallenatlas @GameDevTecnico/cubos-physics-team

**/tools/ @RiscadoA @GameDevTecnico/cubos-tools-team
