Repository GameDevTecnico/cubos, changes with the owners that .github/CODEOWNERS names for each.
All owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team, @tomas7770, @GameDevTecnico/cubos-graphics-team, @fallenatlas, @GameDevTecnico/cubos-physics-team, @GameDevTecnico/cubos-tools-team

.github/CODEOWNERS:

* @RiscadoA @GameDevTecnico/cubos-wildcard-team

CHANGELOG.md @RiscadoA

**/core/gl/ @RiscadoA @tomas7770 @GameDevTecnico/cubos-graphics-team
**/engine/gizmos/ @RiscadoA @tomas7770 @GameDevTecnico/cubos-graphics-team
**/engine/render/ @RiscadoA @tomas7770 @GameDevTecnico/cubos-graphics-team
**/engine/ui/ @RiscadoA @tomas7770 @GameDevTecnico/cubos-graphics-team
**/engine/assets/render/ @RiscadoA @tomas7770 @GameDevTecnico/cubos-graphics-team
**/engine/assets/ui/ @RiscadoA @tomas7770 @GameDevTecnico/cubos-graphics-team

**/core/geom/ @RiscadoA @fallenatlas @GameDevTecnico/cubos-physics-team
**/engine/collisions/ @RiscadoA @fallenatlas @GameDevTecnico/cubos-physics-team
**/engine/physics/ @RiscadoA @fallenatlas @GameDevTecnico/cubos-physics-team

**/tools/ @RiscadoA @GameDevTecnico/cubos-tools-team

fix(rendering): make cascading shadows plugin compatible with WebGL 2
  engine/assets/render/cascaded_shadow_maps_rasterizer.fs
  engine/assets/render/cascaded_shadow_maps_rasterizer.gs
  engine/assets/render/cascaded_shadow_maps_rasterizer.gs.meta
  engine/assets/render/cascaded_shadow_maps_rasterizer.vs
  engine/include/cubos/engine/render/shadows/casters/directional_caster.hpp
  engine/src/render/shadows/cascaded_rasterizer/plugin.cpp
  engine/src/render/shadows/casters/directional_caster.cpp
Owners: @RiscadoA, @tomas7770, @GameDevTecnico/cubos-graphics-team, @GameDevTecnico/cubos-wildcard-team

fix(gl): use RGBA instead of RGB for render targets
  engine/src/render/bloom/plugin.cpp
  engine/src/render/g_buffer/plugin.cpp
  engine/src/render/hdr/plugin.cpp
  engine/src/render/ssao/plugin.cpp
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team

fix(gl): add missing update to quad sample
  core/samples/gl/quad/main.cpp
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team

build: turn make_sample into a function
  core/samples/CMakeLists.txt
  engine/samples/CMakeLists.txt
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team

refactor(gl): replace glMapBuffer with glMapBufferRange
  core/src/gl/ogl_render_device.cpp
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team

fix(gl): disable OGLTimer support in Emscripten
  core/src/gl/ogl_render_device.cpp
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team

fix(io): disable gamepad on emscripten
  core/src/io/glfw_window.cpp
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team

docs: update CHANGELOG.md
  CHANGELOG.md
Owners: @RiscadoA

build(engine): skip assets saving sample on Emscripten
  engine/samples/CMakeLists.txt
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team

docs(gl): add useful documentation at the top of the file
  core/src/gl/ogl_render_device.cpp
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team

refactor(gl): remove texture formats unsupported by GLES 3.0
  core/include/cubos/core/gl/render_device.hpp
  core/src/gl/ogl_render_device.cpp
Owners: @RiscadoA, @tomas7770, @GameDevTecnico/cubos-graphics-team, @GameDevTecnico/cubos-wildcard-team

fix(gl): make PixelPackBuffer and Texture2D::copyTo WebGL compatible
  core/include/cubos/core/gl/render_device.hpp
  core/src/gl/ogl_render_device.cpp
  engine/src/render/picker/picker.cpp
  engine/src/render/picker/plugin.cpp
Owners: @RiscadoA, @tomas7770, @GameDevTecnico/cubos-graphics-team, @GameDevTecnico/cubos-wildcard-team

fix(io): do not use Glad on GLFWWindow on Emcripten
  core/src/io/glfw_window.cpp
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team

fix(gl): disable error callback on web
  core/src/gl/ogl_render_device.cpp
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team

fix(gl): handle compute shader version headers
  core/samples/gl/compute/main.cpp
  core/src/gl/ogl_render_device.cpp
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team

refactor(gl): replace all maps by fills
  core/include/cubos/core/gl/render_device.hpp
  core/src/gl/ogl_render_device.cpp
  engine/src/gizmos/types/box.hpp
  engine/src/gizmos/types/cut_cone.hpp
  engine/src/gizmos/types/line.hpp
  engine/src/gizmos/types/ring.hpp
  engine/src/imgui/imgui.cpp
  engine/src/render/mesh/pool.cpp
Owners: @RiscadoA, @tomas7770, @GameDevTecnico/cubos-graphics-team, @GameDevTecnico/cubos-wildcard-team

refactor(rendering): avoid geometry shaders in point shadows
  engine/assets/render/shadow_atlas_rasterizer.vs
  engine/assets/render/shadow_cube_atlas_rasterizer.gs
  engine/assets/render/shadow_cube_atlas_rasterizer.gs.meta
  engine/assets/render/shadow_cube_atlas_rasterizer.vs
  engine/assets/render/shadow_cube_atlas_rasterizer.vs.meta
  engine/include/cubos/engine/render/shadows/atlas/point_atlas.hpp
  engine/include/cubos/engine/render/shadows/atlas_rasterizer/atlas_rasterizer.hpp
  engine/src/render/shadows/atlas/plugin.cpp
  engine/src/render/shadows/atlas/point_atlas.cpp
  engine/src/render/shadows/atlas_rasterizer/plugin.cpp
Owners: @RiscadoA, @tomas7770, @GameDevTecnico/cubos-graphics-team, @GameDevTecnico/cubos-wildcard-team

fix(rendering): make shaders WebGL compatible
  engine/assets/render/deferred_shading.fs
  engine/assets/render/tone_mapping.fs
  engine/assets/ui/image.fs
  engine/assets/ui/text.fs
  engine/assets/ui/text.vs
Owners: @RiscadoA, @tomas7770, @GameDevTecnico/cubos-graphics-team

fix(gl): disable image binding on web
  core/src/gl/ogl_render_device.cpp
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team

feat(io): target WebGL 2.0 on web
  core/CMakeLists.txt
  core/src/io/glfw_window.cpp
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team

fix(gl): add missing cstring include
  core/src/gl/ogl_render_device.cpp
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team

feat(samples): port gl.quad core sample to web
  core/samples/gl/quad/main.cpp
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team

build: compile to web
  .gitignore
  CMakeLists.txt
  api/core/CMakeLists.txt
  api/engine/CMakeLists.txt
  cmake/Emscripten.cmake
  core/CMakeLists.txt
  core/src/io/glfw_window.cpp
  engine/CMakeLists.txt
  flake.nix
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team

fix(gl): use WebGL include instead of Glad
  core/src/gl/ogl_render_device.cpp
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team

fix(memory): typo in field names
  core/include/cubos/core/memory/guards.hpp
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team

fix(rendering): add missing padding init
  engine/src/render/g_buffer_rasterizer/plugin.cpp
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team

fix(gl): add missing fs
  core/src/gl/ogl_render_device.cpp
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team

feat(ecs): add Cubos move constructor
  core/include/cubos/core/ecs/cubos.hpp
  core/include/cubos/core/ecs/system/registry.hpp
  core/src/ecs/cubos.cpp
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team

refactor(gl): remove Texture1D and CubeMapArray
  core/include/cubos/core/gl/render_device.hpp
  core/src/gl/ogl_render_device.cpp
  core/src/gl/ogl_render_device.hpp
  core/src/gl/render_device.cpp
Owners: @RiscadoA, @tomas7770, @GameDevTecnico/cubos-graphics-team, @GameDevTecnico/cubos-wildcard-team

build: disable cached SHARED options on Emscripten
  core/CMakeLists.txt
  engine/CMakeLists.txt
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team

fix(ui): add missing padding to UI color rect and text buffers
  engine/src/ui/color_rect/plugin.cpp
  engine/src/ui/text/plugin.cpp
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team

refactor(gl): remove modes unsupported by GLES 3.0
  core/include/cubos/core/gl/render_device.hpp
  core/samples/gl/quad/main.cpp
  core/src/gl/ogl_render_device.cpp
Owners: @RiscadoA, @tomas7770, @GameDevTecnico/cubos-graphics-team, @GameDevTecnico/cubos-wildcard-team

build(tesseratos): add Emscripten support to template project
  tools/tesseratos/templates/simple/CMakeLists.txt
Owners: @RiscadoA, @GameDevTecnico/cubos-tools-team

build: only find needed dependencies on Emscripten on cubos-config.cmake
  cmake/cubos-config.cmake.in
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team

deploy: 4437fdcf932d7ce316a4a6d0752b9c20d28f6e86
  annotated.html
  classcubos_1_1core_1_1ecs_1_1Cubos.html
  classcubos_1_1core_1_1ecs_1_1SystemRegistry.html
  classcubos_1_1core_1_1gl_1_1RenderDevice.html
  classcubos_1_1core_1_1gl_1_1impl_1_1ConstantBuffer.html
  classcubos_1_1core_1_1gl_1_1impl_1_1IndexBuffer.html
  classcubos_1_1core_1_1gl_1_1impl_1_1PixelPackBuffer.html
  classcubos_1_1core_1_1gl_1_1impl_1_1ShaderBindingPoint.html
  classcubos_1_1core_1_1gl_1_1impl_1_1Texture2D.html
  classcubos_1_1core_1_1gl_1_1impl_1_1VertexBuffer.html
  classcubos_1_1engine_1_1PointShadowAtlas.html
  group__core-gl.html
  namespacecubos_1_1core_1_1gl.html
  namespacecubos_1_1core_1_1gl_1_1impl.html
  render__device_8hpp.html
  searchdata-v2.js
  structcubos_1_1core_1_1gl_1_1FramebufferDesc.html
  structcubos_1_1core_1_1gl_1_1FramebufferDesc_1_1Texture2DArrayTarget.html
  structcubos_1_1core_1_1gl_1_1RasterStateDesc.html
  structcubos_1_1core_1_1gl_1_1SamplerDesc.html
  structcubos_1_1engine_1_1ShadowAtlasRasterizer.html
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team

build: bump CMake project version to 0.5.0
  CMakeLists.txt
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team

docs: prepare changelog for v0.5.0
  CHANGELOG.md
Owners: @RiscadoA

feat(rendering): make SSAO optional
  CHANGELOG.md
  engine/assets/render/deferred_shading.fs
  engine/include/cubos/engine/render/defaults/target.hpp
  engine/src/render/defaults/plugin.cpp
  engine/src/render/defaults/target.cpp
  engine/src/render/deferred_shading/plugin.cpp
Owners: @RiscadoA, @tomas7770, @GameDevTecnico/cubos-graphics-team, @GameDevTecnico/cubos-wildcard-team

fix(rendering): normalize normals in g_buffer_rasterizer.vs
  CHANGELOG.md
  engine/assets/render/g_buffer_rasterizer.vs
Owners: @RiscadoA, @tomas7770, @GameDevTecnico/cubos-graphics-team

fix(utils): make FreeCameraController respect other plugins locking the mouse
  CHANGELOG.md
  engine/src/utils/free_camera/plugin.cpp
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team
