Repository GameDevTecnico/cubos, changes with the owners that .github/CODEOWNERS names for each.
All owners: @RiscadoA, @fallenatlas, @DiogoMendonc-a, @roby2014

feat(input): add traits for InputBindings
  engine/include/cubos/engine/input/action.hpp
  engine/include/cubos/engine/input/axis.hpp
  engine/include/cubos/engine/input/input.hpp
  engine/samples/collisions/main.cpp
  engine/samples/input/assets/sample.bind
  engine/samples/input/page.md
  engine/src/input/action.cpp
  engine/src/input/axis.cpp
  engine/src/input/bindings.cpp
  engine/src/input/input.cpp
Owners: @RiscadoA

feat(input): add traits for InputBindings
  engine/include/cubos/engine/input/action.hpp
  engine/include/cubos/engine/input/axis.hpp
  engine/include/cubos/engine/input/input.hpp
  engine/samples/collisions/main.cpp
  engine/samples/input/assets/sample.bind
  engine/samples/input/page.md
  engine/src/input/action.cpp
  engine/src/input/axis.cpp
  engine/src/input/bindings.cpp
  engine/src/input/input.cpp
Owners: @RiscadoA

fix(io): add namespace to keyboard refl types
  core/src/io/keyboard.cpp
Owners: @RiscadoA

feat(io): add StringConversionTrait to KeyWithModifiers
  core/include/cubos/core/io/keyboard.hpp
  core/src/io/keyboard.cpp
Owners: @RiscadoA

refactor(io): remove unused string conversion funcs
  core/include/cubos/core/io/keyboard.hpp
Owners: @RiscadoA

docs(reflection): add missing file docs to enum.hpp
  core/include/cubos/core/reflection/traits/enum.hpp
Owners: @RiscadoA

feat(reflection): add MaskTrait
  CHANGELOG.md
  core/CMakeLists.txt
  core/include/cubos/core/reflection/traits/mask.hpp
  core/samples/CMakeLists.txt
  core/samples/reflection/traits/mask/main.cpp
  core/samples/reflection/traits/mask/page.md
  core/src/reflection/traits/mask.cpp
  core/tests/CMakeLists.txt
  core/tests/reflection/traits/mask.cpp
Owners: @RiscadoA

fix(serialization): improve checking on JSON des fields trait
  core/src/data/des/json.cpp
Owners: @RiscadoA

feat(serialization): handle EnumTrait for JSON
  core/src/data/des/json.cpp
  core/src/data/ser/json.cpp
  core/tests/data/des/json.cpp
  core/tests/data/ser/json.cpp
Owners: @RiscadoA

fix(io): add namespace to mouse refl types
  core/src/io/window.cpp
Owners: @RiscadoA

feat(io): add KeyWithModifiers
  core/include/cubos/core/io/keyboard.hpp
  core/src/io/keyboard.cpp
Owners: @RiscadoA

Deploy preview for PR 955 🛫
  docs-preview/pr-955/classcubos_1_1core_1_1reflection_1_1MaskTrait.html
  docs-preview/pr-955/examples-core-reflection-traits-mask.html
  docs-preview/pr-955/pages.html
  docs-preview/pr-955/searchdata-v2.js
Owners: @RiscadoA

deploy: 009ad1021a9923e403dcccead9f06525d9191059
  docs/annotated.html
  docs/classcubos_1_1core_1_1reflection_1_1EnumTrait.html
  docs/classcubos_1_1core_1_1reflection_1_1MaskTrait.html
  docs/classcubos_1_1engine_1_1InputAction.html
  docs/classcubos_1_1engine_1_1InputAxis.html
  docs/enum_8hpp.html
  docs/examples-core-reflection-traits-mask.html
  docs/examples-engine-input.html
  docs/files.html
  docs/group__core-io.html
  docs/group__core-reflection.html
  docs/keyboard_8hpp.html
  docs/mask_8hpp.html
  docs/namespacecubos_1_1core_1_1io.html
  docs/namespacecubos_1_1core_1_1reflection.html
  docs/pages.html
  docs/searchdata-v2.js
  docs/structcubos_1_1core_1_1io_1_1KeyWithModifiers.html
Owners: @RiscadoA

feat(imgui): move BeginTable inside DataInspector
  engine/include/cubos/engine/imgui/data_inspector.hpp
  engine/samples/imgui/main.cpp
  engine/src/imgui/data_inspector.cpp
Owners: @RiscadoA

feat(tesseratos): add/remove components in Entity Inspector
  CHANGELOG.md
  tools/tesseratos/src/tesseratos/entity_inspector/plugin.cpp
  tools/tesseratos/src/tesseratos/settings_inspector/plugin.cpp
Owners: @RiscadoA, @DiogoMendonc-a, @roby2014

feat(imgui): move BeginTable inside DataInspector
  engine/include/cubos/engine/imgui/data_inspector.hpp
  engine/samples/imgui/main.cpp
  engine/src/imgui/data_inspector.cpp
Owners: @RiscadoA

feat(tesseratos): add/remove components in Entity Inspector
  CHANGELOG.md
  tools/tesseratos/src/tesseratos/entity_inspector/plugin.cpp
  tools/tesseratos/src/tesseratos/settings_inspector/plugin.cpp
Owners: @RiscadoA, @DiogoMendonc-a, @roby2014

deploy: 79ffd0ea3d10e6e87d3bf6f4936b711d2729e718
  docs/classcubos_1_1engine_1_1DataInspector.html
  docs/examples-engine-imgui.html
  docs/searchdata-v2.js
Owners: @RiscadoA

fix(rendering): skip null renderable grids
  CHANGELOG.md
  engine/src/renderer/plugin.cpp
Owners: @RiscadoA

fix(rendering): skip null renderable grids
  CHANGELOG.md
  engine/src/renderer/plugin.cpp
Owners: @RiscadoA

feat(utils): improve freeCameraPlugin
  engine/CMakeLists.txt
  engine/include/cubos/engine/utils/free_camera/controller.hpp
  engine/include/cubos/engine/utils/free_camera/plugin.hpp
  engine/include/cubos/engine/utils/free_camera_controller/plugin.hpp
  engine/samples/voxels/main.cpp
  engine/src/utils/free_camera/controller.cpp
  engine/src/utils/free_camera/plugin.cpp
  engine/src/utils/free_camera_controller/plugin.cpp
Owners: @RiscadoA

feat(tesseratos): make debug camera toggleable
  tools/tesseratos/src/tesseratos/debug_camera/plugin.cpp
Owners: @DiogoMendonc-a, @roby2014

docs(tesseratos): add debug camera bindings
  tools/tesseratos/samples/main/assets/tesseratos.bind
  tools/tesseratos/samples/main/assets/tesseratos.bind.meta
  tools/tesseratos/samples/main/main.cpp
Owners: @DiogoMendonc-a, @roby2014

Deploy preview for PR 952 🛫
  docs-preview/pr-952/annotated.html
  docs-preview/pr-952/classcubos_1_1core_1_1reflection_1_1EnumTrait.html
  docs-preview/pr-952/classcubos_1_1core_1_1reflection_1_1MaskTrait.html
  docs-preview/pr-952/classcubos_1_1engine_1_1DataInspector.html
  docs-preview/pr-952/classcubos_1_1engine_1_1InputAction.html
  docs-preview/pr-952/classcubos_1_1engine_1_1InputAxis.html
  docs-preview/pr-952/controller_8hpp.html
  docs-preview/pr-952/dir_6e7fefd5d33489e77ed24a475a1b2d04.html
  docs-preview/pr-952/dir_85f1b5bc6fb8e602e74068211760bfae.html
  docs-preview/pr-952/engine_2include_2cubos_2engine_2utils_2free__camera_2plugin_8hpp.html
  docs-preview/pr-952/enum_8hpp.html
  docs-preview/pr-952/examples-core-reflection-traits-mask.html
  docs-preview/pr-952/examples-engine-imgui.html
  docs-preview/pr-952/examples-engine-input.html
  docs-preview/pr-952/files.html
  docs-preview/pr-952/group__core-io.html
  docs-preview/pr-952/group__core-reflection.html
  docs-preview/pr-952/group__engine.html
  docs-preview/pr-952/group__free-camera-plugin.html
  docs-preview/pr-952/group__tesseratos-asset-explorer-plugin.html
  docs-preview/pr-952/group__tesseratos-debug-camera-plugin.html
  docs-preview/pr-952/group__tesseratos-entity-selector-plugin.html
  docs-preview/pr-952/group__tesseratos-metrics-panel-plugin.html
  docs-preview/pr-952/group__tesseratos-scene-editor-plugin.html
  docs-preview/pr-952/group__tesseratos-settings-inspector-plugin.html
  docs-preview/pr-952/group__tesseratos-toolbox-plugin.html
  docs-preview/pr-952/group__tesseratos-voxel-palette-editor-plugin.html
  docs-preview/pr-952/group__tesseratos-world-inspector-plugin.html
  docs-preview/pr-952/group__voxels-plugin.html
  docs-preview/pr-952/group__window-plugin.html
  docs-preview/pr-952/keyboard_8hpp.html
  docs-preview/pr-952/mask_8hpp.html
  docs-preview/pr-952/modules.html
  docs-preview/pr-952/namespacecubos_1_1core_1_1io.html
  docs-preview/pr-952/namespacecubos_1_1core_1_1reflection.html
  docs-preview/pr-952/namespacecubos_1_1engine.html
  docs-preview/pr-952/pages.html
  docs-preview/pr-952/searchdata-v2.js
  docs-preview/pr-952/structcubos_1_1core_1_1io_1_1KeyWithModifiers.html
  docs-preview/pr-952/structcubos_1_1engine_1_1FreeCameraController.html
Owners: @RiscadoA

feat(utils): improve freeCameraPlugin
  engine/CMakeLists.txt
  engine/include/cubos/engine/utils/free_camera/controller.hpp
  engine/include/cubos/engine/utils/free_camera/plugin.hpp
  engine/include/cubos/engine/utils/free_camera_controller/plugin.hpp
  engine/samples/voxels/main.cpp
  engine/src/utils/free_camera/controller.cpp
  engine/src/utils/free_camera/plugin.cpp
  engine/src/utils/free_camera_controller/plugin.cpp
Owners: @RiscadoA

feat(tesseratos): make debug camera toggleable
  tools/tesseratos/src/tesseratos/debug_camera/plugin.cpp
Owners: @DiogoMendonc-a, @roby2014

docs(tesseratos): add debug camera bindings
  tools/tesseratos/samples/main/assets/tesseratos.bind
  tools/tesseratos/samples/main/assets/tesseratos.bind.meta
  tools/tesseratos/samples/main/main.cpp
Owners: @DiogoMendonc-a, @roby2014

deploy: dc686ced465f9fbcfaeda34dcc9b237052921420
  docs/controller_8hpp.html
  docs/dir_6e7fefd5d33489e77ed24a475a1b2d04.html
  docs/engine_2include_2cubos_2engine_2utils_2free__camera_2plugin_8hpp.html
  docs/group__engine.html
  docs/group__free-camera-plugin.html
  docs/group__tesseratos-asset-explorer-plugin.html
  docs/group__tesseratos-debug-camera-plugin.html
  docs/group__tesseratos-entity-inspector-plugin.html
  docs/group__tesseratos-entity-selector-plugin.html
  docs/group__tesseratos-metrics-panel-plugin.html
  docs/group__tesseratos-scene-editor-plugin.html
  docs/group__tesseratos-settings-inspector-plugin.html
  docs/group__tesseratos-toolbox-plugin.html
  docs/group__tesseratos-voxel-palette-editor-plugin.html
  docs/group__tesseratos-world-inspector-plugin.html
  docs/group__voxels-plugin.html
  docs/group__window-plugin.html
  docs/modules.html
  docs/namespacecubos_1_1engine.html
  docs/searchdata-v2.js
  docs/structcubos_1_1engine_1_1FreeCameraController.html
Owners: @RiscadoA

feat(ecs): add Name component
  core/CMakeLists.txt
  core/include/cubos/core/ecs/name.hpp
  core/src/ecs/name.cpp
Owners: @RiscadoA

feat(core): add name component to spawned entities from blueprints
  core/include/cubos/core/ecs/world.hpp
  core/src/ecs/blueprint.cpp
Owners: @RiscadoA

feat(tesseratos): add display of name component as name of the entity in world inspector.
  tools/tesseratos/src/tesseratos/world_inspector/plugin.cpp
Owners: @DiogoMendonc-a, @roby2014

test(blueprint): test to check if entities spawned have the right components
  core/include/cubos/core/ecs/world.hpp
  core/tests/ecs/blueprint.cpp
Owners: @RiscadoA

fix(ecs): fix error with blueprint.cpp
  core/src/ecs/blueprint.cpp
Owners: @RiscadoA

feat(core): add name component to spawned entities from blueprints
  core/include/cubos/core/ecs/world.hpp
  core/src/ecs/blueprint.cpp
Owners: @RiscadoA

test(blueprint): test to check if entities spawned have the right components
  core/include/cubos/core/ecs/world.hpp
Owners: @RiscadoA

refactor(ecs): fix error with blueprint.cpp
  core/src/ecs/blueprint.cpp
Owners: @RiscadoA

Deploy preview for PR 954 🛫
  docs-preview/pr-954/classcubos_1_1core_1_1ecs_1_1CommandBuffer.html
  docs-preview/pr-954/searchdata-v2.js
Owners: @RiscadoA

Deploy preview for PR 954 🛫
  docs-preview/pr-954/classcubos_1_1core_1_1ecs_1_1Commands.html
  docs-preview/pr-954/examples-engine-scene.html
  docs-preview/pr-954/searchdata-v2.js
Owners: @RiscadoA

refactor(core): refactor blueprint::instantiate, blueprint::merge and commands::spawn
  core/CMakeLists.txt
  core/include/cubos/core/ecs/blueprint.hpp
  core/include/cubos/core/ecs/command_buffer.hpp
  core/include/cubos/core/ecs/system/arguments/commands.hpp
  core/include/cubos/core/ecs/world.hpp
  core/src/ecs/blueprint.cpp
  core/src/ecs/command_buffer.cpp
  core/src/ecs/system/arguments/commands.cpp
  core/src/ecs/world.cpp
  core/tests/ecs/blueprint.cpp
Owners: @RiscadoA

style(core): change name.cpp and name.hpp to be coesive
  core/include/cubos/core/ecs/name.hpp
  core/src/ecs/name.cpp
Owners: @RiscadoA

.github/CODEOWNERS:

* @RiscadoA

**/engine/physics/ @fallenatlas
**/engine/gizmos/ @DiogoMendonc-a

**/tesseratos/ @DiogoMendonc-a @roby2014
