Repository GameDevTecnico/cubos, changes with the owners that .github/CODEOWNERS names for each.
All owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team, @tomas7770, @GameDevTecnico/cubos-graphics-team, @fallenatlas, @GameDevTecnico/cubos-physics-team, @GameDevTecnico/cubos-tools-team

docs(physics): fix system tag in complex physics sample
  engine/samples/complex_physics/main.cpp
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team

fix(physics): add missing initialization of variables in components
  engine/include/cubos/engine/physics/components/angular_impulse.hpp
  engine/include/cubos/engine/physics/components/angular_velocity.hpp
  engine/include/cubos/engine/physics/components/impulse.hpp
  engine/include/cubos/engine/physics/components/velocity.hpp
Owners: @RiscadoA, @fallenatlas, @GameDevTecnico/cubos-physics-team

fix(ci): change runners to Ubuntu 22.04
  .github/workflows/build-doxygen-docs.yml
  .github/workflows/build-engine-linux.yml
  .github/workflows/build-engine-web.yml
  .github/workflows/clang-format-check.yml
  .github/workflows/clang-tidy-lint.yml
  .github/workflows/conventional-commits.yml
  .github/workflows/copy-labels.yml
  .github/workflows/create-coverage-report.yml
  .github/workflows/preview-docs.yml
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team

deploy: d0e17d941b7a0787af97a7d95cdcab3cf2100d64
  searchdata-v2.js
  structcubos_1_1engine_1_1SolverConstants.html
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team

feat(rendering): add conditional shader compilation
  CHANGELOG.md
  engine/CMakeLists.txt
  engine/include/cubos/engine/render/shader/shader.hpp
  engine/include/cubos/engine/render/shader/shader_builder.hpp
  engine/src/render/shader/bridge.cpp
  engine/src/render/shader/shader.cpp
  engine/src/render/shader/shader_builder.cpp
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team, @tomas7770, @GameDevTecnico/cubos-graphics-team

Deploy preview for PR 1433 🛫
  preview/pr-1433/searchdata-v2.js
  preview/pr-1433/structcubos_1_1engine_1_1SolverConstants.html
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team

feat(rendering): add conditional shader compilation
  CHANGELOG.md
  engine/CMakeLists.txt
  engine/include/cubos/engine/render/shader/shader.hpp
  engine/include/cubos/engine/render/shader/shader_builder.hpp
  engine/src/render/shader/bridge.cpp
  engine/src/render/shader/shader.cpp
  engine/src/render/shader/shader_builder.cpp
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team, @tomas7770, @GameDevTecnico/cubos-graphics-team

deploy: d807ac7400bdeaeb031436d502e03f5e40552e1e
  annotated.html
  classcubos_1_1engine_1_1ShaderBuilder.html
  dir_23fcce69fcc2a3ecb2dfa75692de6094.html
  files.html
  namespacecubos_1_1engine.html
  searchdata-v2.js
  shader__builder_8hpp.html
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team

Deploy preview for PR 1457 🛫
  preview/pr-1457/annotated.html
  preview/pr-1457/classcubos_1_1engine_1_1ShaderBuilder.html
  preview/pr-1457/dir_23fcce69fcc2a3ecb2dfa75692de6094.html
  preview/pr-1457/files.html
  preview/pr-1457/group__render-shader-plugin.html
  preview/pr-1457/namespacecubos_1_1engine.html
  preview/pr-1457/searchdata-v2.js
  preview/pr-1457/shader__builder_8hpp.html
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team

docs: add audio sample page
  docs/pages/3_examples/2_engine/main.md
  engine/samples/audio/main.cpp
  engine/samples/audio/page.md
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team

Deploy preview for PR 1421 🛫
  preview/pr-1421/annotated.html
  preview/pr-1421/classcubos_1_1engine_1_1ShaderBuilder.html
  preview/pr-1421/dir_23fcce69fcc2a3ecb2dfa75692de6094.html
  preview/pr-1421/files.html
  preview/pr-1421/group__render-shader-plugin.html
  preview/pr-1421/namespacecubos_1_1engine.html
  preview/pr-1421/searchdata-v2.js
  preview/pr-1421/shader__builder_8hpp.html
  preview/pr-1421/structcubos_1_1engine_1_1SSAO.html
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team

docs: add audio sample page
  docs/pages/3_examples/2_engine/main.md
  engine/samples/audio/main.cpp
  engine/samples/audio/page.md
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team

deploy: 2aa033f802270607e915601b9c964c2a9eb29fff
  examples-engine-audio.html
  examples-engine.html
  pages.html
  searchdata-v2.js
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team

fix(rendering): normalize normals in g_buffer_rasterizer.vs
  CHANGELOG.md
  engine/assets/render/g_buffer_rasterizer.vs
Owners: @RiscadoA, @tomas7770, @GameDevTecnico/cubos-graphics-team

fix(tools): draw transform gizmo for all active cameras
  CHANGELOG.md
  engine/src/tools/transform_gizmo/plugin.cpp
Owners: @RiscadoA, @GameDevTecnico/cubos-tools-team

fix(utils): make FreeCameraController respect other plugins locking the mouse
  CHANGELOG.md
  engine/src/utils/free_camera/plugin.cpp
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team

feat(collisions): add layers and masks
  CHANGELOG.md
  engine/include/cubos/engine/collisions/collider.hpp
  engine/src/collisions/broad_phase/plugin.cpp
  engine/src/collisions/interface/collider.cpp
Owners: @RiscadoA, @fallenatlas, @GameDevTecnico/cubos-physics-team, @GameDevTecnico/cubos-wildcard-team

feat(collisions): add Ray::mask
  CHANGELOG.md
  engine/include/cubos/engine/collisions/raycast.hpp
  engine/src/collisions/interface/raycast.cpp
Owners: @RiscadoA, @fallenatlas, @GameDevTecnico/cubos-physics-team, @GameDevTecnico/cubos-wildcard-team

fix(rendering): use correct format and sampling for SSAO noise texture
  CHANGELOG.md
  engine/src/render/ssao/plugin.cpp
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team

refactor(engine): make the fixed step accumulator public
  CHANGELOG.md
  engine/CMakeLists.txt
  engine/include/cubos/engine/fixed_step/fixed_accumulated_time.hpp
  engine/include/cubos/engine/fixed_step/plugin.hpp
  engine/src/fixed_step/fixed_accumulated_time.cpp
  engine/src/fixed_step/plugin.cpp
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team

fix(audio): add sound field to reflection of AudioSource
  CHANGELOG.md
  engine/src/audio/source.cpp
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team

fix(input): add missing updates to mouse/gamepad buttons on input axes
  CHANGELOG.md
  engine/src/input/input.cpp
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team

chore: add libpulseaudio to flake.nix
  CHANGELOG.md
  flake.nix
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team

Deploy preview for PR 1456 🛫
  preview/pr-1456/annotated.html
  preview/pr-1456/classcubos_1_1engine_1_1ShaderBuilder.html
  preview/pr-1456/dir_23fcce69fcc2a3ecb2dfa75692de6094.html
  preview/pr-1456/examples-engine-audio.html
  preview/pr-1456/examples-engine.html
  preview/pr-1456/files.html
  preview/pr-1456/group__render-shader-plugin.html
  preview/pr-1456/namespacecubos_1_1engine.html
  preview/pr-1456/pages.html
  preview/pr-1456/searchdata-v2.js
  preview/pr-1456/shader__builder_8hpp.html
  preview/pr-1456/structcubos_1_1engine_1_1SolverConstants.html
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team

fix(rendering): normalize normals in g_buffer_rasterizer.vs
  CHANGELOG.md
  engine/assets/render/g_buffer_rasterizer.vs
Owners: @RiscadoA, @tomas7770, @GameDevTecnico/cubos-graphics-team

fix(rendering): use correct format and sampling for SSAO noise texture
  CHANGELOG.md
  engine/src/render/ssao/plugin.cpp
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team

fix(utils): make FreeCameraController respect other plugins locking the mouse
  CHANGELOG.md
  engine/src/utils/free_camera/plugin.cpp
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team

feat(collisions): add layers and masks
  CHANGELOG.md
  engine/include/cubos/engine/collisions/collider.hpp
  engine/src/collisions/broad_phase/plugin.cpp
  engine/src/collisions/interface/collider.cpp
Owners: @RiscadoA, @fallenatlas, @GameDevTecnico/cubos-physics-team, @GameDevTecnico/cubos-wildcard-team

feat(collisions): add Ray::mask
  CHANGELOG.md
  engine/include/cubos/engine/collisions/raycast.hpp
  engine/src/collisions/interface/raycast.cpp
Owners: @RiscadoA, @fallenatlas, @GameDevTecnico/cubos-physics-team, @GameDevTecnico/cubos-wildcard-team

fix(tools): draw transform gizmo for all active cameras
  CHANGELOG.md
  engine/src/tools/transform_gizmo/plugin.cpp
Owners: @RiscadoA, @GameDevTecnico/cubos-tools-team

chore: add libpulseaudio to flake.nix
  CHANGELOG.md
  flake.nix
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team

fix(input): add missing updates to mouse/gamepad buttons on input axes
  CHANGELOG.md
  engine/src/input/input.cpp
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team

refactor(engine): make the fixed step accumulator public
  CHANGELOG.md
  engine/CMakeLists.txt
  engine/include/cubos/engine/fixed_step/fixed_accumulated_time.hpp
  engine/include/cubos/engine/fixed_step/plugin.hpp
  engine/src/fixed_step/fixed_accumulated_time.cpp
  engine/src/fixed_step/plugin.cpp
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team

fix(audio): add sound field to reflection of AudioSource
  CHANGELOG.md
  engine/src/audio/source.cpp
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team

deploy: 72787e3cda935577d1d05f859e3f37508cf986b4
  annotated.html
  classcubos_1_1engine_1_1Raycast.html
  dir_3504744c369d3ac8de67ffae1d44d2b4.html
  files.html
  fixed__accumulated__time_8hpp.html
  group__fixed-step-plugin.html
  namespacecubos_1_1engine.html
  searchdata-v2.js
  structcubos_1_1engine_1_1Collider.html
  structcubos_1_1engine_1_1FixedAccumulatedTime.html
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team

fix(rendering): consider HiDPI screens when using the render picker
  CHANGELOG.md
  engine/src/gizmos/plugin.cpp
  engine/src/tools/selection/plugin.cpp
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team, @GameDevTecnico/cubos-tools-team

Deploy preview for PR 1405 🛫
  preview/pr-1405/annotated.html
  preview/pr-1405/classcubos_1_1engine_1_1Raycast.html
  preview/pr-1405/classcubos_1_1engine_1_1ShaderBuilder.html
  preview/pr-1405/dir_23fcce69fcc2a3ecb2dfa75692de6094.html
  preview/pr-1405/dir_3504744c369d3ac8de67ffae1d44d2b4.html
  preview/pr-1405/examples-engine-audio.html
  preview/pr-1405/examples-engine.html
  preview/pr-1405/files.html
  preview/pr-1405/fixed__accumulated__time_8hpp.html
  preview/pr-1405/group__fixed-step-plugin.html
  preview/pr-1405/group__render-shader-plugin.html
  preview/pr-1405/namespacecubos_1_1engine.html
  preview/pr-1405/pages.html
  preview/pr-1405/searchdata-v2.js
  preview/pr-1405/shader__builder_8hpp.html
  preview/pr-1405/structcubos_1_1engine_1_1Collider.html
  preview/pr-1405/structcubos_1_1engine_1_1FixedAccumulatedTime.html
  preview/pr-1405/structcubos_1_1engine_1_1Raycast_1_1Ray.html
  preview/pr-1405/structcubos_1_1engine_1_1RenderTargetDefaults.html
  preview/pr-1405/structcubos_1_1engine_1_1SSAO.html
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team

fix(rendering): consider HiDPI screens when using the render picker
  CHANGELOG.md
  engine/src/gizmos/plugin.cpp
  engine/src/tools/selection/plugin.cpp
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team, @GameDevTecnico/cubos-tools-team

feat(geometry): add frustum and intersection functions
  CHANGELOG.md
  core/CMakeLists.txt
  core/include/cubos/core/geom/frustum.hpp
  core/include/cubos/core/geom/intersections.hpp
  core/include/cubos/core/geom/utils.hpp
  core/src/geom/frustum.cpp
  core/src/geom/intersections.cpp
  core/src/geom/utils.cpp
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team, @fallenatlas, @GameDevTecnico/cubos-physics-team

feat(geometry): add frustum and intersection functions
  CHANGELOG.md
  core/CMakeLists.txt
  core/include/cubos/core/geom/frustum.hpp
  core/include/cubos/core/geom/intersections.hpp
  core/include/cubos/core/geom/utils.hpp
  core/src/geom/frustum.cpp
  core/src/geom/intersections.cpp
  core/src/geom/utils.cpp
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team, @fallenatlas, @GameDevTecnico/cubos-physics-team

.github/CODEOWNERS:

* @RiscadoA @GameDevTecnico/cubos-wildcard-team

CHANGELOG.md @RiscadoA

**/core/gl/ @RiscadoA @tomas7770 @GameDevTecnico/cubos-graphics-team
**/engine/gizmos/ @RiscadoA @tomas7770 @GameDevTecnico/cubos-graphics-team
**/engine/render/ @RiscadoA @tomas7770 @GameDevTecnico/cubos-graphics-team
**/engine/ui/ @RiscadoA @tomas7770 @GameDevTecnico/cubos-graphics-team
**/engine/assets/render/ @RiscadoA @tomas7770 @GameDevTecnico/cubos-graphics-team
**/engine/assets/ui/ @RiscadoA @tomas7770 @GameDevTecnico/cubos-graphics-team

**/core/geom/ @RiscadoA @fallenatlas @GameDevTecnico/cubos-physics-team
**/engine/collisions/ @RiscadoA @fallenatlas @GameDevTecnico/cubos-physics-team
**/engine/physics/ @RiscadoA @fallenatlas @GameDevTecnico/cubos-physics-team

**/tools/ @RiscadoA @GameDevTecnico/cubos-tools-team
