Repository GameDevTecnico/cubos, changes with the owners that .github/CODEOWNERS names for each.
All owners: @RiscadoA, @fallenatlas, @DiogoMendonc-a, @roby2014

fix(rendering): fix wrong Entity query in plugin
  engine/src/cubos/engine/renderer/plugin.cpp
Owners: @RiscadoA

refactor(rendering): replace enableScreenPicking with nullptr check
  engine/include/cubos/engine/renderer/deferred_renderer.hpp
  engine/include/cubos/engine/renderer/renderer.hpp
  engine/src/cubos/engine/renderer/deferred_renderer.cpp
  engine/src/cubos/engine/renderer/plugin.cpp
  engine/src/cubos/engine/renderer/renderer.cpp
Owners: @RiscadoA

feat(rendering): integrate screen picker with renderer
  engine/include/cubos/engine/renderer/deferred_renderer.hpp
  engine/include/cubos/engine/renderer/frame.hpp
  engine/include/cubos/engine/renderer/renderer.hpp
  engine/include/cubos/engine/screenpicker/plugin.hpp
  engine/src/cubos/engine/renderer/deferred_renderer.cpp
  engine/src/cubos/engine/renderer/frame.cpp
  engine/src/cubos/engine/renderer/plugin.cpp
  engine/src/cubos/engine/renderer/renderer.cpp
  engine/src/cubos/engine/screenpicker/screenpicker.cpp
Owners: @RiscadoA

fix(rendering): clean up picking pass code
  engine/include/cubos/engine/renderer/deferred_renderer.hpp
  engine/src/cubos/engine/renderer/deferred_renderer.cpp
Owners: @RiscadoA

feat(rendering): assert entity index is lower than 2^31
  engine/src/cubos/engine/renderer/plugin.cpp
Owners: @RiscadoA

refactor(rendering): replace enableScreenPicking with nullptr check
  engine/include/cubos/engine/renderer/deferred_renderer.hpp
  engine/include/cubos/engine/renderer/renderer.hpp
  engine/src/cubos/engine/renderer/deferred_renderer.cpp
  engine/src/cubos/engine/renderer/plugin.cpp
  engine/src/cubos/engine/renderer/renderer.cpp
Owners: @RiscadoA

feat(rendering): add setting to toggle screen picking pipeline
  engine/include/cubos/engine/renderer/deferred_renderer.hpp
  engine/include/cubos/engine/renderer/renderer.hpp
  engine/src/cubos/engine/renderer/deferred_renderer.cpp
  engine/src/cubos/engine/renderer/plugin.cpp
  engine/src/cubos/engine/renderer/renderer.cpp
Owners: @RiscadoA

fix(rendering): clean up picking pass code
  engine/include/cubos/engine/renderer/deferred_renderer.hpp
  engine/src/cubos/engine/renderer/deferred_renderer.cpp
Owners: @RiscadoA

fix(rendering): fix wrong Entity query in plugin
  engine/src/cubos/engine/renderer/plugin.cpp
Owners: @RiscadoA

feat(rendering): integrate screen picker with renderer
  engine/include/cubos/engine/renderer/deferred_renderer.hpp
  engine/include/cubos/engine/renderer/frame.hpp
  engine/include/cubos/engine/renderer/renderer.hpp
  engine/include/cubos/engine/screenpicker/plugin.hpp
  engine/src/cubos/engine/renderer/deferred_renderer.cpp
  engine/src/cubos/engine/renderer/frame.cpp
  engine/src/cubos/engine/renderer/plugin.cpp
  engine/src/cubos/engine/renderer/renderer.cpp
  engine/src/cubos/engine/screenpicker/screenpicker.cpp
Owners: @RiscadoA

style: change screenpicker case type
  engine/CMakeLists.txt
  engine/include/cubos/engine/screen_picker/plugin.hpp
  engine/include/cubos/engine/screen_picker/screen_picker.hpp
  engine/src/cubos/engine/renderer/plugin.cpp
  engine/src/cubos/engine/screen_picker/plugin.cpp
  engine/src/cubos/engine/screen_picker/screen_picker.cpp
Owners: @RiscadoA

feat(rendering): assert entity index is lower than 2^31
  engine/src/cubos/engine/renderer/plugin.cpp
Owners: @RiscadoA

fix(rendering): add missing uint32_t cast
  engine/src/cubos/engine/renderer/plugin.cpp
Owners: @RiscadoA

deploy: c7d9aeb84165db3678669a9e8a48fdba24f049a3
  docs/classcubos_1_1engine_1_1BaseRenderer.html
  docs/classcubos_1_1engine_1_1DeferredRenderer.html
  docs/classcubos_1_1engine_1_1RendererFrame.html
  docs/classcubos_1_1engine_1_1ScreenPicker.html
  docs/dir_57aff98960b24114775613a58ec786ad.html
  docs/dir_bafb7af0e03e95b24a45ff63060ab57b.html
  docs/engine_2include_2cubos_2engine_2screen__picker_2plugin_8hpp.html
  docs/files.html
  docs/group__engine.html
  docs/group__screen-picker-plugin.html
  docs/modules.html
  docs/namespacecubos_1_1engine.html
  docs/screen__picker_8hpp.html
  docs/searchdata-v2.js
  docs/structcubos_1_1engine_1_1RendererFrame_1_1DrawCmd.html
Owners: @RiscadoA

fix(rendering): replace reserved keyword in gizmos id shader
  engine/src/cubos/engine/gizmos/renderer.cpp
Owners: @DiogoMendonc-a

Deploy preview for PR 899 🛫
  docs-preview/pr-899/classcubos_1_1engine_1_1BaseRenderer.html
  docs-preview/pr-899/classcubos_1_1engine_1_1DeferredRenderer.html
  docs-preview/pr-899/classcubos_1_1engine_1_1RendererFrame.html
  docs-preview/pr-899/classcubos_1_1engine_1_1ScreenPicker.html
  docs-preview/pr-899/dir_57aff98960b24114775613a58ec786ad.html
  docs-preview/pr-899/dir_bafb7af0e03e95b24a45ff63060ab57b.html
  docs-preview/pr-899/engine_2include_2cubos_2engine_2screen__picker_2plugin_8hpp.html
  docs-preview/pr-899/files.html
  docs-preview/pr-899/group__engine.html
  docs-preview/pr-899/group__screen-picker-plugin.html
  docs-preview/pr-899/modules.html
  docs-preview/pr-899/namespacecubos_1_1engine.html
  docs-preview/pr-899/screen__picker_8hpp.html
  docs-preview/pr-899/searchdata-v2.js
  docs-preview/pr-899/structcubos_1_1engine_1_1RendererFrame_1_1DrawCmd.html
Owners: @RiscadoA

fix(rendering): replace reserved keyword in gizmos id shader
  engine/src/cubos/engine/gizmos/renderer.cpp
Owners: @DiogoMendonc-a

deploy: 1c1254c83cd03f3aecedbed26c2dd3198ef24260
  docs/searchdata-v2.js
Owners: @RiscadoA

Deploy preview for PR 910 🛫
  docs-preview/pr-910/searchdata-v2.js
Owners: @RiscadoA

Deploy preview for PR 910 🛫
  docs-preview/pr-910/searchdata-v2.js
Owners: @RiscadoA

fix(collisions): set correct event fields order
  engine/src/cubos/engine/collisions/plugin.cpp
Owners: @RiscadoA

fix(assets): update when reflectedId changes
  engine/src/cubos/engine/assets/asset.cpp
  engine/src/cubos/engine/assets/assets.cpp
Owners: @RiscadoA

build: fix module path
  CMakeLists.txt
Owners: @RiscadoA

fix(physics): fix typos in docs
  engine/include/cubos/engine/physics/resources/fixed_delta_time.hpp
  engine/include/cubos/engine/physics/resources/gravity.hpp
  engine/include/cubos/engine/physics/resources/substeps.hpp
Owners: @fallenatlas

Deploy preview for PR 910 🛫
  docs-preview/pr-910/features-ecs.html
  docs-preview/pr-910/features-plugins.html
  docs-preview/pr-910/group__engine.html
Owners: @RiscadoA

refactor: move Cubos to core
  core/CMakeLists.txt
  core/include/cubos/core/ecs/cubos.hpp
  core/src/cubos/core/ecs/cubos.cpp
  docs/pages/2_features/plugins.md
  engine/CMakeLists.txt
  engine/include/cubos/engine/assets/plugin.hpp
  engine/include/cubos/engine/collisions/plugin.hpp
  engine/include/cubos/engine/gizmos/gizmos.hpp
  engine/include/cubos/engine/gizmos/plugin.hpp
  engine/include/cubos/engine/imgui/plugin.hpp
  engine/include/cubos/engine/input/plugin.hpp
  engine/include/cubos/engine/physics/plugin.hpp
  engine/include/cubos/engine/physics/plugins/gravity.hpp
  engine/include/cubos/engine/prelude.hpp
  engine/include/cubos/engine/scene/plugin.hpp
  engine/include/cubos/engine/screen_picker/plugin.hpp
  engine/include/cubos/engine/screen_picker/screen_picker.hpp
  engine/include/cubos/engine/settings/plugin.hpp
  engine/include/cubos/engine/splitscreen/plugin.hpp
  engine/include/cubos/engine/transform/plugin.hpp
  engine/include/cubos/engine/utils/free_camera_controller/plugin.hpp
  engine/include/cubos/engine/voxels/plugin.hpp
  engine/include/cubos/engine/window/plugin.hpp
  engine/samples/events/main.cpp
  engine/samples/gizmos/main.cpp
  engine/samples/hello-cubos/main.cpp
  engine/samples/settings/main.cpp
  engine/src/cubos/engine/collisions/broad_phase/plugin.hpp
  engine/src/cubos/engine/screen_picker/plugin.cpp
  tools/tesseratos/include/tesseratos/debug_camera/plugin.hpp
  tools/tesseratos/include/tesseratos/entity_inspector/plugin.hpp
  tools/tesseratos/include/tesseratos/entity_selector/plugin.hpp
  tools/tesseratos/include/tesseratos/metrics_panel/plugin.hpp
  tools/tesseratos/include/tesseratos/plugin.hpp
  tools/tesseratos/include/tesseratos/scene_editor/plugin.hpp
  tools/tesseratos/include/tesseratos/settings_inspector/plugin.hpp
  tools/tesseratos/include/tesseratos/toolbox/plugin.hpp
  tools/tesseratos/include/tesseratos/transform_gizmo/plugin.hpp
  tools/tesseratos/include/tesseratos/voxel_palette_editor/plugin.hpp
  tools/tesseratos/include/tesseratos/world_inspector/plugin.hpp
Owners: @RiscadoA, @DiogoMendonc-a, @fallenatlas, @roby2014

docs(engine): consider new Cubos location
  docs/pages/2_features/ecs.md
  docs/pages/2_features/plugins.md
  engine/include/cubos/engine/module.dox
Owners: @RiscadoA

docs(engine): consider new Cubos location
  docs/pages/2_features/ecs.md
  docs/pages/2_features/plugins.md
  engine/include/cubos/engine/module.dox
Owners: @RiscadoA

refactor: move Cubos to core
  core/CMakeLists.txt
  core/include/cubos/core/ecs/cubos.hpp
  core/src/cubos/core/ecs/cubos.cpp
  docs/pages/2_features/plugins.md
  engine/CMakeLists.txt
  engine/include/cubos/engine/assets/plugin.hpp
  engine/include/cubos/engine/collisions/plugin.hpp
  engine/include/cubos/engine/gizmos/gizmos.hpp
  engine/include/cubos/engine/gizmos/plugin.hpp
  engine/include/cubos/engine/imgui/plugin.hpp
  engine/include/cubos/engine/input/plugin.hpp
  engine/include/cubos/engine/physics/plugin.hpp
  engine/include/cubos/engine/physics/plugins/gravity.hpp
  engine/include/cubos/engine/prelude.hpp
  engine/include/cubos/engine/scene/plugin.hpp
  engine/include/cubos/engine/screen_picker/plugin.hpp
  engine/include/cubos/engine/screen_picker/screen_picker.hpp
  engine/include/cubos/engine/settings/plugin.hpp
  engine/include/cubos/engine/splitscreen/plugin.hpp
  engine/include/cubos/engine/transform/plugin.hpp
  engine/include/cubos/engine/utils/free_camera_controller/plugin.hpp
  engine/include/cubos/engine/voxels/plugin.hpp
  engine/include/cubos/engine/window/plugin.hpp
  engine/samples/events/main.cpp
  engine/samples/gizmos/main.cpp
  engine/samples/hello-cubos/main.cpp
  engine/samples/settings/main.cpp
  engine/src/cubos/engine/collisions/broad_phase/plugin.hpp
  engine/src/cubos/engine/screen_picker/plugin.cpp
  tools/tesseratos/include/tesseratos/debug_camera/plugin.hpp
  tools/tesseratos/include/tesseratos/entity_inspector/plugin.hpp
  tools/tesseratos/include/tesseratos/entity_selector/plugin.hpp
  tools/tesseratos/include/tesseratos/metrics_panel/plugin.hpp
  tools/tesseratos/include/tesseratos/plugin.hpp
  tools/tesseratos/include/tesseratos/scene_editor/plugin.hpp
  tools/tesseratos/include/tesseratos/settings_inspector/plugin.hpp
  tools/tesseratos/include/tesseratos/toolbox/plugin.hpp
  tools/tesseratos/include/tesseratos/transform_gizmo/plugin.hpp
  tools/tesseratos/include/tesseratos/voxel_palette_editor/plugin.hpp
  tools/tesseratos/include/tesseratos/world_inspector/plugin.hpp
Owners: @RiscadoA, @DiogoMendonc-a, @fallenatlas, @roby2014

feat(ci): compile and run engine tests on the CI
  .github/workflows/build-engine-linux.yml
  .github/workflows/build-engine-macos.yml
  .github/workflows/build-engine-windows.yml
Owners: @RiscadoA

test(engine): remove obsolete aabb test
  engine/tests/CMakeLists.txt
  engine/tests/collisions/aabb.cpp
Owners: @RiscadoA

build: move doctest to root lib dir
  .gitmodules
  CMakeLists.txt
  core/CMakeLists.txt
  engine/tests/CMakeLists.txt
Owners: @RiscadoA

test(engine): remove obsolete aabb test
  engine/tests/CMakeLists.txt
  engine/tests/collisions/aabb.cpp
Owners: @RiscadoA

build: move doctest to root lib dir
  .gitmodules
  CMakeLists.txt
  core/CMakeLists.txt
  engine/tests/CMakeLists.txt
Owners: @RiscadoA

feat(ci): compile and run engine tests on the CI
  .github/workflows/build-engine-linux.yml
  .github/workflows/build-engine-macos.yml
  .github/workflows/build-engine-windows.yml
Owners: @RiscadoA

build: fix module path
  CMakeLists.txt
Owners: @RiscadoA

fix(collisions): set correct event fields order
  engine/src/cubos/engine/collisions/plugin.cpp
Owners: @RiscadoA

fix(assets): update when reflectedId changes
  engine/src/cubos/engine/assets/asset.cpp
  engine/src/cubos/engine/assets/assets.cpp
Owners: @RiscadoA

fix(physics): fix typos in docs
  engine/include/cubos/engine/physics/resources/fixed_delta_time.hpp
  engine/include/cubos/engine/physics/resources/gravity.hpp
  engine/include/cubos/engine/physics/resources/substeps.hpp
Owners: @fallenatlas

deploy: d42f949120fb0219ad4d51ba903ccd88750a62ff
  docs/annotated.html
  docs/fixed__delta__time_8hpp.html
  docs/group__physics-plugin.html
  docs/namespacecubos_1_1engine.html
  docs/resources_2gravity_8hpp.html
  docs/structcubos_1_1engine_1_1FixedDeltaTime.html
  docs/structcubos_1_1engine_1_1Gravity.html
  docs/structcubos_1_1engine_1_1Substeps.html
  docs/substeps_8hpp.html
Owners: @RiscadoA

.github/CODEOWNERS:

* @RiscadoA

**/engine/physics/ @fallenatlas
**/engine/gizmos/ @DiogoMendonc-a

**/tesseratos/ @DiogoMendonc-a @roby2014
