Repository GameDevTecnico/cubos, changes with the owners that .github/CODEOWNERS names for each.
All owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team, @tomas7770, @GameDevTecnico/cubos-graphics-team, @fallenatlas, @GameDevTecnico/cubos-physics-team, @GameDevTecnico/cubos-tools-team

feat(tesseratos): add Menu Bar plugin
  CHANGELOG.md
  tools/tesseratos/src/tesseratos/main.cpp
Owners: @RiscadoA, @GameDevTecnico/cubos-tools-team

fix(input): fixed freeCamera jumping when activated
  engine/include/cubos/engine/utils/free_camera/controller.hpp
  engine/src/utils/free_camera/plugin.cpp
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team

initial steps in frustum culling
  core/include/cubos/core/geom/frustum.hpp
  engine/include/cubos/engine/render/camera/camera.hpp
  engine/settings.json
  engine/src/render/camera/plugin.cpp
  engine/src/render/g_buffer_rasterizer/plugin.cpp
Owners: @RiscadoA, @fallenatlas, @GameDevTecnico/cubos-physics-team, @tomas7770, @GameDevTecnico/cubos-graphics-team, @GameDevTecnico/cubos-wildcard-team

fix(input): fixed freeCamera jumping when activated
  CHANGELOG.md
  engine/src/utils/free_camera/controller.cpp
  engine/src/utils/free_camera/plugin.cpp
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team

mesh box
  engine/src/render/camera/camera.cpp
  engine/src/render/camera/plugin.cpp
  engine/src/render/g_buffer_rasterizer/plugin.cpp
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team

Deploy preview for PR 1461 🛫
  preview/pr-1461/classcubos_1_1core_1_1ecs_1_1Cubos.html
  preview/pr-1461/classcubos_1_1core_1_1ecs_1_1Observers.html
  preview/pr-1461/classcubos_1_1engine_1_1VoxelCollisionShape.html
  preview/pr-1461/contact__manifold_8hpp.html
  preview/pr-1461/dir_db86702e1371d7558db3699dd3786a14.html
  preview/pr-1461/files.html
  preview/pr-1461/group__collisions-plugin.html
  preview/pr-1461/searchdata-v2.js
  preview/pr-1461/structcubos_1_1engine_1_1CollidingWith.html
  preview/pr-1461/structcubos_1_1engine_1_1ContactManifold.html
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team

feat(collisions): move collision layers and mask to their own components
  engine/CMakeLists.txt
  engine/include/cubos/engine/collisions/collider.hpp
  engine/include/cubos/engine/collisions/collision_layers.hpp
  engine/include/cubos/engine/collisions/collision_mask.hpp
  engine/include/cubos/engine/collisions/plugin.hpp
  engine/include/cubos/engine/collisions/raycast.hpp
  engine/samples/collisions/main.cpp
  engine/samples/complex_physics/assets/scenes/red_cube.cubos
  engine/samples/complex_physics/assets/scenes/white_cube.cubos
  engine/samples/complex_physics/main.cpp
  engine/src/collisions/broad_phase/plugin.cpp
  engine/src/collisions/interface/collider.cpp
  engine/src/collisions/interface/collision_layers.cpp
  engine/src/collisions/interface/collision_mask.cpp
  engine/src/collisions/interface/plugin.cpp
  engine/src/collisions/interface/raycast.cpp
  engine/tests/raycast.cpp
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team, @fallenatlas, @GameDevTecnico/cubos-physics-team

feat(collisions): add CollisionGroup component
  engine/CMakeLists.txt
  engine/src/collisions/broad_phase/collision_group.cpp
  engine/src/collisions/broad_phase/collision_group.hpp
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team

feat(transform): destroy child entities when parent is destroyed
  CHANGELOG.md
  core/src/ecs/command_buffer.cpp
  engine/src/transform/plugin.cpp
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team

docs: update CHANGELOG.md
  CHANGELOG.md
Owners: @RiscadoA

Deploy preview for PR 1462 🛫
  preview/pr-1462/classcubos_1_1core_1_1ecs_1_1Cubos.html
  preview/pr-1462/classcubos_1_1core_1_1ecs_1_1Observers.html
  preview/pr-1462/searchdata-v2.js
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team

feat(collisions): move collision layers and mask to their own components
  engine/CMakeLists.txt
  engine/include/cubos/engine/collisions/collider.hpp
  engine/include/cubos/engine/collisions/collision_layers.hpp
  engine/include/cubos/engine/collisions/collision_mask.hpp
  engine/include/cubos/engine/collisions/plugin.hpp
  engine/include/cubos/engine/collisions/raycast.hpp
  engine/samples/collisions/main.cpp
  engine/samples/complex_physics/assets/scenes/red_cube.cubos
  engine/samples/complex_physics/assets/scenes/white_cube.cubos
  engine/samples/complex_physics/main.cpp
  engine/src/collisions/broad_phase/plugin.cpp
  engine/src/collisions/interface/collider.cpp
  engine/src/collisions/interface/collision_layers.cpp
  engine/src/collisions/interface/collision_mask.cpp
  engine/src/collisions/interface/plugin.cpp
  engine/src/collisions/interface/raycast.cpp
  engine/tests/raycast.cpp
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team, @fallenatlas, @GameDevTecnico/cubos-physics-team

docs: update CHANGELOG.md
  CHANGELOG.md
Owners: @RiscadoA

feat(collisions): add CollisionGroup component
  engine/CMakeLists.txt
  engine/src/collisions/broad_phase/collision_group.cpp
  engine/src/collisions/broad_phase/collision_group.hpp
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team

deploy: 893ae77f52b173b2357ddc71c0b10691d1c604fa
  annotated.html
  classcubos_1_1engine_1_1Raycast.html
  collision__layers_8hpp.html
  collision__mask_8hpp.html
  dir_db86702e1371d7558db3699dd3786a14.html
  files.html
  group__collisions-plugin.html
  namespacecubos_1_1engine.html
  searchdata-v2.js
  structcubos_1_1engine_1_1Collider.html
  structcubos_1_1engine_1_1CollisionLayers.html
  structcubos_1_1engine_1_1CollisionMask.html
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team

feat(rendering): make RenderPicker optional
  CHANGELOG.md
  engine/assets/render/g_buffer_rasterizer.fs
  engine/assets/render/g_buffer_rasterizer.vs
  engine/include/cubos/engine/render/defaults/target.hpp
  engine/src/gizmos/plugin.cpp
  engine/src/render/defaults/plugin.cpp
  engine/src/render/defaults/target.cpp
  engine/src/render/g_buffer_rasterizer/plugin.cpp
Owners: @RiscadoA, @tomas7770, @GameDevTecnico/cubos-graphics-team, @GameDevTecnico/cubos-wildcard-team

Deploy preview for PR 1462 🛫
  preview/pr-1462/annotated.html
  preview/pr-1462/classcubos_1_1engine_1_1Raycast.html
  preview/pr-1462/collision__layers_8hpp.html
  preview/pr-1462/collision__mask_8hpp.html
  preview/pr-1462/dir_db86702e1371d7558db3699dd3786a14.html
  preview/pr-1462/files.html
  preview/pr-1462/group__collisions-plugin.html
  preview/pr-1462/namespacecubos_1_1engine.html
  preview/pr-1462/searchdata-v2.js
  preview/pr-1462/structcubos_1_1engine_1_1Collider.html
  preview/pr-1462/structcubos_1_1engine_1_1CollisionLayers.html
  preview/pr-1462/structcubos_1_1engine_1_1CollisionMask.html
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team

feat(rendering): make RenderPicker optional
  CHANGELOG.md
  engine/assets/render/g_buffer_rasterizer.fs
  engine/assets/render/g_buffer_rasterizer.vs
  engine/include/cubos/engine/render/defaults/target.hpp
  engine/src/gizmos/plugin.cpp
  engine/src/render/defaults/plugin.cpp
  engine/src/render/defaults/target.cpp
  engine/src/render/g_buffer_rasterizer/plugin.cpp
Owners: @RiscadoA, @tomas7770, @GameDevTecnico/cubos-graphics-team, @GameDevTecnico/cubos-wildcard-team

deploy: de30ca90048bcb98d799fd00f9b619d1afa56a6c
  searchdata-v2.js
  structcubos_1_1engine_1_1RenderTargetDefaults.html
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team

chore: added support for wayland in flake.nix
  flake.nix
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team

fix(ci): fixed permissions
  .github/workflows/preview-docs.yml
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team

feat(tesseratos): add tesseratos default layout
  tools/tesseratos/assets/layouts/default.layout
  tools/tesseratos/assets/layouts/default.layout.meta
Owners: @RiscadoA, @GameDevTecnico/cubos-tools-team

feat(tesseratos): add Layout Bridge plugin
  tools/tesseratos/CMakeLists.txt
  tools/tesseratos/src/tesseratos/layout_bridge/plugin.cpp
  tools/tesseratos/src/tesseratos/layout_bridge/plugin.hpp
Owners: @RiscadoA, @GameDevTecnico/cubos-tools-team

feat(tesseratos): update tesseratos with Layout Bridge plugin
  tools/tesseratos/src/tesseratos/main.cpp
Owners: @RiscadoA, @GameDevTecnico/cubos-tools-team

docs: update CHANGELOG.md
  CHANGELOG.md
Owners: @RiscadoA

.github/CODEOWNERS:

* @RiscadoA @GameDevTecnico/cubos-wildcard-team

CHANGELOG.md @RiscadoA

**/core/gl/ @RiscadoA @tomas7770 @GameDevTecnico/cubos-graphics-team
**/engine/gizmos/ @RiscadoA @tomas7770 @GameDevTecnico/cubos-graphics-team
**/engine/render/ @RiscadoA @tomas7770 @GameDevTecnico/cubos-graphics-team
**/engine/ui/ @RiscadoA @tomas7770 @GameDevTecnico/cubos-graphics-team
**/engine/assets/render/ @RiscadoA @tomas7770 @GameDevTecnico/cubos-graphics-team
**/engine/assets/ui/ @RiscadoA @tomas7770 @GameDevTecnico/cubos-graphics-team

**/core/geom/ @RiscadoA @fallenatlas @GameDevTecnico/cubos-physics-team
**/engine/collisions/ @RiscadoA @fallenatlas @GameDevTecnico/cubos-physics-team
**/engine/physics/ @RiscadoA @fallenatlas @GameDevTecnico/cubos-physics-team

**/tools/ @RiscadoA @GameDevTecnico/cubos-tools-team
