Repository GameDevTecnico/cubos, changes with the owners that .github/CODEOWNERS names for each.
All owners: @RiscadoA, @fallenatlas, @DiogoMendonc-a, @roby2014

.github/CODEOWNERS:

* @RiscadoA

**/engine/physics/ @fallenatlas
**/engine/gizmos/ @DiogoMendonc-a

**/tesseratos/ @DiogoMendonc-a @roby2014

deploy: dad5c237c513d47e57de62d43112abea8bfc3adc
  docs/group__tesseratos-metrics-panel-plugin.html
Owners: @RiscadoA

feat(ecs): reduce world log level from DEBUG to TRACE
  core/src/ecs/world.cpp
Owners: @RiscadoA

feat(ecs): reduce world log level from DEBUG to TRACE
  core/src/ecs/world.cpp
Owners: @RiscadoA

fix(scene): also handle null entities in scenes
  core/src/ecs/blueprint.cpp
  core/tests/ecs/blueprint.cpp
  engine/src/scene/bridge.cpp
Owners: @RiscadoA

fix(scene): also handle null entities in scenes
  core/src/ecs/blueprint.cpp
  core/tests/ecs/blueprint.cpp
  engine/src/scene/bridge.cpp
Owners: @RiscadoA

feat(tesseratos): show entity generation in inspector
  tools/tesseratos/src/tesseratos/entity_inspector/plugin.cpp
Owners: @DiogoMendonc-a, @roby2014

feat(gizmos): support rotated wire boxes
  engine/include/cubos/engine/gizmos/gizmos.hpp
  engine/src/gizmos/gizmos.cpp
Owners: @DiogoMendonc-a, @RiscadoA

feat(tesseratos): add collider gizmos plugin
  CHANGELOG.md
  tools/tesseratos/CMakeLists.txt
  tools/tesseratos/include/tesseratos/collider_gizmos/plugin.hpp
  tools/tesseratos/src/tesseratos/collider_gizmos/plugin.cpp
  tools/tesseratos/src/tesseratos/plugin.cpp
Owners: @RiscadoA, @DiogoMendonc-a, @roby2014

feat(gizmos): support rotated wire boxes
  engine/include/cubos/engine/gizmos/gizmos.hpp
  engine/src/gizmos/gizmos.cpp
Owners: @DiogoMendonc-a, @RiscadoA

feat(tesseratos): add collider gizmos plugin
  CHANGELOG.md
  tools/tesseratos/CMakeLists.txt
  tools/tesseratos/include/tesseratos/collider_gizmos/plugin.hpp
  tools/tesseratos/src/tesseratos/collider_gizmos/plugin.cpp
  tools/tesseratos/src/tesseratos/plugin.cpp
Owners: @RiscadoA, @DiogoMendonc-a, @roby2014

feat(tesseratos): show entity generation in inspector
  tools/tesseratos/src/tesseratos/entity_inspector/plugin.cpp
Owners: @DiogoMendonc-a, @roby2014

deploy: ffefd435d60cf11769f90bcb1e36722e3d6fedd0
  docs/classcubos_1_1engine_1_1Gizmos.html
  docs/dir_2a25e2bce65ce0f842dba5b7b3a0e22d.html
  docs/dir_d28a4e16d9deb548c857866e71f89c35.html
  docs/files.html
  docs/group__tesseratos-collider-gizmos-plugin.html
  docs/group__tesseratos-debug-camera-plugin.html
  docs/group__tesseratos-entity-inspector-plugin.html
  docs/group__tesseratos-entity-selector-plugin.html
  docs/group__tesseratos-metrics-panel-plugin.html
  docs/group__tesseratos-scene-editor-plugin.html
  docs/group__tesseratos-settings-inspector-plugin.html
  docs/group__tesseratos-toolbox-plugin.html
  docs/group__tesseratos-voxel-palette-editor-plugin.html
  docs/group__tesseratos.html
  docs/modules.html
  docs/namespacetesseratos.html
  docs/searchdata-v2.js
  docs/tools_2tesseratos_2include_2tesseratos_2collider__gizmos_2plugin_8hpp.html
Owners: @RiscadoA

fix(rendering): set correct viewport size on splitscreen
  engine/src/splitscreen/plugin.cpp
Owners: @RiscadoA

fix(rendering): set correct viewport size on splitscreen
  engine/src/splitscreen/plugin.cpp
Owners: @RiscadoA

fix(tesseratos): draw transform gizmo after update
  tools/tesseratos/src/tesseratos/transform_gizmo/plugin.cpp
Owners: @DiogoMendonc-a, @roby2014

fix(tesseratos): draw transform gizmo after update
  tools/tesseratos/src/tesseratos/transform_gizmo/plugin.cpp
Owners: @DiogoMendonc-a, @roby2014

fix(tesseratos): convert entities in saved scene components
  core/include/cubos/core/ecs/blueprint.hpp
  core/src/ecs/blueprint.cpp
  tools/tesseratos/src/tesseratos/scene_editor/plugin.cpp
Owners: @RiscadoA, @DiogoMendonc-a, @roby2014

fix(tesseratos): convert entities in saved scene components
  core/include/cubos/core/ecs/blueprint.hpp
  core/src/ecs/blueprint.cpp
  tools/tesseratos/src/tesseratos/scene_editor/plugin.cpp
Owners: @RiscadoA, @DiogoMendonc-a, @roby2014

deploy: bbeb3d4b4699861e4b5dbefbd0b608be296a43a1
  docs/blueprint_8hpp.html
  docs/namespacecubos_1_1core_1_1ecs.html
  docs/searchdata-v2.js
Owners: @RiscadoA

Deploy preview for PR 913 🛫
  docs-preview/pr-913/annotated.html
  docs-preview/pr-913/blueprint_8hpp.html
  docs-preview/pr-913/classcubos_1_1core_1_1ecs_1_1TypeBuilder.html
  docs-preview/pr-913/classcubos_1_1engine_1_1Gizmos.html
  docs-preview/pr-913/dir_2a25e2bce65ce0f842dba5b7b3a0e22d.html
  docs-preview/pr-913/dir_d28a4e16d9deb548c857866e71f89c35.html
  docs-preview/pr-913/files.html
  docs-preview/pr-913/group__tesseratos-collider-gizmos-plugin.html
  docs-preview/pr-913/group__tesseratos-debug-camera-plugin.html
  docs-preview/pr-913/group__tesseratos-entity-inspector-plugin.html
  docs-preview/pr-913/group__tesseratos-entity-selector-plugin.html
  docs-preview/pr-913/group__tesseratos-metrics-panel-plugin.html
  docs-preview/pr-913/group__tesseratos-scene-editor-plugin.html
  docs-preview/pr-913/group__tesseratos-settings-inspector-plugin.html
  docs-preview/pr-913/group__tesseratos-toolbox-plugin.html
  docs-preview/pr-913/group__tesseratos-voxel-palette-editor-plugin.html
  docs-preview/pr-913/group__tesseratos.html
  docs-preview/pr-913/modules.html
  docs-preview/pr-913/namespacecubos_1_1core_1_1ecs.html
  docs-preview/pr-913/namespacetesseratos.html
  docs-preview/pr-913/reflection_8hpp.html
  docs-preview/pr-913/searchdata-v2.js
  docs-preview/pr-913/structcubos_1_1core_1_1ecs_1_1EphemeralTrait.html
  docs-preview/pr-913/tools_2tesseratos_2include_2tesseratos_2collider__gizmos_2plugin_8hpp.html
Owners: @RiscadoA

fix(rendering): make spotlights work properly
  CHANGELOG.md
  engine/include/cubos/engine/renderer/spot_light.hpp
  engine/src/renderer/deferred_renderer.cpp
  engine/src/renderer/spot_light.cpp
Owners: @RiscadoA

fix(rendering): make spotlights work properly
  CHANGELOG.md
  engine/include/cubos/engine/renderer/spot_light.hpp
  engine/src/renderer/deferred_renderer.cpp
  engine/src/renderer/spot_light.cpp
Owners: @RiscadoA

deploy: 81cf6443024064ddb9886515469638bfc84ae49d
  docs/searchdata-v2.js
  docs/structcubos_1_1engine_1_1SpotLight.html
Owners: @RiscadoA

feat(ecs): add repeat while and system groups
  core/include/cubos/core/ecs/cubos.hpp
  core/include/cubos/core/ecs/system/dispatcher.hpp
  core/src/ecs/cubos.cpp
  core/src/ecs/system/dispatcher.cpp
  core/tests/ecs/dispatcher.cpp
Owners: @RiscadoA

Deploy preview for PR 913 🛫
  docs-preview/pr-913/searchdata-v2.js
  docs-preview/pr-913/structcubos_1_1engine_1_1SpotLight.html
Owners: @RiscadoA

feat(ecs): add repeat while and system groups
  core/include/cubos/core/ecs/cubos.hpp
  core/include/cubos/core/ecs/system/dispatcher.hpp
  core/src/ecs/cubos.cpp
  core/src/ecs/system/dispatcher.cpp
  core/tests/ecs/dispatcher.cpp
Owners: @RiscadoA

deploy: ae01f1e9610cb2a34adf41c132420248e4b2b88d
  docs/classcubos_1_1core_1_1ecs_1_1Dispatcher.html
  docs/classcubos_1_1core_1_1ecs_1_1TagBuilder.html
  docs/searchdata-v2.js
  docs/structcubos_1_1core_1_1ecs_1_1Dispatcher_1_1Dependency.html
  docs/structcubos_1_1core_1_1ecs_1_1Dispatcher_1_1System.html
  docs/structcubos_1_1core_1_1ecs_1_1Dispatcher_1_1SystemSettings.html
Owners: @RiscadoA

feat(tesseratos): add play pause plugin
  tools/tesseratos/CMakeLists.txt
  tools/tesseratos/include/tesseratos/play_pause/plugin.hpp
  tools/tesseratos/src/tesseratos/play_pause/plugin.cpp
  tools/tesseratos/src/tesseratos/plugin.cpp
Owners: @DiogoMendonc-a, @roby2014

feat(ecs): add DeltaTime::modifier
  CHANGELOG.md
  core/include/cubos/core/ecs/cubos.hpp
  core/src/ecs/cubos.cpp
Owners: @RiscadoA

feat(ecs): add DeltaTime::modifier
  CHANGELOG.md
  core/include/cubos/core/ecs/cubos.hpp
  core/src/ecs/cubos.cpp
Owners: @RiscadoA

feat(tesseratos): add play pause plugin
  tools/tesseratos/CMakeLists.txt
  tools/tesseratos/include/tesseratos/play_pause/plugin.hpp
  tools/tesseratos/src/tesseratos/play_pause/plugin.cpp
  tools/tesseratos/src/tesseratos/plugin.cpp
Owners: @DiogoMendonc-a, @roby2014

deploy: ebc68d10e94c24cbff1910ab0f0d360b27b1c633
  docs/dir_2a25e2bce65ce0f842dba5b7b3a0e22d.html
  docs/dir_983a8c8cc77436ec11afd1f0c4e2ef1f.html
  docs/files.html
  docs/group__tesseratos-play-pause-plugin.html
  docs/group__tesseratos-scene-editor-plugin.html
  docs/group__tesseratos-settings-inspector-plugin.html
  docs/group__tesseratos-voxel-palette-editor-plugin.html
  docs/group__tesseratos-world-inspector-plugin.html
  docs/group__tesseratos.html
  docs/modules.html
  docs/namespacetesseratos.html
  docs/searchdata-v2.js
  docs/structcubos_1_1core_1_1ecs_1_1DeltaTime.html
  docs/tools_2tesseratos_2include_2tesseratos_2play__pause_2plugin_8hpp.html
Owners: @RiscadoA

fix(collisions): handle destroyed entities on sweep and prune correctly
  engine/src/collisions/broad_phase/plugin.cpp
Owners: @RiscadoA

fix(collisions): handle destroyed entities on sweep and prune correctly
  engine/src/collisions/broad_phase/plugin.cpp
Owners: @RiscadoA

fix: remove unnecessary quotes from logging macros
  core/include/cubos/core/ecs/world.hpp
  core/samples/data/des/custom/main.cpp
  core/samples/data/ser/custom/main.cpp
  core/samples/reflection/traits/enum/main.cpp
  core/samples/reflection/traits/fields/main.cpp
  core/src/data/des/deserializer.cpp
  core/src/data/des/json.cpp
  core/src/data/fs/embedded_archive.cpp
  core/src/data/fs/file.cpp
  core/src/data/fs/file_system.cpp
  core/src/data/fs/standard_archive.cpp
  core/src/data/old/context.cpp
  core/src/data/old/json_deserializer.cpp
  core/src/data/old/package.cpp
  core/src/data/ser/json.cpp
  core/src/data/ser/serializer.cpp
  core/src/ecs/blueprint.cpp
  core/src/ecs/entity/entity.cpp
  core/src/ecs/system/arguments/commands.cpp
  core/src/ecs/system/dispatcher.cpp
  core/src/ecs/world.cpp
  core/src/gl/ogl_render_device.cpp
  core/src/memory/any_value.cpp
  core/src/memory/stream.cpp
  core/src/reflection/traits/enum.cpp
  core/src/reflection/traits/fields.cpp
  engine/samples/hello-cubos/main.cpp
  engine/src/assets/assets.cpp
  engine/src/assets/bridges/file.cpp
  engine/src/imgui/data_inspector.cpp
  engine/src/scene/bridge.cpp
  engine/src/settings/plugin.cpp
  tools/tesseratos/src/tesseratos/scene_editor/plugin.cpp
Owners: @RiscadoA, @DiogoMendonc-a, @roby2014

fix: remove unnecessary quotes from logging macros
  core/include/cubos/core/ecs/world.hpp
  core/samples/data/des/custom/main.cpp
  core/samples/data/ser/custom/main.cpp
  core/samples/reflection/traits/enum/main.cpp
  core/samples/reflection/traits/fields/main.cpp
  core/src/data/des/deserializer.cpp
  core/src/data/des/json.cpp
  core/src/data/fs/embedded_archive.cpp
  core/src/data/fs/file.cpp
  core/src/data/fs/file_system.cpp
  core/src/data/fs/standard_archive.cpp
  core/src/data/old/context.cpp
  core/src/data/old/json_deserializer.cpp
  core/src/data/old/package.cpp
  core/src/data/ser/json.cpp
  core/src/data/ser/serializer.cpp
  core/src/ecs/blueprint.cpp
  core/src/ecs/entity/entity.cpp
  core/src/ecs/system/arguments/commands.cpp
  core/src/ecs/system/dispatcher.cpp
  core/src/ecs/world.cpp
  core/src/gl/ogl_render_device.cpp
  core/src/memory/any_value.cpp
  core/src/memory/stream.cpp
  core/src/reflection/traits/enum.cpp
  core/src/reflection/traits/fields.cpp
  engine/samples/hello-cubos/main.cpp
  engine/src/assets/assets.cpp
  engine/src/assets/bridges/file.cpp
  engine/src/imgui/data_inspector.cpp
  engine/src/scene/bridge.cpp
  engine/src/settings/plugin.cpp
  tools/tesseratos/src/tesseratos/scene_editor/plugin.cpp
Owners: @RiscadoA, @DiogoMendonc-a, @roby2014

docs: fix most doxygen warnings
  core/include/cubos/core/ecs/blueprint.hpp
  core/include/cubos/core/ecs/cubos.hpp
  core/include/cubos/core/ecs/system/arguments/query.hpp
  core/include/cubos/core/ecs/system/dispatcher.hpp
  core/include/cubos/core/ecs/table/dense/registry.hpp
  core/include/cubos/core/ecs/table/sparse_relation/registry.hpp
  core/include/cubos/core/ecs/types.hpp
  core/include/cubos/core/io/window.hpp
  core/include/cubos/core/memory/any_vector.hpp
  core/include/cubos/core/reflection/traits/enum.hpp
  core/include/cubos/core/reflection/traits/nullable.hpp
  core/samples/reflection/traits/enum/page.md
  docs/pages/2_features/quadrados.md
  engine/include/cubos/engine/gizmos/gizmos.hpp
  engine/include/cubos/engine/imgui/data_inspector.hpp
  engine/include/cubos/engine/screen_picker/screen_picker.hpp
  engine/samples/events/main.cpp
Owners: @RiscadoA, @DiogoMendonc-a

docs(reflection): disable Reflectable concept docs
  core/include/cubos/core/reflection/reflect.hpp
Owners: @RiscadoA

build: pin Doxygen to 1.8.20
  flake.nix
Owners: @RiscadoA

build: pin Doxygen to 1.8.20
  flake.nix
Owners: @RiscadoA
