Repository GameDevTecnico/cubos, changes with the owners that .github/CODEOWNERS names for each.
All owners: @RiscadoA, @fallenatlas, @DiogoMendonc-a, @roby2014

.github/CODEOWNERS:

* @RiscadoA

**/engine/physics/ @fallenatlas
**/engine/gizmos/ @DiogoMendonc-a

**/tesseratos/ @DiogoMendonc-a @roby2014

docs: update changelog with stuff we've been doing
  CHANGELOG.md
Owners: @RiscadoA

docs: add changelog update reminder to PR template
  .github/pull_request_template.md
Owners: @RiscadoA

docs: create CHANGELOG.md
  CHANGELOG.md
Owners: @RiscadoA

docs: create CHANGELOG.md
  CHANGELOG.md
Owners: @RiscadoA

docs: update changelog with stuff we've been doing
  CHANGELOG.md
Owners: @RiscadoA

docs: add changelog update reminder to PR template
  .github/pull_request_template.md
Owners: @RiscadoA

feat(physics): separate force and impulse from velocity into their own components
  engine/include/cubos/engine/physics/components/force.hpp
  engine/include/cubos/engine/physics/components/impulse.hpp
  engine/include/cubos/engine/physics/components/velocity.hpp
  engine/include/cubos/engine/physics/plugin.hpp
  engine/include/cubos/engine/physics/plugins/gravity.hpp
  engine/samples/physics/main.cpp
  engine/src/cubos/engine/physics/gravity.cpp
  engine/src/cubos/engine/physics/plugin.cpp
Owners: @fallenatlas, @RiscadoA

refactor(physics): rename PhysicsMass to Mass
  engine/include/cubos/engine/physics/components/mass.hpp
  engine/include/cubos/engine/physics/components/velocity.hpp
  engine/include/cubos/engine/physics/plugin.hpp
  engine/include/cubos/engine/physics/plugins/gravity.hpp
  engine/samples/physics/main.cpp
  engine/src/cubos/engine/physics/gravity.cpp
  engine/src/cubos/engine/physics/plugin.cpp
Owners: @fallenatlas, @RiscadoA

refactor(physics): improve force and impulse components code readability
  engine/include/cubos/engine/physics/components/force.hpp
  engine/include/cubos/engine/physics/components/impulse.hpp
Owners: @fallenatlas

refactor(physics): rename component methods for force and impulse and field for velocity
  engine/include/cubos/engine/physics/components/force.hpp
  engine/include/cubos/engine/physics/components/impulse.hpp
  engine/include/cubos/engine/physics/components/velocity.hpp
  engine/samples/physics/main.cpp
  engine/src/cubos/engine/physics/gravity.cpp
  engine/src/cubos/engine/physics/plugin.cpp
Owners: @fallenatlas, @RiscadoA

fix(physics): fix type error by adding gravity plugin after adding components
  engine/src/cubos/engine/physics/plugin.cpp
Owners: @fallenatlas

refactor(physics): rename component methods for force and impulse and field for velocity
  engine/include/cubos/engine/physics/components/force.hpp
  engine/include/cubos/engine/physics/components/impulse.hpp
  engine/include/cubos/engine/physics/components/velocity.hpp
  engine/samples/physics/main.cpp
  engine/src/cubos/engine/physics/gravity.cpp
  engine/src/cubos/engine/physics/plugin.cpp
Owners: @fallenatlas, @RiscadoA

fix(physics): fix type error by adding gravity plugin after adding components
  engine/src/cubos/engine/physics/plugin.cpp
Owners: @fallenatlas

feat(physics): separate force and impulse from velocity into their own components
  engine/include/cubos/engine/physics/components/force.hpp
  engine/include/cubos/engine/physics/components/impulse.hpp
  engine/include/cubos/engine/physics/components/velocity.hpp
  engine/include/cubos/engine/physics/plugin.hpp
  engine/include/cubos/engine/physics/plugins/gravity.hpp
  engine/samples/physics/main.cpp
  engine/src/cubos/engine/physics/gravity.cpp
  engine/src/cubos/engine/physics/plugin.cpp
Owners: @fallenatlas, @RiscadoA

refactor(physics): improve force and impulse components code readability
  engine/include/cubos/engine/physics/components/force.hpp
  engine/include/cubos/engine/physics/components/impulse.hpp
Owners: @fallenatlas

refactor(physics): rename PhysicsMass to Mass
  engine/include/cubos/engine/physics/components/mass.hpp
  engine/include/cubos/engine/physics/components/velocity.hpp
  engine/include/cubos/engine/physics/plugin.hpp
  engine/include/cubos/engine/physics/plugins/gravity.hpp
  engine/samples/physics/main.cpp
  engine/src/cubos/engine/physics/gravity.cpp
  engine/src/cubos/engine/physics/plugin.cpp
Owners: @fallenatlas, @RiscadoA

deploy: 1e8553dbe9044147d55407b4429a6e0d8bc29cd7
  docs/annotated.html
  docs/force_8hpp.html
  docs/group__physics-plugin.html
  docs/impulse_8hpp.html
  docs/mass_8hpp.html
  docs/namespacecubos_1_1engine.html
  docs/searchdata-v2.js
  docs/structcubos_1_1engine_1_1Force.html
  docs/structcubos_1_1engine_1_1Impulse.html
  docs/structcubos_1_1engine_1_1Mass.html
  docs/structcubos_1_1engine_1_1Velocity.html
  docs/velocity_8hpp.html
Owners: @RiscadoA

Deploy preview for PR 924 🛫
  docs-preview/pr-924/annotated.html
  docs-preview/pr-924/force_8hpp.html
  docs-preview/pr-924/group__physics-plugin.html
  docs-preview/pr-924/impulse_8hpp.html
  docs-preview/pr-924/mass_8hpp.html
  docs-preview/pr-924/namespacecubos_1_1engine.html
  docs-preview/pr-924/searchdata-v2.js
  docs-preview/pr-924/structcubos_1_1engine_1_1Force.html
  docs-preview/pr-924/structcubos_1_1engine_1_1Impulse.html
  docs-preview/pr-924/structcubos_1_1engine_1_1Mass.html
  docs-preview/pr-924/structcubos_1_1engine_1_1Velocity.html
  docs-preview/pr-924/velocity_8hpp.html
Owners: @RiscadoA

deploy: GameDevTecnico/cubos-blog@a7053cf2d1c53fffa3ce8bfc39aec3e5cdfbc1dc
  author/cubos-team.html
  author/ricardo-antunes.html
  category/features.html
  feeds/features.atom.xml
  feeds/meta.atom.xml
  hello-relations.html
  hello-world.html
  tag/core.html
  tag/ecs.html
Owners: @RiscadoA

Deploy preview for PR 935 🛫
  docs-preview/pr-935/annotated.html
  docs-preview/pr-935/force_8hpp.html
  docs-preview/pr-935/group__physics-plugin.html
  docs-preview/pr-935/impulse_8hpp.html
  docs-preview/pr-935/mass_8hpp.html
  docs-preview/pr-935/namespacecubos_1_1engine.html
  docs-preview/pr-935/searchdata-v2.js
  docs-preview/pr-935/structcubos_1_1engine_1_1Force.html
  docs-preview/pr-935/structcubos_1_1engine_1_1Impulse.html
  docs-preview/pr-935/structcubos_1_1engine_1_1Mass.html
  docs-preview/pr-935/structcubos_1_1engine_1_1Velocity.html
  docs-preview/pr-935/velocity_8hpp.html
Owners: @RiscadoA

feat: track engine test coverage
  .github/workflows/create-coverage-report.yml
  CMakeLists.txt
Owners: @RiscadoA

feat: add emoji to copy labels
  .github/workflows/copy-labels.yml
Owners: @RiscadoA

chore: add #941 to changelog
  CHANGELOG.md
Owners: @RiscadoA

feat: cache test coverage build
  .github/workflows/create-coverage-report.yml
Owners: @RiscadoA

chore: add #941 to changelog
  CHANGELOG.md
Owners: @RiscadoA

feat: track engine test coverage
  .github/workflows/create-coverage-report.yml
  CMakeLists.txt
Owners: @RiscadoA

feat: cache test coverage build
  .github/workflows/create-coverage-report.yml
Owners: @RiscadoA

feat: add emoji to copy labels
  .github/workflows/copy-labels.yml
Owners: @RiscadoA

docs: add #334 to CHANGELOG.md
  CHANGELOG.md
Owners: @RiscadoA

refactor(transform): deduplicate tag ordering
  engine/src/cubos/engine/transform/plugin.cpp
Owners: @RiscadoA

fix(transform): set default Scale to 1.0
  engine/include/cubos/engine/transform/scale.hpp
Owners: @RiscadoA

feat(transform): add missing LocalToParent relations
  engine/include/cubos/engine/transform/plugin.hpp
  engine/src/cubos/engine/transform/plugin.cpp
Owners: @RiscadoA

feat(transform): add missing transform components
  engine/include/cubos/engine/transform/plugin.hpp
  engine/src/cubos/engine/transform/plugin.cpp
Owners: @RiscadoA

style(transform): replace if by ternary operator
  engine/src/cubos/engine/transform/plugin.cpp
Owners: @RiscadoA

feat(transform): add ChildOf relation
  engine/CMakeLists.txt
  engine/include/cubos/engine/transform/child_of.hpp
  engine/include/cubos/engine/transform/plugin.hpp
  engine/src/cubos/engine/transform/child_of.cpp
  engine/src/cubos/engine/transform/plugin.cpp
Owners: @RiscadoA

test(transform): improve plugin test
  engine/tests/transform.cpp
Owners: @RiscadoA

feat(transform): propagate LocalToWorld
  engine/include/cubos/engine/transform/plugin.hpp
  engine/src/cubos/engine/transform/plugin.cpp
Owners: @RiscadoA

test(transform): cover plugin
  engine/tests/CMakeLists.txt
  engine/tests/transform.cpp
Owners: @RiscadoA

feat(transform): add LocalToParent component
  engine/CMakeLists.txt
  engine/include/cubos/engine/transform/local_to_parent.hpp
  engine/include/cubos/engine/transform/local_to_world.hpp
  engine/include/cubos/engine/transform/plugin.hpp
  engine/src/cubos/engine/transform/local_to_parent.cpp
  engine/src/cubos/engine/transform/plugin.cpp
Owners: @RiscadoA

chore: bump action versions
  .github/workflows/build-doxygen-docs.yml
  .github/workflows/build-engine-linux.yml
  .github/workflows/build-engine-macos.yml
  .github/workflows/build-engine-windows.yml
  .github/workflows/clang-format-check.yml
  .github/workflows/clang-tidy-lint.yml
  .github/workflows/conventional-commits.yml
  .github/workflows/create-coverage-report.yml
  .github/workflows/preview-docs.yml
Owners: @RiscadoA
