Repository GameDevTecnico/cubos, changes with the owners that .github/CODEOWNERS names for each.
All owners: @RiscadoA, @fallenatlas, @DiogoMendonc-a, @roby2014

deploy: fa22bcdcc79d2893fdef180c88567fb73dbdef11
  docs/classcubos_1_1engine_1_1FileBridge.html
  docs/classcubos_1_1engine_1_1old_1_1JSONBridge.html
  docs/engine_2include_2cubos_2engine_2assets_2bridges_2old_2json_8hpp.html
  docs/examples-engine-assets-json.html
  docs/group__assets-plugin.html
  docs/searchdata-v2.js
Owners: @RiscadoA

test(ecs): cover some of Cubos class
  core/tests/CMakeLists.txt
  core/tests/ecs/cubos.cpp
Owners: @RiscadoA

feat(ecs): update Cubos system syntax
  core/include/cubos/core/ecs/cubos.hpp
  core/include/cubos/core/ecs/system/dispatcher.hpp
  core/src/cubos/core/ecs/cubos.cpp
  core/tests/ecs/dispatcher.cpp
Owners: @RiscadoA

refactor(engine): switch to new Cubos syntax
  core/include/cubos/core/ecs/cubos.hpp
  core/include/cubos/core/ecs/system/dispatcher.hpp
  engine/src/cubos/engine/assets/plugin.cpp
  engine/src/cubos/engine/collisions/broad_phase/plugin.cpp
  engine/src/cubos/engine/collisions/plugin.cpp
  engine/src/cubos/engine/gizmos/plugin.cpp
  engine/src/cubos/engine/imgui/plugin.cpp
  engine/src/cubos/engine/input/plugin.cpp
  engine/src/cubos/engine/physics/gravity.cpp
  engine/src/cubos/engine/physics/plugin.cpp
  engine/src/cubos/engine/renderer/plugin.cpp
  engine/src/cubos/engine/scene/plugin.cpp
  engine/src/cubos/engine/screen_picker/plugin.cpp
  engine/src/cubos/engine/settings/plugin.cpp
  engine/src/cubos/engine/splitscreen/plugin.cpp
  engine/src/cubos/engine/transform/plugin.cpp
  engine/src/cubos/engine/utils/free_camera_controller/plugin.cpp
  engine/src/cubos/engine/voxels/plugin.cpp
  engine/src/cubos/engine/window/plugin.cpp
Owners: @RiscadoA, @DiogoMendonc-a, @fallenatlas

docs(ecs): remove obsolete general sample
  core/samples/CMakeLists.txt
  core/samples/ecs/general/main.cpp
Owners: @RiscadoA

fix(assets): JSONBridge returning false on success
  engine/include/cubos/engine/assets/bridges/json.hpp
Owners: @RiscadoA

refactor(tesseratos): switch to new Cubos syntax
  tools/tesseratos/samples/main/main.cpp
  tools/tesseratos/src/tesseratos/asset_explorer/plugin.cpp
  tools/tesseratos/src/tesseratos/debug_camera/plugin.cpp
  tools/tesseratos/src/tesseratos/entity_inspector/plugin.cpp
  tools/tesseratos/src/tesseratos/metrics_panel/plugin.cpp
  tools/tesseratos/src/tesseratos/scene_editor/plugin.cpp
  tools/tesseratos/src/tesseratos/settings_inspector/plugin.cpp
  tools/tesseratos/src/tesseratos/toolbox/plugin.cpp
  tools/tesseratos/src/tesseratos/transform_gizmo/plugin.cpp
  tools/tesseratos/src/tesseratos/voxel_palette_editor/plugin.cpp
  tools/tesseratos/src/tesseratos/world_inspector/plugin.cpp
Owners: @DiogoMendonc-a, @roby2014

docs(engine): switch samples to new Cubos syntax
  engine/samples/assets/bridge/main.cpp
  engine/samples/assets/bridge/page.md
  engine/samples/assets/json/main.cpp
  engine/samples/assets/json/page.md
  engine/samples/assets/saving/main.cpp
  engine/samples/assets/saving/page.md
  engine/samples/collisions/main.cpp
  engine/samples/events/main.cpp
  engine/samples/events/page.md
  engine/samples/gizmos/main.cpp
  engine/samples/hello-cubos/components.hpp
  engine/samples/hello-cubos/main.cpp
  engine/samples/hello-cubos/page.md
  engine/samples/imgui/main.cpp
  engine/samples/imgui/page.md
  engine/samples/input/main.cpp
  engine/samples/input/page.md
  engine/samples/physics/main.cpp
  engine/samples/renderer/main.cpp
  engine/samples/renderer/page.md
  engine/samples/scene/main.cpp
  engine/samples/scene/page.md
  engine/samples/settings/main.cpp
  engine/samples/settings/page.md
  engine/samples/voxels/main.cpp
  engine/samples/voxels/page.md
Owners: @RiscadoA

docs(assets): update JSON sample format
  engine/samples/assets/json/assets/sample.strings
  engine/samples/assets/json/main.cpp
  engine/samples/assets/saving/main.cpp
Owners: @RiscadoA

fix(assets): FileBridge not flushing swap stream
  engine/src/cubos/engine/assets/bridges/file.cpp
Owners: @RiscadoA

Deploy preview for PR 919 🛫
  docs-preview/pr-919/classcubos_1_1core_1_1ecs_1_1Dispatcher.html
  docs-preview/pr-919/classcubos_1_1engine_1_1FileBridge.html
  docs-preview/pr-919/classcubos_1_1engine_1_1old_1_1JSONBridge.html
  docs-preview/pr-919/engine_2include_2cubos_2engine_2assets_2bridges_2old_2json_8hpp.html
  docs-preview/pr-919/group__assets-plugin.html
  docs-preview/pr-919/searchdata-v2.js
Owners: @RiscadoA

fix(ecs): add missing move to Dispatcher
  core/include/cubos/core/ecs/system/dispatcher.hpp
Owners: @RiscadoA

refactor(ecs): remove unused SystemBuilder
  core/include/cubos/core/ecs/cubos.hpp
  core/src/cubos/core/ecs/cubos.cpp
Owners: @RiscadoA

Deploy preview for PR 919 🛫
  docs-preview/pr-919/annotated.html
  docs-preview/pr-919/classcubos_1_1core_1_1ecs_1_1SystemBuilder.html
  docs-preview/pr-919/cubos_8hpp.html
  docs-preview/pr-919/group__core-ecs.html
  docs-preview/pr-919/namespacecubos_1_1core_1_1ecs.html
  docs-preview/pr-919/searchdata-v2.js
Owners: @RiscadoA

feat(ecs): add SystemAccess
  core/CMakeLists.txt
  core/include/cubos/core/ecs/system/access.hpp
  core/src/cubos/core/ecs/system/access.cpp
  core/tests/CMakeLists.txt
  core/tests/ecs/system/access.cpp
Owners: @RiscadoA

feat(ecs): add SystemOptions
  core/CMakeLists.txt
  core/include/cubos/core/ecs/system/options.hpp
  core/src/cubos/core/ecs/system/options.cpp
Owners: @RiscadoA

feat(ecs): add QueryData::accesses
  core/CMakeLists.txt
  core/include/cubos/core/ecs/query/access.hpp
  core/include/cubos/core/ecs/query/data.hpp
  core/src/cubos/core/ecs/query/access.cpp
Owners: @RiscadoA

Deploy preview for PR 916 🛫
  docs-preview/pr-916/classcubos_1_1core_1_1ecs_1_1Query.html
  docs-preview/pr-916/classcubos_1_1core_1_1ecs_1_1Types.html
  docs-preview/pr-916/classcubos_1_1engine_1_1FileBridge.html
  docs-preview/pr-916/classcubos_1_1engine_1_1JSONBridge.html
  docs-preview/pr-916/classcubos_1_1engine_1_1old_1_1JSONBridge.html
  docs-preview/pr-916/engine_2include_2cubos_2engine_2assets_2bridges_2old_2json_8hpp.html
  docs-preview/pr-916/examples-engine-assets-json.html
  docs-preview/pr-916/examples-engine-scene.html
  docs-preview/pr-916/group__assets-plugin.html
  docs-preview/pr-916/searchdata-v2.js
Owners: @RiscadoA

Deploy preview for PR 916 🛫
  docs-preview/pr-916/searchdata-v2.js
  docs-preview/pr-916/structcubos_1_1core_1_1ecs_1_1SystemInfo.html
Owners: @RiscadoA

refactor(ecs): remove unused SystemBuilder
  core/include/cubos/core/ecs/cubos.hpp
  core/src/cubos/core/ecs/cubos.cpp
Owners: @RiscadoA

test(ecs): cover some of Cubos class
  core/tests/CMakeLists.txt
  core/tests/ecs/cubos.cpp
Owners: @RiscadoA

docs(engine): switch samples to new Cubos syntax
  engine/samples/assets/bridge/main.cpp
  engine/samples/assets/bridge/page.md
  engine/samples/assets/json/main.cpp
  engine/samples/assets/json/page.md
  engine/samples/assets/saving/main.cpp
  engine/samples/assets/saving/page.md
  engine/samples/collisions/main.cpp
  engine/samples/events/main.cpp
  engine/samples/events/page.md
  engine/samples/gizmos/main.cpp
  engine/samples/hello-cubos/components.hpp
  engine/samples/hello-cubos/main.cpp
  engine/samples/hello-cubos/page.md
  engine/samples/imgui/main.cpp
  engine/samples/imgui/page.md
  engine/samples/input/main.cpp
  engine/samples/input/page.md
  engine/samples/physics/main.cpp
  engine/samples/renderer/main.cpp
  engine/samples/renderer/page.md
  engine/samples/scene/main.cpp
  engine/samples/scene/page.md
  engine/samples/settings/main.cpp
  engine/samples/settings/page.md
  engine/samples/voxels/main.cpp
  engine/samples/voxels/page.md
Owners: @RiscadoA

docs(ecs): remove obsolete general sample
  core/samples/CMakeLists.txt
  core/samples/ecs/general/main.cpp
Owners: @RiscadoA

fix(assets): FileBridge not flushing swap stream
  engine/src/cubos/engine/assets/bridges/file.cpp
Owners: @RiscadoA

fix(assets): JSONBridge returning false on success
  engine/include/cubos/engine/assets/bridges/json.hpp
Owners: @RiscadoA

docs(assets): update JSON sample format
  engine/samples/assets/json/assets/sample.strings
  engine/samples/assets/json/main.cpp
  engine/samples/assets/saving/main.cpp
Owners: @RiscadoA

refactor(engine): switch to new Cubos syntax
  core/include/cubos/core/ecs/cubos.hpp
  core/include/cubos/core/ecs/system/dispatcher.hpp
  engine/src/cubos/engine/assets/plugin.cpp
  engine/src/cubos/engine/collisions/broad_phase/plugin.cpp
  engine/src/cubos/engine/collisions/plugin.cpp
  engine/src/cubos/engine/gizmos/plugin.cpp
  engine/src/cubos/engine/imgui/plugin.cpp
  engine/src/cubos/engine/input/plugin.cpp
  engine/src/cubos/engine/physics/gravity.cpp
  engine/src/cubos/engine/physics/plugin.cpp
  engine/src/cubos/engine/renderer/plugin.cpp
  engine/src/cubos/engine/scene/plugin.cpp
  engine/src/cubos/engine/screen_picker/plugin.cpp
  engine/src/cubos/engine/settings/plugin.cpp
  engine/src/cubos/engine/splitscreen/plugin.cpp
  engine/src/cubos/engine/transform/plugin.cpp
  engine/src/cubos/engine/utils/free_camera_controller/plugin.cpp
  engine/src/cubos/engine/voxels/plugin.cpp
  engine/src/cubos/engine/window/plugin.cpp
Owners: @RiscadoA, @DiogoMendonc-a, @fallenatlas

refactor(tesseratos): switch to new Cubos syntax
  tools/tesseratos/samples/main/main.cpp
  tools/tesseratos/src/tesseratos/asset_explorer/plugin.cpp
  tools/tesseratos/src/tesseratos/debug_camera/plugin.cpp
  tools/tesseratos/src/tesseratos/entity_inspector/plugin.cpp
  tools/tesseratos/src/tesseratos/metrics_panel/plugin.cpp
  tools/tesseratos/src/tesseratos/scene_editor/plugin.cpp
  tools/tesseratos/src/tesseratos/settings_inspector/plugin.cpp
  tools/tesseratos/src/tesseratos/toolbox/plugin.cpp
  tools/tesseratos/src/tesseratos/transform_gizmo/plugin.cpp
  tools/tesseratos/src/tesseratos/voxel_palette_editor/plugin.cpp
  tools/tesseratos/src/tesseratos/world_inspector/plugin.cpp
Owners: @DiogoMendonc-a, @roby2014

feat(ecs): update Cubos system syntax
  core/include/cubos/core/ecs/cubos.hpp
  core/include/cubos/core/ecs/system/dispatcher.hpp
  core/src/cubos/core/ecs/cubos.cpp
  core/tests/ecs/dispatcher.cpp
Owners: @RiscadoA

fix(ecs): add missing move to Dispatcher
  core/include/cubos/core/ecs/system/dispatcher.hpp
Owners: @RiscadoA

deploy: 1bce7c5bdaa6515243658d1ec49e30f66d08e436
  docs/annotated.html
  docs/classcubos_1_1core_1_1ecs_1_1Cubos.html
  docs/classcubos_1_1core_1_1ecs_1_1Dispatcher.html
  docs/classcubos_1_1core_1_1ecs_1_1SystemBuilder.html
  docs/cubos_8hpp.html
  docs/examples-engine-assets-bridge.html
  docs/examples-engine-assets-json.html
  docs/examples-engine-assets-saving.html
  docs/examples-engine-assets.html
  docs/examples-engine-events.html
  docs/examples-engine-gizmos.html
  docs/examples-engine-hello-cubos.html
  docs/examples-engine-imgui.html
  docs/examples-engine-input.html
  docs/examples-engine-renderer.html
  docs/examples-engine-scene.html
  docs/examples-engine-settings.html
  docs/examples-engine-voxels.html
  docs/group__core-ecs.html
  docs/namespacecubos_1_1core_1_1ecs.html
  docs/pages.html
  docs/searchdata-v2.js
Owners: @RiscadoA

Deploy preview for PR 916 🛫
  docs-preview/pr-916/annotated.html
  docs-preview/pr-916/classcubos_1_1core_1_1ecs_1_1Cubos.html
  docs-preview/pr-916/classcubos_1_1core_1_1ecs_1_1Dispatcher.html
  docs-preview/pr-916/classcubos_1_1core_1_1ecs_1_1SystemBuilder.html
  docs-preview/pr-916/cubos_8hpp.html
  docs-preview/pr-916/examples-engine-assets-bridge.html
  docs-preview/pr-916/examples-engine-assets-json.html
  docs-preview/pr-916/examples-engine-assets-saving.html
  docs-preview/pr-916/examples-engine-assets.html
  docs-preview/pr-916/examples-engine-events.html
  docs-preview/pr-916/examples-engine-gizmos.html
  docs-preview/pr-916/examples-engine-hello-cubos.html
  docs-preview/pr-916/examples-engine-imgui.html
  docs-preview/pr-916/examples-engine-input.html
  docs-preview/pr-916/examples-engine-renderer.html
  docs-preview/pr-916/examples-engine-scene.html
  docs-preview/pr-916/examples-engine-settings.html
  docs-preview/pr-916/examples-engine-voxels.html
  docs-preview/pr-916/group__core-ecs.html
  docs-preview/pr-916/namespacecubos_1_1core_1_1ecs.html
  docs-preview/pr-916/pages.html
  docs-preview/pr-916/searchdata-v2.js
Owners: @RiscadoA

feat(gizmos): add ring gizmo
  engine/include/cubos/engine/gizmos/gizmos.hpp
  engine/src/cubos/engine/gizmos/gizmos.cpp
  engine/src/cubos/engine/gizmos/renderer.cpp
  engine/src/cubos/engine/gizmos/renderer.hpp
  engine/src/cubos/engine/gizmos/types/ring.hpp
Owners: @DiogoMendonc-a

Deploy preview for PR 881 🛫
  docs-preview/pr-881/searchdata-v2.js
Owners: @RiscadoA

feat(gizmos): add ring gizmo
  engine/include/cubos/engine/gizmos/gizmos.hpp
  engine/src/cubos/engine/gizmos/gizmos.cpp
  engine/src/cubos/engine/gizmos/renderer.cpp
  engine/src/cubos/engine/gizmos/renderer.hpp
  engine/src/cubos/engine/gizmos/types/ring.hpp
Owners: @DiogoMendonc-a

deploy: dac81505ff52318d7fe26dc9bad2f6af68e2f48e
  docs/classcubos_1_1engine_1_1Gizmos.html
  docs/searchdata-v2.js
Owners: @RiscadoA

feat(ecs): add Query::first
  core/include/cubos/core/ecs/system/arguments/query.hpp
Owners: @RiscadoA

feat(core): add CUBOS_ASSERT_IMP
  core/include/cubos/core/log.hpp
Owners: @RiscadoA

Deploy preview for PR 916 🛫
  docs-preview/pr-916/classcubos_1_1engine_1_1Gizmos.html
  docs-preview/pr-916/searchdata-v2.js
Owners: @RiscadoA

feat(tesseratos): add entitySelectorPlugin
  tools/tesseratos/include/tesseratos/entity_selector/plugin.hpp
  tools/tesseratos/src/tesseratos/entity_selector/plugin.cpp
Owners: @DiogoMendonc-a, @roby2014

.github/CODEOWNERS:

* @RiscadoA

**/engine/physics/ @fallenatlas
**/engine/gizmos/ @DiogoMendonc-a

**/tesseratos/ @DiogoMendonc-a @roby2014
