Repository GameDevTecnico/cubos, changes with the owners that .github/CODEOWNERS names for each.
All owners: @RiscadoA, @fallenatlas, @DiogoMendonc-a, @roby2014

.github/CODEOWNERS:

* @RiscadoA

**/engine/physics/ @fallenatlas
**/engine/gizmos/ @DiogoMendonc-a

**/tesseratos/ @DiogoMendonc-a @roby2014

chore: cleanup action triggers
  .github/workflows/conventional-commits.yml
  .github/workflows/copy-labels.yml
  .github/workflows/create-coverage-report.yml
  .github/workflows/preview-docs.yml
Owners: @RiscadoA

chore: cleanup action dependency installation
  .github/workflows/build-doxygen-docs.yml
  .github/workflows/preview-docs.yml
Owners: @RiscadoA

chore: cleanup action dependency installation
  .github/workflows/build-doxygen-docs.yml
  .github/workflows/preview-docs.yml
Owners: @RiscadoA

chore: bump action versions
  .github/workflows/build-doxygen-docs.yml
  .github/workflows/build-engine-linux.yml
  .github/workflows/build-engine-macos.yml
  .github/workflows/build-engine-windows.yml
  .github/workflows/clang-format-check.yml
  .github/workflows/clang-tidy-lint.yml
  .github/workflows/conventional-commits.yml
  .github/workflows/create-coverage-report.yml
  .github/workflows/preview-docs.yml
Owners: @RiscadoA

chore: cleanup action triggers
  .github/workflows/conventional-commits.yml
  .github/workflows/copy-labels.yml
  .github/workflows/create-coverage-report.yml
  .github/workflows/preview-docs.yml
Owners: @RiscadoA

hotfix build-doxygen-docs.yml
  .github/workflows/build-doxygen-docs.yml
Owners: @RiscadoA

hotfix build-doxygen-docs.yml
  .github/workflows/build-doxygen-docs.yml
Owners: @RiscadoA

Deploy preview for PR 936 🛫
  docs-preview/pr-936/annotated.html
  docs-preview/pr-936/force_8hpp.html
  docs-preview/pr-936/group__physics-plugin.html
  docs-preview/pr-936/impulse_8hpp.html
  docs-preview/pr-936/mass_8hpp.html
  docs-preview/pr-936/namespacecubos_1_1engine.html
  docs-preview/pr-936/searchdata-v2.js
  docs-preview/pr-936/structcubos_1_1engine_1_1Force.html
  docs-preview/pr-936/structcubos_1_1engine_1_1Impulse.html
  docs-preview/pr-936/structcubos_1_1engine_1_1Mass.html
  docs-preview/pr-936/structcubos_1_1engine_1_1Velocity.html
  docs-preview/pr-936/velocity_8hpp.html
Owners: @RiscadoA

feat(gizmos): integrate screen picker with gizmos
  CHANGELOG.md
  engine/include/cubos/engine/gizmos/gizmos.hpp
  engine/include/cubos/engine/gizmos/plugin.hpp
  engine/src/cubos/engine/gizmos/gizmos.cpp
  engine/src/cubos/engine/gizmos/plugin.cpp
  engine/src/cubos/engine/gizmos/renderer.cpp
  engine/src/cubos/engine/gizmos/renderer.hpp
  engine/src/cubos/engine/screen_picker/screen_picker.cpp
Owners: @RiscadoA, @DiogoMendonc-a

fix(tesseratos): ensure entitySelector doesn't select gizmos
  tools/tesseratos/src/tesseratos/entity_selector/plugin.cpp
Owners: @DiogoMendonc-a, @roby2014

fix(tesseratos): ensure entitySelector doesn't select gizmos
  tools/tesseratos/src/tesseratos/entity_selector/plugin.cpp
Owners: @DiogoMendonc-a, @roby2014

feat(gizmos): integrate screen picker with gizmos
  CHANGELOG.md
  engine/include/cubos/engine/gizmos/gizmos.hpp
  engine/include/cubos/engine/gizmos/plugin.hpp
  engine/src/cubos/engine/gizmos/gizmos.cpp
  engine/src/cubos/engine/gizmos/plugin.cpp
  engine/src/cubos/engine/gizmos/renderer.cpp
  engine/src/cubos/engine/gizmos/renderer.hpp
  engine/src/cubos/engine/screen_picker/screen_picker.cpp
Owners: @RiscadoA, @DiogoMendonc-a

deploy: d4cbd61b790148463987c4f506b2165df3f7b67b
  docs/classcubos_1_1engine_1_1Gizmos.html
  docs/group__gizmos-plugin.html
  docs/searchdata-v2.js
Owners: @RiscadoA

Deploy preview for PR 945 🛫
  docs-preview/pr-945/classcubos_1_1engine_1_1Gizmos.html
  docs-preview/pr-945/group__gizmos-plugin.html
  docs-preview/pr-945/searchdata-v2.js
Owners: @RiscadoA

feat(transform): add missing LocalToParent relations
  engine/include/cubos/engine/transform/plugin.hpp
  engine/src/cubos/engine/transform/plugin.cpp
Owners: @RiscadoA

fix(transform): set default Scale to 1.0
  engine/include/cubos/engine/transform/scale.hpp
Owners: @RiscadoA

test(transform): cover plugin
  engine/tests/CMakeLists.txt
  engine/tests/transform.cpp
Owners: @RiscadoA

test(transform): improve plugin test
  engine/tests/transform.cpp
Owners: @RiscadoA

refactor(transform): deduplicate tag ordering
  engine/src/cubos/engine/transform/plugin.cpp
Owners: @RiscadoA

style(transform): replace if by ternary operator
  engine/src/cubos/engine/transform/plugin.cpp
Owners: @RiscadoA

feat(transform): add missing transform components
  engine/include/cubos/engine/transform/plugin.hpp
  engine/src/cubos/engine/transform/plugin.cpp
Owners: @RiscadoA

feat(transform): propagate LocalToWorld
  engine/include/cubos/engine/transform/plugin.hpp
  engine/src/cubos/engine/transform/plugin.cpp
Owners: @RiscadoA

feat(transform): add ChildOf relation
  engine/CMakeLists.txt
  engine/include/cubos/engine/transform/child_of.hpp
  engine/include/cubos/engine/transform/plugin.hpp
  engine/src/cubos/engine/transform/child_of.cpp
  engine/src/cubos/engine/transform/plugin.cpp
Owners: @RiscadoA

docs: add #334 to CHANGELOG.md
  CHANGELOG.md
Owners: @RiscadoA

feat(transform): add LocalToParent component
  engine/CMakeLists.txt
  engine/include/cubos/engine/transform/local_to_parent.hpp
  engine/include/cubos/engine/transform/local_to_world.hpp
  engine/include/cubos/engine/transform/plugin.hpp
  engine/src/cubos/engine/transform/local_to_parent.cpp
  engine/src/cubos/engine/transform/plugin.cpp
Owners: @RiscadoA

deploy: 96877c33ec7fc2f308946d816b4df2cbbb258ecc
  docs/annotated.html
  docs/child__of_8hpp.html
  docs/dir_5f701044e65d6c264a6c1dc66b1052c2.html
  docs/files.html
  docs/group__free-camera-controller-plugin.html
  docs/group__tesseratos-asset-explorer-plugin.html
  docs/group__tesseratos-debug-camera-plugin.html
  docs/group__tesseratos-entity-inspector-plugin.html
  docs/group__tesseratos-entity-selector-plugin.html
  docs/group__tesseratos-metrics-panel-plugin.html
  docs/group__tesseratos-scene-editor-plugin.html
  docs/group__tesseratos-settings-inspector-plugin.html
  docs/group__tesseratos-toolbox-plugin.html
  docs/group__tesseratos-voxel-palette-editor-plugin.html
  docs/group__transform-plugin.html
  docs/group__voxels-plugin.html
  docs/group__window-plugin.html
  docs/local__to__parent_8hpp.html
  docs/namespacecubos_1_1engine.html
  docs/searchdata-v2.js
  docs/structcubos_1_1engine_1_1ChildOf.html
  docs/structcubos_1_1engine_1_1LocalToParent.html
  docs/structcubos_1_1engine_1_1LocalToWorld.html
Owners: @RiscadoA

Deploy preview for PR 945 🛫
  docs-preview/pr-945/annotated.html
  docs-preview/pr-945/child__of_8hpp.html
  docs-preview/pr-945/dir_5f701044e65d6c264a6c1dc66b1052c2.html
  docs-preview/pr-945/files.html
  docs-preview/pr-945/group__free-camera-controller-plugin.html
  docs-preview/pr-945/group__tesseratos-asset-explorer-plugin.html
  docs-preview/pr-945/group__tesseratos-debug-camera-plugin.html
  docs-preview/pr-945/group__tesseratos-entity-inspector-plugin.html
  docs-preview/pr-945/group__tesseratos-entity-selector-plugin.html
  docs-preview/pr-945/group__tesseratos-metrics-panel-plugin.html
  docs-preview/pr-945/group__tesseratos-scene-editor-plugin.html
  docs-preview/pr-945/group__tesseratos-settings-inspector-plugin.html
  docs-preview/pr-945/group__tesseratos-toolbox-plugin.html
  docs-preview/pr-945/group__tesseratos-voxel-palette-editor-plugin.html
  docs-preview/pr-945/group__transform-plugin.html
  docs-preview/pr-945/group__voxels-plugin.html
  docs-preview/pr-945/group__window-plugin.html
  docs-preview/pr-945/local__to__parent_8hpp.html
  docs-preview/pr-945/namespacecubos_1_1engine.html
  docs-preview/pr-945/searchdata-v2.js
  docs-preview/pr-945/structcubos_1_1engine_1_1ChildOf.html
  docs-preview/pr-945/structcubos_1_1engine_1_1LocalToParent.html
  docs-preview/pr-945/structcubos_1_1engine_1_1LocalToWorld.html
Owners: @RiscadoA

chore: remove .DS_store's and add it to .gitignore
  .DS_Store
  .gitignore
  engine/.DS_Store
Owners: @RiscadoA

chore: remove .DS_store's and add it to .gitignore
  .DS_Store
  .gitignore
  engine/.DS_Store
Owners: @RiscadoA

style(tesseratos): format Debug Camera plugin file
  tools/tesseratos/src/tesseratos/debug_camera/plugin.cpp
Owners: @DiogoMendonc-a, @roby2014

feat(tesseratos): Add FreeCameraController component and FreeCameraControllerPlugin to Debug Camera
  tools/tesseratos/src/tesseratos/debug_camera/plugin.cpp
Owners: @DiogoMendonc-a, @roby2014

Deploy preview for PR 924 🛫
  docs-preview/pr-924/annotated.html
  docs-preview/pr-924/child__of_8hpp.html
  docs-preview/pr-924/classcubos_1_1engine_1_1Gizmos.html
  docs-preview/pr-924/dir_5f701044e65d6c264a6c1dc66b1052c2.html
  docs-preview/pr-924/files.html
  docs-preview/pr-924/group__free-camera-controller-plugin.html
  docs-preview/pr-924/group__gizmos-plugin.html
  docs-preview/pr-924/group__tesseratos-asset-explorer-plugin.html
  docs-preview/pr-924/group__tesseratos-debug-camera-plugin.html
  docs-preview/pr-924/group__tesseratos-entity-inspector-plugin.html
  docs-preview/pr-924/group__tesseratos-entity-selector-plugin.html
  docs-preview/pr-924/group__tesseratos-metrics-panel-plugin.html
  docs-preview/pr-924/group__tesseratos-scene-editor-plugin.html
  docs-preview/pr-924/group__tesseratos-settings-inspector-plugin.html
  docs-preview/pr-924/group__tesseratos-toolbox-plugin.html
  docs-preview/pr-924/group__tesseratos-voxel-palette-editor-plugin.html
  docs-preview/pr-924/group__transform-plugin.html
  docs-preview/pr-924/group__voxels-plugin.html
  docs-preview/pr-924/group__window-plugin.html
  docs-preview/pr-924/local__to__parent_8hpp.html
  docs-preview/pr-924/namespacecubos_1_1engine.html
  docs-preview/pr-924/searchdata-v2.js
  docs-preview/pr-924/structcubos_1_1engine_1_1ChildOf.html
  docs-preview/pr-924/structcubos_1_1engine_1_1LocalToParent.html
  docs-preview/pr-924/structcubos_1_1engine_1_1LocalToWorld.html
Owners: @RiscadoA

style(tesseratos): format Debug Camera plugin file
  tools/tesseratos/src/tesseratos/debug_camera/plugin.cpp
Owners: @DiogoMendonc-a, @roby2014

feat(tesseratos): Add FreeCameraController component and FreeCameraControllerPlugin to Debug Camera
  tools/tesseratos/src/tesseratos/debug_camera/plugin.cpp
Owners: @DiogoMendonc-a, @roby2014

feat: compile for the web
  .gitignore
  .vscode/cmake-kits.json
  CMakeLists.txt
  cmake/Emscripten.cmake
  core/CMakeLists.txt
  core/src/cubos/core/io/glfw_window.cpp
  engine/src/cubos/engine/screen_picker/screen_picker.cpp
  flake.nix
Owners: @RiscadoA

feat(reflection): add comparison
  core/include/cubos/core/reflection/comparison.hpp
Owners: @RiscadoA

feat(engine): add basic scene saving
  core/include/cubos/core/ecs/blueprint.hpp
  core/include/cubos/core/memory/any_value.hpp
  core/src/ecs/blueprint.cpp
  core/src/memory/any_value.cpp
  engine/src/scene/bridge.cpp
Owners: @RiscadoA

feat(engine): add subscene and reflection saving
  core/src/data/ser/json.cpp
  engine/samples/scene/assets/main.cubos
  engine/samples/scene/assets/sub.cubos
  engine/src/scene/bridge.cpp
Owners: @RiscadoA

test(reflection): cover comparison
  core/CMakeLists.txt
  core/include/cubos/core/ecs/blueprint.hpp
  core/src/data/ser/json.cpp
  core/tests/CMakeLists.txt
  core/tests/reflection/comparison.cpp
  engine/src/scene/bridge.cpp
Owners: @RiscadoA

fix(reflection): moved comparison function definition from header file
  core/CMakeLists.txt
  core/include/cubos/core/reflection/comparison.hpp
  core/src/reflection/comparison.cpp
  core/tests/reflection/comparison.cpp
  engine/src/scene/bridge.cpp
Owners: @RiscadoA
