Repository GameDevTecnico/cubos, changes with the owners that .github/CODEOWNERS names for each.
All owners: @RiscadoA, @fallenatlas, @DiogoMendonc-a, @roby2014

build: disable hardening on flake dev shell
  flake.nix
Owners: @RiscadoA

test(ecs): cover failure in updating depth on entity destruction
  core/tests/ecs/world.cpp
Owners: @RiscadoA

refactor(ecs): simply QueryFilter::Iterator pinning
  core/src/ecs/query/filter.cpp
Owners: @RiscadoA

deploy: 7cd93c658c12736172ef7172c112b944788b48a4
  docs/annotated.html
  docs/archetype_8hpp.html
  docs/classcubos_1_1core_1_1ecs_1_1ArchetypeGraph.html
  docs/classcubos_1_1core_1_1ecs_1_1QueryArchetypeNode.html
  docs/classcubos_1_1core_1_1ecs_1_1QueryFilter.html
  docs/classcubos_1_1core_1_1ecs_1_1QueryNode.html
  docs/classcubos_1_1core_1_1ecs_1_1QueryRelatedNode.html
  docs/classcubos_1_1core_1_1ecs_1_1SparseRelationTable.html
  docs/classcubos_1_1core_1_1ecs_1_1Types.html
  docs/group__core-ecs-query.html
  docs/namespacecubos_1_1core_1_1ecs.html
  docs/node_8hpp.html
  docs/related_8hpp.html
  docs/searchdata-v2.js
  docs/structcubos_1_1core_1_1ecs_1_1QueryFilter_1_1View_1_1Iterator_1_1Match.html
Owners: @RiscadoA

docs: modernize ecs and plugins feature guides
  docs/pages/2_features/ecs.md
  docs/pages/2_features/plugins.md
Owners: @RiscadoA

docs(collisions): fix typo in CollidingWith
  engine/include/cubos/engine/collisions/colliding_with.hpp
Owners: @RiscadoA

docs: add queries feature guide
  CHANGELOG.md
  docs/pages/2_features/main.md
  docs/pages/2_features/queries.md
Owners: @RiscadoA

docs: add queries feature guide
  CHANGELOG.md
  docs/pages/2_features/main.md
  docs/pages/2_features/queries.md
Owners: @RiscadoA

docs(collisions): fix typo in CollidingWith
  engine/include/cubos/engine/collisions/colliding_with.hpp
Owners: @RiscadoA

docs: modernize ecs and plugins feature guides
  docs/pages/2_features/ecs.md
  docs/pages/2_features/plugins.md
Owners: @RiscadoA

feat(ecs): add negative tags
  CHANGELOG.md
  core/include/cubos/core/ecs/cubos.hpp
  core/include/cubos/core/ecs/system/dispatcher.hpp
  core/src/ecs/cubos.cpp
  core/src/ecs/system/dispatcher.cpp
  core/tests/ecs/dispatcher.cpp
Owners: @RiscadoA

feat(ecs): add negative tags
  CHANGELOG.md
  core/include/cubos/core/ecs/cubos.hpp
  core/include/cubos/core/ecs/system/dispatcher.hpp
  core/src/ecs/cubos.cpp
  core/src/ecs/system/dispatcher.cpp
  core/tests/ecs/dispatcher.cpp
Owners: @RiscadoA

deploy: 59c21aecc8fe15d0855ab373c0e07189ab2f1265
  docs/classcubos_1_1core_1_1ecs_1_1Cubos.html
  docs/classcubos_1_1core_1_1ecs_1_1Dispatcher.html
  docs/searchdata-v2.js
Owners: @RiscadoA

feat(ecs): add World::entityCount
  core/include/cubos/core/ecs/entity/pool.hpp
  core/include/cubos/core/ecs/world.hpp
  core/src/ecs/entity/pool.cpp
  core/src/ecs/world.cpp
Owners: @RiscadoA

refactor(ecs): make SparseRelationTableRegistry::forEach const
  core/include/cubos/core/ecs/table/sparse_relation/registry.hpp
Owners: @RiscadoA

feat(tesseratos): add ECS statistics plugin
  CHANGELOG.md
  tools/tesseratos/CMakeLists.txt
  tools/tesseratos/include/tesseratos/ecs_statistics/plugin.hpp
  tools/tesseratos/src/tesseratos/ecs_statistics/plugin.cpp
  tools/tesseratos/src/tesseratos/plugin.cpp
Owners: @RiscadoA, @DiogoMendonc-a, @roby2014

feat(ecs): add World::[Const]Relations
  CHANGELOG.md
  core/include/cubos/core/ecs/table/sparse_relation/registry.hpp
  core/include/cubos/core/ecs/world.hpp
  core/src/ecs/world.cpp
  core/tests/ecs/utils/expected.cpp
  core/tests/ecs/world.cpp
Owners: @RiscadoA

feat(ecs): add World::[Const]Relations
  CHANGELOG.md
  core/include/cubos/core/ecs/table/sparse_relation/registry.hpp
  core/include/cubos/core/ecs/world.hpp
  core/src/ecs/world.cpp
  core/tests/ecs/utils/expected.cpp
  core/tests/ecs/world.cpp
Owners: @RiscadoA

deploy: 7d137b3968faecc1aa15ee3c38cf415e6a4ec9cc
  docs/classcubos_1_1core_1_1ecs_1_1SparseRelationTableRegistry.html
  docs/classcubos_1_1core_1_1ecs_1_1World.html
  docs/searchdata-v2.js
  docs/structcubos_1_1core_1_1ecs_1_1World_1_1ConstRelations_1_1Iterator_1_1Relation.html
  docs/structcubos_1_1core_1_1ecs_1_1World_1_1Relations_1_1Iterator_1_1Relation.html
Owners: @RiscadoA

feat(tesseratos): add ECS statistics plugin
  CHANGELOG.md
  tools/tesseratos/CMakeLists.txt
  tools/tesseratos/include/tesseratos/ecs_statistics/plugin.hpp
  tools/tesseratos/src/tesseratos/ecs_statistics/plugin.cpp
  tools/tesseratos/src/tesseratos/plugin.cpp
Owners: @RiscadoA, @DiogoMendonc-a, @roby2014

feat(ecs): add World::entityCount
  core/include/cubos/core/ecs/entity/pool.hpp
  core/include/cubos/core/ecs/world.hpp
  core/src/ecs/entity/pool.cpp
  core/src/ecs/world.cpp
Owners: @RiscadoA

refactor(ecs): make SparseRelationTableRegistry::forEach const
  core/include/cubos/core/ecs/table/sparse_relation/registry.hpp
Owners: @RiscadoA

deploy: 7da05023bae6308770372d5ab5138d86a3ef55d4
  docs/classcubos_1_1core_1_1ecs_1_1EntityPool.html
  docs/classcubos_1_1core_1_1ecs_1_1SparseRelationTableRegistry.html
  docs/classcubos_1_1core_1_1ecs_1_1World.html
  docs/dir_2a25e2bce65ce0f842dba5b7b3a0e22d.html
  docs/dir_3e72b743a5c62924583b661b2c5525f9.html
  docs/files.html
  docs/group__tesseratos-ecs-statistics-plugin.html
  docs/group__tesseratos-entity-inspector-plugin.html
  docs/group__tesseratos-entity-selector-plugin.html
  docs/group__tesseratos-metrics-panel-plugin.html
  docs/group__tesseratos-play-pause-plugin.html
  docs/group__tesseratos-scene-editor-plugin.html
  docs/group__tesseratos-settings-inspector-plugin.html
  docs/group__tesseratos-toolbox-plugin.html
  docs/group__tesseratos-voxel-palette-editor-plugin.html
  docs/group__tesseratos.html
  docs/modules.html
  docs/namespacetesseratos.html
  docs/searchdata-v2.js
  docs/tools_2tesseratos_2include_2tesseratos_2ecs__statistics_2plugin_8hpp.html
Owners: @RiscadoA

test(ecs): clean up dispatcher test
  core/tests/ecs/dispatcher.cpp
Owners: @RiscadoA

Deploy preview for PR 1031 🛫
  docs-preview/pr-1031/searchdata-v2.js
  docs-preview/pr-1031/structcubos_1_1engine_1_1LocalToWorld.html
Owners: @RiscadoA

fix(tesseratos): crash in show ECS statistics
  tools/tesseratos/src/tesseratos/ecs_statistics/plugin.cpp
Owners: @DiogoMendonc-a, @roby2014

fix(ecs): correctly set mContains on Opt::replace
  CHANGELOG.md
  core/include/cubos/core/ecs/query/opt.hpp
  core/tests/ecs/cubos.cpp
Owners: @RiscadoA

fix(ecs): correctly set mContains on Opt::replace
  CHANGELOG.md
  core/include/cubos/core/ecs/query/opt.hpp
  core/tests/ecs/cubos.cpp
Owners: @RiscadoA

test(ecs): clean up dispatcher test
  core/tests/ecs/dispatcher.cpp
Owners: @RiscadoA

fix(tesseratos): crash in show ECS statistics
  tools/tesseratos/src/tesseratos/ecs_statistics/plugin.cpp
Owners: @DiogoMendonc-a, @roby2014

feat(transform): add getters for world transformations
  engine/include/cubos/engine/transform/local_to_world.hpp
  engine/src/transform/local_to_world.cpp
Owners: @RiscadoA

fix(tools): draw transform gizmo on global position
  tools/tesseratos/src/tesseratos/transform_gizmo/plugin.cpp
Owners: @DiogoMendonc-a, @roby2014

fix(transform): make global getters const
  CHANGELOG.md
  engine/include/cubos/engine/transform/local_to_world.hpp
  engine/src/transform/local_to_world.cpp
Owners: @RiscadoA

feat(transform): add getters for world transformations
  engine/include/cubos/engine/transform/local_to_world.hpp
  engine/src/transform/local_to_world.cpp
Owners: @RiscadoA

fix(transform): make global getters const
  CHANGELOG.md
  engine/include/cubos/engine/transform/local_to_world.hpp
  engine/src/transform/local_to_world.cpp
Owners: @RiscadoA

fix(tools): draw transform gizmo on global position
  tools/tesseratos/src/tesseratos/transform_gizmo/plugin.cpp
Owners: @DiogoMendonc-a, @roby2014

deploy: bc3df3bdae72b5597b5bb95097d02463d6a5e400
  docs/searchdata-v2.js
  docs/structcubos_1_1engine_1_1LocalToWorld.html
Owners: @RiscadoA

fix(engine): fix free camera controller angle not being bounded
  CHANGELOG.md
  engine/src/utils/free_camera/plugin.cpp
Owners: @RiscadoA

refactor(core): replace OpenAL by PortAudio
  .gitmodules
Owners: @RiscadoA

fix(engine): fix free camera controller angle not being bounded
  CHANGELOG.md
  engine/src/utils/free_camera/plugin.cpp
Owners: @RiscadoA

.github/CODEOWNERS:

* @RiscadoA

**/engine/physics/ @fallenatlas
**/engine/gizmos/ @DiogoMendonc-a

**/tesseratos/ @DiogoMendonc-a @roby2014
