Repository GameDevTecnico/cubos, changes with the owners that .github/CODEOWNERS names for each.
All owners: @RiscadoA, @fallenatlas, @DiogoMendonc-a, @roby2014

feat(memory): add AnyValue::customConstruct
  core/include/cubos/core/memory/any_value.hpp
  core/src/memory/any_value.cpp
  core/tests/memory/any_value.cpp
Owners: @RiscadoA

feat(imgui): show (no fields) on DataInspector for empty objects
  engine/src/imgui/data_inspector.cpp
Owners: @RiscadoA

feat(engine): implement reflection for Settings
  engine/include/cubos/engine/settings/settings.hpp
  engine/src/settings/settings.cpp
Owners: @RiscadoA

docs(ecs): add missing in-group tags to traits
  core/include/cubos/core/ecs/reflection.hpp
Owners: @RiscadoA

feat(tools): add resources tab to ECS Statistics
  tools/tesseratos/src/tesseratos/ecs_statistics/plugin.cpp
Owners: @DiogoMendonc-a, @roby2014

feat(tools): implement reflection for Toolbox
  tools/tesseratos/include/tesseratos/toolbox/plugin.hpp
  tools/tesseratos/src/tesseratos/toolbox/plugin.cpp
Owners: @DiogoMendonc-a, @roby2014

feat(ecs): add resources to Types
  core/include/cubos/core/ecs/types.hpp
  core/src/ecs/types.cpp
  core/tests/ecs/types.cpp
Owners: @RiscadoA

feat(ecs): untyped resources and enforce resource dependencies
  CHANGELOG.md
  core/include/cubos/core/ecs/command_buffer.hpp
  core/include/cubos/core/ecs/cubos.hpp
  core/include/cubos/core/ecs/resource/manager.hpp
  core/include/cubos/core/ecs/resource/module.dox
  core/include/cubos/core/ecs/system/arguments/commands.hpp
  core/include/cubos/core/ecs/system/arguments/event/pipe.hpp
  core/include/cubos/core/ecs/system/arguments/event/reader.hpp
  core/include/cubos/core/ecs/system/arguments/event/writer.hpp
  core/include/cubos/core/ecs/system/arguments/resources.hpp
  core/include/cubos/core/ecs/world.hpp
  core/src/ecs/command_buffer.cpp
  core/src/ecs/cubos.cpp
  core/src/ecs/query/filter.cpp
  core/src/ecs/query/node/related.cpp
  core/src/ecs/system/arguments/commands.cpp
  core/src/ecs/world.cpp
  core/tests/ecs/cubos.cpp
  core/tests/ecs/dispatcher.cpp
  core/tests/ecs/system.cpp
  core/tests/ecs/world.cpp
  docs/pages/2_features/ecs.md
  docs/pages/2_features/plugins.md
  engine/samples/hello-cubos/main.cpp
  engine/src/imgui/plugin.cpp
  engine/src/scene/plugin.cpp
  engine/src/window/plugin.cpp
  tools/tesseratos/src/tesseratos/asset_explorer/plugin.cpp
  tools/tesseratos/src/tesseratos/collider_gizmos/plugin.cpp
  tools/tesseratos/src/tesseratos/debug_camera/plugin.cpp
  tools/tesseratos/src/tesseratos/scene_editor/plugin.cpp
  tools/tesseratos/src/tesseratos/transform_gizmo/plugin.cpp
  tools/tesseratos/src/tesseratos/voxel_palette_editor/plugin.cpp
  tools/tesseratos/src/tesseratos/world_inspector/plugin.cpp
Owners: @RiscadoA, @DiogoMendonc-a, @roby2014

feat(physics): implement reflection for FixedDeltaTime
  engine/CMakeLists.txt
  engine/include/cubos/engine/fixed_step/fixed_delta_time.hpp
  engine/src/fixed_step/fixed_delta_time.cpp
Owners: @RiscadoA

feat(imgui): implement reflection for DataInspector
  engine/include/cubos/engine/imgui/data_inspector.hpp
  engine/src/imgui/data_inspector.cpp
Owners: @RiscadoA

docs(rendering): clear up SpotLight's direction
  engine/include/cubos/engine/renderer/spot_light.hpp
Owners: @RiscadoA

deploy: 7b03c1f6bc73516272685669745d6487abb51404
  docs/annotated.html
  docs/any__value_8hpp.html
  docs/classcubos_1_1core_1_1ecs_1_1CommandBuffer.html
  docs/classcubos_1_1core_1_1ecs_1_1Commands.html
  docs/classcubos_1_1core_1_1ecs_1_1Cubos.html
  docs/classcubos_1_1core_1_1ecs_1_1ReadResource.html
  docs/classcubos_1_1core_1_1ecs_1_1ResourceManager.html
  docs/classcubos_1_1core_1_1ecs_1_1Types.html
  docs/classcubos_1_1core_1_1ecs_1_1World.html
  docs/classcubos_1_1core_1_1ecs_1_1WriteResource.html
  docs/classcubos_1_1core_1_1memory_1_1AnyValue.html
  docs/classcubos_1_1engine_1_1PostProcessingManager.html
  docs/command__buffer_8hpp.html
  docs/core_2include_2cubos_2core_2ecs_2resource_2manager_8hpp.html
  docs/dir_043da9b7d60f46877cefd90a49e157c3.html
  docs/dir_672562f1eb3ea0be7f3aa3e89e72ecd2.html
  docs/dir_b6daa990b896c2c0c53126427e4d978d.html
  docs/examples-engine-hello-cubos.html
  docs/features-ecs.html
  docs/features-plugins.html
  docs/files.html
  docs/group__core-ecs-resource.html
  docs/group__core-ecs.html
  docs/group__core-reflection.html
  docs/group__renderer-plugin.html
  docs/manager_8hpp.html
  docs/modules.html
  docs/namespacecubos_1_1core_1_1ecs.html
  docs/searchdata-v2.js
  docs/structcubos_1_1core_1_1ecs_1_1Arguments.html
  docs/structcubos_1_1core_1_1reflection_1_1Reflect.html
Owners: @RiscadoA

deploy: 7df4b9f3d08ee0c3bd88d781bbad2fcfd31355f7
  docs/annotated.html
  docs/group__renderer-plugin.html
  docs/namespacecubos_1_1engine.html
  docs/spot__light_8hpp.html
  docs/structcubos_1_1engine_1_1SpotLight.html
Owners: @RiscadoA

feat(tools): use unscaled delta time in debug camera
  engine/include/cubos/engine/utils/free_camera/controller.hpp
  engine/src/utils/free_camera/controller.cpp
  engine/src/utils/free_camera/plugin.cpp
  tools/tesseratos/src/tesseratos/debug_camera/plugin.cpp
Owners: @RiscadoA, @DiogoMendonc-a, @roby2014

feat(ecs): allow getting unscaled DeltaTime
  CHANGELOG.md
  core/include/cubos/core/ecs/cubos.hpp
  core/src/ecs/cubos.cpp
  engine/samples/physics/main.cpp
  engine/src/fixed_step/plugin.cpp
  engine/src/gizmos/plugin.cpp
  engine/src/utils/free_camera/plugin.cpp
  tools/tesseratos/src/tesseratos/metrics_panel/plugin.cpp
  tools/tesseratos/src/tesseratos/play_pause/plugin.cpp
Owners: @RiscadoA, @DiogoMendonc-a, @roby2014

.github/CODEOWNERS:

* @RiscadoA

**/engine/physics/ @fallenatlas
**/engine/gizmos/ @DiogoMendonc-a

**/tesseratos/ @DiogoMendonc-a @roby2014
