Repository GameDevTecnico/cubos, changes with the owners that .github/CODEOWNERS names for each.
All owners: @RiscadoA, @luishfonseca, @fallenatlas, @DiogoMendonc-a, @roby2014

.github/CODEOWNERS:

* @RiscadoA

.githooks/ @luishfonseca
.github/workflows/ @luishfonseca

**/core/geom/ @luishfonseca

**/engine/collisions/ @luishfonseca
**/engine/input/ @luishfonseca
**/engine/physics/ @luishfonseca @fallenatlas
**/engine/gizmos/ @DiogoMendonc-a

**/tesseratos/ @DiogoMendonc-a @roby2014

fix(physics): remove damping and gravity from velocity component and add folder for components
  engine/include/cubos/engine/physics/components/physics_mass.hpp
  engine/include/cubos/engine/physics/components/physics_velocity.hpp
  engine/include/cubos/engine/physics/resources/damping.hpp
  engine/include/cubos/engine/physics/resources/gravity.hpp
Owners: @luishfonseca, @fallenatlas

fix(physics): cleanup comments in physics code
  engine/include/cubos/engine/physics/components/physics_mass.hpp
  engine/include/cubos/engine/physics/components/physics_velocity.hpp
  engine/include/cubos/engine/physics/constraints/distance_constraint.hpp
  engine/include/cubos/engine/physics/plugin.hpp
  engine/include/cubos/engine/physics/plugins/gravity.hpp
  engine/samples/physics/main.cpp
  engine/src/cubos/engine/physics/gravity.cpp
  engine/src/cubos/engine/physics/plugin.cpp
Owners: @luishfonseca, @fallenatlas, @RiscadoA

feat(physics): add separate plugin to apply gravity
  engine/CMakeLists.txt
  engine/include/cubos/engine/physics/plugin.hpp
  engine/include/cubos/engine/physics/plugins/gravity.hpp
  engine/samples/physics/main.cpp
  engine/src/cubos/engine/physics/gravity.cpp
  engine/src/cubos/engine/physics/plugin.cpp
Owners: @RiscadoA, @luishfonseca, @fallenatlas

feat(physics): add damping
  engine/include/cubos/engine/physics/resources/damping.hpp
  engine/samples/physics/main.cpp
  engine/src/cubos/engine/physics/plugin.cpp
Owners: @luishfonseca, @fallenatlas, @RiscadoA

fix(physics): add missing trailing new line in meta files
  engine/samples/physics/assets/car.grd.meta
  engine/samples/physics/assets/main.pal.meta
Owners: @RiscadoA

feat(physics): implement reflection for components
  engine/include/cubos/engine/physics/components/accumulated_correction.hpp
  engine/include/cubos/engine/physics/components/physics_mass.hpp
  engine/include/cubos/engine/physics/components/physics_velocity.hpp
  engine/include/cubos/engine/physics/components/previous_position.hpp
  engine/include/cubos/engine/physics/plugin.hpp
  engine/include/cubos/engine/physics/resources/accumulator.hpp
  engine/src/cubos/engine/physics/plugin.cpp
Owners: @luishfonseca, @fallenatlas
