Repository GameDevTecnico/cubos, changes with the owners that .github/CODEOWNERS names for each.
All owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team, @tomas7770, @GameDevTecnico/cubos-graphics-team, @fallenatlas, @GameDevTecnico/cubos-physics-team, @GameDevTecnico/cubos-tools-team

.github/CODEOWNERS:

* @RiscadoA @GameDevTecnico/cubos-wildcard-team

CHANGELOG.md @RiscadoA

**/core/gl/ @RiscadoA @tomas7770 @GameDevTecnico/cubos-graphics-team
**/engine/gizmos/ @RiscadoA @tomas7770 @GameDevTecnico/cubos-graphics-team
**/engine/render/ @RiscadoA @tomas7770 @GameDevTecnico/cubos-graphics-team
**/engine/ui/ @RiscadoA @tomas7770 @GameDevTecnico/cubos-graphics-team
**/engine/assets/render/ @RiscadoA @tomas7770 @GameDevTecnico/cubos-graphics-team
**/engine/assets/ui/ @RiscadoA @tomas7770 @GameDevTecnico/cubos-graphics-team

**/core/geom/ @RiscadoA @fallenatlas @GameDevTecnico/cubos-physics-team
**/engine/collisions/ @RiscadoA @fallenatlas @GameDevTecnico/cubos-physics-team
**/engine/physics/ @RiscadoA @fallenatlas @GameDevTecnico/cubos-physics-team

**/tools/ @RiscadoA @GameDevTecnico/cubos-tools-team

fix(physics): do fixed updates correctly
  CHANGELOG.md
  engine/samples/collisions/main.cpp
  engine/samples/voxel-shape-collisions/main.cpp
  engine/src/fixed_step/plugin.cpp
  engine/src/physics/plugin.cpp
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team

feat(anti-aliasing): add anti-aliasing by FXAA
  CHANGELOG.md
  engine/CMakeLists.txt
  engine/assets/render/tone_mapping.fs
  engine/include/cubos/engine/render/defaults/target.hpp
  engine/include/cubos/engine/render/tone_mapping/fxaa.hpp
  engine/src/render/defaults/plugin.cpp
  engine/src/render/tone_mapping/fxaa.cpp
  engine/src/render/tone_mapping/plugin.cpp
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team, @tomas7770, @GameDevTecnico/cubos-graphics-team

feat(anti-aliasing): add anti-aliasing by FXAA
  CHANGELOG.md
  engine/CMakeLists.txt
  engine/assets/render/tone_mapping.fs
  engine/include/cubos/engine/render/defaults/target.hpp
  engine/include/cubos/engine/render/tone_mapping/fxaa.hpp
  engine/src/render/defaults/plugin.cpp
  engine/src/render/tone_mapping/fxaa.cpp
  engine/src/render/tone_mapping/plugin.cpp
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team, @tomas7770, @GameDevTecnico/cubos-graphics-team

deploy: 6508bfc3c77862a519377c89a94a07352a29714c
  annotated.html
  dir_8244526c0e804a7f60caacc8241c20e8.html
  files.html
  fxaa_8hpp.html
  group__render-tone-mapping-plugin.html
  namespacecubos_1_1engine.html
  searchdata-v2.js
  structcubos_1_1engine_1_1FXAA.html
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team

feat(rendering): rasterize point shadow maps
  engine/assets/render/shadow_cube_atlas_rasterizer.gs
  engine/assets/render/shadow_cube_atlas_rasterizer.gs.meta
  engine/assets/render/shadow_cube_atlas_rasterizer.vs
  engine/assets/render/shadow_cube_atlas_rasterizer.vs.meta
  engine/include/cubos/engine/render/shadow_atlas_rasterizer/shadow_atlas_rasterizer.hpp
  engine/src/render/shadow_atlas_rasterizer/plugin.cpp
Owners: @RiscadoA, @tomas7770, @GameDevTecnico/cubos-graphics-team, @GameDevTecnico/cubos-wildcard-team

feat(rendering): change deferred shading to render point shadows
  engine/assets/render/deferred_shading.fs
  engine/src/render/deferred_shading/plugin.cpp
Owners: @RiscadoA, @tomas7770, @GameDevTecnico/cubos-graphics-team, @GameDevTecnico/cubos-wildcard-team

feat(rendering): reserve space for point shadows in shadow atlas
  engine/include/cubos/engine/render/shadow_atlas/shadow_atlas.hpp
  engine/src/render/shadow_atlas/plugin.cpp
  engine/src/render/shadow_atlas/shadow_atlas.cpp
Owners: @RiscadoA, @tomas7770, @GameDevTecnico/cubos-graphics-team, @GameDevTecnico/cubos-wildcard-team

docs(rendering): add point shadows to shadows sample
  engine/samples/render/shadows/assets/main.cubos
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team

docs: update CHANGELOG.md
  CHANGELOG.md
Owners: @RiscadoA

style: clarify distinction between spot and point shadow atlases
  engine/assets/render/deferred_shading.fs
  engine/include/cubos/engine/render/shadow_atlas/shadow_atlas.hpp
  engine/include/cubos/engine/render/shadow_atlas_rasterizer/shadow_atlas_rasterizer.hpp
  engine/src/render/deferred_shading/plugin.cpp
  engine/src/render/shadow_atlas/plugin.cpp
  engine/src/render/shadow_atlas/shadow_atlas.cpp
  engine/src/render/shadow_atlas_rasterizer/plugin.cpp
Owners: @RiscadoA, @tomas7770, @GameDevTecnico/cubos-graphics-team, @GameDevTecnico/cubos-wildcard-team

feat(rendering): allow different resolutions between spot and point shadow atlases
  engine/include/cubos/engine/render/shadow_atlas/shadow_atlas.hpp
  engine/src/render/deferred_shading/plugin.cpp
  engine/src/render/shadow_atlas/plugin.cpp
  engine/src/render/shadow_atlas/shadow_atlas.cpp
  engine/src/render/shadow_atlas_rasterizer/plugin.cpp
Owners: @RiscadoA, @tomas7770, @GameDevTecnico/cubos-graphics-team, @GameDevTecnico/cubos-wildcard-team

Deploy preview for PR 1366 🛫
  preview/pr-1366/annotated.html
  preview/pr-1366/dir_8244526c0e804a7f60caacc8241c20e8.html
  preview/pr-1366/files.html
  preview/pr-1366/fxaa_8hpp.html
  preview/pr-1366/group__render-tone-mapping-plugin.html
  preview/pr-1366/namespacecubos_1_1engine.html
  preview/pr-1366/searchdata-v2.js
  preview/pr-1366/structcubos_1_1engine_1_1FXAA.html
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team

fix(rendering): reduce max number of point lights
  engine/assets/render/deferred_shading.fs
  engine/src/render/deferred_shading/plugin.cpp
Owners: @RiscadoA, @tomas7770, @GameDevTecnico/cubos-graphics-team, @GameDevTecnico/cubos-wildcard-team

feat(rendering): reserve space for point shadows in shadow atlas
  engine/include/cubos/engine/render/shadow_atlas/shadow_atlas.hpp
  engine/src/render/shadow_atlas/plugin.cpp
  engine/src/render/shadow_atlas/shadow_atlas.cpp
Owners: @RiscadoA, @tomas7770, @GameDevTecnico/cubos-graphics-team, @GameDevTecnico/cubos-wildcard-team

feat(rendering): allow different resolutions between spot and point shadow atlases
  engine/include/cubos/engine/render/shadow_atlas/shadow_atlas.hpp
  engine/src/render/deferred_shading/plugin.cpp
  engine/src/render/shadow_atlas/plugin.cpp
  engine/src/render/shadow_atlas/shadow_atlas.cpp
  engine/src/render/shadow_atlas_rasterizer/plugin.cpp
Owners: @RiscadoA, @tomas7770, @GameDevTecnico/cubos-graphics-team, @GameDevTecnico/cubos-wildcard-team

fix(rendering): reduce max number of point lights
  engine/assets/render/deferred_shading.fs
  engine/src/render/deferred_shading/plugin.cpp
Owners: @RiscadoA, @tomas7770, @GameDevTecnico/cubos-graphics-team, @GameDevTecnico/cubos-wildcard-team

feat(rendering): change deferred shading to render point shadows
  engine/assets/render/deferred_shading.fs
  engine/src/render/deferred_shading/plugin.cpp
Owners: @RiscadoA, @tomas7770, @GameDevTecnico/cubos-graphics-team, @GameDevTecnico/cubos-wildcard-team

style: clarify distinction between spot and point shadow atlases
  engine/assets/render/deferred_shading.fs
  engine/include/cubos/engine/render/shadow_atlas/shadow_atlas.hpp
  engine/include/cubos/engine/render/shadow_atlas_rasterizer/shadow_atlas_rasterizer.hpp
  engine/src/render/deferred_shading/plugin.cpp
  engine/src/render/shadow_atlas/plugin.cpp
  engine/src/render/shadow_atlas/shadow_atlas.cpp
  engine/src/render/shadow_atlas_rasterizer/plugin.cpp
Owners: @RiscadoA, @tomas7770, @GameDevTecnico/cubos-graphics-team, @GameDevTecnico/cubos-wildcard-team

feat(rendering): rasterize point shadow maps
  engine/assets/render/shadow_cube_atlas_rasterizer.gs
  engine/assets/render/shadow_cube_atlas_rasterizer.gs.meta
  engine/assets/render/shadow_cube_atlas_rasterizer.vs
  engine/assets/render/shadow_cube_atlas_rasterizer.vs.meta
  engine/include/cubos/engine/render/shadow_atlas_rasterizer/shadow_atlas_rasterizer.hpp
  engine/src/render/shadow_atlas_rasterizer/plugin.cpp
Owners: @RiscadoA, @tomas7770, @GameDevTecnico/cubos-graphics-team, @GameDevTecnico/cubos-wildcard-team

docs: update CHANGELOG.md
  CHANGELOG.md
Owners: @RiscadoA

docs(rendering): add point shadows to shadows sample
  engine/samples/render/shadows/assets/main.cubos
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team

feat(settings): add method that saves settings to file
  engine/include/cubos/engine/settings/settings.hpp
  engine/samples/settings/main.cpp
  engine/src/settings/settings.cpp
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team

feat(settings): change loading from file to be a settings method
  engine/include/cubos/engine/settings/settings.hpp
  engine/samples/settings/main.cpp
  engine/src/settings/plugin.cpp
  engine/src/settings/settings.cpp
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team

docs: Update CHANGELOG.md
  CHANGELOG.md
  engine/src/settings/settings.cpp
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team

feat(settings): change loading from file to be a settings method
  engine/include/cubos/engine/settings/settings.hpp
  engine/samples/settings/main.cpp
  engine/src/settings/plugin.cpp
  engine/src/settings/settings.cpp
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team

docs: Update CHANGELOG.md
  CHANGELOG.md
  engine/src/settings/settings.cpp
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team

feat(settings): add method that saves settings to file
  engine/include/cubos/engine/settings/settings.hpp
  engine/samples/settings/main.cpp
  engine/src/settings/settings.cpp
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team

deploy: 515b9fd46ea14c73057577966e9539fb00f86e80
  classcubos_1_1engine_1_1Settings.html
  examples-engine-settings.html
  searchdata-v2.js
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team

Deploy preview for PR 1379 🛫
  preview/pr-1379/classcubos_1_1engine_1_1Settings.html
  preview/pr-1379/examples-engine-settings.html
  preview/pr-1379/searchdata-v2.js
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team

feat(engine): added resource to easily configure magic numbers in solver
  CHANGELOG.md
  engine/include/cubos/engine/physics/plugin.hpp
  engine/include/cubos/engine/physics/resources/solver_constants.hpp
  engine/src/physics/plugin.cpp
  engine/src/physics/solver/integration/plugin.cpp
  engine/src/physics/solver/penetration_constraint/plugin.cpp
Owners: @RiscadoA, @fallenatlas, @GameDevTecnico/cubos-physics-team, @GameDevTecnico/cubos-wildcard-team

feat(engine): added resource to easily configure magic numbers in solver
  CHANGELOG.md
  engine/include/cubos/engine/physics/plugin.hpp
  engine/include/cubos/engine/physics/resources/solver_constants.hpp
  engine/src/physics/plugin.cpp
  engine/src/physics/solver/integration/plugin.cpp
  engine/src/physics/solver/penetration_constraint/plugin.cpp
Owners: @RiscadoA, @fallenatlas, @GameDevTecnico/cubos-physics-team, @GameDevTecnico/cubos-wildcard-team

deploy: b7c282373b2c354b807620adbe6b8357da300f72
  annotated.html
  group__physics-plugin.html
  namespacecubos_1_1engine.html
  searchdata-v2.js
  solver__constants_8hpp.html
  structcubos_1_1engine_1_1SolverConstants.html
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team

feat(audio): add audioPlugin
  CHANGELOG.md
  core/include/cubos/core/al/audio_context.hpp
  core/include/cubos/core/al/miniaudio_context.hpp
  core/src/al/audio_context.cpp
  core/src/al/miniaudio_context.cpp
  engine/CMakeLists.txt
  engine/include/cubos/engine/audio/listener.hpp
  engine/include/cubos/engine/audio/pause.hpp
  engine/include/cubos/engine/audio/play.hpp
  engine/include/cubos/engine/audio/plugin.hpp
  engine/include/cubos/engine/audio/source.hpp
  engine/include/cubos/engine/audio/stop.hpp
  engine/src/audio/listener.cpp
  engine/src/audio/listener_impl.cpp
  engine/src/audio/listener_impl.hpp
  engine/src/audio/pause.cpp
  engine/src/audio/play.cpp
  engine/src/audio/plugin.cpp
  engine/src/audio/source.cpp
  engine/src/audio/source_impl.cpp
  engine/src/audio/source_impl.hpp
  engine/src/audio/stop.cpp
  engine/src/transform/local_to_world.cpp
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team

Deploy preview for PR 1383 🛫
  preview/pr-1383/annotated.html
  preview/pr-1383/group__physics-plugin.html
  preview/pr-1383/namespacecubos_1_1engine.html
  preview/pr-1383/searchdata-v2.js
  preview/pr-1383/solver__constants_8hpp.html
  preview/pr-1383/structcubos_1_1engine_1_1SolverConstants.html
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team

docs: add audio sample
  engine/samples/CMakeLists.txt
  engine/samples/audio/assets/bg_music.mp3
  engine/samples/audio/assets/bg_music.mp3.meta
  engine/samples/audio/assets/input.bind
  engine/samples/audio/assets/input.bind.meta
  engine/samples/audio/assets/medieval_fanfare.wav
  engine/samples/audio/assets/medieval_fanfare.wav.meta
  engine/samples/audio/assets/sample1.flac.meta
  engine/samples/audio/main.cpp
  engine/samples/audio/page.md
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team

feat(transform): add forward and up getters
  engine/include/cubos/engine/transform/local_to_world.hpp
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team

Deploy preview for PR 1383 🛫
  preview/pr-1383/examples-audio-sample.html
  preview/pr-1383/pages.html
  preview/pr-1383/searchdata-v2.js
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team

feat(transform): add forward and up getters
  engine/include/cubos/engine/transform/local_to_world.hpp
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team

feat(audio): add audioPlugin
  CHANGELOG.md
  core/include/cubos/core/al/audio_context.hpp
  core/include/cubos/core/al/miniaudio_context.hpp
  core/src/al/audio_context.cpp
  core/src/al/miniaudio_context.cpp
  engine/CMakeLists.txt
  engine/include/cubos/engine/audio/listener.hpp
  engine/include/cubos/engine/audio/pause.hpp
  engine/include/cubos/engine/audio/play.hpp
  engine/include/cubos/engine/audio/plugin.hpp
  engine/include/cubos/engine/audio/source.hpp
  engine/include/cubos/engine/audio/stop.hpp
  engine/src/audio/listener.cpp
  engine/src/audio/listener_impl.cpp
  engine/src/audio/listener_impl.hpp
  engine/src/audio/pause.cpp
  engine/src/audio/play.cpp
  engine/src/audio/plugin.cpp
  engine/src/audio/source.cpp
  engine/src/audio/source_impl.cpp
  engine/src/audio/source_impl.hpp
  engine/src/audio/stop.cpp
  engine/src/transform/local_to_world.cpp
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team

docs: add audio sample
  engine/samples/CMakeLists.txt
  engine/samples/audio/assets/bg_music.mp3
  engine/samples/audio/assets/bg_music.mp3.meta
  engine/samples/audio/assets/input.bind
  engine/samples/audio/assets/input.bind.meta
  engine/samples/audio/assets/medieval_fanfare.wav
  engine/samples/audio/assets/medieval_fanfare.wav.meta
  engine/samples/audio/assets/sample1.flac.meta
  engine/samples/audio/main.cpp
  engine/samples/audio/page.md
Owners: @RiscadoA, @GameDevTecnico/cubos-wildcard-team
