Repository GameDevTecnico/cubos, changes with the owners that .github/CODEOWNERS names for each.
All owners: @RiscadoA, @fallenatlas, @DiogoMendonc-a, @roby2014

docs: fix most doxygen warnings
  core/include/cubos/core/ecs/blueprint.hpp
  core/include/cubos/core/ecs/cubos.hpp
  core/include/cubos/core/ecs/system/arguments/query.hpp
  core/include/cubos/core/ecs/system/dispatcher.hpp
  core/include/cubos/core/ecs/table/dense/registry.hpp
  core/include/cubos/core/ecs/table/sparse_relation/registry.hpp
  core/include/cubos/core/ecs/types.hpp
  core/include/cubos/core/io/window.hpp
  core/include/cubos/core/memory/any_vector.hpp
  core/include/cubos/core/reflection/traits/enum.hpp
  core/include/cubos/core/reflection/traits/nullable.hpp
  core/samples/reflection/traits/enum/page.md
  docs/pages/2_features/quadrados.md
  engine/include/cubos/engine/gizmos/gizmos.hpp
  engine/include/cubos/engine/imgui/data_inspector.hpp
  engine/include/cubos/engine/screen_picker/screen_picker.hpp
  engine/samples/events/main.cpp
Owners: @RiscadoA, @DiogoMendonc-a

docs(reflection): disable Reflectable concept docs
  core/include/cubos/core/reflection/reflect.hpp
Owners: @RiscadoA

docs(ecs): shorten core-ecs-system-arguments title
  core/include/cubos/core/ecs/system/arguments/module.dox
Owners: @RiscadoA

docs(engine): rename sample images
  engine/samples/renderer/page.md
  engine/samples/renderer/renderer_output.png
  engine/samples/voxels/page.md
  engine/samples/voxels/voxels_output.png
Owners: @RiscadoA

deploy: 32249424bbb4ec2d4f8f07ed4724b4d0a7c92ccd
  docs/asset_8hpp.html
  docs/classcubos_1_1core_1_1ecs_1_1Blueprint.html
  docs/classcubos_1_1core_1_1ecs_1_1Commands.html
  docs/classcubos_1_1core_1_1ecs_1_1Cubos.html
  docs/classcubos_1_1core_1_1ecs_1_1DenseTableRegistry.html
  docs/classcubos_1_1core_1_1ecs_1_1Dispatcher.html
  docs/classcubos_1_1core_1_1ecs_1_1Query.html
  docs/classcubos_1_1core_1_1ecs_1_1SparseRelationTableRegistry.html
  docs/classcubos_1_1core_1_1ecs_1_1Types.html
  docs/classcubos_1_1core_1_1ecs_1_1World.html
  docs/classcubos_1_1core_1_1io_1_1BaseWindow.html
  docs/classcubos_1_1core_1_1memory_1_1AnyVector.html
  docs/classcubos_1_1core_1_1memory_1_1TypeMap.html
  docs/classcubos_1_1core_1_1reflection_1_1EnumTrait.html
  docs/classcubos_1_1core_1_1reflection_1_1NullableTrait.html
  docs/classcubos_1_1core_1_1reflection_1_1TypeRegistry.html
  docs/classcubos_1_1engine_1_1AnyAsset.html
  docs/classcubos_1_1engine_1_1Asset.html
  docs/classcubos_1_1engine_1_1Gizmos.html
  docs/classcubos_1_1engine_1_1ScreenPicker.html
  docs/examples-core-data-des-custom.html
  docs/examples-core-data-ser-custom.html
  docs/examples-core-reflection-traits-enum.html
  docs/examples-core-reflection-traits-fields.html
  docs/examples-engine-events.html
  docs/examples-engine-hello-cubos.html
  docs/features-quadrados.html
  docs/group__assets-plugin.html
  docs/namespacecubos_1_1core_1_1reflection.html
  docs/namespacecubos_1_1engine.html
  docs/reflect_8hpp.html
  docs/searchdata-v2.js
Owners: @RiscadoA

docs(engine): rename sample images
  engine/samples/renderer/page.md
  engine/samples/renderer/renderer_output.png
  engine/samples/voxels/page.md
  engine/samples/voxels/voxels_output.png
Owners: @RiscadoA

docs(ecs): shorten core-ecs-system-arguments title
  core/include/cubos/core/ecs/system/arguments/module.dox
Owners: @RiscadoA

deploy: 6d44bd981ef82537d35e5f18f14e1bce50a349ff
  docs/dir_1849b6590c20a7c40f18c0337f505edf.html
  docs/dir_69c88e5af9faf72eaf159ee3e83d9db2.html
  docs/examples-engine-renderer.html
  docs/examples-engine-voxels.html
  docs/files.html
  docs/group__core-ecs-system-arguments.html
  docs/group__core-ecs-system.html
  docs/modules.html
  docs/renderer_output.png
  docs/searchdata-v2.js
  docs/voxels_output.png
Owners: @RiscadoA

refactor(geom): simplify box to box intersection
  core/src/geom/intersections.cpp
Owners: @RiscadoA

feat(geom): simplify overlap checking and add correct calculation in containment case for box to box intersections
  core/src/geom/intersections.cpp
Owners: @RiscadoA

feat(geom): simplify overlap checking and add correct calculation in containment case for box to box intersections
  core/src/geom/intersections.cpp
Owners: @RiscadoA

refactor(geom): simplify box to box intersection
  core/src/geom/intersections.cpp
Owners: @RiscadoA

feat(physics): add solver plugin
  engine/CMakeLists.txt
  engine/include/cubos/engine/physics/solver/solver.hpp
  engine/src/physics/plugin.cpp
  engine/src/physics/solver.cpp
Owners: @RiscadoA, @fallenatlas

feat(collisions): update sample to use the solver plugin
  engine/samples/collisions/main.cpp
Owners: @RiscadoA

docs(physics): cleanup comments
  engine/include/cubos/engine/physics/solver/solver.hpp
  engine/samples/collisions/main.cpp
  engine/src/physics/solver.cpp
Owners: @fallenatlas, @RiscadoA

refactor(collisions): move CollidingWith component to base collisions folder
  engine/include/cubos/engine/collisions/colliding_with.hpp
  engine/samples/collisions/main.cpp
  engine/src/collisions/narrow_phase/colliding_with.cpp
  engine/src/collisions/narrow_phase/plugin.hpp
  engine/src/physics/solver.cpp
Owners: @RiscadoA

feat(physics): add PhysicsBundle component
  engine/include/cubos/engine/physics/physics_bundle.hpp
  engine/include/cubos/engine/physics/plugin.hpp
  engine/samples/collisions/main.cpp
  engine/src/physics/plugin.cpp
Owners: @fallenatlas, @RiscadoA

docs: add #532 to CHANGELOG.md
  CHANGELOG.md
Owners: @RiscadoA

feat(collisions): update sample to use the solver plugin
  engine/samples/collisions/main.cpp
Owners: @RiscadoA

refactor(collisions): move CollidingWith component to base collisions folder
  engine/include/cubos/engine/collisions/colliding_with.hpp
  engine/samples/collisions/main.cpp
  engine/src/collisions/narrow_phase/colliding_with.cpp
  engine/src/collisions/narrow_phase/plugin.hpp
  engine/src/physics/solver.cpp
Owners: @RiscadoA

feat(physics): add solver plugin
  engine/CMakeLists.txt
  engine/include/cubos/engine/physics/solver/solver.hpp
  engine/src/physics/plugin.cpp
  engine/src/physics/solver.cpp
Owners: @RiscadoA, @fallenatlas

docs: add #532 to CHANGELOG.md
  CHANGELOG.md
Owners: @RiscadoA

feat(physics): add PhysicsBundle component
  engine/include/cubos/engine/physics/physics_bundle.hpp
  engine/include/cubos/engine/physics/plugin.hpp
  engine/samples/collisions/main.cpp
  engine/src/physics/plugin.cpp
Owners: @fallenatlas, @RiscadoA

docs(physics): cleanup comments
  engine/include/cubos/engine/physics/solver/solver.hpp
  engine/samples/collisions/main.cpp
  engine/src/physics/solver.cpp
Owners: @fallenatlas, @RiscadoA

deploy: b342eb5ceeebe28a8172043a467511fa33bfcf13
  docs/annotated.html
  docs/colliding__with_8hpp.html
  docs/dir_db86702e1371d7558db3699dd3786a14.html
  docs/dir_fc8110eaf6ef50e82d21b749d50a1849.html
  docs/files.html
  docs/group__collisions-plugin.html
  docs/group__physics-gravity-plugin.html
  docs/group__physics-plugin.html
  docs/group__physics-solver-plugin.html
  docs/modules.html
  docs/namespacecubos_1_1engine.html
  docs/physics__bundle_8hpp.html
  docs/searchdata-v2.js
  docs/solver_8hpp.html
  docs/structcubos_1_1engine_1_1PhysicsBundle.html
Owners: @RiscadoA

fix(physics): remove PhysicsBundle component when finished unpacking
  engine/src/physics/plugin.cpp
Owners: @RiscadoA

fix(physics): remove PhysicsBundle component when finished unpacking
  engine/src/physics/plugin.cpp
Owners: @RiscadoA

docs: add release v0.1.0 to CHANGELOG.md
  CHANGELOG.md
Owners: @RiscadoA

docs: add release v0.1.0 to CHANGELOG.md
  CHANGELOG.md
Owners: @RiscadoA

docs: fix typo
  README.md
Owners: @RiscadoA

docs: fix typo
  README.md
Owners: @RiscadoA

docs: credit authors on CHANGELOG.md
  CHANGELOG.md
Owners: @RiscadoA

docs: credit authors on CHANGELOG.md
  CHANGELOG.md
Owners: @RiscadoA

feat(ecs): change symmetry invariant
  core/include/cubos/core/ecs/query/fetcher.hpp
  core/include/cubos/core/ecs/table/sparse_relation/table.hpp
  core/include/cubos/core/ecs/world.hpp
  core/src/ecs/table/sparse_relation/table.cpp
  core/src/ecs/world.cpp
  core/tests/ecs/table/sparse_relation/table.cpp
  core/tests/ecs/world.cpp
Owners: @RiscadoA

docs: add missing release date to CHANGELOG.md
  CHANGELOG.md
Owners: @RiscadoA

feat(ecs): log system order on the dispatcher
  CHANGELOG.md
  core/include/cubos/core/ecs/system/dispatcher.hpp
  core/src/ecs/cubos.cpp
  core/src/ecs/system/dispatcher.cpp
  core/tests/ecs/dispatcher.cpp
Owners: @RiscadoA

feat(ecs): log system order on the dispatcher
  CHANGELOG.md
  core/include/cubos/core/ecs/system/dispatcher.hpp
  core/src/ecs/cubos.cpp
  core/src/ecs/system/dispatcher.cpp
  core/tests/ecs/dispatcher.cpp
Owners: @RiscadoA

docs: add missing release date to CHANGELOG.md
  CHANGELOG.md
Owners: @RiscadoA

deploy: 10a64acd5a9eb0510dc025256cd5f0c76b3c35f0
  docs/classcubos_1_1core_1_1ecs_1_1Dispatcher.html
  docs/searchdata-v2.js
Owners: @RiscadoA

fix(engine): add missing plugin dependencies
  CHANGELOG.md
  engine/src/gizmos/plugin.cpp
  engine/src/physics/plugin.cpp
  engine/src/splitscreen/plugin.cpp
Owners: @RiscadoA

.github/CODEOWNERS:

* @RiscadoA

**/engine/physics/ @fallenatlas
**/engine/gizmos/ @DiogoMendonc-a

**/tesseratos/ @DiogoMendonc-a @roby2014
