Repository GameDevTecnico/cubos, pull requests merged in 2022-04, with the labels that each got.

#138 Fix type ambiguity on Stream::print functions
  core/include/cubos/memory/stream.hpp
  core/src/cubos/memory/stream.cpp
Labels: bug

#141 Enhance README.md
  CONTRIBUTE.md
  README.md
Labels: documentation, enhancement, help wanted

#137 Switch from shell.nix to a nix flake
  flake.lock
  flake.nix
  shell.nix
Labels: enhancement, build

#94 Add parseQB() function for loading gl::Grid and gl::Palette
  core/CMakeLists.txt
  core/include/cubos/core/data/qb_parser.hpp
  core/include/cubos/core/gl/grid.hpp
  core/include/cubos/core/memory/endianness.hpp
  core/src/cubos/core/data/qb_parser.cpp
  core/src/cubos/core/gl/grid.cpp
Labels: core

#129 Extend Input Manager
  core/include/cubos/core/io/input_manager.hpp
  core/include/cubos/core/io/sources/single_axis.hpp
  core/src/cubos/core/io/input_manager.cpp
  core/src/cubos/core/io/sources/single_axis.cpp
Labels: core

#93 Renderer
  core/CMakeLists.txt
  core/include/cubos/core/gl/camera.hpp
  core/include/cubos/core/gl/light.hpp
  core/include/cubos/core/gl/vertex.hpp
  core/src/cubos/core/gl/light.cpp
  core/src/cubos/core/gl/ogl_render_device.cpp
  core/src/cubos/core/gl/vertex.cpp
  core/src/cubos/core/io/glfw_window.cpp
  engine/CMakeLists.txt
  engine/include/cubos/engine/gl/deferred/renderer.hpp
  engine/include/cubos/engine/gl/pps/copy_pass.hpp
  engine/include/cubos/engine/gl/pps/pass.hpp
  engine/include/cubos/engine/gl/renderer.hpp
  engine/samples/CMakeLists.txt
  engine/samples/renderer.cpp
  engine/samples/triangulation.cpp
  engine/src/cubos/engine/gl/deferred/renderer.cpp
  engine/src/cubos/engine/gl/pps/copy_pass.cpp
  engine/src/cubos/engine/gl/pps/pass.cpp
  engine/src/cubos/engine/gl/renderer.cpp
Labels: engine

#146 Add QBModel asset and loader
  engine/CMakeLists.txt
  engine/include/cubos/engine/data/qb_model.hpp
  engine/samples/asset.cpp
  engine/samples/assets/car.meta
  engine/samples/assets/car.qb
  engine/src/cubos/engine/data/qb_model.cpp
Labels: engine
