Repository GameDevTecnico/cubos, pull requests merged in 2022-12, with the labels that each got.

#224 Remove Settings singleton
  core/include/cubos/core/settings.hpp
  core/src/cubos/core/settings.cpp
  core/tests/test_settings.cpp
  engine/include/cubos/engine/gl/deferred/renderer.hpp
  engine/samples/asset_renderer.cpp
  engine/samples/bloom.cpp
  engine/samples/cars.cpp
  engine/samples/renderer.cpp
  engine/samples/ssao.cpp
  engine/src/cubos/engine/gl/deferred/renderer.cpp
Labels: core

#180 Finish core structure docs
  CMakeLists.txt
  CONTRIBUTE.md
  core/include/cubos/core/ecs/entity_manager.hpp
  core/include/cubos/core/log.hpp
  core/include/cubos/core/ui/imgui.hpp
  docs/1_core/3_gl.md
  docs/1_core/4_io.md
  docs/1_core/5_ui.md
  docs/1_core/6_ecs.md
  docs/1_structure/1_core/1_memory.md
  docs/1_structure/1_core/2_data.md
  docs/1_structure/1_core/3_gl.md
  docs/1_structure/1_core/4_io.md
  docs/1_structure/1_core/5_ui.md
  docs/1_structure/1_core/6_ecs.md
  docs/1_structure/1_core/main.md
  docs/1_structure/1_core/namespaces.dox
  docs/1_structure/2_engine.md
  docs/1_structure/3_cubinhos.md
  docs/1_structure/main.md
  docs/2_guides/1_hello_world.md
  docs/2_guides/2_first_voxels.md
  docs/2_guides/3_camera_controller.md
  docs/2_guides/main.md
  docs/main.md
  engine/include/cubos/engine/cubos.hpp
  engine/include/cubos/engine/data/loader.hpp
  engine/include/cubos/engine/data/scene.hpp
  engine/include/cubos/engine/gl/frame.hpp
  engine/include/cubos/engine/gl/pps/bloom.hpp
  engine/include/cubos/engine/gl/pps/pass.hpp
Labels: documentation

#218 Improve logging in the core and engine
  core/include/cubos/core/data/file_stream.hpp
  core/include/cubos/core/data/package.hpp
  core/include/cubos/core/ecs/blueprint.hpp
  core/include/cubos/core/ecs/commands.hpp
  core/include/cubos/core/ecs/component_manager.hpp
  core/include/cubos/core/ecs/dispatcher.hpp
  core/include/cubos/core/ecs/resource_manager.hpp
  core/include/cubos/core/ecs/world.hpp
  core/include/cubos/core/log.hpp
  core/samples/logging.cpp
  core/samples/render_device_compute.cpp
  core/src/cubos/core/data/embedded_archive.cpp
  core/src/cubos/core/data/file.cpp
  core/src/cubos/core/data/file_system.cpp
  core/src/cubos/core/data/handle.cpp
  core/src/cubos/core/data/json_deserializer.cpp
  core/src/cubos/core/data/json_serializer.cpp
  core/src/cubos/core/data/package.cpp
  core/src/cubos/core/data/qb_parser.cpp
  core/src/cubos/core/data/std_archive.cpp
  core/src/cubos/core/ecs/commands.cpp
  core/src/cubos/core/ecs/component_manager.cpp
  core/src/cubos/core/ecs/dispatcher.cpp
  core/src/cubos/core/ecs/registry.cpp
  core/src/cubos/core/ecs/system.cpp
  core/src/cubos/core/ecs/world.cpp
  core/src/cubos/core/gl/grid.cpp
  core/src/cubos/core/gl/ogl_render_device.cpp
  core/src/cubos/core/gl/palette.cpp
  core/src/cubos/core/io/glfw_window.cpp
  core/src/cubos/core/log.cpp
  core/src/cubos/core/memory/stream.cpp
  core/src/cubos/core/ui/imgui.cpp
  core/src/cubos/core/ui/serialization.cpp
  engine/include/cubos/engine/data/asset.hpp
  engine/include/cubos/engine/data/asset_manager.hpp
  engine/include/cubos/engine/ecs/grid.hpp
  engine/samples/asset.cpp
  engine/samples/bloom.cpp
  engine/samples/cars.cpp
  engine/samples/renderer.cpp
  engine/samples/ssao.cpp
  engine/src/cubos/engine/cubos.cpp
  engine/src/cubos/engine/data/asset_manager.cpp
  engine/src/cubos/engine/data/grid.cpp
  engine/src/cubos/engine/data/meta.cpp
  engine/src/cubos/engine/data/palette.cpp
  engine/src/cubos/engine/data/scene.cpp
  engine/src/cubos/engine/gl/deferred/renderer.cpp
Labels: core, engine

#242 Implement window plugin
  core/src/cubos/core/ecs/dispatcher.cpp
  engine/CMakeLists.txt
  engine/include/cubos/engine/cubos.hpp
  engine/include/cubos/engine/plugins/window.hpp
  engine/samples/assets/scenes/main.cubos
  engine/samples/scene.cpp
  engine/src/cubos/engine/cubos.cpp
  engine/src/cubos/engine/plugins/window.cpp
  tools/src/convert.cpp
  tools/src/embed.cpp
  tools/src/generate.cpp
Labels: engine

#244 Restructure engine samples into directories
  cmake/CubinhosGenerate.cmake
  engine/samples/CMakeLists.txt
  engine/samples/asset_renderer.cpp
  engine/samples/bloom/main.cpp
  engine/samples/cars/assets/car.grd
  engine/samples/cars/assets/car.meta
  engine/samples/cars/assets/car.qb
  engine/samples/cars/assets/main.pal
  engine/samples/cars/components/camera.hpp
  engine/samples/cars/components/car.hpp
  engine/samples/cars/main.cpp
  engine/samples/custom-asset/assets/sample.meta
  engine/samples/custom-asset/assets/sample.txt
  engine/samples/custom-asset/main.cpp
  engine/samples/empty/main.cpp
  engine/samples/renderer/main.cpp
  engine/samples/scene.cpp
  engine/samples/scene/assets/main.cubos
  engine/samples/scene/assets/scenes.meta
  engine/samples/scene/assets/sub.cubos
  engine/samples/scene/components/num.hpp
  engine/samples/scene/components/parent.hpp
  engine/samples/scene/main.cpp
  engine/samples/ssao/assets/cubos.grd
  engine/samples/ssao/assets/cubos.meta
  engine/samples/ssao/assets/cubos.pal
  engine/samples/ssao/main.cpp
  engine/src/cubos/engine/cubos.cpp
Labels: engine

#251 Remove Debug query, allow direct access to World
  core/CMakeLists.txt
  core/include/cubos/core/ecs/debug.hpp
  core/include/cubos/core/ecs/system.hpp
  core/include/cubos/core/ecs/world.hpp
  core/include/cubos/core/ui/ecs.hpp
  core/src/cubos/core/ecs/debug.cpp
  core/src/cubos/core/ecs/system.cpp
  core/src/cubos/core/ecs/world.cpp
  core/src/cubos/core/ui/ecs.cpp
  engine/samples/cars/main.cpp
Labels: core

#255 Make AnySystemWrapper generic over return type
  core/include/cubos/core/ecs/dispatcher.hpp
  core/include/cubos/core/ecs/system.hpp
  core/src/cubos/core/ecs/dispatcher.cpp
  core/src/cubos/core/ecs/system.cpp
  engine/samples/scene/main.cpp
Labels: core

#256 Add ThreadPool and tests for it
  core/CMakeLists.txt
  core/include/cubos/core/thread_pool.hpp
  core/src/cubos/core/thread_pool.cpp
  core/tests/CMakeLists.txt
  core/tests/test_thread_pool.cpp
Labels: core

#276 Add target executable for `tesserato` editor tool
  README.md
  tools/CMakeLists.txt
  tools/cubinhos/CMakeLists.txt
  tools/cubinhos/src/convert.cpp
  tools/cubinhos/src/embed.cpp
  tools/cubinhos/src/entry.cpp
  tools/cubinhos/src/generate.cpp
  tools/cubinhos/src/tools.hpp
  tools/tesserato/CMakeLists.txt
  tools/tesserato/src/main.cpp
Labels: build

#279 Add ImGui plugin
  engine/CMakeLists.txt
  engine/include/cubos/engine/plugins/imgui.hpp
  engine/samples/scene/main.cpp
  engine/src/cubos/engine/plugins/imgui.cpp
Labels: tools, priority

#282 Make system argument commands syntax consistent with query
  core/include/cubos/core/ecs/blueprint.hpp
  core/include/cubos/core/ecs/commands.hpp
  core/include/cubos/core/ecs/dispatcher.hpp
  core/include/cubos/core/ecs/system.hpp
  core/include/cubos/core/ecs/world.hpp
  core/samples/ecs.cpp
  core/src/cubos/core/ecs/commands.cpp
  core/src/cubos/core/ecs/dispatcher.cpp
  engine/samples/cars/main.cpp
  engine/samples/scene/main.cpp
  engine/src/cubos/engine/cubos.cpp
Labels: enhancement, core
