Repository GameDevTecnico/cubos, pull requests merged in 2023-09, with the labels that each got.

#486 Allow getting the type of an asset
  engine/include/cubos/engine/assets/assets.hpp
  engine/include/cubos/engine/assets/bridge.hpp
  engine/include/cubos/engine/assets/bridges/binary.hpp
  engine/include/cubos/engine/assets/bridges/file.hpp
  engine/include/cubos/engine/assets/bridges/json.hpp
  engine/include/cubos/engine/scene/bridge.hpp
  engine/samples/assets/bridge/main.cpp
  engine/src/cubos/engine/assets/assets.cpp
Labels: A-Engine, B-Assets

#510 `BinarySerializer::write*` now sets fail bit correctly
  core/src/cubos/core/data/binary_serializer.cpp
Labels: A-Core, C-Bug, B-Serialization

#507 Remove `engine-sample.empty`
  engine/samples/CMakeLists.txt
  engine/samples/empty/main.cpp
Labels: A-Engine, C-Examples

#545 Fix entity inspector crashing on entity deletion
  engine/src/cubos/engine/tools/entity_inspector/plugin.cpp
Labels: A-Engine, B-Tools, C-Crash

#595 Exclude sample source files from documentation
  docs/Doxyfile
Labels: C-Bug, C-Documentation, A-Meta

#598 Fix Clang Tidy
  .github/workflows/clang-tidy-lint.yml
Labels: C-Bug, A-Meta, B-Build

#604 Fix CMake option defaults
  CMakeLists.txt
Labels: A-Meta, B-Build

#580 Cleanup and document `engine-sample.input`
  docs/pages/3_examples/2_engine/main.md
  engine/include/cubos/engine/input/plugin.hpp
  engine/samples/input/assets/sample.bind
  engine/samples/input/main.cpp
  engine/samples/input/page.md
Labels: A-Engine, C-Examples, C-Documentation

#599 Cleanup, document and rename `engine-sample.systems` to `engine-sample.hello-cubos`
  .githooks/pre-commit
  .github/workflows/clang-format-check.yml
  docs/pages/3_examples/2_engine/main.md
  engine/samples/CMakeLists.txt
  engine/samples/hello-cubos/components.hpp
  engine/samples/hello-cubos/main.cpp
  engine/samples/hello-cubos/page.md
  engine/samples/systems/main.cpp
Labels: A-Engine, C-Examples, C-Documentation

#614 Specify that we use C++20
  README.md
  docs/pages/main.md
Labels: C-Documentation, A-Meta

#624 Do not use `std::clamp` on axis.cpp
  engine/src/cubos/engine/input/axis.cpp
Labels: A-Engine, B-Input, C-Compile-Error

#622 Add `clang-tools` to flake.nix
  flake.nix
Labels: A-Meta, B-Build

#625 Update commit scope guidelines
  docs/pages/4_contribution/main.md
Labels: C-Documentation, A-Meta

#627 Glad submodule should use https
  .gitmodules
Labels: A-Meta, B-Build
