Repository GameDevTecnico/cubos, pull requests merged in 2023-01, with the labels that each got.

#257 Refactor cubos and dispatcher stage system
  core/include/cubos/core/ecs/dispatcher.hpp
  core/include/cubos/core/ecs/system.hpp
  core/samples/ecs.cpp
  core/src/cubos/core/ecs/dispatcher.cpp
  engine/include/cubos/engine/cubos.hpp
  engine/samples/CMakeLists.txt
  engine/samples/scene/main.cpp
  engine/samples/systems/main.cpp
  engine/src/cubos/engine/cubos.cpp
  engine/src/cubos/engine/plugins/env_settings.cpp
  engine/src/cubos/engine/plugins/file_settings.cpp
  engine/src/cubos/engine/plugins/imgui.cpp
  engine/src/cubos/engine/plugins/window.cpp
  tools/tesserato/src/main.cpp
Labels: core, engine

#280 Add Settings Inspector plugin
  core/include/cubos/core/settings.hpp
  core/src/cubos/core/settings.cpp
  engine/CMakeLists.txt
  engine/include/cubos/engine/plugins/tools/settings_inspector.hpp
  engine/samples/scene/main.cpp
  engine/src/cubos/engine/plugins/tools/settings_inspector.cpp
Labels: tools

#258 Add EventWriter/EventReader
  core/CMakeLists.txt
  core/include/cubos/core/ecs/event_pipe.hpp
  core/include/cubos/core/ecs/event_reader.hpp
  core/include/cubos/core/ecs/event_writer.hpp
  core/samples/CMakeLists.txt
  core/samples/event_system.cpp
  core/tests/CMakeLists.txt
  core/tests/test_event_system.cpp
Labels: core

#297 Change window to an event loop instead of callback driven
  core/CMakeLists.txt
  core/include/cubos/core/io/window.hpp
  core/include/cubos/core/ui/imgui.hpp
  core/samples/CMakeLists.txt
  core/samples/debug_renderer.cpp
  core/samples/render_device.cpp
  core/samples/render_device_compute.cpp
  core/samples/ui.cpp
  core/src/cubos/core/io/glfw_window.cpp
  core/src/cubos/core/io/glfw_window.hpp
  core/src/cubos/core/io/window.cpp
  core/src/cubos/core/ui/imgui.cpp
  engine/samples/CMakeLists.txt
  engine/samples/bloom/main.cpp
  engine/samples/renderer/main.cpp
  engine/samples/ssao/main.cpp
  engine/src/cubos/engine/plugins/window.cpp
Labels: core

#304 Fix ImGui samples
  engine/src/cubos/engine/plugins/imgui.cpp
  engine/src/cubos/engine/plugins/window.cpp
Labels: bug, engine, priority
