Repository GameDevTecnico/cubos, pull requests merged in 2023-10, with the labels that each got.

#634 Correctly check if anisotropy extension is available in `OGLRenderDevice`
  core/src/cubos/core/gl/ogl_render_device.cpp
Labels: A-Core, B-Rendering, C-Bug

#631 Store SceneInfo through a pointer instead of by value
  engine/src/cubos/engine/tools/scene_editor/plugin.cpp
Labels: A-Engine, B-Tools, C-Compile-Error

#651 Add `CODEOWNERS`
  .github/CODEOWNERS
Labels: C-Documentation, A-Meta

#659 Remove useless shapes
  core/include/cubos/core/geom/plane.hpp
  core/include/cubos/core/geom/simplex.hpp
  core/tests/CMakeLists.txt
  core/tests/geom/simplex.cpp
  engine/include/cubos/engine/collisions/broad_phase_collisions.hpp
  engine/include/cubos/engine/collisions/colliders/plane.hpp
  engine/include/cubos/engine/collisions/colliders/simplex.hpp
  engine/include/cubos/engine/collisions/plugin.hpp
  engine/src/cubos/engine/collisions/broad_phase.cpp
  engine/src/cubos/engine/collisions/broad_phase.hpp
  engine/src/cubos/engine/collisions/plugin.cpp
  engine/tests/collisions/aabb.cpp
Labels: A-Core, A-Engine, B-Collisions, B-Geometry, D-Trivial

#661 Add mising docs to `DeltaTime`, `ShouldQuit` and `Arguments`
  engine/include/cubos/engine/cubos.hpp
Labels: A-Engine, C-Documentation, B-Cubos

#664 fix(meta): fixed `.clang-format`
  .clang-format
Labels: C-Bug, D-Trivial, A-Meta

#681 refactor(reflection): Constructible has*
  core/include/cubos/core/reflection/traits/constructible.hpp
  core/samples/reflection/traits/constructible/main.cpp
  core/samples/reflection/traits/constructible/page.md
  core/src/cubos/core/reflection/traits/constructible.cpp
  core/tests/reflection/traits/constructible.cpp
  core/tests/reflection/traits/constructible.hpp
Labels: A-Core, B-Reflection, C-Code-Quality

#702 feat(memory): add AnyVector
  core/CMakeLists.txt
  core/include/cubos/core/memory/any_vector.hpp
  core/src/cubos/core/memory/any_vector.cpp
  core/tests/CMakeLists.txt
  core/tests/memory/any_vector.cpp
  core/tests/utils.hpp
Labels: A-Core, B-Memory

#716 fix(engine): add assignment of 'reflectedId' in AnyAsset::operator Asset<T>()
  engine/include/cubos/engine/assets/asset.hpp
Labels: A-Engine, B-Assets, C-Crash

#711 feat(engine): add push method to VoxelPalette
  engine/include/cubos/engine/voxels/palette.hpp
  engine/src/cubos/engine/voxels/palette.cpp
Labels: A-Engine, B-Voxels

#714 Wrong ID displayed on the World Inspector
  engine/src/cubos/engine/tools/world_inspector/plugin.cpp
Labels: A-Engine, B-Tools, C-Bug

#718 Toggleable debug camera
  engine/CMakeLists.txt
  engine/include/cubos/engine/tools/debug_camera/plugin.hpp
  engine/src/cubos/engine/tools/debug_camera/plugin.cpp
  tools/tesseratos/src/main.cpp
Labels: A-Engine, B-Tools, B-Rendering

#723 Add `VoxelPalette` iterator
  engine/include/cubos/engine/voxels/palette.hpp
  engine/src/cubos/engine/voxels/palette.cpp
Labels: A-Engine, B-Voxels

#725 Implement equality operator for `AnyAsset`
  engine/include/cubos/engine/assets/asset.hpp
  engine/src/cubos/engine/assets/asset.cpp
Labels: A-Engine, B-Assets

#721 Add `ActiveVoxelPalette` resource to `rendererplugin`
  engine/include/cubos/engine/assets/assets.hpp
  engine/include/cubos/engine/renderer/plugin.hpp
  engine/src/cubos/engine/renderer/plugin.cpp
Labels: A-Engine, B-Rendering, B-Voxels

#731 Prevent continuous car spawning in `engine-sample.voxels`
  engine/samples/voxels/main.cpp
Labels: A-Engine, B-Voxels, C-Bug, C-Examples

#729 Add documentation for loading input bindings
  engine/samples/input/main.cpp
  engine/samples/input/page.md
Labels: A-Engine, B-Input, C-Examples

#728 Add `imguiPlugin` sample
  docs/pages/3_examples/2_engine/main.md
  engine/samples/CMakeLists.txt
  engine/samples/imgui/img1.png
  engine/samples/imgui/main.cpp
  engine/samples/imgui/page.md
Labels: A-Engine, C-Examples, B-ImGui

#662 Add voxel palette editor plugin
  engine/CMakeLists.txt
  engine/include/cubos/engine/tools/voxel_palette_editor/plugin.hpp
  engine/src/cubos/engine/tools/voxel_palette_editor/plugin.cpp
  tools/tesseratos/assets/main.pal
  tools/tesseratos/assets/main.pal.meta
  tools/tesseratos/assets/main_copy.pal
  tools/tesseratos/assets/main_copy.pal.meta
  tools/tesseratos/src/main.cpp
Labels: A-Engine, B-Tools

#743 Add link to the samples' github folder
  core/samples/data/ser/custom/page.md
  core/samples/logging/page.md
  core/samples/reflection/basic/page.md
  core/samples/reflection/traits/array/page.md
  core/samples/reflection/traits/constructible/page.md
  core/samples/reflection/traits/dictionary/page.md
  core/samples/reflection/traits/fields/page.md
  engine/samples/assets/bridge/page.md
  engine/samples/assets/json/page.md
  engine/samples/assets/saving/page.md
  engine/samples/events/page.md
  engine/samples/hello-cubos/page.md
  engine/samples/input/page.md
  engine/samples/renderer/page.md
  engine/samples/scene/page.md
  engine/samples/settings/page.md
  engine/samples/voxels/page.md
  tools/tesseratos/assets/main_copy.pal
  tools/tesseratos/assets/main_copy.pal.meta
Labels: C-Documentation, D-Trivial

#754 imgui stuff is not being rendered
  engine/include/cubos/engine/imgui/plugin.hpp
  engine/src/cubos/engine/imgui/plugin.cpp
Labels: A-Tesseratos, C-Bug, B-ImGui

#752 docs(assets): fix typo
  engine/samples/assets/bridge/page.md
Labels: A-Engine, B-Assets, C-Documentation
