Repository GameDevTecnico/cubos, pull requests merged in 2024-04, with the labels that each got.

#1115 Add Render Picker plugin
  CHANGELOG.md
  engine/CMakeLists.txt
  engine/include/cubos/engine/render/picker/picker.hpp
  engine/include/cubos/engine/render/picker/plugin.hpp
  engine/src/render/picker/picker.cpp
  engine/src/render/picker/plugin.cpp
Labels: A-Engine, B-Rendering

#1114 feat(serialization): Remove old JSONBridge and BinaryBridge
  engine/include/cubos/engine/assets/bridges/binary.hpp
  engine/include/cubos/engine/assets/bridges/old/json.hpp
  engine/src/render/shader/plugin.cpp
Labels: A-Engine, B-Assets, B-Serialization

#1108 Add HDR plugin
  CHANGELOG.md
  engine/CMakeLists.txt
  engine/include/cubos/engine/render/hdr/hdr.hpp
  engine/include/cubos/engine/render/hdr/plugin.hpp
  engine/src/render/hdr/hdr.cpp
  engine/src/render/hdr/plugin.cpp
Labels: A-Engine, B-Rendering

#1125 Add Camera plugin
  CHANGELOG.md
  engine/CMakeLists.txt
  engine/include/cubos/engine/render/camera/draws_to.hpp
  engine/include/cubos/engine/render/camera/perspective_camera.hpp
  engine/include/cubos/engine/render/camera/plugin.hpp
  engine/src/render/camera/draws_to.cpp
  engine/src/render/camera/perspective_camera.cpp
  engine/src/render/camera/plugin.cpp
Labels: A-Engine, B-Rendering

#1133 fix(rendering): destroy objects only if render device is alive
  CHANGELOG.md
  core/src/gl/ogl_render_device.cpp
  core/src/gl/ogl_render_device.hpp
Labels: A-Core, A-Engine, B-Rendering, C-Bug, C-Crash

#1134 Show relations on the entity inspector
  CHANGELOG.md
  tools/tesseratos/src/tesseratos/entity_inspector/plugin.cpp
Labels: A-Tesseratos, B-Tools, B-ECS

#1120 feat(rendering): add Render Voxels plugin
  CHANGELOG.md
  engine/CMakeLists.txt
  engine/include/cubos/engine/render/voxels/grid.hpp
  engine/include/cubos/engine/render/voxels/load.hpp
  engine/include/cubos/engine/render/voxels/palette.hpp
  engine/include/cubos/engine/render/voxels/plugin.hpp
  engine/src/render/voxels/grid.cpp
  engine/src/render/voxels/load.cpp
  engine/src/render/voxels/palette.cpp
  engine/src/render/voxels/plugin.cpp
Labels: A-Engine, B-Rendering

#1139 feat(rendering): add Deferred Shading plugin
  CHANGELOG.md
  engine/CMakeLists.txt
  engine/assets/render/deferred_shading.fs
  engine/assets/render/deferred_shading.fs.meta
  engine/include/cubos/engine/render/deferred_shading/deferred_shading.hpp
  engine/include/cubos/engine/render/deferred_shading/plugin.hpp
  engine/samples/render/assets/main.cubos
  engine/samples/render/main.cpp
  engine/src/render/deferred_shading/deferred_shading.cpp
  engine/src/render/deferred_shading/plugin.cpp
Labels: A-Engine, B-Rendering
