Repository GameDevTecnico/cubos, pull requests merged in 2024-09, with the labels that each got.

#1311 Change spot light angles to match the angle between edges
  CHANGELOG.md
  engine/src/render/deferred_shading/plugin.cpp
Labels: A-Engine, B-Rendering, C-Bug

#1313 Fix spot light range cutoff when using shadows
  CHANGELOG.md
  engine/src/render/deferred_shading/plugin.cpp
  engine/src/render/shadow_atlas_rasterizer/plugin.cpp
Labels: A-Engine, B-Rendering, C-Bug

#1307 Add Binary Serializer and Deserializer
  CHANGELOG.md
  core/CMakeLists.txt
  core/include/cubos/core/data/des/binary.hpp
  core/include/cubos/core/data/ser/binary.hpp
  core/src/data/des/binary.cpp
  core/src/data/ser/binary.cpp
  core/tests/CMakeLists.txt
  core/tests/data/serdes/binary.cpp
Labels: A-Core, B-Serialization

#1332 feat(input): add deadzone to axis
  CHANGELOG.md
  engine/include/cubos/engine/input/axis.hpp
  engine/src/input/axis.cpp
Labels: A-Engine, B-Input, D-Good-First-Issue

#1331 Added generic camera component to hold projection matrix and replaced…
  CHANGELOG.md
  engine/CMakeLists.txt
  engine/include/cubos/engine/render/camera/camera.hpp
  engine/include/cubos/engine/render/camera/perspective_camera.hpp
  engine/src/gizmos/plugin.cpp
  engine/src/render/camera/camera.cpp
  engine/src/render/camera/draws_to.cpp
  engine/src/render/camera/perspective_camera.cpp
  engine/src/render/camera/plugin.cpp
  engine/src/render/deferred_shading/plugin.cpp
  engine/src/render/g_buffer_rasterizer/plugin.cpp
  engine/src/render/split_screen/plugin.cpp
  engine/src/render/ssao/plugin.cpp
  tools/tesseratos/src/tesseratos/debug_camera/plugin.cpp
  tools/tesseratos/src/tesseratos/transform_gizmo/plugin.cpp
Labels: A-Engine, B-Rendering, D-Good-First-Issue
