Repository GameDevTecnico/cubos, pull requests merged in 2024-03, with the labels that each got.

#1066 docs: add pair query example to queries.md
  docs/pages/2_features/queries.md
Labels: C-Documentation, A-Meta

#1072 feat(transform): add Rotation::lookingAt
  engine/include/cubos/engine/transform/rotation.hpp
  engine/src/transform/rotation.cpp
Labels: A-Engine, B-Transform

#1074 feat(ecs): add Commands::EntityBuilder::named
  core/include/cubos/core/ecs/system/arguments/commands.hpp
  core/src/ecs/system/arguments/commands.cpp
  core/tests/ecs/commands.cpp
Labels: A-Core, B-ECS

#1076 Fix crash on empty grid
  CHANGELOG.md
  engine/src/renderer/deferred_renderer.cpp
Labels: A-Engine, B-Rendering, C-Crash

#1095 Clang tidy action spams too many comments on reviews
  .github/workflows/clang-tidy-lint.yml
Labels: C-Bug, A-Meta, B-CI

#1097 docs(rendering): clear up SpotLight's direction
  engine/include/cubos/engine/renderer/spot_light.hpp
Labels: A-Engine, B-Rendering, C-Documentation

#1077 Fix AnyVector::swapErase double destroy
  CHANGELOG.md
  core/src/memory/any_vector.cpp
Labels: A-Core, B-Memory

#1099 fix(imgui): handle BeginTable return value on DataInspector
  CHANGELOG.md
  engine/src/imgui/data_inspector.cpp
Labels: A-Engine, C-Crash, B-ImGui

#1103 feat(gizmos): make transform gizmo have constant size
  CHANGELOG.md
  tools/tesseratos/include/tesseratos/transform_gizmo/plugin.hpp
  tools/tesseratos/src/tesseratos/transform_gizmo/plugin.cpp
Labels: A-Tesseratos, B-Tools, B-Transform
