Repository GameDevTecnico/cubos, pull requests merged in 2024-11, with the labels that each got.

#1340 Add Audio Asset
  CHANGELOG.md
  engine/CMakeLists.txt
  engine/include/cubos/engine/audio/audio.hpp
  engine/include/cubos/engine/audio/bridge.hpp
  engine/src/audio/audio.cpp
  engine/src/audio/bridge.cpp
Labels: A-Core, A-Engine, B-Audio

#1282 994 detect collisions for voxel vs voxel and voxel vs box
  CHANGELOG.md
  core/include/cubos/core/geom/box.hpp
  core/src/geom/intersections.cpp
  engine/CMakeLists.txt
  engine/include/cubos/engine/collisions/shapes/voxel.hpp
  engine/samples/CMakeLists.txt
  engine/samples/voxel-shape-collisions/assets/car.grd
  engine/samples/voxel-shape-collisions/assets/car.grd.meta
  engine/samples/voxel-shape-collisions/assets/main.pal
  engine/samples/voxel-shape-collisions/assets/main.pal.meta
  engine/samples/voxel-shape-collisions/main.cpp
  engine/src/assets/asset.cpp
  engine/src/collisions/interface/plugin.cpp
  engine/src/collisions/interface/shapes/voxel.cpp
  engine/src/collisions/narrow_phase/plugin.cpp
  engine/src/collisions/plugin.cpp
  engine/tests/assets/useless.meta
  engine/tests/raycast.cpp
  engine/tests/settings.cpp
Labels: A-Engine, B-Collisions

#1358 fix(memory): prevent double destruction in AnyVector::swapMove
  CHANGELOG.md
  core/src/memory/any_vector.cpp
Labels: A-Core, C-Bug, B-Memory

#1377 docs(ecs): flip SystemBuilder::before and SystemBuilder::after docs
  CHANGELOG.md
  core/include/cubos/core/ecs/cubos.hpp
Labels: A-Core, B-ECS, C-Documentation, D-Trivial

#1370 feat(rendering): Add Shadow Normal Offset Bias in the deferred shading
  CHANGELOG.md
  engine/assets/render/deferred_shading.fs
  engine/include/cubos/engine/render/shadows/caster.hpp
  engine/src/render/deferred_shading/plugin.cpp
  engine/src/render/shadows/caster.cpp
Labels: A-Engine, B-Rendering, C-Bug

#1378 feat(ui): add UI text rendering
  CHANGELOG.md
  engine/CMakeLists.txt
  engine/assets/font/Robot-Regular.fontatlas.meta
  engine/assets/font/Roboto-Regular.ttf
  engine/assets/font/Roboto-Regular.ttf.meta
  engine/assets/font/RussoOne-Regular.fontatlas.meta
  engine/assets/font/RussoOne-Regular.ttf
  engine/assets/font/RussoOne-Regular.ttf.meta
  engine/assets/ui/text.fs
  engine/assets/ui/text.fs.meta
  engine/assets/ui/text.vs
  engine/assets/ui/text.vs.meta
  engine/include/cubos/engine/font/atlas/atlas.hpp
  engine/include/cubos/engine/font/atlas/bridge.hpp
  engine/include/cubos/engine/font/atlas/glyph.hpp
  engine/include/cubos/engine/font/bridge.hpp
  engine/include/cubos/engine/font/font.hpp
  engine/include/cubos/engine/font/plugin.hpp
  engine/include/cubos/engine/ui/text/plugin.hpp
  engine/include/cubos/engine/ui/text/text.hpp
  engine/include/cubos/engine/ui/text/text_stretch.hpp
  engine/samples/ui/main.cpp
  engine/src/defaults/plugin.cpp
  engine/src/font/atlas/atlas.cpp
  engine/src/font/atlas/bridge.cpp
  engine/src/font/atlas/glyph.cpp
  engine/src/font/bridge.cpp
  engine/src/font/font.cpp
  engine/src/font/plugin.cpp
  engine/src/ui/canvas/plugin.cpp
  engine/src/ui/text/plugin.cpp
  engine/src/ui/text/text.cpp
  engine/src/ui/text/text_impl.cpp
  engine/src/ui/text/text_impl.hpp
  engine/src/ui/text/text_stretch.cpp
Labels: A-Engine, B-UI

#1372 fix: Fixed delta time not used in some physics systems
  CHANGELOG.md
  engine/samples/collisions/main.cpp
  engine/samples/voxel-shape-collisions/main.cpp
  engine/src/fixed_step/plugin.cpp
  engine/src/physics/plugin.cpp
Labels: A-Engine, S-Triage, B-Physics

#1385 feat(anti-aliasing): add anti-aliasing by FXAA
  CHANGELOG.md
  engine/CMakeLists.txt
  engine/assets/render/tone_mapping.fs
  engine/include/cubos/engine/render/defaults/target.hpp
  engine/include/cubos/engine/render/tone_mapping/fxaa.hpp
  engine/src/render/defaults/plugin.cpp
  engine/src/render/tone_mapping/fxaa.cpp
  engine/src/render/tone_mapping/plugin.cpp
Labels: A-Engine, B-Rendering

#1379 feat(engine): added resource to easily configure magic numbers in solver
  CHANGELOG.md
  engine/include/cubos/engine/physics/plugin.hpp
  engine/include/cubos/engine/physics/resources/solver_constants.hpp
  engine/src/physics/plugin.cpp
  engine/src/physics/solver/integration/plugin.cpp
  engine/src/physics/solver/penetration_constraint/plugin.cpp
Labels: A-Engine, B-Physics

#1328 feat(tesseratos): add simple template project
  CHANGELOG.md
  tools/tesseratos/CMakeLists.txt
  tools/tesseratos/templates/simple/CMakeLists.txt
  tools/tesseratos/templates/simple/assets/scenes/main.cubos
  tools/tesseratos/templates/simple/assets/scenes/main.cubos.meta
  tools/tesseratos/templates/simple/src/main.cpp
Labels: A-Tesseratos, B-Tools, S-Blocked
