Repository GameDevTecnico/cubos, pull requests merged in 2024-01, with the labels that each got.

#902 Replace reserved keyword in Gizmos shader
  engine/src/cubos/engine/gizmos/renderer.cpp
Labels: A-Engine, C-Crash, D-Trivial, S-Triage, B-Gizmos

#911 Replace Broadphase resource with a relations solution
  engine/CMakeLists.txt
  engine/include/cubos/engine/collisions/broad_phase/candidates.hpp
  engine/include/cubos/engine/collisions/broad_phase/potentially_colliding_with.hpp
  engine/samples/collisions/main.cpp
  engine/src/cubos/engine/collisions/broad_phase/candidates.cpp
  engine/src/cubos/engine/collisions/broad_phase/plugin.cpp
  engine/src/cubos/engine/collisions/broad_phase/plugin.hpp
  engine/src/cubos/engine/collisions/broad_phase/potentially_colliding_with.cpp
  engine/src/cubos/engine/collisions/plugin.cpp
Labels: A-Engine, B-Collisions

#881 Add ring gizmo
  engine/include/cubos/engine/gizmos/gizmos.hpp
  engine/src/cubos/engine/gizmos/gizmos.cpp
  engine/src/cubos/engine/gizmos/renderer.cpp
  engine/src/cubos/engine/gizmos/renderer.hpp
  engine/src/cubos/engine/gizmos/types/ring.hpp
Labels: A-Engine, S-Triage, B-Gizmos
