Repository GameDevTecnico/cubos, pull requests merged in 2024-05, with the labels that each got.

#1155 Add split screen to new renderer
  CHANGELOG.md
  engine/CMakeLists.txt
  engine/assets/render/deferred_shading.fs
  engine/assets/render/ssao_base.fs
  engine/assets/render/ssao_blur.fs
  engine/include/cubos/engine/render/camera/draws_to.hpp
  engine/include/cubos/engine/render/split_screen/plugin.hpp
  engine/include/cubos/engine/render/split_screen/split_screen.hpp
  engine/samples/render/assets/main.cubos
  engine/samples/render/main.cpp
  engine/src/render/camera/draws_to.cpp
  engine/src/render/deferred_shading/plugin.cpp
  engine/src/render/g_buffer_rasterizer/plugin.cpp
  engine/src/render/split_screen/plugin.cpp
  engine/src/render/split_screen/split_screen.cpp
  engine/src/render/ssao/plugin.cpp
Labels: A-Engine, B-Rendering

#1166 docs: place trait samples under the right page
  core/samples/reflection/page.md
  core/samples/reflection/traits/inherits/page.md
Labels: A-Core, B-Reflection, C-Bug, C-Documentation

#1122 552 implement adding sub scenes in the scene editor
  engine/include/cubos/engine/assets/assets.hpp
  engine/src/assets/assets.cpp
  tools/tesseratos/src/tesseratos/asset_explorer/popup.cpp
  tools/tesseratos/src/tesseratos/scene_editor/plugin.cpp
Labels: A-Tesseratos, B-Tools, B-Scene, C-Bug

#1178 docs: bring back CODEOWNERS
  .github/CODEOWNERS
Labels: C-Documentation, A-Meta

#1206 docs: make README.md switch between logos according to theme
  README.md
  docs/images/CubosLogo.png
  docs/images/CubosLogoDarkMode.png
  docs/images/CubosLogoLightMode.png
Labels: C-Documentation, A-Meta

#1207 Use dark mode logo in main documentation page
  docs/pages/main.md
Labels: C-Documentation, A-Meta
