Repository GameDevTecnico/cubos, pull requests merged in 2024-02, with the labels that each got.

#932 Remove old unused code from the ecs
  core/CMakeLists.txt
  core/include/cubos/core/ecs/component/manager.hpp
  core/include/cubos/core/ecs/component/module.dox
  core/include/cubos/core/ecs/component/storage.hpp
  core/include/cubos/core/ecs/entity/manager.hpp
  core/include/cubos/core/ecs/world.hpp
  core/src/cubos/core/ecs/component/manager.cpp
  core/src/cubos/core/ecs/component/storage.cpp
  core/src/cubos/core/ecs/entity/manager.cpp
  engine/src/cubos/engine/collisions/broad_phase/sweep_and_prune.hpp
Labels: A-Core, B-ECS, C-Code-Quality

#934 fix(tesseratos): add DebugCameraInfo resource before systems
  tools/tesseratos/src/tesseratos/debug_camera/plugin.cpp
Labels: A-Tesseratos, C-Crash

#925 feat(tesseratos): improve scene editor ui
  tools/tesseratos/src/tesseratos/scene_editor/plugin.cpp
Labels: A-Tesseratos, B-Tools, B-Scene

#947 chore: remove .DS_store's and add it to .gitignore
  .DS_Store
  .gitignore
  engine/.DS_Store
Labels: C-Code-Quality, A-Meta

#924 feat(tesseratos): add FreeCameraController component and plugin to Debug Camera
  tools/tesseratos/src/tesseratos/debug_camera/plugin.cpp
Labels: A-Tesseratos, B-Tools

#957 fix(rendering): skip null renderable grids
  CHANGELOG.md
  engine/src/renderer/plugin.cpp
Labels: A-Engine, B-Rendering, C-Crash

#972 fix(rendering): set correct viewport size on splitscreen
  engine/src/splitscreen/plugin.cpp
Labels: A-Engine, B-Rendering, C-Bug

#973 fix(tesseratos): draw transform gizmo after update
  tools/tesseratos/src/tesseratos/transform_gizmo/plugin.cpp
Labels: A-Tesseratos, B-Transform

#974 fix(tesseratos): convert entities in saved scene components
  core/include/cubos/core/ecs/blueprint.hpp
  core/src/ecs/blueprint.cpp
  tools/tesseratos/src/tesseratos/scene_editor/plugin.cpp
Labels: A-Tesseratos, B-Scene, C-Bug

#976 fix(rendering): make spotlights work properly
  CHANGELOG.md
  engine/include/cubos/engine/renderer/spot_light.hpp
  engine/src/renderer/deferred_renderer.cpp
  engine/src/renderer/spot_light.cpp
Labels: A-Engine, B-Rendering, C-Bug

#913 Add repeat while to dispatcher
  core/include/cubos/core/ecs/cubos.hpp
  core/include/cubos/core/ecs/system/dispatcher.hpp
  core/src/ecs/cubos.cpp
  core/src/ecs/system/dispatcher.cpp
  core/tests/ecs/dispatcher.cpp
Labels: A-Core, B-ECS

#978 fix(collisions): handle destroyed entities on sweep and prune correctly
  engine/src/collisions/broad_phase/plugin.cpp
Labels: A-Engine, B-Collisions, C-Crash

#979 fix: remove unnecessary quotes from logging macros
  core/include/cubos/core/ecs/world.hpp
  core/samples/data/des/custom/main.cpp
  core/samples/data/ser/custom/main.cpp
  core/samples/reflection/traits/enum/main.cpp
  core/samples/reflection/traits/fields/main.cpp
  core/src/data/des/deserializer.cpp
  core/src/data/des/json.cpp
  core/src/data/fs/embedded_archive.cpp
  core/src/data/fs/file.cpp
  core/src/data/fs/file_system.cpp
  core/src/data/fs/standard_archive.cpp
  core/src/data/old/context.cpp
  core/src/data/old/json_deserializer.cpp
  core/src/data/old/package.cpp
  core/src/data/ser/json.cpp
  core/src/data/ser/serializer.cpp
  core/src/ecs/blueprint.cpp
  core/src/ecs/entity/entity.cpp
  core/src/ecs/system/arguments/commands.cpp
  core/src/ecs/system/dispatcher.cpp
  core/src/ecs/world.cpp
  core/src/gl/ogl_render_device.cpp
  core/src/memory/any_value.cpp
  core/src/memory/stream.cpp
  core/src/reflection/traits/enum.cpp
  core/src/reflection/traits/fields.cpp
  engine/samples/hello-cubos/main.cpp
  engine/src/assets/assets.cpp
  engine/src/assets/bridges/file.cpp
  engine/src/imgui/data_inspector.cpp
  engine/src/scene/bridge.cpp
  engine/src/settings/plugin.cpp
  tools/tesseratos/src/tesseratos/scene_editor/plugin.cpp
Labels: C-Bug, B-Telemetry

#961 Small refactor to box-box intersection
  core/src/geom/intersections.cpp
Labels: A-Core, B-Geometry

#984 Student group is singular, therefore make should be makes
  README.md
Labels: C-Documentation, D-Trivial, A-Meta

#986 docs: credit authors on CHANGELOG.md
  CHANGELOG.md
Labels: C-Documentation, A-Meta, S-Needs-Design

#990 Log system order on dispatcher
  CHANGELOG.md
  core/include/cubos/core/ecs/system/dispatcher.hpp
  core/src/ecs/cubos.cpp
  core/src/ecs/system/dispatcher.cpp
  core/tests/ecs/dispatcher.cpp
Labels: A-Core, B-ECS

#996 fix(engine): add missing plugin dependencies
  CHANGELOG.md
  engine/src/gizmos/plugin.cpp
  engine/src/physics/plugin.cpp
  engine/src/splitscreen/plugin.cpp
Labels: A-Engine, C-Bug

#997 989 add fixed step plugin
  CHANGELOG.md
  engine/CMakeLists.txt
  engine/include/cubos/engine/fixed_step/fixed_delta_time.hpp
  engine/include/cubos/engine/fixed_step/plugin.hpp
  engine/include/cubos/engine/physics/plugin.hpp
  engine/src/fixed_step/plugin.cpp
  engine/src/physics/physics_accumulator.hpp
  engine/src/physics/plugin.cpp
Labels: A-Engine, B-Physics

#756 feat(ecs): add negative tags
  CHANGELOG.md
  core/include/cubos/core/ecs/cubos.hpp
  core/include/cubos/core/ecs/system/dispatcher.hpp
  core/src/ecs/cubos.cpp
  core/src/ecs/system/dispatcher.cpp
  core/tests/ecs/dispatcher.cpp
Labels: A-Core, B-ECS, S-Needs-Design, S-Stale

#1039 fix(engine): fix free camera controller angle not being bounded
  CHANGELOG.md
  engine/src/utils/free_camera/plugin.cpp
Labels: A-Engine, C-Bug
