Repository GameDevTecnico/cubos, pull requests merged in 2025-06, with the labels that each got.

#1546 feat(imgui): toggle for matrix decomposition on inspector
  CHANGELOG.md
  engine/src/imgui/inspector.cpp
Labels: A-Engine, B-ImGui

#1555 Allow gizmos to be drawn for specific cameras
  CHANGELOG.md
  engine/include/cubos/engine/gizmos/gizmos.hpp
  engine/samples/collisions/main.cpp
  engine/samples/gizmos/main.cpp
  engine/samples/voxel-shape-collisions/main.cpp
  engine/src/gizmos/gizmos.cpp
  engine/src/gizmos/plugin.cpp
  engine/src/gizmos/types/box.hpp
  engine/src/gizmos/types/cut_cone.hpp
  engine/src/gizmos/types/line.hpp
  engine/src/gizmos/types/ring.hpp
  engine/src/tools/transform_gizmo/plugin.cpp
Labels: A-Engine, B-Tools, C-Bug, B-Gizmos, P-Urgent

#1556 feat(core): added named plugins
  CHANGELOG.md
  core/include/cubos/core/ecs/cubos.hpp
  core/src/ecs/cubos.cpp
  engine/src/transform/plugin.cpp
Labels: A-Core, B-ECS
