Repository GameDevTecnico/cubos, pull requests merged in 2025-04, with the labels that each got.

#1489 fix(rendering): deferred shading plugin on web
  CHANGELOG.md
  engine/assets/render/deferred_shading.fs
  engine/src/render/deferred_shading/plugin.cpp
Labels: A-Engine, B-Rendering, C-Bug, D-Trivial, O-Web, P-Urgent

#1488 Add infinite terrain profiling sample
  CHANGELOG.md
  engine/samples/CMakeLists.txt
  engine/samples/render/profiling/assets/main.cubos
  engine/samples/render/profiling/assets/main.cubos.meta
  engine/samples/render/profiling/main.cpp
Labels: A-Engine, B-Rendering, C-Optimization, P-Urgent

#1472 feat(ecs): add a method to Query to count the number of matches
  CHANGELOG.md
  core/include/cubos/core/ecs/system/arguments/query.hpp
  core/tests/ecs/query.cpp
Labels: A-Core, B-ECS, P-Normal
