Repository GameDevTecnico/cubos, pull requests merged in 2025-05, with the labels that each got.

#1493 feat(rendering): change pivot to the center of the grids
  CHANGELOG.md
  engine/include/cubos/engine/render/mesh/mesh.hpp
  engine/samples/games/cubosurfers/assets/scenes/main.cubos
  engine/samples/games/cubosurfers/assets/scenes/obstacle.cubos
  engine/samples/games/cubosurfers/spawner.cpp
  engine/samples/render/shadows/assets/main.cubos
  engine/samples/render/shadows/main.cpp
  engine/samples/voxel-shape-collisions/main.cpp
  engine/samples/voxels/main.cpp
  engine/src/render/g_buffer_rasterizer/plugin.cpp
  engine/src/render/mesh/plugin.cpp
  engine/src/render/shadows/atlas_rasterizer/plugin.cpp
  engine/src/render/shadows/cascaded_rasterizer/plugin.cpp
Labels: A-Engine, B-Rendering, D-Trivial, P-Urgent

#1460 1437 change inputpressed axis etc to use stdstring_view
  CHANGELOG.md
  core/CMakeLists.txt
  core/include/cubos/core/data/transparent/string_equal.hpp
  core/include/cubos/core/data/transparent/string_hash.hpp
  core/include/cubos/core/reflection/external/unordered_map.hpp
  core/src/data/transparent/string_equal.cpp
  core/src/data/transparent/string_hash.cpp
  engine/include/cubos/engine/input/bindings.hpp
  engine/include/cubos/engine/input/input.hpp
  engine/src/input/bindings.cpp
  engine/src/input/input.cpp
Labels: A-Engine, B-Input, D-Trivial, P-Normal

#1499 Fix frustum culling
  engine/include/cubos/engine/render/camera/perspective.hpp
  engine/src/render/camera/plugin.cpp
  engine/src/render/g_buffer_rasterizer/plugin.cpp
Labels: A-Engine, B-Rendering, B-Geometry, C-Bug

#1504 fix(build): compile error in inertia.cpp when using gcc 15
  engine/include/cubos/engine/collisions/shapes/voxel.hpp
  engine/src/physics/components/inertia.cpp
Labels: A-Engine, C-Compile-Error, B-Physics

#1541 feat(engine): add Emscripten HTML template for samples
  CHANGELOG.md
  engine/samples/CMakeLists.txt
  engine/samples/emscripten.html
Labels: A-Engine, O-Web

#1509 1497 add lua bindings plugin
  CHANGELOG.md
  bindings/CMakeLists.txt
  bindings/lua/CMakeLists.txt
  bindings/lua/include/cubos/bindings/lua/plugin.hpp
  bindings/lua/samples/CMakeLists.txt
  bindings/lua/samples/hello_world/main.cpp
  bindings/lua/samples/hello_world/scripts/hello.lua
  bindings/lua/src/plugin.cpp
Labels: A-Engine, B-Scripting
