Repository GameDevTecnico/cubos, pull requests merged in 2025-02, with the labels that each got.

#1433 Add conditional shader compilation
  CHANGELOG.md
  engine/CMakeLists.txt
  engine/include/cubos/engine/render/shader/shader.hpp
  engine/include/cubos/engine/render/shader/shader_builder.hpp
  engine/src/render/shader/bridge.cpp
  engine/src/render/shader/shader.cpp
  engine/src/render/shader/shader_builder.cpp
Labels: A-Engine, B-Rendering, P-Normal

#1421 docs: add audio sample page
  docs/pages/3_examples/2_engine/main.md
  engine/samples/audio/main.cpp
  engine/samples/audio/page.md
Labels: A-Engine, C-Documentation, B-Audio, P-Urgent

#1405 fix(gizmos): fix gizmos selection on HiDPI screens
  CHANGELOG.md
  engine/src/gizmos/plugin.cpp
  engine/src/tools/selection/plugin.cpp
Labels: A-Engine, C-Bug, B-Gizmos

#1434 Add frustum and intersection functions
  CHANGELOG.md
  core/CMakeLists.txt
  core/include/cubos/core/geom/frustum.hpp
  core/include/cubos/core/geom/intersections.hpp
  core/include/cubos/core/geom/utils.hpp
  core/src/geom/frustum.cpp
  core/src/geom/intersections.cpp
  core/src/geom/utils.cpp
Labels: A-Core, B-Geometry, P-Urgent
