Repository GameDevTecnico/cubos, pull requests merged in 2025-03, with the labels that each got.

#1462 Make RenderPicker optional
  CHANGELOG.md
  engine/assets/render/g_buffer_rasterizer.fs
  engine/assets/render/g_buffer_rasterizer.vs
  engine/include/cubos/engine/render/defaults/target.hpp
  engine/src/gizmos/plugin.cpp
  engine/src/render/defaults/plugin.cpp
  engine/src/render/defaults/target.cpp
  engine/src/render/g_buffer_rasterizer/plugin.cpp
Labels: A-Engine, B-Rendering, P-Urgent

#1471 fix(render): crash when adding shadow casters
  engine/src/render/deferred_shading/plugin.cpp
Labels: A-Engine, B-Rendering, C-Crash, P-Normal

#1473 feat(rendering): add frustum culling for voxel meshes
  CHANGELOG.md
  core/include/cubos/core/geom/frustum.hpp
  core/include/cubos/core/geom/intersections.hpp
  core/src/geom/intersections.cpp
  engine/CMakeLists.txt
  engine/include/cubos/engine/render/camera/camera.hpp
  engine/src/render/camera/camera.cpp
  engine/src/render/camera/plugin.cpp
  engine/src/render/g_buffer_rasterizer/plugin.cpp
Labels: A-Engine, B-Rendering, C-Optimization, P-Urgent
