Repository GameDevTecnico/cubos, pull requests merged in 2025-07, with the labels that each got.

#1508 feat(quadrados): Allow creating new assets through quadrados.
  CHANGELOG.md
  tools/quadrados/CMakeLists.txt
  tools/quadrados/src/create.cpp
  tools/quadrados/src/init.cpp
  tools/quadrados/src/tools.hpp
  tools/tesseratos/templates/assets/template.bindings
  tools/tesseratos/templates/assets/template.cubos
  tools/tesseratos/templates/projects/simple/CMakeLists.txt
  tools/tesseratos/templates/projects/simple/assets/scenes/main.cubos
  tools/tesseratos/templates/projects/simple/assets/scenes/main.cubos.meta
  tools/tesseratos/templates/projects/simple/src/main.cpp
Labels: A-Quadrados, B-Assets, B-Tools, D-Good-First-Issue, P-Normal

#1545 feat(imgui): allow changing quaternion mode on inspector
  CHANGELOG.md
  engine/src/imgui/inspector.cpp
Labels: A-Engine, B-ImGui

#1568 feat(scripting): add system and startupsystem to lua
  CHANGELOG.md
  bindings/lua/CMakeLists.txt
  bindings/lua/samples/CMakeLists.txt
  bindings/lua/samples/systems/main.cpp
  bindings/lua/samples/systems/scripts/test.lua
  bindings/lua/src/cubos.cpp
  bindings/lua/src/cubos.hpp
  bindings/lua/src/plugin.cpp
  bindings/lua/src/systems.cpp
  bindings/lua/src/systems.hpp
  core/include/cubos/core/ecs/cubos.hpp
  core/src/ecs/cubos.cpp
Labels: A-Core, B-ECS, B-Scripting, B-API
